01.생산기술연구원-XMzCq8DALrKP5w6G.json
{"createdAt":"2025-06-16T08:56:57.718Z","updatedAt":"2025-09-18T05:28:02.528Z","id":"XMzCq8DALrKP5w6G","name":"01.생산기술연구원","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"ffd8a3da-e616-4fa0-a60f-995a2e8edf9a","name":"base_url","value":"https://www.kitech.re.kr","type":"string"},{"id":"bd4d201e-a95f-4eb2-8fb7-8fb87dc4b494","name":"board_url","value":"=https://www.kitech.re.kr/research/page1-1.php","type":"string"},{"id":"780c6bc4-c406-4e3a-8f0e-f7b6f4df6ae6","name":"board_detail_url","value":"https://www.kitech.re.kr/research/page1-2.php","type":"string"},{"id":"bb9b43c1-32dd-4639-a86a-411e77890e07","name":"source","value":"한국생산기술연구원","type":"string"},{"id":"15083dd5-cad6-4b9a-9a6e-fcb83d81cca9","name":"cityMap","value":"{   \"서울\": \"서울특별시\",   \"부산\": \"부산광역시\",   \"대구\": \"대구광역시\",   \"인천\": \"인천광역시\",   \"광주\": \"광주광역시\",   \"대전\": \"대전광역시\",   \"울산\": \"울산광역시\",   \"세종\": \"세종특별자치시\",   \"경기\": \"경기도\",   \"강원\": \"강원도\",   \"충북\": \"충청북도\",   \"충남\": \"충청남도\",   \"전북\": \"전라북도\",   \"전남\": \"전라남도\",   \"경북\": \"경상북도\",   \"경남\": \"경상남도\",   \"제주\": \"제주특별자치도\",   \"전지역\": \"전지역\" }","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-464,-16],"id":"0bcdfe71-1d91-4f97-813b-8633febeb39d","name":"setting"},{"parameters":{"language":"python","pythonCode":"import json\n\nclass Result(json.JSONEncoder):\n  def default(self, obj):\n    if isinstance(obj, list):\n      return obj\n    return json.JSONEncoder.default(self, obj)\n  def __init__(self, date, data):\n    self.date = date\n    self.data = data\n\n# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  # item.json.myNewField = 1\n  data_list = item.json.data\n  a = item.json.date\n  res = []\n  for i in range(0,len(a)):\n    item = a[i]\n    date = ''\n    for item in item.split('\\n'):\n      if '등록일' in item:\n        date = item.split(':')[-1].strip()\n    \n    data = data_list[i]\n    aaa = Result(date, data)\n    res.append(aaa)\n\nrrr = {}\nfor dd in res:\n  rrr[dd.date] = dd.data\nreturn rrr\n    "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,-416],"id":"8f48c566-fcd5-4765-b3b8-8fe825d21f56","name":"python split"},{"parameters":{"method":"POST","url":"http://192.168.10.133:8000/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,144],"id":"473cd5b5-8116-48b0-9d5a-0f238c468347","name":"Convert Hwp to pdf"},{"parameters":{"url":"={{ $('setting').item.json.base_url + $json.link }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2032,240],"id":"2b239916-c17e-465b-9be9-fe5cc4c0bc17","name":"Download attachmet file","alwaysOutputData":true},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"link","cssSelector":"table.table_board > tbody > tr:nth-child(3) > td:nth-child(2) > div:nth-child(1) > a","returnValue":"attribute","attribute":"href"},{"key":"title","cssSelector":"table.table_board > tbody > tr:nth-child(3) > td:nth-child(2) > div:nth-child(1) > a","skipSelectors":"img"},{"key":"flpth_nm","cssSelector":"table.table_board > tbody > tr:nth-child(3) > td:nth-child(2) > div > a","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"file_nm","cssSelector":"table.table_board > tbody > tr:nth-child(3) > td:nth-child(2) > div > a","skipSelectors":"img","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1824,240],"id":"8b46aad5-06e8-42a2-9e42-0cbb3990b1b8","name":"extract from html title and links"},{"parameters":{"method":"POST","url":"={{ $('setting').item.json.board_detail_url }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"idx","value":"={{ $('is today or minus 1 day?').item.json.site }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1648,240],"id":"7b597955-cd0f-4fe2-8808-7104e36fe936","name":"board detail request"},{"parameters":{"options":{"reset":"={{ $node['batch'].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[944,-16],"id":"d5ed22e4-87c9-4a81-915e-8920ca7b4a3c","name":"batch"},{"parameters":{"jsCode":"const date = $input.first().json.date\nconst site = $input.first().json.site\nconst title = $input.first().json.title\nreturn date.map((d, i) => {\n  return ({\n    date: d,\n    site: site == null || site.length == 0 ? null : site[i].match(/\\((\\d+)\\)/)[1],\n    title : title[i],\n    log: $('n8n id').first().json.log_id\n  })\n}).sort();\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,-16],"id":"320d19e2-7555-4ce3-a2d1-a48b52e38a11","name":"retrieve"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"date","cssSelector":".table_board > tbody > tr.center > td.td_hide:nth-child(4)","returnArray":true},{"key":"site","cssSelector":".table_board > tbody > .center > td.left  > div:not(.td_show)>  a","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"title","cssSelector":".table_board > tbody > .center > td.left  > div:not(.td_show)>  a","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[320,-16],"id":"4d00e2b8-9df3-4fdc-9f53-151c303f2ecc","name":"extract board lists from main board"},{"parameters":{"url":"={{ $('setting').item.json.board_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,-16],"id":"994a7ffd-2836-474e-bc5b-31f1f09d8f04","name":"main dashboard request"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"c351520d-0417-43ab-be78-b44f2eae4c01","name":"Upload a img1","type":"n8n-nodes-base.httpRequest","position":[2640,240],"typeVersion":4.2,"alwaysOutputData":true,"credentials":{"mistralCloudApi":{"id":"DMvGIk4nGb1Gfy0K","name":"Mistral Cloud account 2"}}},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{ $json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","options":{"allowUnauthorizedCerts":false}},"id":"6bc6d99f-4bbc-4c2d-917b-d60973d5ad67","name":"Retrieve img1","type":"n8n-nodes-base.httpRequest","position":[2784,240],"typeVersion":4.2,"credentials":{"mistralCloudApi":{"id":"DMvGIk4nGb1Gfy0K","name":"Mistral Cloud account 2"}}},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{ $json.id }}/url","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"expiry","value":"24"}]},"options":{"allowUnauthorizedCerts":false}},"id":"4a57a867-f7a2-4eab-aaf5-5887f7bd7b8c","name":"Retrieve img3","type":"n8n-nodes-base.httpRequest","position":[2944,240],"typeVersion":4.2,"credentials":{"mistralCloudApi":{"id":"DMvGIk4nGb1Gfy0K","name":"Mistral Cloud account 2"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"38e47bf4-91dd-4690-83ce-2b23742ffbfd","name":"do ocr","type":"n8n-nodes-base.httpRequest","position":[2720,944],"typeVersion":4.2,"alwaysOutputData":true,"credentials":{"mistralCloudApi":{"id":"DMvGIk4nGb1Gfy0K","name":"Mistral Cloud account 2"}}},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-small-latest\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"첨부한 PDF에서 다음 항목에 대한 정보를 알려줘. 자료가 없다면 null로 표시해줘. 응답은 JSON 형태로 해줘.\\n\\n- pblanc_nm: 공고제목\\n- jrsd_instt_nm: 대상 지역  \\n  → 값은 반드시 {{ $('setting').item.json.cityMap.values() }} 중 하나여야 하며, 없으면 null\\n- exc_instt_nm: 주최기관\\n- bsns_sumry_cn: 공고요약\\n- target_nm: 대상기업 (중소기업, 대기업 중 택 1. 둘 다 지원하면 \\\"중소기업,대기업\\\", 알 수 없으면 null)\\n- reqst_begin_end_de: 공고 전체기간 (형식: \\\"YYYYMMDD ~ YYYYMMDD\\\")\\n- reqst_begin_dt: 공고 시작일 (형식: YYYY-MM-DD)\\n- reqst_end_dt: 공고 마감일 (형식: YYYY-MM-DD)\\n- reqst_mth_papers_cn: 사업신청방법\\n- refrnc_nm: 문의처\\n- subsidy_amount: 지원금액\\n- bonus_points_factors: 가점요소\\n- total_budget: 예산\\n- self_contribution_rate: 자부담률\\n- main_category: 공고의 주요 분류를 추출해줘.  \\n예시는 다음과 같고, 해당되지 않는 경우 가장 유사한 항목을 선택해줘.  \\n여러 항목이 해당되면 콤마(,)로 구분해서 출력해줘.  \\n항목: 스마트생태공장, 상생협력 실증프로그램, 스마트공장 / 제조혁신, 탄소중립 / 온실가스저감, FEMS 에너지효율화, 마케팅 / 기술인프라 구축  \\n출력 형식 예시: \\\"컨설팅,스마트생태공장\\\"  \\n공고에서 관련된 키워드가 명확하지 않으면 공백 표시해줘\\n- sub_category: 공고 내용 중 다음 설비가 언급되어 있다면 해당 항목명을 콤마(,)로 구분하여 출력해줘.\\n\\n설비 목록:\\n변압기, 폐유재활용설비, 송풍기, 신재생발전설비, 집진기, 펌프, 콤프레셔, 공기조화기, 열회수환기장치, 보일러, 열교환기, 배출가스처리기, 공기정화기, 탈황기, 탈질기, 오수처리기, 폐수처리기, 냉각탑, 에너지관리시스템, 공정제어시스템, 자동화시스템, 냉동기, 증기재압축장치, 폐열회수시스템, 유수분리기, 압축기, 인버터, 용해로, 응축수회수기, 악취저감설비, 사출성형기\\n\\n출력 예시: \\\"인버터,용해로\\\"\\n\\n해당 설비가 하나도 언급되지 않은 경우에는 공백으로 출력해줘.\\n\\n주의사항:  \n- 설비 이름은 반드시 위 목록에서만 선택해야 하며, 새로운 항목을 생성하거나 임의로 추가하지 말 것  \n- 관련성이 낮거나 판단이 어려울 경우에도 빈 문자열(\"\")로 처리할 것  \n- 출력은 항상 문자열이며, null이 아닌 빈 문자열(\"\")로 표시\"\n        },\n        {\n          \"type\": \"document_url\",\n          \"document_url\": \"{{ $json.url }}\"\n        }\n      ]\n    }\n  ],\n  \"document_image_limit\": 8,\n  \"document_page_limit\": 64\n}\n","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"d474aef4-0c2e-45d6-938f-a508bbbfb23d","name":"do documnet qna","type":"n8n-nodes-base.httpRequest","position":[3104,240],"typeVersion":4.2,"alwaysOutputData":true,"credentials":{"mistralCloudApi":{"id":"DMvGIk4nGb1Gfy0K","name":"Mistral Cloud account 2"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"function extractJsonFromString(str) {\n  const jsonMatch = str.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n  if (jsonMatch && jsonMatch[1]) {\n    try {\n      return JSON.parse(jsonMatch[1]);\n    } catch (e) {\n      console.error(\"JSON 파싱 에러:\", e);\n    }\n  }\n  return null;\n}\n\nreturn {a: extractJsonFromString($input.first().json.choices[0].message.content)}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3264,240],"id":"8f41cae7-6260-438a-9211-01a025cfd569","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('retrieve').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"={{ $('Code1').item.json.a.jrsd_instt_nm }}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('Code1').item.json.a.bsns_sumry_cn }}","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"={{ $('Code1').item.json.a.target_nm }}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{ $('Code').item.json.a.reqst_begin_end_de }}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $('Code').item.json.a.reqst_begin_dt }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $('Code').item.json.a.reqst_end_dt }}","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"={{ $('Code').item.json.a.refrnc_nm }}","type":"string"},{"id":"b5e49522-9965-4e13-90b1-86edf56df9c2","name":"print_flpth_nm","value":"={{ $('extract from html title and links').item.json.link == null ? null :$('setting').item.json.base_url +  $('extract from html title and links').item.json.link }}","type":"string"},{"id":"7e662533-f931-4a90-9dfb-f1386c206c8f","name":"print_file_nm","value":"={{ $('extract from html title and links').item.json.title }}","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"={{ $('extract from html title and links').item.json.flpth_nm.length > 0 ? $('extract from html title and links').item.json.flpth_nm.map((item) => {\n  return $('setting').item.json.base_url + item\n}).join('@') : \"\" }}","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"={{ $('extract from html title and links').item.json.file_nm.length > 0 ? $('extract from html title and links').item.json.file_nm.join('@') : \"\" }}","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"75a37755-271f-4797-a2c7-cf650db294e8","name":"source","value":"한국생산기술연구원","type":"string"},{"id":"e9fe45e7-7eff-4e79-b8f8-91e76209dc2e","name":"reqst_mth_papers_cn","value":"={{ $('Code').item.json.a.reqst_mth_papers_cn }}","type":"string"},{"id":"5cff9144-b022-4c25-820e-86ab012b1321","name":"subsidy_amount","value":"={{ $('Code').item.json.a.subsidy_amount }}","type":"string"},{"id":"576eb6a4-e3a6-4c33-812c-e9cd0823b08c","name":"self_contribution_rate","value":"={{ $('Code').item.json.a.self_contribution_rate }}","type":"string"},{"id":"43c7d965-2238-45ca-9747-6a7d29a31896","name":"support_target","value":"={{ $('Code1').item.json.a.target_nm }}","type":"string"},{"id":"5b6af3c3-cb7c-4c9e-bba9-a613a8ba3825","name":"bonus_points_factors","value":"={{ $('Code1').item.json.a.bonus_points_factors }}","type":"string"},{"id":"3e892a8d-2f7a-4545-926c-16c4f7a624ab","name":"total_budget","value":"={{ $('Code1').item.json.a.total_budget }}","type":"string"},{"id":"16575838-a2c6-459b-9593-77cebceffb55","name":"exc_instt_nm","value":"={{ $('Code1').item.json.a.exc_instt_nm }}","type":"string"},{"id":"7bef7724-0ebf-48d8-bda6-2e4855c4fa9d","name":"creat_p_nttm","value":"={{ $now }}","type":"string"},{"id":"ac5d7eaa-ffc0-458f-a824-2a500d594d79","name":"created_ts","value":"={{ $now }}","type":"string"},{"id":"8bebac99-63c7-493b-91ea-0396e036ab16","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"N","type":"string"},{"id":"7056dc97-2d65-457f-a583-44e5865e89f0","name":"del_yn","value":"N","type":"string"},{"id":"23663b17-c035-4cd6-a1dc-6cf69f8eaf09","name":"hide_yn","value":"N","type":"string"},{"id":"4cdffc36-783c-489f-b2a4-26438a5ba29d","name":"pblanc_url","value":"=https://www.kitech.re.kr/research/page1-1.php","type":"string"},{"id":"f35c0adf-2b00-496f-aa36-46ef1814ce1b","name":"main_category","value":"={{ $('Code1').item.json.a.main_category }}","type":"string"},{"id":"419c832c-b83b-41c6-8423-244bca6e1cd6","name":"sub_category","value":"={{ $('Code1').item.json.a.sub_category }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4048,240],"id":"600dca72-351d-4a34-890e-fc43c1f6f834","name":"ai result"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[4208,240],"id":"cdec423e-fb18-4f61-ac2c-e67fe75f0f75","name":"MySQL","credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"function makeDurationData(a, b) {\n  return `${a} ~ ${b}`;\n}\n\nconst input = $input.first();\nlet a = input.json.a.reqst_begin_dt;\nconst b = input.json.a.reqst_end_dt;\n\n// (1) 날짜 비교 및 수정\nif (a === b) {\n  a = $('is today or minus 1 day?').first().json.date;\n  input.json.a.reqst_begin_dt = a;\n  input.json.a.reqst_begin_end_de = makeDurationData(a, b);\n}\n\n// (2) 공고명에서 \"(경남)\", \"[경남]\" 같은 항목 제거\nlet name = input.json.a.pblanc_nm || '';\nname = name.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();  // 괄호 안 텍스트 제거\ninput.json.a.pblanc_nm = name;\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3472,240],"id":"ec62f20b-6d05-458f-8600-b7782dc87f40","name":"Code1"},{"parameters":{"operation":"update","id":"={{ $json.log }}","updateFields":{"content":"={{ $json.message }}","status":"={{ $json.res }}"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[1872,-336],"id":"3d5aefca-ddfa-4e61-ba98-306ae5bf22bf","name":"ClickUp1","credentials":{"clickUpApi":{"id":"qZiwbTr68j7zNPAl","name":"ClickUp account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"6abc3ca9-73fb-4dfe-a6fd-30796207be91","name":"log_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-16],"id":"f2e841ff-a84d-4ee4-9188-22c9553fb251","name":"n8n id"},{"parameters":{"team":"9018974484","space":"90185029606","folder":"90185783591","list":"901808746118","name":"=  {{ $json.source }}-{{$today.format('yyyy-MM-dd') }} n8n 크롤링","additionalFields":{"customFieldsJson":"={\n  \"start_date\": \"{{ $now }}\",\n  \"end_date\": null\n} ","content":"asdasd","startDateTime":true,"status":"in progress"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-288,-16],"id":"ac502b1b-71f8-4277-8a4c-ea51b5be7cf4","name":"create task","credentials":{"clickUpApi":{"id":"qZiwbTr68j7zNPAl","name":"ClickUp account"}},"disabled":true},{"parameters":{"jsCode":"return {res: \"COMPLETE\", message: \"1 page loop done\", log: $('n8n id').first().json.log_id}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,-336],"id":"f58e2994-e3ef-407a-aca0-553a9f33f33f","name":"Code2"},{"parameters":{"jsCode":"return {res: \"COMPLETE\", message: \"target item is not today\", log: $input.first().json.log}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,-176],"id":"63a8db9e-423c-4f75-acb2-0305ee8e02ba","name":"Code3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5c9a293c-b804-4cde-8646-67f1c5e459b3","leftValue":"={{ $json.title }}","rightValue":".hwp","operator":{"type":"string","operation":"endsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2208,272],"id":"94ce92e7-d52d-40f3-b193-b9a8e135c7a5","name":"If"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-800,-48],"id":"1f1e624a-0e91-4f5a-842e-89ca31ef56f0","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cf46f60-d170-4717-9c39-131c32311313","leftValue":"={{ new Date($json.date).toDateTime()}}","rightValue":"={{ $now.minus(1, 'days') }} ","operator":{"type":"dateTime","operation":"afterOrEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1072,208],"id":"f64acdeb-c98f-4429-aab4-99c12a3cc1b7","name":"is today or minus 1 day?"},{"parameters":{"content":"주소\n\nhttps://www.kitech.re.kr/research/page1-1.php","height":80,"width":440},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-816,-160],"id":"26b0e58f-45a9-4c01-9d18-91178727e382","name":"Sticky Note"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.a.pblanc_nm }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[3664,240],"id":"763e569a-18fd-41e0-a472-4c16ec2f329d","name":"MySQL1","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3840,240],"id":"ef119977-02be-43bd-be84-ca810cb802e8","name":"If1"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,80],"id":"db117d1f-9645-498f-bd1e-6b2c6aefe9ad","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1392,80],"id":"a1659880-cf72-4f69-8c08-e742efad1fe9","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1520,80],"id":"38ab7ab8-23bd-4234-ba9f-f0526b8f72f5","name":"중복조회 IF"},{"parameters":{"fieldsToSummarize":{"values":[{"field":"success"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[4512,576],"id":"70c36210-ad8f-4b50-8e83-66fb52ab8afa","name":"Summarize"},{"parameters":{"jsCode":"// Function 노드 안\nreturn [\n  {\n    json: {\n      workflowName: $workflow.name,\n      insertId:$input.first().json.data.insertId\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4368,80],"id":"af714143-8c68-43fa-80e8-df65c2b4519b","name":"공고상태정리"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"=4324234324","type":"number"},{"id":"b4c077b6-450e-4e8f-80e2-acf7efc111ef","name":"pblanc_url","value":"gtest","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4032,32],"id":"d73083c1-890a-40b7-9dca-651023e1d4fa","name":"ai result1"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"insertId","value":"={{ $json.insertId }}"},{"column":"type","value":"detail"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[4576,80],"id":"7e5e5827-b679-4b18-9609-ed957007e54b","name":"공고상태상세저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"total_count","value":"={{ $('extract board lists from main board').item.json.date.length }}"},{"column":"type","value":"total_count"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[928,544],"id":"5b0eb95c-f697-41be-8c5d-706853ee6d2b","name":"공고상태전체개수저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}}],"connections":{"setting":{"main":[[{"node":"create task","type":"main","index":0}]]},"python split":{"main":[[]]},"Download attachmet file":{"main":[[{"node":"If","type":"main","index":0}]]},"extract from html title and links":{"main":[[{"node":"Download attachmet file","type":"main","index":0}]]},"board detail request":{"main":[[{"node":"extract from html title and links","type":"main","index":0}]]},"batch":{"main":[[],[{"node":"is today or minus 1 day?","type":"main","index":0}]]},"retrieve":{"main":[[{"node":"batch","type":"main","index":0}]]},"extract board lists from main board":{"main":[[{"node":"retrieve","type":"main","index":0},{"node":"공고상태전체개수저장","type":"main","index":0}]]},"main dashboard request":{"main":[[{"node":"extract board lists from main board","type":"main","index":0}]]},"Upload a img1":{"main":[[{"node":"Retrieve img1","type":"main","index":0}]]},"Retrieve img1":{"main":[[{"node":"Retrieve img3","type":"main","index":0}]]},"Retrieve img3":{"main":[[{"node":"do documnet qna","type":"main","index":0}]]},"Convert Hwp to pdf":{"main":[[{"node":"Upload a img1","type":"main","index":0}]]},"do documnet qna":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Code1","type":"main","index":0}]]},"ai result":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"Code1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"batch","type":"main","index":0},{"node":"공고상태정리","type":"main","index":0}]]},"n8n id":{"main":[[{"node":"main dashboard request","type":"main","index":0}]]},"create task":{"main":[[{"node":"n8n id","type":"main","index":0}]]},"Code2":{"main":[[{"node":"ClickUp1","type":"main","index":0}]]},"Code3":{"main":[[{"node":"ClickUp1","type":"main","index":0}]]},"If":{"main":[[{"node":"Convert Hwp to pdf","type":"main","index":0}],[{"node":"Upload a img1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"setting","type":"main","index":0}]]},"is today or minus 1 day?":{"main":[[{"node":"중복 자료 조회","type":"main","index":0}],[{"node":"batch","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"ai result","type":"main","index":0}],[]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"board detail request","type":"main","index":0}],[{"node":"batch","type":"main","index":0}]]},"공고상태정리":{"main":[[{"node":"공고상태상세저장","type":"main","index":0}]]},"ai result1":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a8a4f94a-0af3-4db6-9dfa-6c2cb8d66411","triggerCount":1,"shared":[{"createdAt":"2025-06-16T08:56:57.718Z","updatedAt":"2025-06-16T08:56:57.718Z","role":"workflow:owner","workflowId":"XMzCq8DALrKP5w6G","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}