01.한국테크노파크진흥회-NIb1OmvDL52t6l01.json
{"updatedAt":"2025-06-23T02:19:51.865Z","createdAt":"2025-06-18T01:46:17.243Z","id":"NIb1OmvDL52t6l01","name":"01.한국테크노파크진흥회","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1860,-20],"id":"697ce21b-9421-4cf8-9c10-c5f1c95a64d8","name":"When clicking ‘Execute workflow’"},{"parameters":{"batchSize":1,"options":{"reset":false}},"id":"c6134619-43a1-4ca1-aa87-401836fac818","name":"SplitInBatches12","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[-780,-20]},{"parameters":{"values":{"string":[{"name":"fullUrl","value":"={{ 'http://www.technopark.kr' + $json.href }}"}]},"options":{}},"id":"47b3c1d9-b937-4c5d-9293-d42e95a7942c","name":"Set Full URL6","type":"n8n-nodes-base.set","typeVersion":1,"position":[-580,-20]},{"parameters":{"url":"={{ $json.fullUrl }}","responseFormat":"string","options":{}},"id":"d8e30203-1c17-4595-8d41-4fdbab63cde9","name":"Get Detail HTML6","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-360,-20]},{"parameters":{"extractionValues":{"values":[{"key":"pblanc_nm","cssSelector":"head > title"},{"key":"flpth_nm","cssSelector":".board_add_file ul li a","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"file_nm","cssSelector":".board_add_file ul li a","returnArray":true},{"key":"base64Img","cssSelector":".document_217199_283.xe_content img","returnValue":"attribute","attribute":"src"}]},"options":{"trimValues":true}},"id":"f1bb047e-5266-4c62-b514-cf52c917e7f0","name":"Extract Content6","type":"n8n-nodes-base.htmlExtract","typeVersion":1,"position":[-140,-20]},{"parameters":{"jsCode":"// return $json.href.map(link => {\n//   return {\n//     json: {\n//       href: link\n//     }\n//   };\n// });\nconst links = $json.href || [];\nreturn links.map(link => ({ json: { href: link } }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1160,-20],"id":"7dae3e8e-fb11-409b-a795-d0ee76d03106","name":"split4"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2860,440],"id":"b6b81928-8c7b-4602-be12-216f665fbc39","name":"MySQL7","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3100,440],"id":"080dc987-e5da-4c9b-a2cd-2c61b27cec33","name":"No Operation, do nothing1"},{"parameters":{"url":"http://www.technopark.kr/index.php?mid=businessboard&page=1","responseFormat":"string","options":{}},"id":"480b529f-3929-4256-b430-931c289c532b","name":"리스트요청","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-1640,-20]},{"parameters":{"extractionValues":{"values":[{"key":"href","cssSelector":"table > tbody > tr > td > a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":true}},"id":"b98f38c6-c804-47d9-9cd8-20bdf4a5ac8a","name":"게시글요청","type":"n8n-nodes-base.htmlExtract","typeVersion":1,"position":[-1420,-20]},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"image_url\",\n    \"image_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"d4bea1df-4ef5-4b6b-be2f-88f08851d1af","name":"do ocr","type":"n8n-nodes-base.httpRequest","position":[1500,-20],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"486237e8-728e-44a0-ad2d-3dbc3ea33d9c","name":"Upload a file","type":"n8n-nodes-base.httpRequest","position":[1040,-20],"typeVersion":4.2},{"parameters":{"jsCode":"// const base64Str = $json.base64Img;\n// const matches = base64Str.match(/^data:(.+);base64,(.+)$/);\n\n// // if (!matches) {\n// //   return [\n// //     {\n// //       json: {\n// //         imageUrl: base64Str\n// //       }\n// //     }\n// //   ];\n// // }\n\n// const mimeType = matches[1];\n// const base64Data = matches[2];\n\n// return [\n//   {\n//     binary: {\n//       data: {\n//         data: base64Data,\n//         mimeType,\n//         fileName: \"image.png\"\n//       }\n//     }\n//   }\n// ];\n\n\n//2..\n// const value = $json.base64Img;\n\n// if (value.startsWith('data:image/')) {\n//   // Base64인 경우 처리\n//   const base64Data = value.replace(/^data:image\\/[a-zA-Z]+;base64,/, '');\n\n//   return [\n//     {\n//       binary: {\n//         data: {\n//           data: base64Data,\n//           mimeType: \"image/png\",\n//           fileName: \"image.png\"\n//         }\n//       }\n//     }\n//   ];\n// } else if (value.startsWith('http')) {\n//   // URL인 경우 → HTTP Request 노드에서 처리 가능하도록 JSON으로 반환\n//   return [\n//     {\n//       json: {\n//         imageUrl: value\n//       }\n//     }\n//   ];\n// } else {\n//   throw new Error(\"Unknown image format in base64Img\");\n// }\n\n\n\n//3..\nconst base64Str = $json.base64Img;\n\nif (typeof base64Str !== 'string') {\n  throw new Error(\"base64Img is not a string\");\n}\n\n// Base64 처리\nconst matches = base64Str.match(/^data:(.+);base64,(.+)$/);\nif (matches) {\n  const mimeType = matches[1];\n  const base64Data = matches[2];\n\n  return [\n    {\n      binary: {\n        data: {\n          data: base64Data,\n          mimeType,\n          fileName: \"image.png\"\n        }\n      }\n    }\n  ];\n}\n\n// HTTP URL 처리 → throw 하되 문자열 JSON으로 포함\nif (base64Str.startsWith('http')) {\n  throw new Error(JSON.stringify({\n    type: 'IS_HTTP_URL',\n    imageUrl: base64Str\n  }));\n}\n\n// 기타 예외\nthrow new Error(\"Unknown format for base64Img\");\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[180,-20],"id":"88dffa8d-f612-430a-9461-375a2fcf2e85","name":"img->바이너리","onError":"continueErrorOutput"},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{ $json.id }}/url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1260,-20],"id":"0bbed2d9-d468-407a-897d-4672facb1d51","name":"파일 ID로 Mistral 이미지 URL 얻기"},{"parameters":{"jsCode":"const fullOcrText = $json.pages?.[0]?.markdown || JSON.stringify($json, null, 2);\nconst truncatedOcrText = fullOcrText.slice(0, 3000);\n\nreturn {\n  json: {\n    chatInput: `다음은 정부지원사업 공고의 OCR 텍스트입니다.  \n이 텍스트를 기반으로 아래 JSON 구조에 맞게 항목을 채워 주세요.\n\n**주의사항**  \n- 키 이름은 절대 변경하지 마세요.  \n- 값이 없으면 null로 설정하세요.  \n- 각 키는 다음과 같은 의미입니다. (AI 이해용 주석, 응답에는 포함하지 마세요)\n\n{\n  \"pblanc_nm\": null, // 공고 제목\n  \"pblanc_url\": null, // 공고 상세 URL\n  \"pblanc_id\": null, // 공고 고유 ID\n  \"jrsd_instt_nm\": null, // 주관 기관명\n  \"exc_instt_nm\": null, // 수행 기관명\n  \"bsns_sumry_cn\": null, // 사업 요약 (3줄 이내 요약문)\n  \"print_flpth_nm\": null, // 출력용 전체 경로 (없으면 null)\n  \"print_file_nm\": null, // 출력 파일명 (없으면 null)\n  \"flpth_nm\": null, // 원본 파일 경로\n  \"file_nm\": null, // 원본 파일 이름\n  \"pldir_sport_realm_lclas_code_nm\": null, // 대분류 (예: 창업지원)\n  \"rcept_engn_hmpg_url\": null, // 접수 홈페이지 URL\n  \"trget_nm\": null, // 신청 대상 예: 중소기업, 스타트업\n  \"reqst_begin_end_de\": null, // 접수기간 전체 문자열 (예: 2025.07.01 ~ 2025.07.15)\n  \"reqst_begin_dt\": null, // 접수 시작일 (예: 2025-07-01)\n  \"reqst_end_dt\": null, // 접수 마감일 (예: 2025-07-15)\n  \"reqst_mth_papers_cn\": null, // 신청 방법 (예: 방문접수, 이메일 등)\n  \"pldir_sport_realm_mlsfc_code_nm\": null, // 중분류\n  \"refrnc_nm\": null, // 관련 문서 이름 또는 참고\n  \"inqire_co\": 0, // 문의 횟수 (없으면 0)\n  \"creat_p_nttm\": null, // 등록일시 (예: 2025-06-18T10:20:00)\n  \"created_ts\": null, // 시스템 등록 timestamp\n  \"hash_tags\": null, // 태그 예: \"#창업 #AI\"\n  \"del_yn\": \"N\", // 삭제 여부 (기본 N)\n  \"hide_yn\": \"Y\", // 숨김 여부 (기본 Y)\n  \"views\": 0, // 조회수 (기본 0)\n  \"is_classified\": \"N\", // 분류 여부\n  \"source\": \"기업마당\", // 수집 출처\n  \"main_category\": null, // 주요 카테고리\n  \"sub_category\": null, // 서브 카테고리\n  \"classified_date\": null, // 분류 일자\n  \"classified_by\": null, // 분류 담당자\n  \"subsidy_amount\": null, // 보조금 금액 (숫자)\n  \"self_contribution_rate\": null, // 자부담 비율 (예: 20%)\n  \"support_target\": null, // 지원 대상 (100자 이내)\n  \"bonus_points_factors\": null, // 가점 요인\n  \"total_budget\": null, // 총 예산\n  \"applicant_count\": 0, // 신청자 수 (기본 0)\n  \"subsidy_amount_type\": null, // 정액/정률 등\n  \"total_budget_type\": null, // 국비/지방비/민자 등\n  \"equipment_detail_file_path\": null,\n  \"equipment_detail_file_name\": null\n}\n\n[텍스트 시작]\n${truncatedOcrText}\n[텍스트 끝]`\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1720,-20],"id":"9e32e299-76be-4805-96bc-5547864b5300","name":"Code22"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2000,180],"id":"385aa019-2050-40da-804c-dca4132875d4","name":"Google Gemini Chat Model7","credentials":{"googlePalmApi":{"id":"1n1ZCgSpI165zI9c","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1900,0],"id":"d7efeac8-ac65-4edc-ae1a-9f266c3e88c5","name":"Basic LLM Chain"},{"parameters":{"jsCode":"\n//5번째 거\nfunction convertDate(dateStr) {\n  if (!dateStr || typeof dateStr !== 'string') return null;\n  const match = dateStr.match(/(\\d{4})\\.\\s*(\\d{1,2})\\.\\s*(\\d{1,2})/);\n  if (!match) return null;\n  const [ , year, month, day ] = match;\n  return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;\n}\n\nconst geminiText = $json.text;\nconst jsonMatch = geminiText.match(/```json\\s*([\\s\\S]*?)\\s*```/);\nif (!jsonMatch) {\n  throw new Error(\"JSON block not found in Gemini output.\");\n}\n\n// 전화번호 문자 처리\nlet rawJson = jsonMatch[1]\n  .replace(/\"inqire_co\"\\s*:\\s*([0-9\\-]+)\\s*,/g, '\"inqire_co\": \"$1\",');\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawJson);\n} catch (err) {\n  throw new Error(\"Failed to parse JSON: \" + err.message);\n}\n\nconst { text, ...rest } = $json;\nconst mergeKey = $json.fileIndex || $json.mergeKey || 0;\n\nreturn {\n  json: {\n    ...rest,\n    ...parsed,\n\n    mergeKey: $json.mergeKey || $itemIndex,\n\n    // ✅ flpth_nm 변환\n    flpth_nm: Array.isArray(parsed.flpth_nm)\n      ? parsed.flpth_nm.map(path => \"www.technopark.k\" + path).join(\"@\")\n      : parsed.flpth_nm ? \"www.technopark.k\" + parsed.flpth_nm : null,\n\n    print_flpth_nm: Array.isArray(parsed.flpth_nm)\n      ? \"www.technopark.k\" + parsed.flpth_nm[0]\n      : parsed.flpth_nm ? \"www.technopark.k\" + parsed.flpth_nm : null,\n\n    // ✅ 날짜 변환\n    reqst_begin_dt: convertDate(parsed.reqst_begin_dt),\n    reqst_end_dt: convertDate(parsed.reqst_end_dt),\n\n    exc_instt_nm: parsed.exc_instt_nm,\n    del_yn: \"N\",\n    creat_p_nttm: new Date().toISOString().slice(0, 19).replace(\"T\", \" \"),\n    created_ts: new Date().toISOString().slice(0, 19).replace(\"T\", \" \"),\n    source: \"한국테크노파크\"\n  }\n};\n            "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2260,0],"id":"f3fff272-05f5-404b-b6a1-84bd8c3231fd","name":"ocr res1"},{"parameters":{"mode":"combine","fieldsToMatchString":"mergeKey","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2460,440],"id":"53e9f005-3108-4d65-acbe-a5bffc79694b","name":"Merge"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  json: {\n    ...$json,\n    mergeKey: $json.mergeKey || $itemIndex,\n    biz_info_id: $json.biz_info_id || $itemIndex\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,380],"id":"3d21f987-0c8d-4da3-a91c-482ff37f562b","name":"병합키 추가"},{"parameters":{"jsCode":"const { data, mergeKey,biz_info_id, base64Img, ...rest } = $json;\n\n// ✅ flpth_nm 변환\nif (Array.isArray(rest.flpth_nm)) {\n  rest.print_flpth_nm = \"http://www.technopark.kr/\" + rest.flpth_nm[0];\n  rest.flpth_nm = rest.flpth_nm.map(path => \"http://www.technopark.kr/\" + path).join(\"@\");\n} else if (typeof rest.flpth_nm === \"string\") {\n  rest.print_flpth_nm = \"http://www.technopark.kr/\" + rest.flpth_nm;\n  rest.flpth_nm = \"http://www.technopark.kr/\" + rest.flpth_nm;\n} else {\n  rest.print_flpth_nm = null;\n  rest.flpth_nm = null;\n}\n\n// ✅ file_nm: 배열이면 문자열로 결합 (@ 구분)\nif (Array.isArray(rest.file_nm)) {\n  rest.file_nm = rest.file_nm.join(\"@\");\n}\n\n// ✅ print_file_nm 설정 (첫 번째 파일 이름)\nrest.print_file_nm = rest.file_nm?.split(\"@\")[0] || null;\n\n// ✅ 주요 필드 이스케이프 처리\nfunction escapeSQL(value) {\n  return typeof value === 'string' ? value.replace(/'/g, \"''\") : value;\n}\nconst fieldsToEscape = [\n  \"pblanc_nm\", \"bsns_sumry_cn\", \"support_target\",\n  \"bonus_points_factors\", \"subsidy_amount_type\",\n  \"total_budget_type\", \"print_file_nm\", \"file_nm\"\n];\nfor (const field of fieldsToEscape) {\n  if (rest[field] !== undefined) {\n    rest[field] = escapeSQL(rest[field]);\n  }\n}\n\nreturn { json: rest };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2680,440],"id":"c059e69c-5e50-4191-abc7-7a7b4290c465","name":"Code"},{"parameters":{"url":"={{ $json.error }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,60],"id":"7e2e24c6-28fa-4ba0-9e27-4989585f3c90","name":"HTTP Request"},{"parameters":{"jsCode":"// 원래 에러 메시지에서 URL만 추출\nconst errorMessage = $json.error;\n\n// 정규식으로 //로 시작해서 .bmp 로 끝나는 URL 부분만 추출\nconst match = errorMessage.match(/(\\/\\/[^\\s\"]+\\.bmp)/);\n\nif (!match) {\n  throw new Error(\"No valid image URL found in error message\");\n}\n\nlet url = match[1]; // ex: //www.gwtp.or.kr/...\n\n// https 붙이기\nurl = \"https:\" + url;\n\n// 에러 객체로 다시 throw (이건 분기 처리용)\nthrow new Error(JSON.stringify({\n  type: \"IS_HTTP_URL\",\n  imageUrl: url\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,60],"id":"f607565f-ab66-4400-a20c-d6293b56df1c","name":"Code1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"리스트요청","type":"main","index":0}]]},"SplitInBatches12":{"main":[[{"node":"Set Full URL6","type":"main","index":0}]]},"Set Full URL6":{"main":[[{"node":"Get Detail HTML6","type":"main","index":0}]]},"Get Detail HTML6":{"main":[[{"node":"Extract Content6","type":"main","index":0}]]},"Extract Content6":{"main":[[{"node":"병합키 추가","type":"main","index":0},{"node":"img->바이너리","type":"main","index":0}]]},"split4":{"main":[[{"node":"SplitInBatches12","type":"main","index":0}]]},"MySQL7":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"SplitInBatches12","type":"main","index":0}]]},"리스트요청":{"main":[[{"node":"게시글요청","type":"main","index":0}]]},"게시글요청":{"main":[[{"node":"split4","type":"main","index":0}]]},"do ocr":{"main":[[{"node":"Code22","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"파일 ID로 Mistral 이미지 URL 얻기","type":"main","index":0}]]},"img->바이너리":{"main":[[{"node":"Upload a file","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"파일 ID로 Mistral 이미지 URL 얻기":{"main":[[{"node":"do ocr","type":"main","index":0}]]},"Code22":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Google Gemini Chat Model7":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"ocr res1","type":"main","index":0}]]},"ocr res1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code","type":"main","index":0}]]},"병합키 추가":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code":{"main":[[{"node":"MySQL7","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Upload a file","type":"main","index":0}]]},"Code1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c0c63c2e-356e-4765-af0f-2a2f35a8c7c1","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-06-18T01:46:17.243Z","createdAt":"2025-06-18T01:46:17.243Z","role":"workflow:owner","workflowId":"NIb1OmvDL52t6l01","projectId":"YGqg9zdxGQSC73yC"}],"activeVersion":null,"tags":[]}