03.환경산업기술원-NjJ9lFQPQIhxfm8U.json
{"createdAt":"2025-06-18T00:08:55.755Z","updatedAt":"2025-09-22T00:15:52.952Z","id":"NjJ9lFQPQIhxfm8U","name":"03.환경산업기술원","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"주소\n\nhttps://www.keiti.re.kr/site/keiti/ex/board/List.do?cbIdx=277","height":80,"width":520},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1360,-144],"id":"6a52e59e-974b-4592-b2a3-90b37e8107d1","name":"Sticky Note"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-336,768],"id":"e87fbe0e-060c-4097-b8fe-b8731053c615","name":"Loop Over Items1"},{"parameters":{"extractionValues":{"values":[{"key":"attach_file_name","cssSelector":"a.attachment:nth-child(n+1)","returnArray":true},{"key":"attach_file_address","cssSelector":"a.attachment:nth-child(n+1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"content","cssSelector":".content","returnValue":"html"}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[752,768],"typeVersion":1,"id":"eecd4506-8635-4489-909f-204b556083f0"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\n\n// -------------------- 실제 어제 날짜 계산 --------------------\nlet yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yyyy = yesterday.getFullYear();\nconst mm = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst dd = String(yesterday.getDate()).padStart(2, '0');\nlet yesterdayStr = `${yyyy}-${mm}-${dd}`; // 기본값: 어제 날짜\n\n// -------------------- 테스트용 날짜 (주석 처리 시 실제 어제 날짜 사용) --------------------\n// yesterdayStr = '2025-09-19'; // 테스트용 날짜\n\n// -------------------- 결과 생성 --------------------\nconst result = announcements\n  .map((announcement, index) => {\n    let url = announcement?.trim() || null;\n\n    let dateStr = dates[index] || null;\n    if (dateStr) {\n      dateStr = dateStr.replace(/\\s+/g, '').replace(/\\.$/, '');\n      const dateMatch = dateStr.match(/(\\d{4})[.\\-](\\d{1,2})[.\\-](\\d{1,2})/);\n      if (dateMatch) {\n        const y = dateMatch[1];\n        const m = dateMatch[2].padStart(2, '0');\n        const d = dateMatch[3].padStart(2, '0');\n        dateStr = `${y}-${m}-${d}`;\n      } else {\n        dateStr = null;\n      }\n    }\n\n    const cleanTitle = (titles[index] || '').replace(/[\\[\\]「」<>\\\"']/g, '').trim();\n\n    return {\n      json: {\n        url: url,\n        title: cleanTitle,\n        date: dateStr\n      }\n    };\n  })\n  .filter(item => item.json.date === yesterdayStr);\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,768],"id":"7c507ec2-4e4f-4eaa-a204-b35b1ec651b4","name":"금일 기준"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title,\n      announcement\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,544],"id":"436c69aa-758f-4039-9c9f-39c85e95a1f3","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-32,544],"id":"0189a764-c233-4070-b2fb-e53706cbfce3","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[112,544],"id":"91420d20-7c47-4028-ad92-58932fbb4482","name":"중복조회 IF"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":".list > li:nth-child(n) > div:nth-child(1) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"title","cssSelector":".list > li:nth-child(n) > div:nth-child(1) > a:nth-child(1) > span:nth-child(3)","returnArray":true},{"key":"date","cssSelector":".list > li:nth-child(n) > div:nth-child(1) > a:nth-child(1) > span:nth-child(2)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-848,768],"typeVersion":1,"id":"7453250d-b77d-4782-a53d-ed5f09b4bc3e"},{"parameters":{"method":"POST","url":"=https://www.keiti.re.kr{{ $('Loop Over Items1').item.json.url }}","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}},"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,768],"id":"cf471c35-845b-4172-aecf-71de5e332b7d","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"url":"={{ $('중복 자료 조회').item.json.announcement }}","options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,288],"id":"57134e3d-4174-4f0e-8a41-7a01180c55e7","name":"set cookie","onError":"continueRegularOutput"},{"parameters":{"jsCode":"return {\n  cookie: ($input.first().json.headers['set-cookie'] || []).join('; ')\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,288],"id":"af5fd15d-73f3-4787-ae4a-17968b0be9cc","name":"get cookie"},{"parameters":{"promptType":"define","text":"={{ $json.combinedMarkdown }} \\n에서  \npblanc_nm(공고제목), jrsd_instt_nm(지역 혹은 사이트이름), bsns_sumry_cn(공고요약), trget_nm(대상기업),  \nreqst_begin_end_de(공고 전체기간), reqst_begin_dt(공고시작기간), reqst_end_dt(공고마감기간),  \nreqst_mth_papers_cn(사업신청방법), excInsttNm(사업수행기관), refrnc_nm(문의처), subsidy_amount(지원금액),  \nself_contribution_rate(자부담률), support_target(지원기업 예: 대기업,중소기업), bonus_points_factors(가점요소 50자이내),  \ntotal_budget(예산) 에 대한 정보를 알려줘.\n\n공고제목은 detail_part에서 처음 <p>를 제목으로 참고.\n\n[1] 날짜 변환 규칙  \n- reqst_begin_end_de 형식: YYYYMMDD ~ YYYYMMDD  (형식 지켜줘 very important)\n  → 이를 reqst_begin_dt, reqst_end_dt로 YYYY-MM-DD 형식으로 변환  \n\n[2] 지역명 변환 (cityMap)  \n{\n  \"서울\": \"서울특별시\", \"부산\": \"부산광역시\", \"대구\": \"대구광역시\", \"인천\": \"인천광역시\",\n  \"광주\": \"광주광역시\", \"대전\": \"대전광역시\", \"울산\": \"울산광역시\", \"세종\": \"세종특별자치시\",\n  \"경기\": \"경기도\", \"강원\": \"강원도\", \"충북\": \"충청북도\", \"충남\": \"충청남도\",\n  \"전북\": \"전라북도\", \"전남\": \"전라남도\", \"경북\": \"경상북도\", \"경남\": \"경상남도\",\n  \"제주\": \"제주특별자치도\", \"전지역\": \"전지역\"\n}\n\ntrget_nm 값은 단일값(중소기업, 대기업 등)만 사용.\n\n[3] 첨부파일 경로 변수  \nprint_flpth_nm :   {{ $('pdf,첨부파일분리').item.json.fileAddress }}\nprint_file_nm  : {{ $('pdf,첨부파일분리').item.json.fileName }}\ncreat_p_nttm   : {{ $json.creat_p_nttm }}\ncreated_ts     : {{ $json.created_ts }}\n\n[4] 값이 없거나 찾을 수 없으면 아래 형식으로 빈 문자열(\"\") 처리  \n{\n  \"pblanc_nm\": \"\",\n  \"jrsd_instt_nm\": \"\",\n  \"bsns_sumry_cn\": \"\",\n  \"trget_nm\": \"\",\n  \"reqst_begin_end_de\": \"\",\n  \"reqst_begin_dt\": \"\",\n  \"reqst_end_dt\": \"\",\n  \"reqst_mth_papers_cn\": \"\",\n  \"refrnc_nm\": \"\",\n  \"print_flpth_nm\": \"\",\n  \"print_file_nm\": \"\",\n  \"flpth_nm\": \"\",\n  \"file_nm\": \"\",\n  \"creat_p_nttm\": \"\",\n  \"created_ts\": \"\",\n  \"subsidy_amount\": \"\",\n  \"self_contribution_rate\": \"\",\n  \"support_target\": \"\",\n  \"bonus_points_factors\": \"\",\n  \"total_budget\": \"\"\n}\n\n[5] main_category(대분류) 분류 규칙  \n- 선택지: \"스마트생태공장\", \"상생협력 실증프로그램\", \"스마트공장 / 제조혁신\", \"탄소중립 / 온실가스저감\", \"FEMS 에너지효율화\"  , \"마케팅 / 기술인프라 구축\"\n- 공고 내용에 해당 키워드가 존재하면 선택  \n- 여러 개면 콤마(,)로 구분  \n- 없거나 애매하면 \"\"  \n\n예시:  \n\"컨설팅,스마트생태공장\"\n\n[6] sub_category(설비분류) 분류 규칙  \n- 선택 가능 항목:  \n변압기, 폐유재활용설비, 송풍기, 신재생발전설비, 집진기, 펌프, 콤프레셔, 공기조화기, 열회수환기장치, 보일러, 열교환기, 배출가스처리기, 공기정화기, 탈황기, 탈질기, 오수처리기, 폐수처리기, 냉각탑, 에너지관리시스템, 공정제어시스템, 자동화시스템, 냉동기, 증기재압축장치, 폐열회수시스템, 유수분리기, 압축기, 인버터, 용해로, 응축수회수기, 악취저감설비, 사출성형기  \n- 공고 내용에 해당 설비명이 등장하면 포함  \n- 목록 외 설비는 추가 금지  \n- 없으면 \"\"  \n\n예시:  \n\"인버터,용해로\"\n","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[3120,272],"id":"98f99587-3414-4b4e-bcaf-eaf95dc2c11e","name":"Basic LLM Chain","retryOnFail":false,"maxTries":null,"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"$id\": \"https://example.com/product.schema.json\",\n  \"title\": \"anouncement\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"pblanc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고제목 (없으면 공백처리)\"\n    },\n    \"jrsd_instt_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고지역 (없으면 공백처리)\"\n    },\n    \"bsns_sumry_cn\": {\n      \"type\": \"string\",\n      \"description\": \"공고요약 (없으면 공백처리)\"\n    },\n    \"trget_nm\": {\n      \"type\": \"string\",\n      \"description\": \"대상기업 (없으면 공백처리)\"\n    },\n    \"reqst_begin_end_de\": {\n      \"type\": \"string\",\n      \"description\": \"공고 전체 기간 (없으면 공백 처리). 형식은 yyyymmdd ~ yyyymmdd. 날짜 형식이 yyyymmdd와 일치하지 않는 경우, 시작일, 종료일을 정확히 알 수 없으면 최근 유사 공고나 관행을 참고하여 예측일을 기입할 수 있음.형식은 무조건 yyyymmdd ~ yyyymmdd 형식\"\n    },\n    \"reqst_begin_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 시작일 (없으면 공백 처리). 날짜 형식은 yyyy-mm-dd 이어야 함. 시작일을 정확히 알 수 없는 경우, 최근 유사 공고나 관행을 참고하여 예측일을 기입할 수 있음.\"\n    },\n    \"reqst_end_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 종료일 (없으면 공백 처리). 날짜 형식은 yyyy-mm-dd 이어야 함. 종료일을 정확히 알 수 없는 경우, 예산 소진 기준 등으로 한 달 후와 같은 합리적인 추정값을 사용할 수 있음.\"\n    },\n    \"reqst_mth_papers_cn\": {\n      \"type\": \"string\",\n      \"description\": \"사업신청 방법 (없으면 공백처리)\"\n    },\n    \"excInsttNm\": {\n      \"type\": \"string\",\n      \"description\": \"사업수행기관 (없으면 공백처리)\"\n    },\n    \"refrnc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"문의처내용 (없으면 공백처리)\"\n    },\n    \"print_flpth_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 주소 (없으면 공백처리)\"\n    },\n    \"print_file_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 파일명 (없으면 공백처리)\"\n    },\n    \"subsidy_amount\": {\n      \"type\": \"string\",\n      \"description\": \"지원금액, 원화로 변환 및 금액만 적시 (없으면 공백처리)\"\n    },\n    \"self_contribution_rate\": {\n      \"type\": \"string\",\n      \"description\": \"자부담률 (없으면 공백처리)\"\n    },\n    \"support_target\": {\n      \"type\": \"string\",\n      \"description\": \"지원기업 (예: 대기업, 중소기업, 대명사만 적시, 없으면 공백처리)\"\n    },\n    \"bonus_points_factors\": {\n      \"type\": \"string\",\n      \"description\": \"가점요소(간략하게, 없으면 공백처리,50자이내)\"\n    },\n    \"total_budget\": {\n      \"type\": \"string\",\n      \"description\": \"예산 (없으면 공백처리)\"\n    },\n    \"main_category\": {\n      \"type\": \"string\",\n      \"description\": \"대분류(없으면 공백)\"\n    },\n    \"sub_category\": {\n      \"type\": \"string\",\n      \"description\": \"설비분류 (없으면 공백처리)\"\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[3440,704],"id":"b3b8b852-4bb2-478f-837e-e5715a87f1cf","name":"Structured Output Parser","notesInFlow":false},{"parameters":{"modelName":"models/gemini-1.5-flash-8b-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[3136,448],"id":"bf613a09-914c-42f9-a80d-f7f2818551a9","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"Hfp6RmexqQYoBvNh","name":"Google Gemini(PaLM) Api account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('Code').item.json.output.pblanc_nm }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"={{ $('Code').item.json.output.jrsd_instt_nm }}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('Code').item.json.output.bsns_sumry_cn }}","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"={{ $('Code').item.json.output.trget_nm }}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{ $('Code').item.json.output.reqst_begin_end_de }}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $('Code').item.json.output.reqst_begin_dt }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $('Code').item.json.output.reqst_end_dt }}","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"={{ $('Code').item.json.output.refrnc_nm }}","type":"string"},{"id":"b5e49522-9965-4e13-90b1-86edf56df9c2","name":"print_flpth_nm","value":"={{ $('pdf,첨부파일분리').item.json.fileAddress }}","type":"string"},{"id":"7e662533-f931-4a90-9dfb-f1386c206c8f","name":"print_file_nm","value":"={{ $('pdf,첨부파일분리').item.json.fileName }}","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"={{ $('pdf,첨부파일분리').item.json.flpth_nm }}","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"={{ $('pdf,첨부파일분리').item.json.file_nm }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"N","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"N","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('pdf,첨부파일분리').item.json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('pdf,첨부파일분리').item.json.created_ts }}","type":"string"},{"id":"9adbcf7a-7243-4479-ab01-6b2ccb31d8a6","name":"subsidy_amount","value":"={{ $('Code').item.json.output.subsidy_amount }}","type":"string"},{"id":"b0d54477-2d5b-4aa1-8905-ca396242ddab","name":"self_contribution_rate","value":"={{ $('Code').item.json.output.self_contribution_rate }}","type":"string"},{"id":"09d5c3f0-2aa9-424f-ba57-bdd0df8ae9bf","name":"support_target","value":"={{ $('Code').item.json.output.support_target }}","type":"string"},{"id":"283f473c-7824-46ef-b963-feb711e63a22","name":"bonus_points_factors","value":"={{ $('Code').item.json.output.bonus_points_factors }}","type":"string"},{"id":"20d0efcf-9335-4130-ad6e-c50b4f37a404","name":"total_budget","value":"={{ $('Code').item.json.output.total_budget }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=https://www.keiti.re.kr{{ $('Loop Over Items1').item.json.url }}","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"한국환경산업기술원","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=한국환경산업기술원","type":"string"},{"id":"97c21176-d1a8-4f5c-a312-e5603e2e7569","name":"main_category","value":"={{ $('Code').item.json.output.main_category }}","type":"string"},{"id":"1f7c4cbd-e378-419d-8827-6007de5e6929","name":"sub_category","value":"={{ $('Code').item.json.output.sub_category }}","type":"string"},{"id":"5f567959-9da9-442d-844e-d807c9e134af","name":"reqst_mth_papers_cn","value":"={{ $('Code').item.json.output.reqst_mth_papers_cn }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4112,272],"id":"f5f53d16-dba8-41d9-92ce-376c34c1cb44","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[4496,272],"id":"ba7d2593-f734-4e01-80a4-2db6182ed691","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":2,"unit":"minutes"},"id":"b282ff21-173b-482c-bb3e-b339428f5632","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[4784,272],"webhookId":"336cc6be-07a8-4a18-800e-ccf328662461"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4304,272],"id":"3e6093d0-df41-4eb4-9633-b02631b3ec45","name":"If1","retryOnFail":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[3296,528],"id":"24ea1426-63c6-4604-bcc8-d1afe2dfc746","name":"Auto-fixing Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3296,704],"id":"bb623675-79c1-4965-b4fe-32550be77ee3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"SKDNgNmyz3uaizES","name":"OpenAi account"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.output.pblanc_nm }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[3696,272],"id":"d7be7b95-7449-4c92-add6-e55d69f818c6","name":"MySQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3856,272],"id":"538e3390-4bff-478a-b0e9-530ee95ad097","name":"If2"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.pblanc_nm) {\n    item.json.pblanc_nm = item.json.pblanc_nm.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3520,272],"id":"a544e82c-e42a-44ad-997a-c2ce3625c303","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $binary.data.fileName.split('.').pop() }}","rightValue":"=pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1632,272],"id":"cfe7f703-24d1-4304-9b1a-4e9d3b2291a2","name":"If"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"ecd1958d-5da5-4e81-b2da-c3f1ec9201f0","name":"Upload a file1","type":"n8n-nodes-base.httpRequest","position":[2224,384],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://192.168.10.133:8000/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"a142b7da-e5fe-4abd-808d-b2a4d58ddd10","name":"hwp->pdf","type":"n8n-nodes-base.httpRequest","position":[2048,384],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"0acdea15-bbf8-4edb-82ad-30d21d04cc79","name":"Upload a file2","type":"n8n-nodes-base.httpRequest","position":[2048,112],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{$json[\"id\"]}}/url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2432,272],"id":"7ea4feb6-fb81-43c1-a0e8-c77a5338c91b","name":"HTTP Request1","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"55929fbc-d155-47f7-ac93-e8fdd91f86f6","name":"do ocr1","type":"n8n-nodes-base.httpRequest","position":[2624,272],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const pages = $input.first().json.pages;\nlet combinedMarkdown = '';\n\nfor (const page of pages) {\n  combinedMarkdown += page.markdown + '\\n';  // 줄바꿈 포함해서 합치기\n}\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 통합 결과 반환\nreturn [\n  {\n    json: {\n      combinedMarkdown,\n      creat_p_nttm: formatted,\n      created_ts: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2864,272],"id":"d5d3a28b-d733-4056-8264-2d05af38a1aa","name":"Code23","onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.fileAddress }}","options":{"redirect":{"redirect":{}},"response":{"response":{"fullResponse":true,"responseFormat":"file"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,272],"id":"ea3dac5b-ad8e-41b9-93a2-13b6a1c4cb49","name":"download files1","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $json.announcement_file_exist }}","rightValue":"pdf","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1216,768],"id":"65e8a877-9f23-4ecd-83ea-be6235cb8e65","name":"if announcement file exist"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"=전지역","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('리스트 추출2').item.json.content }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"C","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $json.created_ts }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=https://www.winwinnuri.or.kr/bd/selectBdNotifyList.do","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"상생누리","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=상생누리","type":"string"},{"id":"62d2dcbe-c742-4e12-a3e1-df7714174058","name":"print_file_nm","value":"={{ $json.fileName }}","type":"string"},{"id":"11fa9db4-02b7-46e1-8333-f8c1302b6928","name":"print_flpth_nm","value":"={{ $json.fileAddress }}","type":"string"},{"id":"11a1fff9-20b9-4709-9abe-893c0bf69dc6","name":"file_nm","value":"={{ $json.file_nm }}","type":"string"},{"id":"c79d031b-8c40-4d2d-b736-631e45e87ff6","name":"flpth_nm","value":"={{ $json.flpth_nm }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1584,768],"id":"83eff75e-7b53-4ef7-9328-d10967dc5557","name":"ai result"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1968,768],"id":"97b991fa-b9ac-40dd-b365-93c012036c13","name":"MySQL2","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"87a8c018-dd93-4a56-bf8f-fa8f34e77736","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2128,768],"webhookId":"654817e6-440a-4a5f-8354-5ed28fb67571"},{"parameters":{"jsCode":"const items = $('리스트 추출2').first().json;\nconst names = items.attach_file_name || [];\nconst addresses = items.attach_file_address || [];\n\n// -------------------- baseurl (사이트마다 맞게 변경) --------------------\nconst baseUrl = \"https://www.keiti.re.kr\";\n\nlet noticeFileName = null;\nlet noticeFileAddress = null;\nlet announcement_file_exist = false;\n\nconst extraFileNames = [];\nconst extraFilePaths = [];\n\n// -------------------- 현재 시각 (KST) --------------------\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// -------------------- 파일명 전처리 --------------------\nfunction normalizeFileName(name) {\n    return name\n        ?.replace(/[\\n\\r\\t'\"]/g, \"\") // 개행, 탭, 따옴표 제거\n        .replace(/\\(파일크기:\\s*[\\d\\.]+[KMG]?B\\s*\\)$/i, \"\")\n        .trim();\n}\n\n// -------------------- 주소 → 다운로드 URL 변환 --------------------\nfunction extractFileUrl(address) {\n    if (!address) return null;\n\n    // 1. javascript:download('32415') 패턴\n    let match = address.match(/download\\('(\\d+)'\\)/);\n    if (match) {\n        const attachNo = match[1];\n        return `${baseUrl}/_custom/cms/_common/board/fira.jsp?attach_no=${attachNo}`;\n    }\n\n    // 2. fn_egov_downFile('atchFileId','fileSn')\n    match = address.match(/fn_egov_downFile\\('([^']+)','([^']+)'/);\n    if (match) {\n        const atchFileId = match[1];\n        const fileSn = match[2];\n        return `${baseUrl}/cmm/fms/FileDown.do?atchFileId=${encodeURIComponent(atchFileId)}&fileSn=${encodeURIComponent(fileSn)}`;\n    }\n\n    // 3. yhLib.file.download 패턴\n    match = address.match(/yhLib\\.file\\.download\\('([^']+)'/);\n    if (match) return `${baseUrl}/download.action?attachId=${match[1]}`;\n\n    // 4. 상대/절대 경로 처리\n    if (address.startsWith(\"./\")) return baseUrl + address.substring(1);\n    if (address.startsWith(\"http\")) return address;\n\n    return `${baseUrl}${address}`;\n}\n\n// -------------------- 파일 분류 --------------------\nfor (let i = 0; i < names.length; i++) {\n    const name = normalizeFileName(names[i]);\n    const fileUrl = extractFileUrl(addresses[i]);\n    if (!name || !fileUrl) continue;\n\n    // zip 파일은 extra로 이동\n    if (name.toLowerCase().endsWith(\".zip\")) {\n        extraFileNames.push(name);\n        extraFilePaths.push(fileUrl);\n        continue;\n    }\n\n    // 공고문 파일 우선 선택\n    if (!noticeFileName && name.includes(\"공고\")) {\n        noticeFileName = name;\n        noticeFileAddress = fileUrl;\n        announcement_file_exist = true;\n    } else {\n        extraFileNames.push(name);\n        extraFilePaths.push(fileUrl);\n    }\n}\n\n// -------------------- 공고 파일 없는 경우 대체 선택 --------------------\nif (!noticeFileName && names.length > 0) {\n    for (let i = 0; i < names.length; i++) {\n        const candidateName = normalizeFileName(names[i]);\n        const candidateUrl = extractFileUrl(addresses[i]);\n        if (!candidateName) continue;\n\n        // zip 제외 + 확장자 우선순위\n        if (!candidateName.toLowerCase().endsWith(\".zip\") &&\n            (candidateName.toLowerCase().endsWith(\".pdf\") || candidateName.toLowerCase().endsWith(\".hwp\"))) {\n            noticeFileName = candidateName;\n            noticeFileAddress = candidateUrl;\n            break;\n        }\n    }\n\n    // 그래도 없으면 첫 번째 파일\n    if (!noticeFileName) {\n        noticeFileName = normalizeFileName(names[0]);\n        noticeFileAddress = extractFileUrl(addresses[0]);\n    }\n}\n\n// -------------------- 최종 리턴 --------------------\nreturn [{\n    json: {\n        fileName: noticeFileName,\n        fileAddress: noticeFileAddress,\n        file_nm: extraFileNames.join(\"@\"),\n        flpth_nm: extraFilePaths.join(\"@\"),\n        announcement_file_exist: announcement_file_exist,\n        creat_p_nttm: formatted,\n        created_ts: formatted\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,768],"id":"e42c2a20-4633-4950-b141-e8c7c5d726b6","name":"pdf,첨부파일분리"},{"parameters":{"url":"https://www.keiti.re.kr/site/keiti/ex/board/List.do?cbIdx=277","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}},"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1104,768],"id":"9e7de1ed-487c-4feb-b17b-a0c4517b725b","name":"get detail","onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1376,912],"id":"7190361c-1cf8-4ac8-ab25-e662adb7b575","name":"Schedule Trigger"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"total_count","value":"={{ $json.date.length }}"},{"column":"type","value":"total_count"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-544,1056],"id":"b4728e19-dd6e-4fd9-b3f5-73e56efcaf12","name":"공고상태전체개수저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"jsCode":"// Function 노드 안\nreturn [\n  {\n    json: {\n      workflowName: $workflow.name,\n      insertId:$input.first().json.data.insertId\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4784,48],"id":"06525144-4a35-4ca1-ab31-8d42389db089","name":"공고상태정리"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"insertId","value":"={{ $json.insertId }}"},{"column":"type","value":"detail"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[4992,48],"id":"2ef523b3-8f3b-47dc-b1d7-3696a5a7b783","name":"공고상태상세저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}}],"connections":{"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"pdf,첨부파일분리","type":"main","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"get detail1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0},{"node":"공고상태전체개수저장","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"set cookie":{"main":[[{"node":"get cookie","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"ai result1":{"main":[[{"node":"If1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0},{"node":"공고상태정리","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"If1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"MySQL":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"ai result1","type":"main","index":0}]]},"Code":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"If":{"main":[[{"node":"Upload a file2","type":"main","index":0}],[{"node":"hwp->pdf","type":"main","index":0}]]},"Upload a file1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"hwp->pdf":{"main":[[{"node":"Upload a file1","type":"main","index":0}]]},"Upload a file2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"do ocr1","type":"main","index":0}]]},"do ocr1":{"main":[[{"node":"Code23","type":"main","index":0}]]},"Code23":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"download files1":{"main":[[{"node":"If","type":"main","index":0}]]},"if announcement file exist":{"main":[[{"node":"download files1","type":"main","index":0}],[{"node":"ai result","type":"main","index":0}]]},"ai result":{"main":[[{"node":"MySQL2","type":"main","index":0}]]},"MySQL2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"pdf,첨부파일분리":{"main":[[{"node":"if announcement file exist","type":"main","index":0}]]},"get detail":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"get detail","type":"main","index":0}]]},"공고상태정리":{"main":[[{"node":"공고상태상세저장","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ebc5ff4a-454c-41eb-98d1-e8201c78f640","triggerCount":1,"shared":[{"createdAt":"2025-06-18T00:08:55.755Z","updatedAt":"2025-06-18T00:08:55.755Z","role":"workflow:owner","workflowId":"NjJ9lFQPQIhxfm8U","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}