07.서울경제진흥원-M2x0ZVMsKjAdbOsh.json
{"createdAt":"2025-06-16T01:02:28.513Z","updatedAt":"2025-09-18T05:57:06.992Z","id":"M2x0ZVMsKjAdbOsh","name":"07.서울경제진흥원","active":true,"isArchived":false,"nodes":[{"parameters":{"mode":"raw","jsonOutput":"{\n  \"base_url\": \"https://www.sba.seoul.kr\",\n  \"board_list\": \"/Pages/BusinessApply/OngoingList.aspx\",\n  \"board_detail\": \"/Pages/BusinessApply\",\n  \"attach_url\": \"https://smc.sba.kr/AttachFiles/new_display/\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2928,-64],"id":"fff52c4c-db41-4a1b-878b-b543d08a76bc","name":"변수설정"},{"parameters":{"url":"={{ $json.base_url + $json.board_list}}","responseFormat":"string","options":{}},"name":"board list","type":"n8n-nodes-base.httpRequest","position":[-2720,-64],"typeVersion":1,"id":"ce92e607-ebe1-4c5e-a121-cba80edbd02a","onError":"continueRegularOutput"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":"td:nth-child(7)","returnValue":"attribute","attribute":"onclick","returnArray":true},{"key":"title","cssSelector":"td:nth-child(7) a.posting > span","returnArray":true},{"key":"date","cssSelector":"span[id*=\"lb_receipt_start\"]","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-2480,-64],"typeVersion":1,"id":"3b5385be-49e8-4851-b2ae-50d5626068c4"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1920,-64],"id":"3bab861c-107e-4fd9-93b7-6af32a4d8112","name":"Loop Over Items"},{"parameters":{"url":"={{ $('변수설정').item.json.base_url + $('변수설정').item.json.board_detail }}/{{ $('Loop Over Items').item.json.announcement }}","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1216,-48],"id":"28381de2-abf2-4b72-b2e7-5f69477bd550","name":"get detail","onError":"continueRegularOutput"},{"parameters":{"extractionValues":{"values":[{"key":"detail_part","cssSelector":"#new_ntxt_description","returnValue":"html","returnArray":true},{"key":"pdf_address","cssSelector":"div[style*=\"display: flex;\"] a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":false}},"name":"리스트 추출1","type":"n8n-nodes-base.htmlExtract","position":[-1056,-48],"typeVersion":1,"id":"78d8b443-6099-411c-b09b-02a8a3ba0fc6"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('금일만 적용').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"={{$('Code1').first().json.output.jrsd_instt_nm}}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{$('Code1').first().json.output.bsns_sumry_cn}}","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"={{$('Code1').first().json.output.trget_nm}}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{$('Code1').first().json.output.reqst_begin_end_de}}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $('Code1').first().json.output.reqst_begin_dt.replaceAll('. ','-').replaceAll('.','') }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $('Code1').first().json.output.reqst_end_dt.replaceAll('. ','-').replaceAll('.','') }}","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"={{$('Code1').first().json.output.refrnc_nm}}","type":"string"},{"id":"b5e49522-9965-4e13-90b1-86edf56df9c2","name":"print_flpth_nm","value":"={{$('Code1').first().json.output.print_flpth_nm}}","type":"string"},{"id":"7e662533-f931-4a90-9dfb-f1386c206c8f","name":"print_file_nm","value":"={{$('Code1').first().json.output.print_file_nm}}","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"=","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"=","type":"string"},{"id":"9f54d932-dd37-4175-b8cb-2d855891f65f","name":"subsidy_amount","value":"null","type":"object"},{"id":"8e2d8fb4-cebd-42c1-b12a-e673a77fc802","name":"self_contribution_rate","value":"null","type":"object"},{"id":"f12e819d-409d-436e-b658-684ba9ac8e30","name":"support_target","value":"null","type":"object"},{"id":"83e3ad1a-3ad2-4b72-a477-b123113b2e4a","name":"bonus_points_factors","value":"null","type":"object"},{"id":"d324fdce-53d0-453d-a211-7318d5935647","name":"total_budget","value":"null","type":"object"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"서울경제진흥원","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"N","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"N","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{$('Code1').first().json.creat_p_nttm}}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{$('Code1').first().json.created_ts}}","type":"string"},{"id":"9adbcf7a-7243-4479-ab01-6b2ccb31d8a6","name":"subsidy_amount","value":"={{$('OCR LLM Chain2').first().json.output.subsidy_amount}}","type":"string"},{"id":"b0d54477-2d5b-4aa1-8905-ca396242ddab","name":"self_contribution_rate","value":"={{$('OCR LLM Chain2').first().json.output.self_contribution_rate}}","type":"string"},{"id":"09d5c3f0-2aa9-424f-ba57-bdd0df8ae9bf","name":"support_target","value":"={{$('OCR LLM Chain2').first().json.output.support_target}}","type":"string"},{"id":"283f473c-7824-46ef-b963-feb711e63a22","name":"bonus_points_factors","value":"={{$('OCR LLM Chain2').first().json.output.bonus_points_factors}}","type":"string"},{"id":"20d0efcf-9335-4130-ad6e-c50b4f37a404","name":"total_budget","value":"={{$('OCR LLM Chain2').first().json.output.total_budget}}","type":"string"},{"id":"573cea3c-c808-4a20-bb13-674c6e5359a7","name":"flpth_nm","value":"={{$('Code1').first().json.output.flpth_nm}}","type":"string"},{"id":"1202984c-224c-44b2-abaa-aae9cd68afe3","name":"file_nm","value":"={{$('Code1').first().json.output.file_nm}}","type":"string"},{"id":"35545b90-810f-493d-bb05-f597749e3473","name":"pblanc_url","value":"={{ $('변수설정').item.json.base_url + $('변수설정').item.json.board_detail }}/{{ $('Loop Over Items').item.json.announcement }}","type":"string"},{"id":"a6b1cb8f-4d3d-483a-b5be-bae8ae177491","name":"main_category","value":"={{$('OCR LLM Chain2').first().json.output.main_category}}","type":"string"},{"id":"a37fe733-8931-438c-809f-7f5d43fb7905","name":"sub_category","value":"={{$('OCR LLM Chain2').first().json.output.sub_category}}","type":"string"},{"id":"bc37d13a-792b-439a-b8e5-9a63a8d3c588","name":"reqst_mth_papers_cn","value":"={{$('Code1').first().json.output.reqst_mth_papers_cn}}","type":"string"},{"id":"12c89d9b-35ef-46eb-84bb-4489f6895479","name":"exc_instt_nm","value":"={{$('Code1').first().json.output.excInsttNm}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1664,-48],"id":"a4192302-8451-4872-93a7-df84da314702","name":"ai result"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2112,-48],"id":"ac36eea0-df7c-4960-87da-91013589d6ae","name":"MySQL","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"5eb5c583-fd6c-4c54-9d1e-aaeb821eab5b","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2384,-48],"webhookId":"714ab157-96d1-448f-b7f5-677882b92b13"},{"parameters":{"jsCode":"const now = new Date();\n\n// KST = UTC + 9시간\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\nreturn [\n  {\n    json: {\n      ...items[0].json,\n      creat_p_nttm: formatted,\n      created_ts: formatted\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,-48],"id":"86aeaf88-6f7c-4d40-8f0c-33cf701e3ec9","name":"Code1"},{"parameters":{"promptType":"define","text":"={{ $json.detail_part }} \\n에서  \npblanc_nm(공고제목),  \njrsd_instt_nm(지역 혹은 사이트이름),  \nbsns_sumry_cn(공고요약),  \ntrget_nm(대상기업),  \nreqst_begin_end_de(공고 전체기간),  \nreqst_begin_dt(공고시작기간),  \nreqst_end_dt(공고마감기간),  \nexcInsttNm(사업수행기관),  \nreqst_mth_papers_cn(사업신청방법),  \nrefrnc_nm(문의처)  \n에 대한 정보를 알려줘.\n\n공고제목은 detail_part에서 처음 <p>를 제목으로 참고.\n\n1. reqst_begin_end_de 형식은 YYYYMMDD ~ YYYYMMDD입니다.  \n   → 이를 reqst_begin_dt, reqst_end_dt로 YYYY-MM-DD 형식으로 변환.\n\n2. 지역명은 아래 cityMap에서 value로 변환해 주세요.\n\ncityMap: {\n  \"서울\": \"서울특별시\",\n  \"부산\": \"부산광역시\",\n  \"대구\": \"대구광역시\",\n  \"인천\": \"인천광역시\",\n  \"광주\": \"광주광역시\",\n  \"대전\": \"대전광역시\",\n  \"울산\": \"울산광역시\",\n  \"세종\": \"세종특별자치시\",\n  \"경기\": \"경기도\",\n  \"강원\": \"강원도\",\n  \"충북\": \"충청북도\",\n  \"충남\": \"충청남도\",\n  \"전북\": \"전라북도\",\n  \"전남\": \"전라남도\",\n  \"경북\": \"경상북도\",\n  \"경남\": \"경상남도\",\n  \"제주\": \"제주특별자치도\",\n  \"전지역\": \"전지역\"\n}\n\ntrget_nm 값은 단일값(중소기업, 대기업 등)만 사용.\n\n---\n\n{{ $json.pdf_address }}  \n- 주소가 \"https://smc.~~\" 로 시작하는 경우만 적용  \n- pdf로 끝나는 주소는  \n  - print_flpth_nm 에 담고  \n  - 주소 마지막 파일 이름은 print_file_nm 에 담기  \n- pdf로 끝나지 않는 주소는  \n  - flpth_nm 에 담고 (여러 개일 경우 \"1@2@3\" 형태로 @ 구분)  \n  - 주소 마지막 파일 이름은 file_nm 에 담기 (여러 개일 경우 \"1@2@3\" 형태로 @ 구분)\n\n---\n\ncreat_p_nttm, created_ts는 timestamp 형식으로  \nreqst_begin_dt 값 기준으로 \"yyyy-MM-dd HH:mm:ss\" 형태로 변환.\n\n---\n\n값이 없거나 찾을 수 없으면 아래처럼 공백(\"\") 처리:\n\n{\n  \"pblanc_nm\": \"\",\n  \"jrsd_instt_nm\": \"\",\n  \"bsns_sumry_cn\": \"\",\n  \"trget_nm\": \"\",\n  \"reqst_begin_end_de\": \"\",\n  \"reqst_begin_dt\": \"\",\n  \"reqst_end_dt\": \"\",\n  \"reqst_mth_papers_cn\": \"\",\n  \"refrnc_nm\": \"\",\n  \"print_flpth_nm\": \"\",\n  \"print_file_nm\": \"\",\n  \"flpth_nm\": \"\",\n  \"file_nm\": \"\",\n  \"creat_p_nttm\": \"\",\n  \"created_ts\": \"\"\n}\n","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-880,-48],"id":"1c409250-1936-4c5b-9aa5-827abd7b032c","name":"Basic LLM Chain1","retryOnFail":false,"maxTries":null,"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"$id\": \"https://example.com/product.schema.json\",\n  \"title\": \"anouncement\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"pblanc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고제목\"\n    },\n    \"jrsd_instt_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고지역\"\n    },\n    \"bsns_sumry_cn\": {\n      \"type\": \"string\",\n      \"description\": \"공고요약\"\n    },\n    \"trget_nm\": {\n      \"type\": \"string\",\n      \"description\": \"대상기업\"\n    },\n    \"reqst_begin_end_de\": {\n      \"type\": \"string\",\n      \"description\": \"공고 전체 기간(형식은 YYYYMMDD ~ YYYYMMDD입니다)\"\n    },\n    \"reqst_begin_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 시작 기간\"\n    },\n    \"reqst_end_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 종료 기간\"\n    },\n    \"reqst_mth_papers_cn\": {\n      \"type\": \"string\",\n      \"description\": \"사업신청 방법\"\n    },\n    \"refrnc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"문의처내용\"\n    },\n    \"print_flpth_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 주소\"\n    },\n    \"print_file_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 파일명\"\n    },\n    \"flpth_nm\": {\n      \"type\": \"string\",\n      \"description\": \"첨부파일 주소\"\n    },\n    \"file_nm\": {\n      \"type\": \"string\",\n      \"description\": \"첨부파일명\"\n    },\n    \"excInsttNm\": {\n      \"type\": \"string\",\n      \"description\": \"사업수행기관 (없으면 공백처리)\"\n    }\n  },\n  \"required\": [\"pblanc_nm\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-608,352],"id":"607eb74d-8f4e-4b67-a9c9-9b5607726d53","name":"Structured Output Parser2","notesInFlow":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1872,-48],"id":"6b0113d7-0b4a-4bb0-9878-de37dfcc4a8f","name":"If","retryOnFail":false},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"cf5ea326-4d4b-419f-8495-565994cac55e","name":"Upload a file7","type":"n8n-nodes-base.httpRequest","position":[-128,-48],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{$json[\"id\"]}}/url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,-48],"id":"d3dc5623-6a45-466d-a28d-a51949972f39","name":"HTTP Request16","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"9225eb54-1993-4c4f-a2e4-a16eaab3400d","name":"do ocr7","type":"n8n-nodes-base.httpRequest","position":[240,-48],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.output.print_flpth_nm }}","options":{"response":{"response":{"responseFormat":"file"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-304,-48],"id":"102074e5-8a5b-40ca-bd78-81bf85723d48","name":"download files5","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const pages = $input.first().json.pages;\nlet combinedMarkdown = '';\n\nfor (const page of pages) {\n  combinedMarkdown += page.markdown + '\\n';  // 줄바꿈 포함해서 합치기\n}\n\nreturn [\n  {\n    json: {\n      combinedMarkdown\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,-48],"id":"20c58e87-5d96-411c-a033-1cc1817ced76","name":"Code21","onError":"continueRegularOutput"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[560,-176],"id":"179c8586-5a52-426b-bc03-991bb1846938","name":"Google Gemini Chat Model6","credentials":{"googlePalmApi":{"id":"XWAzclOTFyK0A6fs","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"$id\": \"https://example.com/subsidy.schema.json\",\n  \"title\": \"subsidy_info\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"subsidy_amount\": {\n      \"type\": \"string\",\n      \"description\": \"지원금액, 원화로 변환 및 금액만 적시\"\n    },\n    \"self_contribution_rate\": {\n      \"type\": \"string\",\n      \"description\": \"자부담률\"\n    },\n    \"support_target\": {\n      \"type\": \"string\",\n      \"description\": \"지원기업 (예: 대기업, 중소기업, 대명사만 적시)\"\n    },\n    \"bonus_points_factors\": {\n      \"type\": \"string\",\n      \"description\": \"가점요소(간략하게)\"\n    },\n    \"total_budget\": {\n      \"type\": \"string\",\n      \"description\": \"예산\"\n    },\n    \"main_category\": {\n      \"type\": \"string\",\n      \"description\": \"대분류(없으면 공백)\"\n    },\n    \"sub_category\": {\n      \"type\": \"string\",\n      \"description\": \"설비분류 (없으면 공백처리)\"\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[720,-176],"id":"9ae522db-5c1a-41ed-95d3-5946a909f20b","name":"Structured Output Parser3","notesInFlow":false},{"parameters":{"promptType":"define","text":"={{ $json.combinedMarkdown }} 위글을 읽고\nsubsidy_amount(지원금액) \nself_contribution_rate(자부담률)\nsupport_target(지원기업) (예시 대기업,중소기업)\nbonus_points_factors(가점요소)\ntotal_budget(예산)\n을 넣어줘 한국어로대답해주고,없는경우는 빈공백으로 리턴\n\n\nmain_category(대분류): 공고의 주요 분류를 다음 항목 중에서 정확하게 추출해줘.  \n해당되는 항목이 여러 개인 경우 콤마(,)로 구분해서 출력해줘.  \n아래 항목 중 적절한 키워드가 공고 내용에 존재할 경우, 가장 가까운 항목으로 판단해서 선택해줘.  \n단, 명확한 키워드가 없거나 분류하기 애매한 경우에는 빈 문자열(\"\")로 표시해줘.  \n\n[선택 가능한 항목 목록]  \n\"스마트생태공장\", \"상생협력 실증프로그램\", \"스마트공장 / 제조혁신\", \"탄소중립 / 온실가스저감\", \"FEMS 에너지효율화\", \"마케팅 / 기술인프라 구축\"\n\n\n출력 예시:  \n\"컨설팅,스마트생태공장\"\n\n---\n\nsub_category(설비분류): 공고 내용 중 다음 설비 목록에서 언급된 항목만 골라 콤마(,)로 구분하여 출력해줘.  \n유사 표현이 있을 경우 판단해서 포함해도 되지만, **아래 목록에 없는 항목은 절대 추가하지 마세요.**  \n어떤 설비도 언급되지 않았을 경우에는 빈 문자열(\"\")로 출력해줘.  \n\n[설비 목록]  \n변압기, 폐유재활용설비, 송풍기, 신재생발전설비, 집진기, 펌프, 콤프레셔, 공기조화기, 열회수환기장치, 보일러, 열교환기, 배출가스처리기, 공기정화기, 탈황기, 탈질기, 오수처리기, 폐수처리기, 냉각탑, 에너지관리시스템, 공정제어시스템, 자동화시스템, 냉동기, 증기재압축장치, 폐열회수시스템, 유수분리기, 압축기, 인버터, 용해로, 응축수회수기, 악취저감설비, 사출성형기\n\n출력 예시:  \n\"인버터,용해로\"\n\n주의사항:  \n- 설비 이름은 반드시 위 목록에서만 선택해야 하며, 새로운 항목을 생성하거나 임의로 추가하지 말 것  \n- 관련성이 낮거나 판단이 어려울 경우에도 빈 문자열(\"\")로 처리할 것  \n- 출력은 항상 문자열이며, null이 아닌 빈 문자열(\"\")로 표시","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[560,-48],"id":"8ea131e7-34df-42fe-8da9-84086b212a77","name":"OCR LLM Chain2","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[-736,208],"id":"5ca1c9d4-581f-4608-8c15-7d01e40112c7","name":"Auto-fixing Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-736,352],"id":"d776b55d-4237-4ffb-952c-861b2eb4441d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"SKDNgNmyz3uaizES","name":"OpenAi account"}}},{"parameters":{"jsCode":"const announcements = items[0]?.json?.announcements || [];\nconst title = items[0]?.json?.title || [];\nconst date = items[0]?.json?.date || [];\n\n// 어제 날짜 구하기 (yyyy-mm-dd 형식)\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yesterdayStr = yesterday.toISOString().slice(0, 10); // 예: \"2025-06-18\"\n// const yesterdayStr = '2025-06-18'\n\nreturn announcements.map(function(announcement, index) {\n  const match = announcement.match(/'([^']+)'/);\n  const extracted = match ? match[1].trim() : null;\n\n  return {\n    json: {\n      announcement: extracted,\n      title: title[index] || null,\n      date: date[index] || null\n    }\n  };\n}).filter(item => item.json.date === yesterdayStr);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2288,-64],"id":"a8e72089-8d8f-41b5-9e12-1ba5b14e121a","name":"금일만 적용"},{"parameters":{"content":"사이트 주소\nhttps://www.sba.seoul.kr/Pages/BusinessApply/OngoingList.aspx","height":80,"width":700},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3104,-176],"id":"23d807f5-9400-43b1-aae2-4d866319ee3b","name":"Sticky Note"},{"parameters":{"modelName":"models/gemini-1.5-flash-8b-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-896,208],"id":"174ce826-8965-4557-983c-052b80e1abfe","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"XWAzclOTFyK0A6fs","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1280,-48],"id":"7bcd20c8-a9cc-4c90-ba92-48ca7db74e44","name":"If2"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.output.pblanc_nm }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1120,-48],"id":"cbe54cc6-e578-492a-b5bb-d1841ff6df7c","name":"MySQL1","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.pblanc_nm) {\n    item.json.pblanc_nm = item.json.pblanc_nm.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,-48],"id":"b910ce4a-43cf-48c1-b118-d6428fb5a2af","name":"Code2"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1696,-48],"id":"b0389327-5428-4a2a-b215-6e29b2b7b66f","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1568,-48],"id":"0e870d79-3182-4d2a-8eac-276a341fcd9f","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1424,-48],"id":"b6779e7d-9c57-4bbf-ac23-6bf5ec86f45c","name":"중복조회 IF"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3248,112],"id":"9341d92f-f1e5-4fff-a791-49ea7d0abfb1","name":"Schedule Trigger"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"total_count","value":"={{ $json.date.length }}"},{"column":"type","value":"total_count"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-1888,480],"id":"b99bf740-8738-4af6-86d7-9f333b6aebe8","name":"공고상태전체개수저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"jsCode":"// Function 노드 안\nreturn [\n  {\n    json: {\n      workflowName: $workflow.name,\n      insertId:$input.first().json.data.insertId\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2384,-256],"id":"615fa29a-48bb-4f54-b445-fa139e9e254f","name":"공고상태정리"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"insertId","value":"={{ $json.insertId }}"},{"column":"type","value":"detail"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2592,-256],"id":"0d32a70a-4bd6-48ae-9271-b38c5d14e7f6","name":"공고상태상세저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}}],"connections":{"변수설정":{"main":[[{"node":"board list","type":"main","index":0}]]},"board list":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일만 적용","type":"main","index":0},{"node":"공고상태전체개수저장","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"get detail":{"main":[[{"node":"리스트 추출1","type":"main","index":0}]]},"리스트 추출1":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"ai result":{"main":[[{"node":"If","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"Wait","type":"main","index":0},{"node":"공고상태정리","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code1":{"main":[[{"node":"download files5","type":"main","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"If":{"main":[[{"node":"MySQL","type":"main","index":0}],[]]},"Upload a file7":{"main":[[{"node":"HTTP Request16","type":"main","index":0}]]},"HTTP Request16":{"main":[[{"node":"do ocr7","type":"main","index":0}]]},"download files5":{"main":[[{"node":"Upload a file7","type":"main","index":0}]]},"do ocr7":{"main":[[{"node":"Code21","type":"main","index":0}]]},"Code21":{"main":[[{"node":"OCR LLM Chain2","type":"main","index":0}]]},"Google Gemini Chat Model6":{"ai_languageModel":[[{"node":"OCR LLM Chain2","type":"ai_languageModel","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"OCR LLM Chain2","type":"ai_outputParser","index":0}]]},"OCR LLM Chain2":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"금일만 적용":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"MySQL1":{"main":[[{"node":"If2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"If2":{"main":[[{"node":"ai result","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"get detail","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"변수설정","type":"main","index":0}]]},"공고상태정리":{"main":[[{"node":"공고상태상세저장","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1fef5967-150b-4390-8c6a-2172b1c58483","triggerCount":1,"shared":[{"createdAt":"2025-06-16T01:02:28.513Z","updatedAt":"2025-06-16T01:02:28.513Z","role":"workflow:owner","workflowId":"M2x0ZVMsKjAdbOsh","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}