08.한국산업단지공단-oCdmZJMzrxcmoImq.json
{"updatedAt":"2026-07-07T00:44:58.068Z","createdAt":"2025-06-20T02:32:48.158Z","id":"oCdmZJMzrxcmoImq","name":"08.한국산업단지공단","active":true,"isArchived":false,"nodes":[{"parameters":{"mode":"raw","jsonOutput":"  {\n    \"base_url\": \"https://www.kicox.or.kr\",\n    \"board_list\": \"/boardList/1002\",\n    \"board_detail\": \"/boardDetail/1002?bbsSeq=\",\n    \"attach_url\": \"https://www.kicox.or.kr\"\n  }","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1504,960],"id":"5458c731-4f39-4994-a350-0afc4d3f5151","name":"변수설정"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":"td.tit > a","returnValue":"attribute","attribute":"onclick","returnArray":true},{"key":"title","cssSelector":"td.tit > a","returnArray":true},{"key":"date","cssSelector":"td[data-cell-header=\"게시일\"]","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-1088,960],"typeVersion":1,"id":"2ebe3e13-11b4-4054-9acc-ee78be278aa7"},{"parameters":{"url":"={{ $json.base_url }}{{ $json.board_list }}","responseFormat":"string","options":{},"headerParametersUi":{"parameter":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:143.0) Gecko/20100101 Firefox/143.0"}]}},"name":"board list","type":"n8n-nodes-base.httpRequest","position":[-1296,960],"typeVersion":1,"id":"3df568a8-a202-431d-97b4-6f20b9c3f4d9","alwaysOutputData":false,"notesInFlow":true,"executeOnce":false,"retryOnFail":false,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-640,960],"id":"b77da003-af9d-460d-b7b9-8cc6abed41a5","name":"Loop Over Items1"},{"parameters":{"url":"={{ $('변수설정').item.json.base_url }}{{ $json.announcement }}","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,960],"id":"4d3e4875-3a66-4940-9711-1d4e97700223","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"extractionValues":{"values":[{"key":"title","cssSelector":".thead .tit","returnArray":true},{"key":"attach_file_name","cssSelector":".fileDwn .box-group-area > li > p.tit","returnArray":true},{"key":"attach_file_address","cssSelector":".fileDwn .box-group-area > li .btn-wrap button:first-child","returnValue":"attribute","attribute":"onclick","returnArray":true}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[-224,960],"typeVersion":1,"id":"d163190c-c079-446f-90bc-69ca2a0fca89"},{"parameters":{"url":"={{ $json.fileAddress }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:143.0) Gecko/20100101 Firefox/143.0"},{"name":"Referer","value":" https://www.kicox.or.kr/boardDetail/1002"}]},"options":{"response":{"response":{"responseFormat":"file"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,960],"id":"9b397b64-86ca-41ed-80ca-af924e2eb789","name":"download files","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{$json[\"id\"]}}/url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,960],"id":"8935a36c-7a34-46ea-ad5b-034317ab2834","name":"HTTP Request","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"c0c35c51-285d-4bd2-9a27-1c36771533f9","name":"do ocr","type":"n8n-nodes-base.httpRequest","position":[1872,960],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const pages = $input.first().json.pages;\nlet combinedMarkdown = '';\n\nfor (const page of pages) {\n  combinedMarkdown += page.markdown + '\\n';  // 줄바꿈 포함해서 합치기\n}\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 통합 결과 반환\nreturn [\n  {\n    json: {\n      combinedMarkdown,\n      creat_p_nttm: formatted,\n      created_ts: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2112,960],"id":"3c55c849-1b47-4e99-87da-bac181716e1b","name":"Code22","onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"={{ $json.combinedMarkdown }} \\n에서 pblanc_nm(공고제목), jrsd_instt_nm(지역 혹은 사이트이름), bsns_sumry_cn(공고요약), trget_nm(대상기업), reqst_begin_end_de(공고 전체기간), reqst_begin_dt(공고시작기간), reqst_end_dt(공고마감기간), reqst_mth_papers_cn(사업신청방법), refrnc_nm(문의처) subsidy_amount(지원금액) self_contribution_rate(자부담률) support_target(지원기업) (예시 대기업,중소기업) bonus_points_factors(가점요소) total_budget(예산) 에 대한 정보를 알려줘\n\n공고제목은 detail_part에서 처음 <p>를제목으로참고\n\n1. reqst_begin_end_de 형식은 YYYYMMDD ~ YYYYMMDD입니다.  \n   → 이를 reqst_begin_dt, reqst_end_dt로 YYYY-MM-DD 형식으로 바꿔주세요.\n\n2. 지역명은 아래 cityMap에서 value로 변환해 주세요.\n\ncityMap: {\n  \"서울\": \"서울특별시\",\n  \"부산\": \"부산광역시\",\n  \"대구\": \"대구광역시\",\n  \"인천\": \"인천광역시\",\n  \"광주\": \"광주광역시\",\n  \"대전\": \"대전광역시\",\n  \"울산\": \"울산광역시\",\n  \"세종\": \"세종특별자치시\",\n  \"경기\": \"경기도\",\n  \"강원\": \"강원도\",\n  \"충북\": \"충청북도\",\n  \"충남\": \"충청남도\",\n  \"전북\": \"전라북도\",\n  \"전남\": \"전라남도\",\n  \"경북\": \"경상북도\",\n  \"경남\": \"경상남도\",\n  \"제주\": \"제주특별자치도\",\n  \"전지역\": \"전지역\"\n}\ntrget_nm값은 단일값 중소기업, 대기업 등\n\n\n  print_flpth_nm: {{ $('변수설정').item.json.attach_url }}{{ $('pdf,첨부파일분리').item.json.fileAddress }},\n  print_file_nm\": {{ $('pdf,첨부파일분리').item.json.fileName }},\n  creat_p_nttm\":  {{ $json.creat_p_nttm }},\n  created_ts\":  {{ $json.created_ts }},\n\n\n\ncreat_p_nttm,created_ts는 timestamp형식으로 reqst_begin_dt값으로\nyyyy-mm-dd hh:mm:ss\n\n값이 없거나 찾을수 없으면\n\n  \"pblanc_nm\": \"\",\n  \"jrsd_instt_nm\": \"\",\n  \"bsns_sumry_cn\": \"\",\n  \"trget_nm\": \"\",\n  \"reqst_begin_end_de\": \"\",\n  \"reqst_begin_dt\": \"\",\n  \"reqst_end_dt\": \"\",\n  \"reqst_mth_papers_cn\": \"\",\n  \"refrnc_nm\": \"\",\n  \"print_flpth_nm\": \"\",\n  \"print_file_nm\": \"\",\n  \"flpth_nm\": \"\",\n  \"file_nm\": \"\",\n  \"creat_p_nttm\": \"\",\n  \"created_ts\": \"\" ,\n  \"subsidy_amount\":\"\", \n  \"self_contribution_rate\":\"\" ,\n  \"support_target\":\"\",\n  \"bonus_points_factors\":\"\",\n  \"total_budget\":\"\"\n공백으로 대체\n\n\n값이 없으면 공백으로 넣어줘 \"\"\n\n\n\nmain_category(대분류): 공고의 주요 분류를 다음 항목 중에서 정확하게 추출해줘.  \n해당되는 항목이 여러 개인 경우 콤마(,)로 구분해서 출력해줘.  \n아래 항목 중 적절한 키워드가 공고 내용에 존재할 경우, 가장 가까운 항목으로 판단해서 선택해줘.  \n단, 명확한 키워드가 없거나 분류하기 애매한 경우에는 빈 문자열(\"\")로 표시해줘.  \n\n[선택 가능한 항목 목록]  \n\"스마트생태공장\", \"상생협력 실증프로그램\", \"스마트공장 / 제조혁신\", \"탄소중립 / 온실가스저감\", \"FEMS 에너지효율화\", \"마케팅 / 기술인프라 구축\"\n\n\n출력 예시:  \n\"컨설팅,스마트생태공장\"\n\n---\n\nsub_category(설비분류): 공고 내용 중 다음 설비 목록에서 언급된 항목만 골라 콤마(,)로 구분하여 출력해줘.  \n유사 표현이 있을 경우 판단해서 포함해도 되지만, **아래 목록에 없는 항목은 절대 추가하지 마세요.**  \n어떤 설비도 언급되지 않았을 경우에는 빈 문자열(\"\")로 출력해줘.  \n\n[설비 목록]  \n변압기, 폐유재활용설비, 송풍기, 신재생발전설비, 집진기, 펌프, 콤프레셔, 공기조화기, 열회수환기장치, 보일러, 열교환기, 배출가스처리기, 공기정화기, 탈황기, 탈질기, 오수처리기, 폐수처리기, 냉각탑, 에너지관리시스템, 공정제어시스템, 자동화시스템, 냉동기, 증기재압축장치, 폐열회수시스템, 유수분리기, 압축기, 인버터, 용해로, 응축수회수기, 악취저감설비, 사출성형기\n\n출력 예시:  \n\"인버터,용해로\"\n\n주의사항:  \n- 설비 이름은 반드시 위 목록에서만 선택해야 하며, 새로운 항목을 생성하거나 임의로 추가하지 말 것  \n- 관련성이 낮거나 판단이 어려울 경우에도 빈 문자열(\"\")로 처리할 것  \n- 출력은 항상 문자열이며, null이 아닌 빈 문자열(\"\")로 표시","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[2368,960],"id":"d6934344-b8a7-45ee-b07b-f8a1be845f75","name":"Basic LLM Chain","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"$id\": \"https://example.com/product.schema.json\",\n  \"title\": \"anouncement\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"pblanc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고제목 (없으면 공백처리)\"\n    },\n    \"jrsd_instt_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고지역 (없으면 공백처리)\"\n    },\n    \"bsns_sumry_cn\": {\n      \"type\": \"string\",\n      \"description\": \"공고요약 (없으면 공백처리)\"\n    },\n    \"trget_nm\": {\n      \"type\": \"string\",\n      \"description\": \"대상기업 (없으면 공백처리)\"\n    },\n    \"reqst_begin_end_de\": {\n      \"type\": \"string\",\n      \"description\": \"공고 전체 기간 (없으면 공백 처리). 형식은 yyyymmdd ~ yyyymmdd. 날짜 형식이 yyyymmdd와 일치하지 않는 경우, 시작일, 종료일을 정확히 알 수 없으면 최근 유사 공고나 관행을 참고하여 예측일을 기입할 수 있음.형식은 무조건 yyyymmdd ~ yyyymmdd 형식\"\n    },\n    \"reqst_begin_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 시작일 (없으면 공백 처리). 날짜 형식은 yyyy-mm-dd 이어야 함. 시작일을 정확히 알 수 없는 경우, 최근 유사 공고나 관행을 참고하여 예측일을 기입할 수 있음.\"\n    },\n    \"reqst_end_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 종료일 (없으면 공백 처리). 날짜 형식은 yyyy-mm-dd 이어야 함. 종료일을 정확히 알 수 없는 경우, 예산 소진 기준 등으로 한 달 후와 같은 합리적인 추정값을 사용할 수 있음.\"\n    },\n    \"reqst_mth_papers_cn\": {\n      \"type\": \"string\",\n      \"description\": \"사업신청 방법 (없으면 공백처리)\"\n    },\n    \"excInsttNm\": {\n      \"type\": \"string\",\n      \"description\": \"사업수행기관 (없으면 공백처리)\"\n    },\n    \"refrnc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"문의처내용 (없으면 공백처리)\"\n    },\n    \"print_flpth_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 주소 (없으면 공백처리)\"\n    },\n    \"print_file_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 파일명 (없으면 공백처리)\"\n    },\n    \"subsidy_amount\": {\n      \"type\": \"string\",\n      \"description\": \"지원금액, 원화로 변환 및 금액만 적시 (없으면 공백처리)\"\n    },\n    \"self_contribution_rate\": {\n      \"type\": \"string\",\n      \"description\": \"자부담률 (없으면 공백처리)\"\n    },\n    \"support_target\": {\n      \"type\": \"string\",\n      \"description\": \"지원기업 (예: 대기업, 중소기업, 대명사만 적시, 없으면 공백처리)\"\n    },\n    \"bonus_points_factors\": {\n      \"type\": \"string\",\n      \"description\": \"가점요소(간략하게, 없으면 공백처리,50자이내)\"\n    },\n    \"total_budget\": {\n      \"type\": \"string\",\n      \"description\": \"예산 (없으면 공백처리)\"\n    },\n    \"main_category\": {\n      \"type\": \"string\",\n      \"description\": \"대분류(없으면 공백)\"\n    },\n    \"sub_category\": {\n      \"type\": \"string\",\n      \"description\": \"설비분류 (없으면 공백처리)\"\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2688,1392],"id":"19d246ba-8528-4c62-8036-0803cf533839","name":"Structured Output Parser","notesInFlow":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2384,1136],"id":"b91b1eba-a62a-459b-80df-15403f79798b","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"XWAzclOTFyK0A6fs","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('금일 기준').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"={{$('Code2').first().json.output.jrsd_instt_nm}}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('Code2').first().json.output.bsns_sumry_cn }}","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"={{ $('Code2').first().json.output.trget_nm }}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{ $('Code2').first().json.output.reqst_begin_end_de }}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $('Code2').first().json.output.reqst_begin_dt }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $('Code2').first().json.output.reqst_end_dt }}","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"={{ $('Code2').first().json.output.refrnc_nm }}","type":"string"},{"id":"b5e49522-9965-4e13-90b1-86edf56df9c2","name":"print_flpth_nm","value":"={{ $('pdf,첨부파일분리').item.json.fileAddress }}","type":"string"},{"id":"7e662533-f931-4a90-9dfb-f1386c206c8f","name":"print_file_nm","value":"={{ $('Code2').first().json.output.print_file_nm }}","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"={{ $('pdf,첨부파일분리').item.json.flpth_nm }}","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"={{ $('pdf,첨부파일분리').item.json.file_nm }}","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"한국산업단지공단","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"N","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"N","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('Code22').item.json.created_ts }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('Code22').item.json.created_ts }}","type":"string"},{"id":"9adbcf7a-7243-4479-ab01-6b2ccb31d8a6","name":"subsidy_amount","value":"={{ $('Code2').first().json.output.subsidy_amount }}","type":"string"},{"id":"b0d54477-2d5b-4aa1-8905-ca396242ddab","name":"self_contribution_rate","value":"={{ $('Code2').first().json.output.self_contribution_rate }}","type":"string"},{"id":"09d5c3f0-2aa9-424f-ba57-bdd0df8ae9bf","name":"support_target","value":"={{ $('Code2').first().json.output.support_target }}","type":"string"},{"id":"283f473c-7824-46ef-b963-feb711e63a22","name":"=bonus_points_factors","value":"={{ $('Code2').first().json.output.bonus_points_factors }}","type":"string"},{"id":"20d0efcf-9335-4130-ad6e-c50b4f37a404","name":"total_budget","value":"={{ $('Code2').first().json.output.total_budget }}","type":"string"},{"id":"b1d6088d-2a99-454a-8def-99f995e421d6","name":"pblanc_url","value":"={{ $('변수설정').item.json.base_url }}{{ $('금일 기준').item.json.announcement }}","type":"string"},{"id":"0056c9cb-0ff9-474f-9f0b-6feda5169c3f","name":"main_category","value":"={{$('Code2').first().json.output.main_category}}","type":"string"},{"id":"feaaf4fe-697e-4814-b2c2-1385b853211c","name":"sub_category","value":"={{$('Code2').first().json.output.sub_category}}","type":"string"},{"id":"9969a4e3-9006-4fbc-8976-74444490f684","name":"reqst_mth_papers_cn","value":"={{$('Code2').first().json.output.reqst_mth_papers_cn}}","type":"string"},{"id":"8ccfc5b5-8ea5-4fc6-8739-4a8671ece578","name":"exc_instt_nm","value":"={{$('Code2').first().json.output.excInsttNm}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3312,960],"id":"eed4a30c-6c8e-4935-b317-36c1fd945a9f","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[3680,960],"id":"5162ec8e-2288-4cc0-b5f9-fd059e26f533","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"dc833e83-7b2d-437c-8b6c-51e7f2130d6c","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[3840,960],"webhookId":"27d8ebf7-bb5d-46de-b07c-f6f4d65f8e98"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3488,960],"id":"d961f60d-1893-4317-99f8-c1a1acd4237e","name":"If1","retryOnFail":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[2544,1216],"id":"844e1efb-cfe9-46b7-bb9e-5de8d5ff4db0","name":"Auto-fixing Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2544,1392],"id":"82410aa2-16f1-4f6a-a648-2fe1f6c1f12b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"SKDNgNmyz3uaizES","name":"OpenAi account"}}},{"parameters":{"jsCode":"  const items = $input.all();\n  const onclicks = items[0]?.json?.announcements || [];\n  const titles = items[0]?.json?.title || [];\n  const dates = items[0]?.json?.date || [];\n\n  const detailPath = \"/boardDetail/1002?bbsSeq=\";\n\n  // 어제 날짜 (KST)\n  const now = new Date();\n  const kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n  kst.setDate(kst.getDate() - 1);\n  const yyyy = kst.getFullYear();\n  const mm = String(kst.getMonth() + 1).padStart(2, '0');\n  const dd = String(kst.getDate()).padStart(2, '0');\n  let yesterdayStr = `${yyyy}-${mm}-${dd}`;\n\n  // yesterdayStr = '2026-07-04'; // ⭐ 테스트용 (확인 후 이 줄 삭제)\n\n  return onclicks.map(function (onclick, index) {\n    // bbsArticleDet('48669') → 48669 추출\n    const m = (onclick || '').match(/bbsArticleDet\\('(\\d+)'\\)/);\n    const seq = m ? m[1] : null;\n\n    return {\n      json: {\n        announcement: seq ? detailPath + seq : null,  // /boardDetail/1002?bbsSeq=48669\n        seq: seq,\n        title: (titles[index] || '').trim(),\n        date: (dates[index] || '').trim()\n      }\n    };\n  }).filter(item => item.json.seq && item.json.date === yesterdayStr);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,960],"id":"d9e43750-8524-42bd-a9dd-65a66f47728e","name":"금일 기준"},{"parameters":{"jsCode":"  const names = $('리스트 추출2').first().json.attach_file_name || [];\n  const onclicks = $('리스트 추출2').first().json.attach_file_address || [];\n  const baseUrl = \"https://www.kicox.or.kr\";\n\n  // 파일명 정리 ([hwpx, 537 KB] 같은 용량표기 제거)\n  function cleanName(n) {\n    return (n || '').replace(/\\s*\\[[^\\]]*\\]\\s*$/, '').replace(/\\s+/g, ' ').trim();\n  }\n  // fnFileDownload('149184','seq') → 다운로드 URL\n  function toUrl(onclick) {\n    const m = (onclick || '').match(/fnFileDownload\\('([^']+)'\\s*,\\s*'([^']+)'\\)/);\n    return m ? `${baseUrl}/api/fnFile/commonFileDownload/${m[1]}/${m[2]}` : null;\n  }\n\n  let noticeFileName = null, noticeFileAddress = null;\n  const extraNames = [], extraPaths = [];\n\n  for (let i = 0; i < names.length; i++) {\n    const name = cleanName(names[i]);\n    const url = toUrl(onclicks[i]);\n    if (!name || !url) continue;\n\n    if (name.toLowerCase().endsWith('.zip')) {\n      extraNames.push(name); extraPaths.push(url); continue;\n    }\n    if (name.includes('공고') && !noticeFileName) {\n      noticeFileName = name; noticeFileAddress = url;\n    } else {\n      extraNames.push(name); extraPaths.push(url);\n    }\n  }\n  // 공고 파일 없으면 첫 비-zip 파일\n  if (!noticeFileName) {\n    for (let i = 0; i < names.length; i++) {\n      const name = cleanName(names[i]);\n      const url = toUrl(onclicks[i]);\n      if (name && url && !name.toLowerCase().endsWith('.zip')) {\n        noticeFileName = name; noticeFileAddress = url; break;\n      }\n    }\n  }\n\n  return [{\n    json: {\n      fileName: noticeFileName,\n      fileAddress: noticeFileAddress,\n      file_nm: extraNames.join('@'),\n      flpth_nm: extraPaths.join('@')\n    }\n  }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,960],"id":"0d999d8d-20d7-4ef3-ac0f-87a475614499","name":"pdf,첨부파일분리"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $binary.data.fileName.split('.').pop() }}","rightValue":"=pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[880,960],"id":"581950bc-e5a2-44a7-aa89-7d60cd7ad80f","name":"If"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"26531caa-6896-49f1-8818-6367bfd30094","name":"Upload a file1","type":"n8n-nodes-base.httpRequest","position":[1472,1072],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://192.168.10.133:8000/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"ee69177b-9037-4bef-a32b-134eedd41ea4","name":"hwp->pdf","type":"n8n-nodes-base.httpRequest","position":[1296,1072],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"cb906749-08ca-4db8-9792-5b4ab8336c84","name":"Upload a file2","type":"n8n-nodes-base.httpRequest","position":[1296,800],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"content":"사이트 주소\nhttps://www.kicox.or.kr/user/bbs/BD_selectBbsList.do?q_bbsCode=1016","height":80,"width":530},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1344,848],"id":"51de02fa-8898-4aec-aa07-d34092fab95d","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3088,960],"id":"b93fb7cd-d9d5-4c45-8512-81302db995fc","name":"If2"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.pblanc_nm) {\n    item.json.pblanc_nm = item.json.pblanc_nm.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2752,960],"id":"e96ff294-6e7f-4e0e-95d6-54558a85a129","name":"Code2"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.output.pblanc_nm }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2928,960],"id":"b5728968-6413-4aea-9efb-19303be774bd","name":"MySQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"jsCode":"let title = $input.first().json.title[0] || '';\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,720],"id":"48aa7419-11eb-41a1-9c2b-9f2a0ea37d8b","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[64,720],"id":"7519b730-26bc-45d0-aea8-fb0f32024607","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,720],"id":"7d7823e7-fcf2-4096-9334-73bc983d8ee6","name":"중복조회 IF"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1808,1248],"id":"47caad90-8a4f-471a-93de-9b2b64347d54","name":"Schedule Trigger"},{"parameters":{"jsCode":"// Function 노드 안\nreturn [\n  {\n    json: {\n      workflowName: $workflow.name,\n      insertId: $input.first().json?.data?.insertId ?? null\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3840,768],"id":"1e28bca1-48e9-450a-998e-b6b33ae095d6","name":"공고상태정리"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"insertId","value":"={{ $json.insertId }}"},{"column":"type","value":"detail"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[4048,768],"id":"385555a9-48d5-4795-b03b-e30c8490f948","name":"공고상태상세저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"total_count","value":"={{ $json.date.length }}"},{"column":"type","value":"total_count"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-640,1328],"id":"c97a009b-24d8-4b84-a363-3f3d0693b918","name":"공고상태전체개수저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b1c2d3e4-0000-0000-0000-000000000003","leftValue":"={{ ($json.combinedMarkdown || '').trim().length > 0 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c583fbbd-3412-4890-b02f-503a6c385575","name":"내용있음?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2240,768]},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  for (const k of ['reqst_begin_dt', 'reqst_end_dt']) {\n    if (!item.json[k]) item.json[k] = null;\n  }\n}\nreturn $input.all();"},"id":"9a904123-3038-4532-ac11-a45313ad2f5f","name":"빈날짜 null","type":"n8n-nodes-base.code","typeVersion":2,"position":[3584,1152]}],"connections":{"변수설정":{"main":[[{"node":"board list","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0},{"node":"공고상태전체개수저장","type":"main","index":0}]]},"board list":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"get detail1","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"중복 자료 조회","type":"main","index":0}]]},"download files":{"main":[[{"node":"If","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"do ocr","type":"main","index":0}]]},"do ocr":{"main":[[{"node":"Code22","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"ai result1":{"main":[[{"node":"If1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0},{"node":"공고상태정리","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"pdf,첨부파일분리":{"main":[[{"node":"download files","type":"main","index":0}]]},"If":{"main":[[{"node":"Upload a file2","type":"main","index":0}],[{"node":"hwp->pdf","type":"main","index":0}]]},"Upload a file1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"hwp->pdf":{"main":[[{"node":"Upload a file1","type":"main","index":0}]]},"Upload a file2":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"If2":{"main":[[{"node":"ai result1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"If2","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"pdf,첨부파일분리","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"변수설정","type":"main","index":0}]]},"공고상태정리":{"main":[[{"node":"공고상태상세저장","type":"main","index":0}]]},"Code22":{"main":[[{"node":"내용있음?","type":"main","index":0}]]},"내용있음?":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"If1":{"main":[[{"node":"빈날짜 null","type":"main","index":0}]]},"빈날짜 null":{"main":[[{"node":"MySQL1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5ce7af1b-6f48-4bde-be1f-5dce312a069c","activeVersionId":"5ce7af1b-6f48-4bde-be1f-5dce312a069c","triggerCount":1,"shared":[{"updatedAt":"2025-06-20T02:32:48.158Z","createdAt":"2025-06-20T02:32:48.158Z","role":"workflow:owner","workflowId":"oCdmZJMzrxcmoImq","projectId":"YGqg9zdxGQSC73yC"}],"activeVersion":{"updatedAt":"2026-07-07T00:44:59.896Z","createdAt":"2026-07-07T00:44:57.333Z","versionId":"5ce7af1b-6f48-4bde-be1f-5dce312a069c","workflowId":"oCdmZJMzrxcmoImq","nodes":[{"parameters":{"mode":"raw","jsonOutput":"  {\n    \"base_url\": \"https://www.kicox.or.kr\",\n    \"board_list\": \"/boardList/1002\",\n    \"board_detail\": \"/boardDetail/1002?bbsSeq=\",\n    \"attach_url\": \"https://www.kicox.or.kr\"\n  }","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1504,960],"id":"5458c731-4f39-4994-a350-0afc4d3f5151","name":"변수설정"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":"td.tit > a","returnValue":"attribute","attribute":"onclick","returnArray":true},{"key":"title","cssSelector":"td.tit > a","returnArray":true},{"key":"date","cssSelector":"td[data-cell-header=\"게시일\"]","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-1088,960],"typeVersion":1,"id":"2ebe3e13-11b4-4054-9acc-ee78be278aa7"},{"parameters":{"url":"={{ $json.base_url }}{{ $json.board_list }}","responseFormat":"string","options":{},"headerParametersUi":{"parameter":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:143.0) Gecko/20100101 Firefox/143.0"}]}},"name":"board list","type":"n8n-nodes-base.httpRequest","position":[-1296,960],"typeVersion":1,"id":"3df568a8-a202-431d-97b4-6f20b9c3f4d9","alwaysOutputData":false,"notesInFlow":true,"executeOnce":false,"retryOnFail":false,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-640,960],"id":"b77da003-af9d-460d-b7b9-8cc6abed41a5","name":"Loop Over Items1"},{"parameters":{"url":"={{ $('변수설정').item.json.base_url }}{{ $json.announcement }}","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,960],"id":"4d3e4875-3a66-4940-9711-1d4e97700223","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"extractionValues":{"values":[{"key":"title","cssSelector":".thead .tit","returnArray":true},{"key":"attach_file_name","cssSelector":".fileDwn .box-group-area > li > p.tit","returnArray":true},{"key":"attach_file_address","cssSelector":".fileDwn .box-group-area > li .btn-wrap button:first-child","returnValue":"attribute","attribute":"onclick","returnArray":true}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[-224,960],"typeVersion":1,"id":"d163190c-c079-446f-90bc-69ca2a0fca89"},{"parameters":{"url":"={{ $json.fileAddress }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:143.0) Gecko/20100101 Firefox/143.0"},{"name":"Referer","value":" https://www.kicox.or.kr/boardDetail/1002"}]},"options":{"response":{"response":{"responseFormat":"file"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,960],"id":"9b397b64-86ca-41ed-80ca-af924e2eb789","name":"download files","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{$json[\"id\"]}}/url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,960],"id":"8935a36c-7a34-46ea-ad5b-034317ab2834","name":"HTTP Request","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"c0c35c51-285d-4bd2-9a27-1c36771533f9","name":"do ocr","type":"n8n-nodes-base.httpRequest","position":[1872,960],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const pages = $input.first().json.pages;\nlet combinedMarkdown = '';\n\nfor (const page of pages) {\n  combinedMarkdown += page.markdown + '\\n';  // 줄바꿈 포함해서 합치기\n}\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 통합 결과 반환\nreturn [\n  {\n    json: {\n      combinedMarkdown,\n      creat_p_nttm: formatted,\n      created_ts: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2112,960],"id":"3c55c849-1b47-4e99-87da-bac181716e1b","name":"Code22","onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"={{ $json.combinedMarkdown }} \\n에서 pblanc_nm(공고제목), jrsd_instt_nm(지역 혹은 사이트이름), bsns_sumry_cn(공고요약), trget_nm(대상기업), reqst_begin_end_de(공고 전체기간), reqst_begin_dt(공고시작기간), reqst_end_dt(공고마감기간), reqst_mth_papers_cn(사업신청방법), refrnc_nm(문의처) subsidy_amount(지원금액) self_contribution_rate(자부담률) support_target(지원기업) (예시 대기업,중소기업) bonus_points_factors(가점요소) total_budget(예산) 에 대한 정보를 알려줘\n\n공고제목은 detail_part에서 처음 <p>를제목으로참고\n\n1. reqst_begin_end_de 형식은 YYYYMMDD ~ YYYYMMDD입니다.  \n   → 이를 reqst_begin_dt, reqst_end_dt로 YYYY-MM-DD 형식으로 바꿔주세요.\n\n2. 지역명은 아래 cityMap에서 value로 변환해 주세요.\n\ncityMap: {\n  \"서울\": \"서울특별시\",\n  \"부산\": \"부산광역시\",\n  \"대구\": \"대구광역시\",\n  \"인천\": \"인천광역시\",\n  \"광주\": \"광주광역시\",\n  \"대전\": \"대전광역시\",\n  \"울산\": \"울산광역시\",\n  \"세종\": \"세종특별자치시\",\n  \"경기\": \"경기도\",\n  \"강원\": \"강원도\",\n  \"충북\": \"충청북도\",\n  \"충남\": \"충청남도\",\n  \"전북\": \"전라북도\",\n  \"전남\": \"전라남도\",\n  \"경북\": \"경상북도\",\n  \"경남\": \"경상남도\",\n  \"제주\": \"제주특별자치도\",\n  \"전지역\": \"전지역\"\n}\ntrget_nm값은 단일값 중소기업, 대기업 등\n\n\n  print_flpth_nm: {{ $('변수설정').item.json.attach_url }}{{ $('pdf,첨부파일분리').item.json.fileAddress }},\n  print_file_nm\": {{ $('pdf,첨부파일분리').item.json.fileName }},\n  creat_p_nttm\":  {{ $json.creat_p_nttm }},\n  created_ts\":  {{ $json.created_ts }},\n\n\n\ncreat_p_nttm,created_ts는 timestamp형식으로 reqst_begin_dt값으로\nyyyy-mm-dd hh:mm:ss\n\n값이 없거나 찾을수 없으면\n\n  \"pblanc_nm\": \"\",\n  \"jrsd_instt_nm\": \"\",\n  \"bsns_sumry_cn\": \"\",\n  \"trget_nm\": \"\",\n  \"reqst_begin_end_de\": \"\",\n  \"reqst_begin_dt\": \"\",\n  \"reqst_end_dt\": \"\",\n  \"reqst_mth_papers_cn\": \"\",\n  \"refrnc_nm\": \"\",\n  \"print_flpth_nm\": \"\",\n  \"print_file_nm\": \"\",\n  \"flpth_nm\": \"\",\n  \"file_nm\": \"\",\n  \"creat_p_nttm\": \"\",\n  \"created_ts\": \"\" ,\n  \"subsidy_amount\":\"\", \n  \"self_contribution_rate\":\"\" ,\n  \"support_target\":\"\",\n  \"bonus_points_factors\":\"\",\n  \"total_budget\":\"\"\n공백으로 대체\n\n\n값이 없으면 공백으로 넣어줘 \"\"\n\n\n\nmain_category(대분류): 공고의 주요 분류를 다음 항목 중에서 정확하게 추출해줘.  \n해당되는 항목이 여러 개인 경우 콤마(,)로 구분해서 출력해줘.  \n아래 항목 중 적절한 키워드가 공고 내용에 존재할 경우, 가장 가까운 항목으로 판단해서 선택해줘.  \n단, 명확한 키워드가 없거나 분류하기 애매한 경우에는 빈 문자열(\"\")로 표시해줘.  \n\n[선택 가능한 항목 목록]  \n\"스마트생태공장\", \"상생협력 실증프로그램\", \"스마트공장 / 제조혁신\", \"탄소중립 / 온실가스저감\", \"FEMS 에너지효율화\", \"마케팅 / 기술인프라 구축\"\n\n\n출력 예시:  \n\"컨설팅,스마트생태공장\"\n\n---\n\nsub_category(설비분류): 공고 내용 중 다음 설비 목록에서 언급된 항목만 골라 콤마(,)로 구분하여 출력해줘.  \n유사 표현이 있을 경우 판단해서 포함해도 되지만, **아래 목록에 없는 항목은 절대 추가하지 마세요.**  \n어떤 설비도 언급되지 않았을 경우에는 빈 문자열(\"\")로 출력해줘.  \n\n[설비 목록]  \n변압기, 폐유재활용설비, 송풍기, 신재생발전설비, 집진기, 펌프, 콤프레셔, 공기조화기, 열회수환기장치, 보일러, 열교환기, 배출가스처리기, 공기정화기, 탈황기, 탈질기, 오수처리기, 폐수처리기, 냉각탑, 에너지관리시스템, 공정제어시스템, 자동화시스템, 냉동기, 증기재압축장치, 폐열회수시스템, 유수분리기, 압축기, 인버터, 용해로, 응축수회수기, 악취저감설비, 사출성형기\n\n출력 예시:  \n\"인버터,용해로\"\n\n주의사항:  \n- 설비 이름은 반드시 위 목록에서만 선택해야 하며, 새로운 항목을 생성하거나 임의로 추가하지 말 것  \n- 관련성이 낮거나 판단이 어려울 경우에도 빈 문자열(\"\")로 처리할 것  \n- 출력은 항상 문자열이며, null이 아닌 빈 문자열(\"\")로 표시","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[2368,960],"id":"d6934344-b8a7-45ee-b07b-f8a1be845f75","name":"Basic LLM Chain","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"$id\": \"https://example.com/product.schema.json\",\n  \"title\": \"anouncement\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"pblanc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고제목 (없으면 공백처리)\"\n    },\n    \"jrsd_instt_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고지역 (없으면 공백처리)\"\n    },\n    \"bsns_sumry_cn\": {\n      \"type\": \"string\",\n      \"description\": \"공고요약 (없으면 공백처리)\"\n    },\n    \"trget_nm\": {\n      \"type\": \"string\",\n      \"description\": \"대상기업 (없으면 공백처리)\"\n    },\n    \"reqst_begin_end_de\": {\n      \"type\": \"string\",\n      \"description\": \"공고 전체 기간 (없으면 공백 처리). 형식은 yyyymmdd ~ yyyymmdd. 날짜 형식이 yyyymmdd와 일치하지 않는 경우, 시작일, 종료일을 정확히 알 수 없으면 최근 유사 공고나 관행을 참고하여 예측일을 기입할 수 있음.형식은 무조건 yyyymmdd ~ yyyymmdd 형식\"\n    },\n    \"reqst_begin_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 시작일 (없으면 공백 처리). 날짜 형식은 yyyy-mm-dd 이어야 함. 시작일을 정확히 알 수 없는 경우, 최근 유사 공고나 관행을 참고하여 예측일을 기입할 수 있음.\"\n    },\n    \"reqst_end_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 종료일 (없으면 공백 처리). 날짜 형식은 yyyy-mm-dd 이어야 함. 종료일을 정확히 알 수 없는 경우, 예산 소진 기준 등으로 한 달 후와 같은 합리적인 추정값을 사용할 수 있음.\"\n    },\n    \"reqst_mth_papers_cn\": {\n      \"type\": \"string\",\n      \"description\": \"사업신청 방법 (없으면 공백처리)\"\n    },\n    \"excInsttNm\": {\n      \"type\": \"string\",\n      \"description\": \"사업수행기관 (없으면 공백처리)\"\n    },\n    \"refrnc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"문의처내용 (없으면 공백처리)\"\n    },\n    \"print_flpth_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 주소 (없으면 공백처리)\"\n    },\n    \"print_file_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 파일명 (없으면 공백처리)\"\n    },\n    \"subsidy_amount\": {\n      \"type\": \"string\",\n      \"description\": \"지원금액, 원화로 변환 및 금액만 적시 (없으면 공백처리)\"\n    },\n    \"self_contribution_rate\": {\n      \"type\": \"string\",\n      \"description\": \"자부담률 (없으면 공백처리)\"\n    },\n    \"support_target\": {\n      \"type\": \"string\",\n      \"description\": \"지원기업 (예: 대기업, 중소기업, 대명사만 적시, 없으면 공백처리)\"\n    },\n    \"bonus_points_factors\": {\n      \"type\": \"string\",\n      \"description\": \"가점요소(간략하게, 없으면 공백처리,50자이내)\"\n    },\n    \"total_budget\": {\n      \"type\": \"string\",\n      \"description\": \"예산 (없으면 공백처리)\"\n    },\n    \"main_category\": {\n      \"type\": \"string\",\n      \"description\": \"대분류(없으면 공백)\"\n    },\n    \"sub_category\": {\n      \"type\": \"string\",\n      \"description\": \"설비분류 (없으면 공백처리)\"\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2688,1392],"id":"19d246ba-8528-4c62-8036-0803cf533839","name":"Structured Output Parser","notesInFlow":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2384,1136],"id":"b91b1eba-a62a-459b-80df-15403f79798b","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"XWAzclOTFyK0A6fs","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('금일 기준').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"={{$('Code2').first().json.output.jrsd_instt_nm}}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('Code2').first().json.output.bsns_sumry_cn }}","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"={{ $('Code2').first().json.output.trget_nm }}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{ $('Code2').first().json.output.reqst_begin_end_de }}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $('Code2').first().json.output.reqst_begin_dt }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $('Code2').first().json.output.reqst_end_dt }}","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"={{ $('Code2').first().json.output.refrnc_nm }}","type":"string"},{"id":"b5e49522-9965-4e13-90b1-86edf56df9c2","name":"print_flpth_nm","value":"={{ $('pdf,첨부파일분리').item.json.fileAddress }}","type":"string"},{"id":"7e662533-f931-4a90-9dfb-f1386c206c8f","name":"print_file_nm","value":"={{ $('Code2').first().json.output.print_file_nm }}","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"={{ $('pdf,첨부파일분리').item.json.flpth_nm }}","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"={{ $('pdf,첨부파일분리').item.json.file_nm }}","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"한국산업단지공단","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"N","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"N","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('Code22').item.json.created_ts }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('Code22').item.json.created_ts }}","type":"string"},{"id":"9adbcf7a-7243-4479-ab01-6b2ccb31d8a6","name":"subsidy_amount","value":"={{ $('Code2').first().json.output.subsidy_amount }}","type":"string"},{"id":"b0d54477-2d5b-4aa1-8905-ca396242ddab","name":"self_contribution_rate","value":"={{ $('Code2').first().json.output.self_contribution_rate }}","type":"string"},{"id":"09d5c3f0-2aa9-424f-ba57-bdd0df8ae9bf","name":"support_target","value":"={{ $('Code2').first().json.output.support_target }}","type":"string"},{"id":"283f473c-7824-46ef-b963-feb711e63a22","name":"=bonus_points_factors","value":"={{ $('Code2').first().json.output.bonus_points_factors }}","type":"string"},{"id":"20d0efcf-9335-4130-ad6e-c50b4f37a404","name":"total_budget","value":"={{ $('Code2').first().json.output.total_budget }}","type":"string"},{"id":"b1d6088d-2a99-454a-8def-99f995e421d6","name":"pblanc_url","value":"={{ $('변수설정').item.json.base_url }}{{ $('금일 기준').item.json.announcement }}","type":"string"},{"id":"0056c9cb-0ff9-474f-9f0b-6feda5169c3f","name":"main_category","value":"={{$('Code2').first().json.output.main_category}}","type":"string"},{"id":"feaaf4fe-697e-4814-b2c2-1385b853211c","name":"sub_category","value":"={{$('Code2').first().json.output.sub_category}}","type":"string"},{"id":"9969a4e3-9006-4fbc-8976-74444490f684","name":"reqst_mth_papers_cn","value":"={{$('Code2').first().json.output.reqst_mth_papers_cn}}","type":"string"},{"id":"8ccfc5b5-8ea5-4fc6-8739-4a8671ece578","name":"exc_instt_nm","value":"={{$('Code2').first().json.output.excInsttNm}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3312,960],"id":"eed4a30c-6c8e-4935-b317-36c1fd945a9f","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[3680,960],"id":"5162ec8e-2288-4cc0-b5f9-fd059e26f533","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"dc833e83-7b2d-437c-8b6c-51e7f2130d6c","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[3840,960],"webhookId":"27d8ebf7-bb5d-46de-b07c-f6f4d65f8e98"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3488,960],"id":"d961f60d-1893-4317-99f8-c1a1acd4237e","name":"If1","retryOnFail":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[2544,1216],"id":"844e1efb-cfe9-46b7-bb9e-5de8d5ff4db0","name":"Auto-fixing Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2544,1392],"id":"82410aa2-16f1-4f6a-a648-2fe1f6c1f12b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"SKDNgNmyz3uaizES","name":"OpenAi account"}}},{"parameters":{"jsCode":"  const items = $input.all();\n  const onclicks = items[0]?.json?.announcements || [];\n  const titles = items[0]?.json?.title || [];\n  const dates = items[0]?.json?.date || [];\n\n  const detailPath = \"/boardDetail/1002?bbsSeq=\";\n\n  // 어제 날짜 (KST)\n  const now = new Date();\n  const kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n  kst.setDate(kst.getDate() - 1);\n  const yyyy = kst.getFullYear();\n  const mm = String(kst.getMonth() + 1).padStart(2, '0');\n  const dd = String(kst.getDate()).padStart(2, '0');\n  let yesterdayStr = `${yyyy}-${mm}-${dd}`;\n\n  // yesterdayStr = '2026-07-04'; // ⭐ 테스트용 (확인 후 이 줄 삭제)\n\n  return onclicks.map(function (onclick, index) {\n    // bbsArticleDet('48669') → 48669 추출\n    const m = (onclick || '').match(/bbsArticleDet\\('(\\d+)'\\)/);\n    const seq = m ? m[1] : null;\n\n    return {\n      json: {\n        announcement: seq ? detailPath + seq : null,  // /boardDetail/1002?bbsSeq=48669\n        seq: seq,\n        title: (titles[index] || '').trim(),\n        date: (dates[index] || '').trim()\n      }\n    };\n  }).filter(item => item.json.seq && item.json.date === yesterdayStr);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,960],"id":"d9e43750-8524-42bd-a9dd-65a66f47728e","name":"금일 기준"},{"parameters":{"jsCode":"  const names = $('리스트 추출2').first().json.attach_file_name || [];\n  const onclicks = $('리스트 추출2').first().json.attach_file_address || [];\n  const baseUrl = \"https://www.kicox.or.kr\";\n\n  // 파일명 정리 ([hwpx, 537 KB] 같은 용량표기 제거)\n  function cleanName(n) {\n    return (n || '').replace(/\\s*\\[[^\\]]*\\]\\s*$/, '').replace(/\\s+/g, ' ').trim();\n  }\n  // fnFileDownload('149184','seq') → 다운로드 URL\n  function toUrl(onclick) {\n    const m = (onclick || '').match(/fnFileDownload\\('([^']+)'\\s*,\\s*'([^']+)'\\)/);\n    return m ? `${baseUrl}/api/fnFile/commonFileDownload/${m[1]}/${m[2]}` : null;\n  }\n\n  let noticeFileName = null, noticeFileAddress = null;\n  const extraNames = [], extraPaths = [];\n\n  for (let i = 0; i < names.length; i++) {\n    const name = cleanName(names[i]);\n    const url = toUrl(onclicks[i]);\n    if (!name || !url) continue;\n\n    if (name.toLowerCase().endsWith('.zip')) {\n      extraNames.push(name); extraPaths.push(url); continue;\n    }\n    if (name.includes('공고') && !noticeFileName) {\n      noticeFileName = name; noticeFileAddress = url;\n    } else {\n      extraNames.push(name); extraPaths.push(url);\n    }\n  }\n  // 공고 파일 없으면 첫 비-zip 파일\n  if (!noticeFileName) {\n    for (let i = 0; i < names.length; i++) {\n      const name = cleanName(names[i]);\n      const url = toUrl(onclicks[i]);\n      if (name && url && !name.toLowerCase().endsWith('.zip')) {\n        noticeFileName = name; noticeFileAddress = url; break;\n      }\n    }\n  }\n\n  return [{\n    json: {\n      fileName: noticeFileName,\n      fileAddress: noticeFileAddress,\n      file_nm: extraNames.join('@'),\n      flpth_nm: extraPaths.join('@')\n    }\n  }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,960],"id":"0d999d8d-20d7-4ef3-ac0f-87a475614499","name":"pdf,첨부파일분리"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $binary.data.fileName.split('.').pop() }}","rightValue":"=pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[880,960],"id":"581950bc-e5a2-44a7-aa89-7d60cd7ad80f","name":"If"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"26531caa-6896-49f1-8818-6367bfd30094","name":"Upload a file1","type":"n8n-nodes-base.httpRequest","position":[1472,1072],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://192.168.10.133:8000/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"ee69177b-9037-4bef-a32b-134eedd41ea4","name":"hwp->pdf","type":"n8n-nodes-base.httpRequest","position":[1296,1072],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"cb906749-08ca-4db8-9792-5b4ab8336c84","name":"Upload a file2","type":"n8n-nodes-base.httpRequest","position":[1296,800],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"content":"사이트 주소\nhttps://www.kicox.or.kr/user/bbs/BD_selectBbsList.do?q_bbsCode=1016","height":80,"width":530},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1344,848],"id":"51de02fa-8898-4aec-aa07-d34092fab95d","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3088,960],"id":"b93fb7cd-d9d5-4c45-8512-81302db995fc","name":"If2"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.pblanc_nm) {\n    item.json.pblanc_nm = item.json.pblanc_nm.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2752,960],"id":"e96ff294-6e7f-4e0e-95d6-54558a85a129","name":"Code2"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.output.pblanc_nm }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2928,960],"id":"b5728968-6413-4aea-9efb-19303be774bd","name":"MySQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"jsCode":"let title = $input.first().json.title[0] || '';\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,720],"id":"48aa7419-11eb-41a1-9c2b-9f2a0ea37d8b","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[64,720],"id":"7519b730-26bc-45d0-aea8-fb0f32024607","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,720],"id":"7d7823e7-fcf2-4096-9334-73bc983d8ee6","name":"중복조회 IF"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1808,1248],"id":"47caad90-8a4f-471a-93de-9b2b64347d54","name":"Schedule Trigger"},{"parameters":{"jsCode":"// Function 노드 안\nreturn [\n  {\n    json: {\n      workflowName: $workflow.name,\n      insertId: $input.first().json?.data?.insertId ?? null\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3840,768],"id":"1e28bca1-48e9-450a-998e-b6b33ae095d6","name":"공고상태정리"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"insertId","value":"={{ $json.insertId }}"},{"column":"type","value":"detail"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[4048,768],"id":"385555a9-48d5-4795-b03b-e30c8490f948","name":"공고상태상세저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"total_count","value":"={{ $json.date.length }}"},{"column":"type","value":"total_count"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-640,1328],"id":"c97a009b-24d8-4b84-a363-3f3d0693b918","name":"공고상태전체개수저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b1c2d3e4-0000-0000-0000-000000000003","leftValue":"={{ ($json.combinedMarkdown || '').trim().length > 0 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c583fbbd-3412-4890-b02f-503a6c385575","name":"내용있음?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2240,768]},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  for (const k of ['reqst_begin_dt', 'reqst_end_dt']) {\n    if (!item.json[k]) item.json[k] = null;\n  }\n}\nreturn $input.all();"},"id":"9a904123-3038-4532-ac11-a45313ad2f5f","name":"빈날짜 null","type":"n8n-nodes-base.code","typeVersion":2,"position":[3584,1152]}],"connections":{"변수설정":{"main":[[{"node":"board list","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0},{"node":"공고상태전체개수저장","type":"main","index":0}]]},"board list":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"get detail1","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"중복 자료 조회","type":"main","index":0}]]},"download files":{"main":[[{"node":"If","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"do ocr","type":"main","index":0}]]},"do ocr":{"main":[[{"node":"Code22","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"ai result1":{"main":[[{"node":"If1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0},{"node":"공고상태정리","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"pdf,첨부파일분리":{"main":[[{"node":"download files","type":"main","index":0}]]},"If":{"main":[[{"node":"Upload a file2","type":"main","index":0}],[{"node":"hwp->pdf","type":"main","index":0}]]},"Upload a file1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"hwp->pdf":{"main":[[{"node":"Upload a file1","type":"main","index":0}]]},"Upload a file2":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"If2":{"main":[[{"node":"ai result1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"If2","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"pdf,첨부파일분리","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"변수설정","type":"main","index":0}]]},"공고상태정리":{"main":[[{"node":"공고상태상세저장","type":"main","index":0}]]},"Code22":{"main":[[{"node":"내용있음?","type":"main","index":0}]]},"내용있음?":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"If1":{"main":[[{"node":"빈날짜 null","type":"main","index":0}]]},"빈날짜 null":{"main":[[{"node":"MySQL1","type":"main","index":0}]]}},"authors":"synerzen synerzen","name":"Version 5ce7af1b","description":"","autosaved":true},"tags":[]}