10.-한국테크노파크진흥회-fMjb4CH3XS8hds6s.json
{"createdAt":"2025-06-20T04:03:19.006Z","updatedAt":"2025-11-03T04:06:54.153Z","id":"fMjb4CH3XS8hds6s","name":"10. 한국테크노파크진흥회","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"사이트 주소\nhttp://www.technopark.kr/businessboard","height":80,"width":700},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,-128],"id":"ee61a9ac-58dc-4ddb-b536-5cab179cc203","name":"Sticky Note1"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[720,176],"id":"ff0c74ff-6f8d-4936-b105-266f6c337add","name":"Loop Over Items1"},{"parameters":{"extractionValues":{"values":[{"key":"attach_file_name","cssSelector":".board_add_file > ul:nth-child(2) > li:nth-child(n) > a:nth-child(1)","returnArray":true},{"key":"attach_file_address","cssSelector":".board_add_file > ul:nth-child(2) > li:nth-child(n) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"content","cssSelector":".boad_view","returnValue":"html"},{"key":"cityName","cssSelector":".tb_board_view > tbody:nth-child(4) > tr:nth-child(1) > td:nth-child(4)"}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[1808,176],"typeVersion":1,"id":"f59983aa-41ab-443e-bbe6-a26a7f324d7d"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\n\n// -------------------- 실제 어제 날짜 계산 --------------------\nlet yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yyyy = yesterday.getFullYear();\nconst mm = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst dd = String(yesterday.getDate()).padStart(2, '0');\nlet yesterdayStr = `${yyyy}-${mm}-${dd}`; // 기본값: 어제 날짜\n\n// -------------------- 테스트용 날짜 (주석 처리 시 실제 어제 날짜 사용) --------------------\nyesterdayStr = '2025-09-18'; // 테스트용 날짜\n\n// -------------------- 결과 생성 --------------------\nconst result = announcements\n  .map((announcement, index) => {\n    const url = announcement?.trim() || null;\n\n    let dateStr = dates[index] || null;\n    if (dateStr) {\n        dateStr = dateStr.replace(/\\s+/g, '').replace(/\\.$/, '');\n        const dateMatch = dateStr.match(/(\\d{4})[.\\-](\\d{1,2})[.\\-](\\d{1,2})/);\n        if (dateMatch) {\n            const y = dateMatch[1];\n            const m = dateMatch[2].padStart(2, '0');\n            const d = dateMatch[3].padStart(2, '0');\n            dateStr = `${y}-${m}-${d}`;\n        } else dateStr = null;\n    }\n\n    const cleanTitle = (titles[index] || '').replace(/[\\[\\]「」<>\\\"']/g, '').trim();\n\n    return {\n        json: {\n            url: url,\n            title: cleanTitle,\n            date: dateStr\n        }\n    };\n  })\n  .filter(item => item.json.date === yesterdayStr);\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,176],"id":"b9d409cc-1203-432b-8926-bdfc54f74c5d","name":"금일 기준"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title,\n      announcement\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,-48],"id":"21a075da-e715-49db-b813-a08c01c5cf1d","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1024,-48],"id":"8bfe279d-e191-420e-bbb4-363d10d9fbdd","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1168,-48],"id":"2ee24d7a-5289-4ce6-80dd-42b9fd218002","name":"중복조회 IF"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":".tb_board_list > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(3) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"title","cssSelector":".tb_board_list > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(3) > a:nth-child(1)","returnArray":true},{"key":"date","cssSelector":".tb_board_list > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(5)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[208,176],"typeVersion":1,"id":"db21749d-29c3-4fa6-a8a5-dad5ae0b64c8"},{"parameters":{"url":"=http://www.technopark.kr{{ $('금일 기준').item.json.url }}","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}},"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1472,176],"id":"102bfa31-8ba2-4bfa-976f-796fd05af112","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"={{ $json.combinedMarkdown }} \\n에서  \npblanc_nm(공고제목), jrsd_instt_nm(지역 혹은 사이트이름), bsns_sumry_cn(공고요약), trget_nm(대상기업),  \nreqst_begin_end_de(공고 전체기간), reqst_begin_dt(공고시작기간), reqst_end_dt(공고마감기간),  \nreqst_mth_papers_cn(사업신청방법), excInsttNm(사업수행기관), refrnc_nm(문의처), subsidy_amount(지원금액),  \nself_contribution_rate(자부담률), support_target(지원기업 예: 대기업,중소기업), bonus_points_factors(가점요소 50자이내),  \ntotal_budget(예산) 에 대한 정보를 알려줘.\n\n공고제목은 detail_part에서 처음 <p>를 제목으로 참고.\n\n[1] 날짜 변환 규칙  \n- reqst_begin_end_de 형식: YYYYMMDD ~ YYYYMMDD  (형식 지켜줘 very important)\n  → 이를 reqst_begin_dt, reqst_end_dt로 YYYY-MM-DD 형식으로 변환  \n\n[2] 지역명 변환 (cityMap)  \n{\n  \"서울\": \"서울특별시\", \"부산\": \"부산광역시\", \"대구\": \"대구광역시\", \"인천\": \"인천광역시\",\n  \"광주\": \"광주광역시\", \"대전\": \"대전광역시\", \"울산\": \"울산광역시\", \"세종\": \"세종특별자치시\",\n  \"경기\": \"경기도\", \"강원\": \"강원도\", \"충북\": \"충청북도\", \"충남\": \"충청남도\",\n  \"전북\": \"전라북도\", \"전남\": \"전라남도\", \"경북\": \"경상북도\", \"경남\": \"경상남도\",\n  \"제주\": \"제주특별자치도\", \"전지역\": \"전지역\"\n}\n\ntrget_nm 값은 단일값(중소기업, 대기업 등)만 사용.\n\n[3] 첨부파일 경로 변수  \nprint_flpth_nm :   {{ $('pdf,첨부파일분리').item.json.fileAddress }}\nprint_file_nm  : {{ $('pdf,첨부파일분리').item.json.fileName }}\ncreat_p_nttm   : {{ $json.creat_p_nttm }}\ncreated_ts     : {{ $json.created_ts }}\n\n[4] 값이 없거나 찾을 수 없으면 아래 형식으로 빈 문자열(\"\") 처리  \n{\n  \"pblanc_nm\": \"\",\n  \"jrsd_instt_nm\": \"\",\n  \"bsns_sumry_cn\": \"\",\n  \"trget_nm\": \"\",\n  \"reqst_begin_end_de\": \"\",\n  \"reqst_begin_dt\": \"\",\n  \"reqst_end_dt\": \"\",\n  \"reqst_mth_papers_cn\": \"\",\n  \"refrnc_nm\": \"\",\n  \"print_flpth_nm\": \"\",\n  \"print_file_nm\": \"\",\n  \"flpth_nm\": \"\",\n  \"file_nm\": \"\",\n  \"creat_p_nttm\": \"\",\n  \"created_ts\": \"\",\n  \"subsidy_amount\": \"\",\n  \"self_contribution_rate\": \"\",\n  \"support_target\": \"\",\n  \"bonus_points_factors\": \"\",\n  \"total_budget\": \"\"\n}\n\n[5] main_category(대분류) 분류 규칙  \n- 선택지: \"스마트생태공장\", \"상생협력 실증프로그램\", \"스마트공장 / 제조혁신\", \"탄소중립 / 온실가스저감\", \"FEMS 에너지효율화\"  , \"마케팅 / 기술인프라 구축\"\n- 공고 내용에 해당 키워드가 존재하면 선택  \n- 여러 개면 콤마(,)로 구분  \n- 없거나 애매하면 \"\"  \n\n예시:  \n\"컨설팅,스마트생태공장\"\n\n[6] sub_category(설비분류) 분류 규칙  \n- 선택 가능 항목:  \n변압기, 폐유재활용설비, 송풍기, 신재생발전설비, 집진기, 펌프, 콤프레셔, 공기조화기, 열회수환기장치, 보일러, 열교환기, 배출가스처리기, 공기정화기, 탈황기, 탈질기, 오수처리기, 폐수처리기, 냉각탑, 에너지관리시스템, 공정제어시스템, 자동화시스템, 냉동기, 증기재압축장치, 폐열회수시스템, 유수분리기, 압축기, 인버터, 용해로, 응축수회수기, 악취저감설비, 사출성형기  \n- 공고 내용에 해당 설비명이 등장하면 포함  \n- 목록 외 설비는 추가 금지  \n- 없으면 \"\"  \n\n예시:  \n\"인버터,용해로\"\n","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[4176,-320],"id":"32f7216b-d50d-446e-a2f1-ff15dc8c498e","name":"Basic LLM Chain","retryOnFail":false,"maxTries":null,"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"={{ $('전역변수호출').item.json.value }}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[4496,112],"id":"a0371c30-7787-4b0a-8453-f81254507238","name":"Structured Output Parser","notesInFlow":false},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4192,-144],"id":"625c71df-766c-4698-b64b-d30540096a81","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"Hfp6RmexqQYoBvNh","name":"Google Gemini(PaLM) Api account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('Code').item.json.output.pblanc_nm }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"={{ $('Code').item.json.output.jrsd_instt_nm }}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('Code').item.json.output.bsns_sumry_cn }}","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"={{ $('Code').item.json.output.trget_nm }}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{ $('Code').item.json.output.reqst_begin_end_de }}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $('Code').item.json.output.reqst_begin_dt }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $('Code').item.json.output.reqst_end_dt }}","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"={{ $('Code').item.json.output.refrnc_nm }}","type":"string"},{"id":"b5e49522-9965-4e13-90b1-86edf56df9c2","name":"print_flpth_nm","value":"=","type":"string"},{"id":"7e662533-f931-4a90-9dfb-f1386c206c8f","name":"print_file_nm","value":"=","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"={{ $('pdf,첨부파일분리').item.json.flpth_nm }}","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"={{ $('pdf,첨부파일분리').item.json.file_nm }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"N","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"N","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('pdf,첨부파일분리').item.json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('pdf,첨부파일분리').item.json.created_ts }}","type":"string"},{"id":"9adbcf7a-7243-4479-ab01-6b2ccb31d8a6","name":"subsidy_amount","value":"={{ $('Code').item.json.output.subsidy_amount }}","type":"string"},{"id":"b0d54477-2d5b-4aa1-8905-ca396242ddab","name":"self_contribution_rate","value":"={{ $('Code').item.json.output.self_contribution_rate }}","type":"string"},{"id":"09d5c3f0-2aa9-424f-ba57-bdd0df8ae9bf","name":"support_target","value":"={{ $('Code').item.json.output.support_target }}","type":"string"},{"id":"283f473c-7824-46ef-b963-feb711e63a22","name":"bonus_points_factors","value":"={{ $('Code').item.json.output.bonus_points_factors }}","type":"string"},{"id":"20d0efcf-9335-4130-ad6e-c50b4f37a404","name":"total_budget","value":"={{ $('Code').item.json.output.total_budget }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=http://www.technopark.kr{{ $('금일 기준').item.json.url }}","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"한국테크노파크진흥회","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"={{ $('리스트 추출2').item.json.cityName }}테크노파크진흥회","type":"string"},{"id":"97c21176-d1a8-4f5c-a312-e5603e2e7569","name":"main_category","value":"={{ $('Code').item.json.output.main_category }}","type":"string"},{"id":"1f7c4cbd-e378-419d-8827-6007de5e6929","name":"sub_category","value":"={{ $('Code').item.json.output.sub_category }}","type":"string"},{"id":"5f567959-9da9-442d-844e-d807c9e134af","name":"reqst_mth_papers_cn","value":"={{ $('Code').item.json.output.reqst_mth_papers_cn }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5168,-320],"id":"df3429c3-866a-4b74-81fd-a057109a81d6","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[5552,-320],"id":"c491da40-0b96-45a4-a5eb-1c86ce130d12","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":2,"unit":"minutes"},"id":"b5a400a0-4a0d-47c6-8375-521c9c51b9fd","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[5840,-320],"webhookId":"336cc6be-07a8-4a18-800e-ccf328662461"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5360,-320],"id":"3ec25663-50a5-4d05-8fb1-f5d7414d2f3e","name":"If1","retryOnFail":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[4352,-64],"id":"d890aa12-7c6d-4036-a486-726f8db1d5b0","name":"Auto-fixing Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4352,112],"id":"ba52e1e5-a5f6-4a14-b857-179c40b48a99","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"SKDNgNmyz3uaizES","name":"OpenAi account"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.output.pblanc_nm }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[4752,-320],"id":"69ff4064-be18-42a9-8bb6-b4af6f825a3f","name":"MySQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4912,-320],"id":"c673a9a1-fb50-45d7-994d-b9fdb47c817e","name":"If2"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.pblanc_nm) {\n    item.json.pblanc_nm = item.json.pblanc_nm.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4576,-320],"id":"66c37451-ed11-46c4-998d-92cb7b1020da","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $binary.data.fileName.split('.').pop() }}","rightValue":"=pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2688,-320],"id":"ca29cc79-1d79-4cb8-a508-ddc30b254956","name":"If"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"06338172-19ea-47b2-b224-3bf23662148c","name":"Upload a file1","type":"n8n-nodes-base.httpRequest","position":[3280,-208],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://192.168.10.133:8000/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"8877c332-a1c0-4c79-a151-eee3492c7d17","name":"hwp->pdf","type":"n8n-nodes-base.httpRequest","position":[3104,-208],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"2df08769-d18a-4b40-af5a-b1460432d1d5","name":"Upload a file2","type":"n8n-nodes-base.httpRequest","position":[3104,-480],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{$json[\"id\"]}}/url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3488,-320],"id":"9c47ea9b-2522-466f-8e5a-9bdb6485c3e8","name":"HTTP Request1","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"a46d66e9-a65f-4313-8143-3b58514ca18a","name":"do ocr1","type":"n8n-nodes-base.httpRequest","position":[3680,-320],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const pages = $input.first().json.pages;\nlet combinedMarkdown = '';\n\nfor (const page of pages) {\n  combinedMarkdown += page.markdown + '\\n';  // 줄바꿈 포함해서 합치기\n}\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 통합 결과 반환\nreturn [\n  {\n    json: {\n      combinedMarkdown,\n      creat_p_nttm: formatted,\n      created_ts: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3920,-320],"id":"fb0c4305-86f9-4a16-8407-aa21ebde6864","name":"Code23","onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.fileAddress }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:143.0) Gecko/20100101 Firefox/143.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Accept-Encoding","value":"gzip, deflate"},{"name":"Connection","value":"keep-alive"},{"name":"Referer","value":"http://www.technopark.kr/index.php?mid=businessboard&page=1&document_srl=222626"},{"name":"Cookie","value":"PHPSESSID=r5icsrairji9mll1afks82uf27"},{"name":"Upgrade-Insecure-Requests","value":"1"},{"name":"Priority","value":"u=0, i"},{"name":"cookie","value":"PHPSESSID=r5icsrairji9mll1afks82uf27;"}]},"options":{"redirect":{"redirect":{}},"response":{"response":{"fullResponse":true,"responseFormat":"file"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2496,-320],"id":"01e809d3-793d-4549-99b8-fbdbcc32eb49","name":"download files1","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $json.announcement_file_exist }}","rightValue":"pdf","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2272,176],"id":"6e123e4f-2297-4213-9999-b9e04c3aa3d7","name":"if announcement file exist"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"=전지역","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('리스트 추출2').item.json.content }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"C","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $json.created_ts }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=https://www.winwinnuri.or.kr/bd/selectBdNotifyList.do","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"상생누리","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=상생누리","type":"string"},{"id":"62d2dcbe-c742-4e12-a3e1-df7714174058","name":"print_file_nm","value":"={{ $json.fileName }}","type":"string"},{"id":"11fa9db4-02b7-46e1-8333-f8c1302b6928","name":"print_flpth_nm","value":"={{ $json.fileAddress }}","type":"string"},{"id":"11a1fff9-20b9-4709-9abe-893c0bf69dc6","name":"file_nm","value":"={{ $json.file_nm }}","type":"string"},{"id":"c79d031b-8c40-4d2d-b736-631e45e87ff6","name":"flpth_nm","value":"={{ $json.flpth_nm }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2640,176],"id":"84bec53e-4ec0-4c75-a2bb-b83b9ab8765c","name":"ai result"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[3024,176],"id":"74031770-a97b-47b3-b764-0416f4a619b3","name":"MySQL2","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"68557650-62c0-421e-bab0-c82e985c4caf","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[3184,176],"webhookId":"654817e6-440a-4a5f-8354-5ed28fb67571"},{"parameters":{"jsCode":"const items = $('리스트 추출2').first().json;\nconst names = items.attach_file_name || [];\nconst addresses = items.attach_file_address || [];\n\n// -------------------- baseurl (사이트마다 맞게 변경) --------------------\nconst baseUrl = \"http://www.technopark.kr\";\n\nlet noticeFileName = null;\nlet noticeFileAddress = null;\nlet announcement_file_exist = false;\n\nconst extraFileNames = [];\nconst extraFilePaths = [];\n\n// -------------------- 현재 시각 (KST) --------------------\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// -------------------- 파일명 전처리 --------------------\nfunction normalizeFileName(name) {\n    return name\n        ?.replace(/[\\n\\r\\t]/g, \"\")\n        .replace(/\\(파일크기:\\s*[\\d\\.]+[KMG]?B\\s*\\)$/i, \"\")\n        .trim();\n}\n\n// -------------------- 주소 → 다운로드 URL 변환 --------------------\nfunction extractFileUrl(address) {\n    if (!address) return null;\n\n    // 1. javascript:download('32415') 패턴 처리\n    let match = address.match(/download\\('(\\d+)'\\)/);\n    if (match) {\n        const attachNo = match[1];\n        return `${baseUrl}/_custom/cms/_common/board/fira.jsp?attach_no=${attachNo}`;\n    }\n\n    // 2. fn_egov_downFile('atchFileId','fileSn') 패턴\n    match = address.match(/fn_egov_downFile\\('([^']+)','([^']+)'/);\n    if (match) {\n        const atchFileId = match[1];\n        const fileSn = match[2];\n        return `${baseUrl}/cmm/fms/FileDown.do?atchFileId=${encodeURIComponent(atchFileId)}&fileSn=${encodeURIComponent(fileSn)}`;\n    }\n\n    // 3. yhLib.file.download 패턴\n    match = address.match(/yhLib\\.file\\.download\\('([^']+)'/);\n    if (match) return `${baseUrl}/download.action?attachId=${match[1]}`;\n\n    // 4. 상대경로나 절대경로 처리\n    if (address.startsWith(\"./\")) return baseUrl + address.substring(1);\n    if (address.startsWith(\"http\")) return address;\n\n    return `${baseUrl}${address}`;\n}\n\n// -------------------- 파일 분류 --------------------\nfor (let i = 0; i < names.length; i++) {\n    const name = normalizeFileName(names[i]);\n    const fileUrl = extractFileUrl(addresses[i]);\n    if (!name || !fileUrl) continue;\n\n    // zip 파일은 extra로 이동\n    if (name.toLowerCase().endsWith(\".zip\")) {\n        extraFileNames.push(name);\n        extraFilePaths.push(fileUrl);\n        continue;\n    }\n\n    // 공고문 파일 우선 선택\n    if (name.includes(\"공고\") && !noticeFileName) {\n        noticeFileName = name;\n        noticeFileAddress = fileUrl;\n        announcement_file_exist = true;\n    } else {\n        extraFileNames.push(name);\n        extraFilePaths.push(fileUrl);\n    }\n}\n\n// -------------------- 공고 파일 없는 경우 첫 번째 파일 대체 --------------------\nif (!noticeFileName && names.length > 0) {\n    for (let i = 0; i < names.length; i++) {\n        const candidateName = normalizeFileName(names[i]);\n        const candidateUrl = extractFileUrl(addresses[i]);\n        if (!candidateName.toLowerCase().endsWith(\".zip\")) {\n            noticeFileName = candidateName;\n            noticeFileAddress = candidateUrl;\n            break;\n        }\n    }\n}\n\n// -------------------- 최종 리턴 --------------------\nreturn [{\n    json: {\n        fileName: noticeFileName,\n        fileAddress: noticeFileAddress,\n        file_nm: extraFileNames.join(\"@\"),\n        flpth_nm: extraFilePaths.join(\"@\"),\n        announcement_file_exist: announcement_file_exist,\n        creat_p_nttm: formatted,\n        created_ts: formatted\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2032,176],"id":"5ae47dba-1e5c-440c-ba99-3e3d8d5b8701","name":"pdf,첨부파일분리"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-704,272],"id":"ccf7bc55-b8b4-40e2-921f-5a8b60e06008","name":"Schedule Trigger"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"total_count","value":"={{ $json.date.length }}"},{"column":"type","value":"total_count"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[512,464],"id":"d7a6a1e4-909b-4039-b15b-904ac5fa64ce","name":"공고상태전체개수저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"jsCode":"// Function 노드 안\nreturn [\n  {\n    json: {\n      workflowName: $workflow.name,\n      insertId:$input.first().json.data.insertId\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5840,-544],"id":"801cbb8e-2e72-47d5-81fb-02be34002b36","name":"공고상태정리"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"insertId","value":"={{ $json.insertId }}"},{"column":"type","value":"detail"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[6048,-544],"id":"838d2657-1d37-4c6e-a2c4-be20e24defda","name":"공고상태상세저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"n8n_custom_variables","mode":"list","cachedResultName":"n8n_custom_variables"},"where":{"values":[{"column":"name","value":"gpt_parser"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-352,272],"id":"d7576bfc-565b-49f7-aedf-9bd8aa19584c","name":"전역변수호출","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"cmdline":"\"https://www.technopark.kr/index.php?mid=businessboard&page=1\" \\\n  -X GET \\\n  -H \"User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:144.0) Gecko/20100101 Firefox/144.0\" \\\n  -H \"Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8\" \\\n  -H \"Accept-Language: ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3\" \\\n  -H \"Accept-Encoding: gzip, deflate, br, zstd\" \\\n  -H \"Connection: keep-alive\" \\\n  -H \"Cookie: PHPSESSID=p49q7rdc6o304igaer0fin08e0\" \\\n  -H \"Upgrade-Insecure-Requests: 1\" \\\n  -H \"Sec-Fetch-Dest: document\" \\\n  -H \"Sec-Fetch-Mode: navigate\" \\\n  -H \"Sec-Fetch-Site: none\" \\\n  -H \"Sec-Fetch-User: ?1\" \\\n  -H \"Priority: u=0, i\" \\\n  --compressed \\\n  --insecure\n"},"type":"@n-octo-n/n8n-nodes-curl.cURL","typeVersion":1,"position":[-64,240],"id":"b27fac30-ada5-455e-8014-4f0c3ff77740","name":"cURL"}],"connections":{"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"pdf,첨부파일분리","type":"main","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"get detail1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0},{"node":"공고상태전체개수저장","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"ai result1":{"main":[[{"node":"If1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0},{"node":"공고상태정리","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"If1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"MySQL":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"ai result1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"If":{"main":[[{"node":"Upload a file2","type":"main","index":0}],[{"node":"hwp->pdf","type":"main","index":0}]]},"Upload a file1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"hwp->pdf":{"main":[[{"node":"Upload a file1","type":"main","index":0}]]},"Upload a file2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"do ocr1","type":"main","index":0}]]},"do ocr1":{"main":[[{"node":"Code23","type":"main","index":0}]]},"Code23":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"download files1":{"main":[[{"node":"If","type":"main","index":0}]]},"if announcement file exist":{"main":[[{"node":"download files1","type":"main","index":0}],[{"node":"ai result","type":"main","index":0}]]},"ai result":{"main":[[{"node":"MySQL2","type":"main","index":0}]]},"MySQL2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"pdf,첨부파일분리":{"main":[[{"node":"if announcement file exist","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"전역변수호출","type":"main","index":0}]]},"공고상태정리":{"main":[[{"node":"공고상태상세저장","type":"main","index":0}]]},"전역변수호출":{"main":[[{"node":"cURL","type":"main","index":0}]]},"cURL":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"87404f73-35e2-43bc-aba2-5831c688a855","triggerCount":1,"shared":[{"createdAt":"2025-06-20T04:03:19.006Z","updatedAt":"2025-06-20T04:03:19.006Z","role":"workflow:owner","workflowId":"fMjb4CH3XS8hds6s","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}