10.-한국테크노파크진흥회-fMjb4CH3XS8hds6s.json
{"createdAt":"2025-06-20T04:03:19.006Z","updatedAt":"2025-09-10T00:33:52.819Z","id":"fMjb4CH3XS8hds6s","name":"10. 한국테크노파크진흥회","active":true,"isArchived":false,"nodes":[{"parameters":{"language":"python","pythonCode":"return [{\"offset\": i} for i in range (2,100)]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,160],"id":"e6525223-1aab-41a1-a780-1bbde3acebe5","name":"paging retrieve"},{"parameters":{"options":{"reset":"={{ $node[\"paging batch\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[112,160],"id":"1ca67b57-e3cb-48bd-8a90-d49afe8b0076","name":"paging batch"},{"parameters":{"assignments":{"assignments":[{"id":"a762f3f7-16d7-4611-9c47-f40337dba4d0","name":"source","value":"한국테크노파크진흥회","type":"string"},{"id":"18a88b1c-b417-4f2f-89da-e9230dd852e5","name":"base_url","value":"http://www.technopark.kr","type":"string"},{"id":"99204173-10b4-4cc3-a609-eed9c30477a7","name":"cityMap","value":"{   \"서울\": \"서울특별시\",   \"부산\": \"부산광역시\",   \"대구\": \"대구광역시\",   \"인천\": \"인천광역시\",   \"광주\": \"광주광역시\",   \"대전\": \"대전광역시\",   \"울산\": \"울산광역시\",   \"세종\": \"세종특별자치시\",   \"경기\": \"경기도\",   \"강원\": \"강원도\",   \"충북\": \"충청북도\",   \"충남\": \"충청남도\",   \"전북\": \"전라북도\",   \"전남\": \"전라남도\",   \"경북\": \"경상북도\",   \"경남\": \"경상남도\",   \"제주\": \"제주특별자치도\",   \"전지역\": \"전지역\" }","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,160],"id":"d00f8264-1cce-48b7-970b-42a1030bd731","name":"default variables"},{"parameters":{"url":"http://www.technopark.kr/businessboard","sendQuery":true,"queryParameters":{"parameters":[{"name":"page","value":"={{ $json.offset }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,160],"id":"09e6cebb-154a-42ce-9197-f9c4dce6b436","name":"get board list page"},{"parameters":{"jsCode":"const base_url = $('default variables').first().json.base_url;\n\n// 어제 날짜 구하기\nconst yesterday = (() => {\n  const date = new Date();\n  date.setDate(date.getDate() - 1);\n  const yyyy = date.getFullYear();\n  const mm = String(date.getMonth() + 1).padStart(2, '0');\n  const dd = String(date.getDate()).padStart(2, '0');\n  return `${yyyy}.${mm}.${dd}`;\n})();\n\n// 결과 생성\nreturn $input.first().json.pblanc_nm.map((item, idx) => {\n  return {\n    pblanc_nm: item,\n    link: base_url + $input.first().json.link[idx],\n    creat_p_nttm: $input.first().json.creat_p_nttm[idx],\n    yesterday: yesterday\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[704,160],"id":"d912492a-64ce-4ebc-8c18-df9c6739f2b8","name":"retrieve"},{"parameters":{"options":{"reset":"={{ $node['board detail batch'].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[912,160],"id":"4892514a-2a4f-4c66-b1ba-10863446074e","name":"board detail batch","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"88cc15d4-873b-49ee-9c5e-60fd32d04ff8","leftValue":"={{ $json.creat_p_nttm }}","rightValue":"={{ $json.yesterday }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,304],"id":"1a28d32b-593d-4bd4-ad74-98cba2d2b76a","name":"is it after than yesterday"},{"parameters":{"url":"={{ $json.link }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1264,304],"id":"c3ebedf7-231d-4354-8d36-cd9923834142","name":"Get board detail"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"pblanc_nm","cssSelector":"table.tb_board_list > tbody > tr > td.tit> a","returnValue":"html","returnArray":true},{"key":"link","cssSelector":"table.tb_board_list > tbody > tr > td.tit> a","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"creat_p_nttm","cssSelector":"table.tb_board_list > tbody > tr > td.time","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[512,160],"id":"4093f3d0-b383-4cbd-ac64-25f3a125781b","name":"extract board items"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"jrsd_instt_nm","cssSelector":"table.tb_board_view > tbody > tr > td:nth-child(4)"},{"key":"pblanc_nm","cssSelector":"table.tb_board_view > thead > "},{"key":"print_flpth_nm","cssSelector":"div.sub_con > div.board_add_file > ul > li:nth-child(1) > a","returnValue":"attribute","attribute":"href"},{"key":"prinf_file_nm","cssSelector":"div.sub_con > div.board_add_file > ul > li:nth-child(1) > a"},{"key":"file_nm","cssSelector":"div.sub_con > div.board_add_file > ul > li > a","returnArray":true},{"key":"flpth_nm","cssSelector":"div.sub_con > div.board_add_file > ul > li > a","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"content-img","cssSelector":"div.sub_con > div.boad_view > div > p > img","returnValue":"attribute","attribute":"src","returnArray":true},{"key":"content-text","cssSelector":"div.sub_con > div.boad_view ","skipSelectors":"img, href"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1424,304],"id":"3664502e-28e6-4797-af1d-82090b305c5d","name":"extract board detail items"},{"parameters":{"options":{"reset":"={{ $node[\"get image batch\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[480,1024],"id":"588c30f1-c256-4469-9090-4c95569fc397","name":"get image batch","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b05ff04-3e48-40fb-9af5-c5b32e0ac08f","leftValue":"={{ $json['content-img'].length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[48,1104],"id":"a5a42818-f3ef-4424-a8ac-26b7f1229a03","name":"check it has image in content","disabled":true},{"parameters":{"fieldToSplitOut":"['content-img']","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[240,1072],"id":"f8716c3d-c0cd-4304-879c-e342cadce89b","name":"Split Out","disabled":true},{"parameters":{"url":"={{ $json['[\\'content-img\\']'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,1120],"id":"7320e034-d427-43a3-9e95-1260852d2072","name":"HTTP Request1","disabled":true},{"parameters":{"method":"POST","url":"http://192.168.10.133:8000/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"={{ $json.list.binary.data }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,928],"id":"f4862796-7e5e-4c49-86a5-a65bad12f6fe","name":"images to pdf file","disabled":true},{"parameters":{"aggregate":"aggregateAllItemData","options":{"includeBinaries":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1360,1120],"id":"7627e063-ba34-49c5-a27c-1c03815f58fb","name":"Aggregate","disabled":true},{"parameters":{"method":"POST","url":"http://43.200.39.170:8003/img/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"file","value":"=data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1504,1264],"id":"c5b875e6-040c-4fc1-967f-5024f4fc3daa","name":"images to pdf file1","disabled":true},{"parameters":{"aggregate":"aggregateAllItemData","options":{"includeBinaries":true,"keepOnlyUnique":false}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[752,928],"id":"9d471d84-9ebd-41be-8c39-a9713cc55d56","name":"Aggregate1","disabled":true},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\n# for item in _input.all():\n  # item.json.myNewField = 1\n# return _input.all()\n\nreturn {\"list\": data for data in _input.all()}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,928],"id":"5e528023-18ed-47cd-934f-40355cb5c893","name":"Code","disabled":true},{"parameters":{"content":"사이트 주소\nhttp://www.technopark.kr/businessboard","height":80,"width":700},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,-128],"id":"ee61a9ac-58dc-4ddb-b536-5cab179cc203","name":"Sticky Note1"},{"parameters":{"jsCode":"function makeDurationData(a, b) {\n  return `${a} ~ ${b}`\n}\nvar a = $input.first().json.a.reqst_begin_dt\nconst b = $input.first().json.a.reqst_end_dt\nif(a ==null || b == null) return $input.all()\nif(a == b){\n  a = $('is today or minus 1 day?').first().json.date;\n  $input.first().json.a.reqst_begin_dt = a;\n  $input.first().json.a.reqst_begin_end_de = makeDurationData(a,b)\n}\n\nreturn $input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,1632],"id":"db13406a-6995-47a8-968d-36a7fc262042","name":"make duration data","disabled":true},{"parameters":{"jsCode":"function extractJsonFromString(str) {\n  const jsonMatch = str.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n  if (jsonMatch && jsonMatch[1]) {\n    try {\n      return JSON.parse(jsonMatch[1]);\n    } catch (e) {\n      console.error(\"JSON 파싱 에러:\", e);\n    }\n  }\n  return null;\n}\n\nreturn {a: extractJsonFromString($input.first().json.choices[0].message.content)}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,1632],"id":"f06ad100-9747-4279-8792-21c97f6cd485","name":"markdown parse to json","disabled":true},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"ca074679-6b3b-4687-a605-48247cb29c49","name":"Upload a img1","type":"n8n-nodes-base.httpRequest","position":[1168,1632],"typeVersion":4.2,"alwaysOutputData":true,"credentials":{"mistralCloudApi":{"id":"DMvGIk4nGb1Gfy0K","name":"Mistral Cloud account 2"}},"disabled":true},{"parameters":{"url":"={{ $('default variables').item.json.base_url }}{{ $json.print_flpth_nm }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cookie","value":"={{ $('get board list page').item.json.headers['set-cookie'] }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,1680],"id":"f15bd261-b7dd-4db9-98d2-f6ea52879e54","name":"HTTP Request","disabled":true},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2368,1632],"id":"79d5e560-c0c8-4288-a62c-5809a86650d9","name":"MySQL","credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"disabled":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $json.a.pblanc_nm }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"={{ $json.a.jrsd_instt_nm }}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $json.a.bsns_sumry_cn }}","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"={{ $json.a.target_nm }}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{ $json.a.reqst_begin_end_de }}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $json.a.reqst_begin_dt }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $json.a.reqst_end_dt }}","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"={{ $json.a.refrnc_nm }}","type":"string"},{"id":"b5e49522-9965-4e13-90b1-86edf56df9c2","name":"print_flpth_nm","value":"={{ $('default variables').item.json.base_url}}{{ $('extract board detail items').item.json.print_flpth_nm }}","type":"string"},{"id":"7e662533-f931-4a90-9dfb-f1386c206c8f","name":"print_file_nm","value":"={{ $('extract board detail items').item.json.prinf_file_nm }}","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"={{ $('extract board detail items').item.json.flpth_nm.length > 0 ? $('extract board detail items').item.json.flpth_nm.map(item => $('default variables').item.json.base_url + item).join('@') : null }}","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"={{ \n$('extract board detail items').item.json.file_nm.length > 0 ? $('extract board detail items').item.json.file_nm.join('@') : null\n}}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"N","type":"string"},{"id":"9f54d932-dd37-4175-b8cb-2d855891f65f","name":"subsidy_amount","value":"null","type":"object"},{"id":"8e2d8fb4-cebd-42c1-b12a-e673a77fc802","name":"self_contribution_rate","value":"null","type":"object"},{"id":"f12e819d-409d-436e-b658-684ba9ac8e30","name":"support_target","value":"null","type":"object"},{"id":"83e3ad1a-3ad2-4b72-a477-b123113b2e4a","name":"bonus_points_factors","value":"null","type":"object"},{"id":"d324fdce-53d0-453d-a211-7318d5935647","name":"total_budget","value":"null","type":"object"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"75a37755-271f-4797-a2c7-cf650db294e8","name":"source","value":"={{ $('default variables').item.json.source }}","type":"string"},{"id":"e9fe45e7-7eff-4e79-b8f8-91e76209dc2e","name":"reqst_mth_papers_cn","value":"={{ $json.a.reqst_mth_papers_cn }}","type":"string"},{"id":"5cff9144-b022-4c25-820e-86ab012b1321","name":"subsidy_amount","value":"={{ $json.a.subsidy_amount }}","type":"string"},{"id":"576eb6a4-e3a6-4c33-812c-e9cd0823b08c","name":"self_contribution_rate","value":"={{ $json.a.self_contribution_rate }}","type":"string"},{"id":"43c7d965-2238-45ca-9747-6a7d29a31896","name":"support_target","value":"={{ $json.a.target_nm }}","type":"string"},{"id":"5b6af3c3-cb7c-4c9e-bba9-a613a8ba3825","name":"bonus_points_factors","value":"={{ $json.a.bonus_points_factors==null ? null :  $json.a.bonus_points_factors.toJsonString() }}","type":"string"},{"id":"3e892a8d-2f7a-4545-926c-16c4f7a624ab","name":"total_budget","value":"={{ $json.a.total_budget }}","type":"string"},{"id":"16575838-a2c6-459b-9593-77cebceffb55","name":"exc_instt_nm","value":"={{ $json.a.exc_instt_nm }}","type":"string"},{"id":"7bef7724-0ebf-48d8-bda6-2e4855c4fa9d","name":"creat_p_nttm","value":"={{ $now }}","type":"string"},{"id":"ac5d7eaa-ffc0-458f-a824-2a500d594d79","name":"created_ts","value":"={{ $now }}","type":"string"},{"id":"8bebac99-63c7-493b-91ea-0396e036ab16","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"7056dc97-2d65-457f-a583-44e5865e89f0","name":"del_yn","value":"N","type":"string"},{"id":"23663b17-c035-4cd6-a1dc-6cf69f8eaf09","name":"hide_yn","value":"N","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2208,1632],"id":"2a786238-4c17-4a5a-8e44-1d336a55e954","name":"ai result","disabled":true},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-small-latest\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"첨부한 PDF에서 pblanc_nm(공고제목), jrsd_instt_nm(대상 지역), 주최기관(exc_instt_nm), bsns_sumry_cn(공고요약), target_nm(대상기업), reqst_begin_end_de(공고 전체기간 형식은 ***'YYYYMMDD ~ YYYYMMDD'***), reqst_begin_dt(공고시작기간 YYYY-MM-DD), reqst_end_dt(공고마감기간 YYYY-MM-DD), reqst_mth_papers_cn(사업신청방법), refrnc_nm(문의처), 지원금액(subsidy_amount), 가점요소(bonus_points_factors), 예산(total_budget), 자부담률(self_contribution_rate) 에 대한 정보를 알려줘 만약 자료가 없다면 null으로라도 알려줘 응답은 json형태야 또한 지역명(jrsd_instt_nm)이 {{ $('default variables').item.json.cityMap.values() }}중 하나로 출력되게 해주고, 만약 없다면 null로 출력해줘 그리고 reqst_begin_end_de(공고 전체기간의 형식은 반드시 YYYYMMDD ~ YYYYMMDD 의 형태로 해줘 그리고 대상기업(target_nm)은 중소기업,대기업 중 골라서 해주고 둘다 지원한다면 중소기업,대기업 으로 출력해줘 알 수 없으면 null이야\"\n        },\n        {\n          \"type\": \"document_url\",\n          \"document_url\": \"{{ $json.url }}\"\n        }\n      ]\n    }\n  ],\n  \"document_image_limit\": 8,\n  \"document_page_limit\": 64\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"8ad8118a-6604-400d-8c35-c0efd2b1ab6a","name":"do documnet qna","type":"n8n-nodes-base.httpRequest","position":[1648,1632],"typeVersion":4.2,"alwaysOutputData":true,"credentials":{"mistralCloudApi":{"id":"DMvGIk4nGb1Gfy0K","name":"Mistral Cloud account 2"}},"disabled":true},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{ $json.id }}/url","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"expiry","value":"24"}]},"options":{"allowUnauthorizedCerts":false}},"id":"9e55b8f3-9290-49b0-b015-d92ff3c05e64","name":"Retrieve img3","type":"n8n-nodes-base.httpRequest","position":[1488,1632],"typeVersion":4.2,"credentials":{"mistralCloudApi":{"id":"DMvGIk4nGb1Gfy0K","name":"Mistral Cloud account 2"}},"disabled":true},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{ $json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","options":{"allowUnauthorizedCerts":false}},"id":"7516c45d-0e39-4d1b-b067-efc37b287583","name":"Retrieve img1","type":"n8n-nodes-base.httpRequest","position":[1312,1632],"typeVersion":4.2,"credentials":{"mistralCloudApi":{"id":"DMvGIk4nGb1Gfy0K","name":"Mistral Cloud account 2"}},"disabled":true},{"parameters":{"method":"POST","url":"http://192.168.10.133:8000/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,1520],"id":"bcee8575-e960-47ec-9a77-26f5a1c44313","name":"Convert Hwp to pdf","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c0766b1d-be0d-4a1e-9f11-7b7f1c6e523f","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[912,1728],"id":"9c5b9360-187b-4a69-b3d8-f59beac1fe82","name":"check attachment is pdf","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f508c80c-83a5-49ae-8a0e-dcae90f459e4","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[640,1552],"id":"d775b549-cbff-4e15-be56-b1b7be1b853f","name":"check attachment is hwp","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f19fcb18-1be8-4c2d-a1da-1c5d2323a261","leftValue":"={{ $json.prinf_file_nm != null }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"07ac3db3-fee1-4ccb-b8fb-39047da89a90","leftValue":"={{ $json.print_flpth_nm }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,1792],"id":"e5d79ac0-b816-493c-a4df-383717062475","name":"check attachment files","disabled":true},{"parameters":{"jsCode":"const names = $('extract board detail items').first().json.file_nm || [];\nconst addresses = $('extract board detail items').first().json.flpth_nm || [];\nconst baseUrl = \"http://www.technopark.kr\";\n\nlet noticeFileName = null;\nlet noticeFileAddress = null;\n\nconst extraFileNames = [];\nconst extraFilePaths = [];\n\nfor (let i = 0; i < names.length; i++) {\n  const name = names[i]?.replace(\" 새 창 열림\", \"\").trim();\n  const address = addresses[i];\n\n  if (!name || !address) continue;\n\n  if ((name.includes(\"공고문\") || name.includes(\"공고\")) && noticeFileName === null) {\n    // \"공고문\" 또는 \"공고\"가 포함된 첫 번째 파일\n    noticeFileName = name;\n    noticeFileAddress = `${baseUrl}${address}`;\n  } else {\n    // 그 외 파일들\n    extraFileNames.push(name);\n    extraFilePaths.push(`${baseUrl}${address}`);\n  }\n}\n\nreturn [{\n  json: {\n    fileName: noticeFileName,\n    fileAddress: noticeFileAddress,\n    file_nm: extraFileNames.join(\"@\"),\n    flpth_nm: extraFilePaths.join(\"@\")\n  }\n}];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,304],"id":"32f72d44-1d46-4b7f-8e10-bdf3ef5a1902","name":"pdf,첨부파일분리"},{"parameters":{"url":"={{ $json.fileAddress }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"cookie","value":"={{ $('get board list page').item.json.headers['set-cookie'] }}"}]},"options":{"response":{"response":{"responseFormat":"file"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2224,304],"id":"7ce5a64c-91ef-44b1-b873-a31bf7e20736","name":"download files","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $binary.data.fileName.split('.').pop() }}","rightValue":"=pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2432,304],"id":"3bd06b70-9888-4b12-a4e6-2e16075555f6","name":"If"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"de9b5a23-676f-4598-98c3-a806b4208ce1","name":"Upload a file1","type":"n8n-nodes-base.httpRequest","position":[2784,400],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://192.168.10.133:8000/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"13f8d210-be10-4159-aa60-403e2db1360f","name":"hwp->pdf","type":"n8n-nodes-base.httpRequest","position":[2608,400],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"b09f10d4-7605-4a06-94f5-374f0896fbcf","name":"Upload a file2","type":"n8n-nodes-base.httpRequest","position":[2608,144],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{$json[\"id\"]}}/url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2992,304],"id":"af1d23bc-5312-4093-b61e-b263fe966691","name":"HTTP Request3","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"acc6bd36-3b77-4816-8372-fa8433c060d3","name":"do ocr1","type":"n8n-nodes-base.httpRequest","position":[3168,304],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const pages = $input.first().json.pages;\nlet combinedMarkdown = '';\n\nfor (const page of pages) {\n  combinedMarkdown += page.markdown + '\\n';  // 줄바꿈 포함해서 합치기\n}\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 통합 결과 반환\nreturn [\n  {\n    json: {\n      combinedMarkdown,\n      creat_p_nttm: formatted,\n      created_ts: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3408,304],"id":"18704bce-06f5-4e84-b731-9cd000a1c6fa","name":"Code23","onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"={{ $json.combinedMarkdown }} \\n에서  \npblanc_nm(공고제목),  \njrsd_instt_nm(지역 혹은 사이트이름),  \nbsns_sumry_cn(공고요약),  \ntrget_nm(대상기업),  \nreqst_begin_end_de(공고 전체기간),  \nreqst_begin_dt(공고시작기간),  \nreqst_end_dt(공고마감기간),  \nreqst_mth_papers_cn(사업신청방법),  \nrefrnc_nm(문의처),  \nsubsidy_amount(지원금액),  \nself_contribution_rate(자부담률),  \nsupport_target(지원기업, 예: 대기업, 중소기업),  \nbonus_points_factors(가점요소),  \ntotal_budget(예산),\nexcInsttNm(사업수행기간)\n에 대한 정보를 알려줘.\n\n공고제목은 detail_part에서 처음 <p>를 제목으로 참고.\n\n1. reqst_begin_end_de 형식은 YYYYMMDD ~ YYYYMMDD입니다.  \n   → 이를 reqst_begin_dt, reqst_end_dt로 YYYY-MM-DD 형식으로 변환.\n\n2. 지역명은 아래 cityMap에서 value로 변환해 주세요.\n\ncityMap: {\n  \"서울\": \"서울특별시\",\n  \"부산\": \"부산광역시\",\n  \"대구\": \"대구광역시\",\n  \"인천\": \"인천광역시\",\n  \"광주\": \"광주광역시\",\n  \"대전\": \"대전광역시\",\n  \"울산\": \"울산광역시\",\n  \"세종\": \"세종특별자치시\",\n  \"경기\": \"경기도\",\n  \"강원\": \"강원도\",\n  \"충북\": \"충청북도\",\n  \"충남\": \"충청남도\",\n  \"전북\": \"전라북도\",\n  \"전남\": \"전라남도\",\n  \"경북\": \"경상북도\",\n  \"경남\": \"경상남도\",\n  \"제주\": \"제주특별자치도\",\n  \"전지역\": \"전지역\"\n}\n\ntrget_nm 값은 단일값(중소기업, 대기업 등)만 사용.\n\n---\n\nprint_flpth_nm: {{ $('pdf,첨부파일분리').item.json.fileAddress }},  \nprint_file_nm : {{ $('pdf,첨부파일분리').item.json.fileName }},  \ncreat_p_nttm : {{ $json.creat_p_nttm }},  \ncreated_ts   : {{ $json.created_ts }},\n\ncreat_p_nttm, created_ts는 timestamp 형식으로  \nreqst_begin_dt 값 기준 \"yyyy-MM-dd HH:mm:ss\" 형태로 변환.\n\n---\n\n값이 없거나 찾을 수 없으면 아래처럼 공백(\"\") 처리:\n\n{\n  \"pblanc_nm\": \"\",\n  \"jrsd_instt_nm\": \"\",\n  \"bsns_sumry_cn\": \"\",\n  \"trget_nm\": \"\",\n  \"reqst_begin_end_de\": \"\",\n  \"reqst_begin_dt\": \"\",\n  \"reqst_end_dt\": \"\",\n  \"reqst_mth_papers_cn\": \"\",\n  \"refrnc_nm\": \"\",\n  \"print_flpth_nm\": \"\",\n  \"print_file_nm\": \"\",\n  \"flpth_nm\": \"\",\n  \"file_nm\": \"\",\n  \"creat_p_nttm\": \"\",\n  \"created_ts\": \"\",\n  \"subsidy_amount\": \"\",\n  \"self_contribution_rate\": \"\",\n  \"support_target\": \"\",\n  \"bonus_points_factors\": \"\",\n  \"total_budget\": \"\"\n}\n\n---\n\nmain_category(대분류):  \n- 선택 가능한 항목: 스마트생태공장,상생협력 실증프로그램,스마트공장 / 제조혁신,탄소중립 / 온실가스저감,FEMS 에너지효율화,마케팅 / 기술인프라 구축\n- 공고 내용 내 키워드 존재 여부로 판단, 여러 개면 콤마(,)로 구분  \n- 없거나 애매하면 빈 문자열(\"\")  \n\n예시:  \n\"컨설팅,스마트생태공장\"\n\n---\n\nsub_category(설비분류):  \n- 아래 설비 목록 중 공고 내용에 언급된 항목만 콤마(,)로 구분 출력  \n- 목록 외 설비는 추가 금지  \n- 없으면 빈 문자열(\"\")  \n\n[설비 목록]  \n변압기, 폐유재활용설비, 송풍기, 신재생발전설비, 집진기, 펌프, 콤프레셔, 공기조화기,  \n열회수환기장치, 보일러, 열교환기, 배출가스처리기, 공기정화기, 탈황기, 탈질기, 오수처리기,  \n폐수처리기, 냉각탑, 에너지관리시스템, 공정제어시스템, 자동화시스템, 냉동기, 증기재압축장치,  \n폐열회수시스템, 유수분리기, 압축기, 인버터, 용해로, 응축수회수기, 악취저감설비, 사출성형기\n\n예시:  \n\"인버터,용해로\"\n\n---\n\n주의사항:  \n- 설비 이름은 반드시 위 목록에서만 선택  \n- 관련성이 낮거나 판단이 어려우면 빈 문자열(\"\")  \n- 출력은 항상 문자열이며 null이 아닌 빈 문자열(\"\")로 표기\n","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[3600,304],"id":"58ef9c99-0fd8-4682-b2aa-a17222bf950e","name":"Basic LLM Chain","retryOnFail":false,"maxTries":null,"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"$id\": \"https://example.com/product.schema.json\",\n  \"title\": \"anouncement\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"pblanc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고제목 (없으면 공백처리)\"\n    },\n    \"jrsd_instt_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고지역 (없으면 공백처리)\"\n    },\n    \"bsns_sumry_cn\": {\n      \"type\": \"string\",\n      \"description\": \"공고요약 (없으면 공백처리)\"\n    },\n    \"trget_nm\": {\n      \"type\": \"string\",\n      \"description\": \"대상기업 (없으면 공백처리)\"\n    },\n    \"reqst_begin_end_de\": {\n      \"type\": \"string\",\n      \"description\": \"공고 전체 기간 (없으면 공백처리)\"\n    },\n    \"reqst_begin_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 시작 기간 (없으면 공백처리)\"\n    },\n    \"reqst_end_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 종료 기간 (없으면 공백처리)\"\n    },\n    \"reqst_mth_papers_cn\": {\n      \"type\": \"string\",\n      \"description\": \"사업신청 방법 (없으면 공백처리)\"\n    },\n    \"refrnc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"문의처내용 (없으면 공백처리)\"\n    },\n    \"print_flpth_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 주소 (없으면 공백처리)\"\n    },\n    \"print_file_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 파일명 (없으면 공백처리)\"\n    },\n    \"subsidy_amount\": {\n      \"type\": \"string\",\n      \"description\": \"지원금액, 원화로 변환 및 금액만 적시 (없으면 공백처리)\"\n    },\n    \"self_contribution_rate\": {\n      \"type\": \"string\",\n      \"description\": \"자부담률 (없으면 공백처리)\"\n    },\n    \"support_target\": {\n      \"type\": \"string\",\n      \"description\": \"지원기업 (예: 대기업, 중소기업, 대명사만 적시, 없으면 공백처리)\"\n    },\n    \"bonus_points_factors\": {\n      \"type\": \"string\",\n      \"description\": \"가점요소(간략하게, 없으면 공백처리)\"\n    },\n    \"total_budget\": {\n      \"type\": \"string\",\n      \"description\": \"예산 (없으면 공백처리)\"\n    },\n    \"main_category\": {\n      \"type\": \"string\",\n      \"description\": \"대분류(없으면 공백)\"\n    },\n    \"sub_category\": {\n      \"type\": \"string\",\n      \"description\": \"설비분류 (없으면 공백처리)\"\n    },\n    \"excInsttNm\": {\n      \"type\": \"string\",\n      \"description\": \"사업수행기관 (없으면 공백처리)\"\n    }\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[3920,720],"id":"b30298b4-eb54-4a20-b178-d8b68029ccdd","name":"Structured Output Parser","notesInFlow":false},{"parameters":{"modelName":"models/gemini-1.5-flash-8b-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[3344,672],"id":"e5a758b6-d24e-40d1-b9d0-d3385459a3b7","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"XWAzclOTFyK0A6fs","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('retrieve').item.json.pblanc_nm }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"={{$('Code2').first().json.output.jrsd_instt_nm}}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('Code2').first().json.output.bsns_sumry_cn }}","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"={{ $('Code2').first().json.output.trget_nm }}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{ $('Code2').first().json.output.reqst_begin_end_de }}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $('Code2').first().json.output.reqst_begin_dt }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $('Code2').first().json.output.reqst_end_dt }}","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"={{ $('Code2').first().json.output.refrnc_nm }}","type":"string"},{"id":"b5e49522-9965-4e13-90b1-86edf56df9c2","name":"print_flpth_nm","value":"={{ $('pdf,첨부파일분리').item.json.fileAddress }}","type":"string"},{"id":"7e662533-f931-4a90-9dfb-f1386c206c8f","name":"print_file_nm","value":"={{ $('pdf,첨부파일분리').item.json.fileName }}","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"={{ $('pdf,첨부파일분리').item.json.flpth_nm }}","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"={{ $('pdf,첨부파일분리').item.json.file_nm }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"C","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"한국테크노파크진흥회","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('Code23').item.json.created_ts }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('Code23').item.json.created_ts }}","type":"string"},{"id":"9adbcf7a-7243-4479-ab01-6b2ccb31d8a6","name":"subsidy_amount","value":"={{ $('Code2').first().json.output.subsidy_amount }}","type":"string"},{"id":"b0d54477-2d5b-4aa1-8905-ca396242ddab","name":"self_contribution_rate","value":"={{ $('Code2').first().json.output.self_contribution_rate }}","type":"string"},{"id":"09d5c3f0-2aa9-424f-ba57-bdd0df8ae9bf","name":"support_target","value":"={{ $('Code2').first().json.output.support_target }}","type":"string"},{"id":"283f473c-7824-46ef-b963-feb711e63a22","name":"=bonus_points_factors","value":"={{ $('Code2').first().json.output.bonus_points_factors }}","type":"string"},{"id":"20d0efcf-9335-4130-ad6e-c50b4f37a404","name":"total_budget","value":"={{ $('Code2').first().json.output.total_budget }}","type":"string"},{"id":"822add63-c5d2-44ca-8915-9b46fecc13fe","name":"pblanc_url","value":"={{ $('retrieve').item.json.link }}","type":"string"},{"id":"523fbbc9-f694-4249-9ba7-ea93be4d5f9e","name":"main_category","value":"={{$('Code2').first().json.output.main_category}}","type":"string"},{"id":"0ffdf4cd-75b8-4dd9-8938-533742f1c1b1","name":"sub_category","value":"={{$('Code2').first().json.output.sub_category}}","type":"string"},{"id":"3f9d05e1-7806-42d6-9391-9f5c3d0b5370","name":"reqst_mth_papers_cn","value":"={{ $('Code2').first().json.output.reqst_mth_papers_cn }}","type":"string"},{"id":"3910e606-73a1-4769-8a97-ab14cde3a65b","name":"exc_instt_nm","value":"={{ $('Code2').first().json.output.excInsttNm }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4544,304],"id":"27548970-1f1b-42fb-8ef5-0977ef27692c","name":"ai result1","onError":"continueErrorOutput"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[4928,304],"id":"bdeba8eb-91ea-4380-a3f0-af1661555cd1","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":2,"unit":"minutes"},"id":"b6189a02-fdff-4c3d-843f-669cc9d50e00","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[5088,304],"webhookId":"27d8ebf7-bb5d-46de-b07c-f6f4d65f8e98"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4720,304],"id":"7b0e1f58-d7fe-4ba4-8a3c-1b3778f0ef52","name":"If1","retryOnFail":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[3792,544],"id":"ae327044-e812-4780-a2d6-c684500d3351","name":"Auto-fixing Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3792,720],"id":"d547200f-4290-41b0-8a24-8cd1c42bcd12","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"SKDNgNmyz3uaizES","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4320,304],"id":"89d3a854-efd0-4622-8856-13cb27c769e2","name":"If2"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.pblanc_nm) {\n    item.json.pblanc_nm = item.json.pblanc_nm.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3984,304],"id":"dd2bff7e-d328-45d3-a366-3f3ae7a338ba","name":"Code2"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.output.pblanc_nm }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[4160,304],"id":"5278d549-2038-4a86-93e9-571d7dce4aa5","name":"MySQL2","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-448,160],"id":"22e50c7c-187d-4249-bb53-4a7ff10524b9","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1904,128],"id":"1e7fdd78-08b5-4c7c-ab98-7ea30045c4c3","name":"If3"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.pblanc_nm) {\n    item.json.pblanc_nm = item.json.pblanc_nm.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,128],"id":"9426ffc7-f733-43ae-b68a-0c77d34b5a29","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.pblanc_nm }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1744,128],"id":"39b96b57-6728-40a5-8590-7c7f6c25ef9b","name":"Select rows from a table","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}}],"connections":{"paging retrieve":{"main":[[{"node":"paging batch","type":"main","index":0}]]},"paging batch":{"main":[[],[{"node":"get board list page","type":"main","index":0}]]},"default variables":{"main":[[{"node":"paging retrieve","type":"main","index":0}]]},"get board list page":{"main":[[{"node":"extract board items","type":"main","index":0}]]},"retrieve":{"main":[[{"node":"board detail batch","type":"main","index":0}]]},"board detail batch":{"main":[[],[{"node":"is it after than yesterday","type":"main","index":0}]]},"is it after than yesterday":{"main":[[{"node":"Get board detail","type":"main","index":0}],[{"node":"board detail batch","type":"main","index":0}]]},"Get board detail":{"main":[[{"node":"extract board detail items","type":"main","index":0}]]},"extract board items":{"main":[[{"node":"retrieve","type":"main","index":0}]]},"extract board detail items":{"main":[[{"node":"중복 자료 조회","type":"main","index":0}]]},"get image batch":{"main":[[{"node":"Aggregate1","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"check it has image in content":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"get image batch","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"get image batch","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"images to pdf file","type":"main","index":0}]]},"markdown parse to json":{"main":[[{"node":"make duration data","type":"main","index":0}]]},"Upload a img1":{"main":[[{"node":"Retrieve img1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"check attachment is hwp","type":"main","index":0}]]},"make duration data":{"main":[[{"node":"ai result","type":"main","index":0}]]},"ai result":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"do documnet qna":{"main":[[{"node":"markdown parse to json","type":"main","index":0}]]},"Retrieve img3":{"main":[[{"node":"do documnet qna","type":"main","index":0}]]},"Retrieve img1":{"main":[[{"node":"Retrieve img3","type":"main","index":0}]]},"Convert Hwp to pdf":{"main":[[{"node":"Upload a img1","type":"main","index":0}]]},"check attachment is pdf":{"main":[[{"node":"Upload a img1","type":"main","index":0}]]},"check attachment is hwp":{"main":[[{"node":"Convert Hwp to pdf","type":"main","index":0}],[{"node":"check attachment is pdf","type":"main","index":0}]]},"check attachment files":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"pdf,첨부파일분리":{"main":[[{"node":"download files","type":"main","index":0}]]},"download files":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Upload a file2","type":"main","index":0}],[{"node":"hwp->pdf","type":"main","index":0}]]},"Upload a file1":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"hwp->pdf":{"main":[[{"node":"Upload a file1","type":"main","index":0}]]},"Upload a file2":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"do ocr1","type":"main","index":0}]]},"do ocr1":{"main":[[{"node":"Code23","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"ai result1":{"main":[[{"node":"If1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"If1":{"main":[[{"node":"MySQL1","type":"main","index":0}],[{"node":"board detail batch","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"If2":{"main":[[{"node":"ai result1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"MySQL2","type":"main","index":0}]]},"MySQL2":{"main":[[{"node":"If2","type":"main","index":0}]]},"Code23":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"board detail batch","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"default variables","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"If3":{"main":[[{"node":"pdf,첨부파일분리","type":"main","index":0}],[{"node":"board detail batch","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"If3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"f1b88115-2aaf-4429-ba49-9455f73d1ee8","triggerCount":1,"shared":[{"createdAt":"2025-06-20T04:03:19.006Z","updatedAt":"2025-06-20T04:03:19.006Z","role":"workflow:owner","workflowId":"fMjb4CH3XS8hds6s","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}