11.중소벤처24-A0Ysjf1yOfsNFjNm.json
{"createdAt":"2025-06-20T05:01:07.855Z","updatedAt":"2025-10-17T05:05:42.771Z","id":"A0Ysjf1yOfsNFjNm","name":"11.중소벤처24","active":true,"isArchived":false,"nodes":[{"parameters":{"mode":"raw","jsonOutput":"{\n  \"base_url\": \"https://www.smes.go.kr\",\n  \"board_list\": \"/main/sportsBsnsPolicy?curPage=1\",\n  \"board_detail\": \"/main/sportsBsnsPolicy\",\n  \"attach_url\": \"https://www.smes.go.kr\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3280,-48],"id":"59027f85-33b0-4bd5-8e5b-648d647afa8f","name":"변수설정"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":"div.tbl-wrap:nth-child(2) > table:nth-child(1) > tbody:nth-child(4) > tr > td:nth-child(2) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"title","cssSelector":"div.tbl-wrap:nth-child(2) > table:nth-child(1) > tbody:nth-child(4) > tr > td:nth-child(2) > a:nth-child(1)","returnValue":"attribute","attribute":"title","returnArray":true},{"key":"date","cssSelector":"div.tbl-wrap:nth-child(2) > table:nth-child(1) > tbody:nth-child(4) > tr > td:nth-child(3)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-2704,-48],"typeVersion":1,"id":"07a4cdf3-7482-44f0-97fe-53b3f0b095bc"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2256,-48],"id":"a963617c-c6a7-4dfa-a345-cc3f0e8c5ce1","name":"Loop Over Items1"},{"parameters":{"url":"https://www.smes.go.kr/main/sportsBsnsPolicy/view","sendQuery":true,"queryParameters":{"parameters":[{"name":"viewPblancSeq","value":"={{ $json.viewPblancSeq }}"},{"name":"viewCntcInsttCd","value":"={{ $json.viewCntcInsttCd }}"},{"name":"viewPage"},{"name":"viewPblancId","value":"={{ $json.viewPblancId }}"},{"name":"viewInsttNm"},{"name":"pblancNowStat","value":"={{ $json.status }}"},{"name":"viewPblancNm"},{"name":"backCd","value":"Y"},{"name":"tabName","value":","},{"name":"curPage"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:143.0) Gecko/20100101 Firefox/143.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Referer","value":"https://www.smes.go.kr/main/sportsBsnsPolicy?"},{"name":"Connection","value":"keep-alive"},{"name":"Cookie","value":"JSESSIONID=52616EE5E9D29BC75E90DE221C1BD823"},{"name":"Upgrade-Insecure-Requests","value":"1"},{"name":"Sec-Fetch-Dest","value":"document"},{"name":"Sec-Fetch-Mode","value":"navigate"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"Sec-Fetch-User","value":"?1"},{"name":"Priority","value":"u=0, i"},{"name":"cookie","value":"JSESSIONID=52616EE5E9D29BC75E90DE221C1BD823;"}]},"options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2016,-48],"id":"6f06f203-3fc9-43d4-8c5d-8b1f784d4ef9","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"extractionValues":{"values":[{"key":"title","cssSelector":".subject"},{"key":"exc_instt_nm","cssSelector":"table.tbl-list01:nth-child(1) > tbody:nth-child(3) > tr:nth-child(1) > td:nth-child(2)"},{"key":"bsns_sumry_cn","cssSelector":"div.correct-form:nth-child(9) > dl:nth-child(2) > dd:nth-child(2)","returnValue":"html"},{"key":"support_target","cssSelector":"div.correct-form:nth-child(9) > dl:nth-child(3) > dd:nth-child(2)"},{"key":"reqst_begin_end_de","cssSelector":"div.correct-form:nth-child(9) > dl:nth-child(4) > dd:nth-child(2)"},{"key":"reqst_mth_papers_cn","cssSelector":"div.correct-form:nth-child(9) > dl:nth-child(5) > dd:nth-child(2)"},{"key":"refrnc_nm","cssSelector":"div.correct-form:nth-child(9) > dl:nth-child(6) > dd:nth-child(2)"},{"key":"print_flpth_nm","cssSelector":"div.correct-form:nth-child(9) > dl:nth-child(7) > dd:nth-child(2) > a:nth-child(1)","returnValue":"attribute","attribute":"href"},{"key":"print_file_nm","cssSelector":"div.correct-form:nth-child(10) > dl:nth-child(7) > dd:nth-child(2) > a:nth-child(1)"}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[-1840,-48],"typeVersion":1,"id":"454b017f-e8df-4023-8bc2-ba69196528ec"},{"parameters":{"url":"https://www.smes.go.kr/main/comm/getFile","sendQuery":true,"queryParameters":{"parameters":[{"name":"srvcId","value":"CNTCWRTANC"},{"name":"upperNo","value":"={{ $('금일 기준').item.json.viewPblancSeq }}"},{"name":"fileTy","value":"CNTCATTACH"},{"name":"fileNo","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:143.0) Gecko/20100101 Firefox/143.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Connection","value":"keep-alive"},{"name":"Referer","value":"https://www.smes.go.kr/main/sportsBsnsPolicy/view?viewPblancSeq=208598945&viewCntcInsttCd=BI16&viewPage=&viewPblancId=PBLN_000000000114802&viewInsttNm=%EB%B6%80%EC%82%B0%ED%85%8C%ED%81%AC%EB%85%B8%ED%8C%8C%ED%81%AC&pblancNowStat=%EC%8B%A0%EC%B2%AD+%EA%B0%80%EB%8A%A5&viewPblancNm=&backCd=Y&tabName=&tabName=&curPage="},{"name":"Cookie","value":"JSESSIONID=52616EE5E9D29BC75E90DE221C1BD823"},{"name":"Upgrade-Insecure-Requests","value":"1"},{"name":"Sec-Fetch-Dest","value":"document"},{"name":"Sec-Fetch-Mode","value":"navigate"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"Sec-Fetch-User","value":"?1"},{"name":"Priority","value":"u=0, i"},{"name":"cookie","value":"JSESSIONID=52616EE5E9D29BC75E90DE221C1BD823;"}]},"options":{"response":{"response":{"responseFormat":"file"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-960,-48],"id":"69959243-a14d-4b10-8481-9a0d00952041","name":"download files","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{$json[\"id\"]}}/url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,-64],"id":"8d6002c3-06d6-44a0-8f18-d6dbb9a29ff0","name":"HTTP Request","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"d603aa2b-c119-4a5a-86b6-028f36e1ab2a","name":"do ocr","type":"n8n-nodes-base.httpRequest","position":[272,-48],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"={{ $json.combinedMarkdown }} \\n에서  \npblanc_nm(공고제목), jrsd_instt_nm(지역 혹은 사이트이름), bsns_sumry_cn(공고요약), trget_nm(대상기업),  \nreqst_begin_end_de(공고 전체기간), reqst_begin_dt(공고시작기간), reqst_end_dt(공고마감기간),  \nreqst_mth_papers_cn(사업신청방법), excInsttNm(사업수행기관), refrnc_nm(문의처), subsidy_amount(지원금액),  \nself_contribution_rate(자부담률), support_target(지원기업 예: 대기업,중소기업), bonus_points_factors(가점요소 50자이내),  \ntotal_budget(예산) 에 대한 정보를 알려줘.\n\n공고제목은 detail_part에서 처음 <p>를 제목으로 참고.\n\n[1] 날짜 변환 규칙  \n- reqst_begin_end_de 형식: YYYYMMDD ~ YYYYMMDD  (형식 지켜줘 very important)\n  → 이를 reqst_begin_dt, reqst_end_dt로 YYYY-MM-DD 형식으로 변환  \n\n[2] 지역명 변환 (cityMap)  \n{\n  \"서울\": \"서울특별시\", \"부산\": \"부산광역시\", \"대구\": \"대구광역시\", \"인천\": \"인천광역시\",\n  \"광주\": \"광주광역시\", \"대전\": \"대전광역시\", \"울산\": \"울산광역시\", \"세종\": \"세종특별자치시\",\n  \"경기\": \"경기도\", \"강원\": \"강원도\", \"충북\": \"충청북도\", \"충남\": \"충청남도\",\n  \"전북\": \"전라북도\", \"전남\": \"전라남도\", \"경북\": \"경상북도\", \"경남\": \"경상남도\",\n  \"제주\": \"제주특별자치도\", \"전지역\": \"전지역\"\n}\n\ntrget_nm 값은 단일값(중소기업, 대기업 등)만 사용.\n\n[3] 첨부파일 경로 변수  \ncreat_p_nttm   : {{ $json.creat_p_nttm }}\ncreated_ts     : {{ $json.created_ts }}\n\n[4] 값이 없거나 찾을 수 없으면 아래 형식으로 빈 문자열(\"\") 처리  \n{\n  \"pblanc_nm\": \"\",\n  \"jrsd_instt_nm\": \"\",\n  \"bsns_sumry_cn\": \"\",\n  \"trget_nm\": \"\",\n  \"reqst_begin_end_de\": \"\",\n  \"reqst_begin_dt\": \"\",\n  \"reqst_end_dt\": \"\",\n  \"reqst_mth_papers_cn\": \"\",\n  \"refrnc_nm\": \"\",\n  \"print_flpth_nm\": \"\",\n  \"print_file_nm\": \"\",\n  \"flpth_nm\": \"\",\n  \"file_nm\": \"\",\n  \"creat_p_nttm\": \"\",\n  \"created_ts\": \"\",\n  \"subsidy_amount\": \"\",\n  \"self_contribution_rate\": \"\",\n  \"support_target\": \"\",\n  \"bonus_points_factors\": \"\",\n  \"total_budget\": \"\"\n}\n\n[5] main_category(대분류) 분류 규칙  \n- 선택지: \"스마트생태공장\", \"상생협력 실증프로그램\", \"스마트공장 / 제조혁신\", \"탄소중립 / 온실가스저감\", \"FEMS 에너지효율화\"  , \"마케팅 / 기술인프라 구축\"\n- 공고 내용에 해당 키워드가 존재하면 선택  \n- 여러 개면 콤마(,)로 구분  \n- 없거나 애매하면 \"\"  \n\n예시:  \n\"컨설팅,스마트생태공장\"\n\n[6] sub_category(설비분류) 분류 규칙  \n- 선택 가능 항목:  \n변압기, 폐유재활용설비, 송풍기, 신재생발전설비, 집진기, 펌프, 콤프레셔, 공기조화기, 열회수환기장치, 보일러, 열교환기, 배출가스처리기, 공기정화기, 탈황기, 탈질기, 오수처리기, 폐수처리기, 냉각탑, 에너지관리시스템, 공정제어시스템, 자동화시스템, 냉동기, 증기재압축장치, 폐열회수시스템, 유수분리기, 압축기, 인버터, 용해로, 응축수회수기, 악취저감설비, 사출성형기  \n- 공고 내용에 해당 설비명이 등장하면 포함  \n- 목록 외 설비는 추가 금지  \n- 없으면 \"\"  \n\n예시:  \n\"인버터,용해로\"\n","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[720,-48],"id":"c5a3a134-b0eb-49cd-8cee-418ac9c6e464","name":"Basic LLM Chain","retryOnFail":false,"maxTries":null,"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"$id\": \"https://example.com/product.schema.json\",\n  \"title\": \"anouncement\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"pblanc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고제목 (없으면 공백처리)\"\n    },\n    \"jrsd_instt_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고지역 (없으면 공백처리)\"\n    },\n    \"bsns_sumry_cn\": {\n      \"type\": \"string\",\n      \"description\": \"공고요약 (없으면 공백처리)\"\n    },\n    \"trget_nm\": {\n      \"type\": \"string\",\n      \"description\": \"대상기업 (없으면 공백처리)\"\n    },\n    \"reqst_begin_end_de\": {\n      \"type\": \"string\",\n      \"description\": \"공고 전체 기간 (없으면 공백 처리). 형식은 yyyymmdd ~ yyyymmdd. 날짜 형식이 yyyymmdd와 일치하지 않는 경우, 시작일, 종료일을 정확히 알 수 없으면 최근 유사 공고나 관행을 참고하여 예측일을 기입할 수 있음.형식은 무조건 yyyymmdd ~ yyyymmdd 형식\"\n    },\n    \"reqst_begin_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 시작일 (없으면 공백 처리). 날짜 형식은 yyyy-mm-dd 이어야 함. 시작일을 정확히 알 수 없는 경우, 최근 유사 공고나 관행을 참고하여 예측일을 기입할 수 있음.\"\n    },\n    \"reqst_end_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 종료일 (없으면 공백 처리). 날짜 형식은 yyyy-mm-dd 이어야 함. 종료일을 정확히 알 수 없는 경우, 예산 소진 기준 등으로 한 달 후와 같은 합리적인 추정값을 사용할 수 있음.\"\n    },\n    \"reqst_mth_papers_cn\": {\n      \"type\": \"string\",\n      \"description\": \"사업신청 방법 (없으면 공백처리)\"\n    },\n    \"excInsttNm\": {\n      \"type\": \"string\",\n      \"description\": \"사업수행기관 (없으면 공백처리)\"\n    },\n    \"refrnc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"문의처내용 (없으면 공백처리)\"\n    },\n    \"print_flpth_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 주소 (없으면 공백처리)\"\n    },\n    \"print_file_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 파일명 (없으면 공백처리)\"\n    },\n    \"subsidy_amount\": {\n      \"type\": \"string\",\n      \"description\": \"지원금액, 원화로 변환 및 금액만 적시 (없으면 공백처리)\"\n    },\n    \"self_contribution_rate\": {\n      \"type\": \"string\",\n      \"description\": \"자부담률 (없으면 공백처리)\"\n    },\n    \"support_target\": {\n      \"type\": \"string\",\n      \"description\": \"지원기업 (예: 대기업, 중소기업, 대명사만 적시, 없으면 공백처리)\"\n    },\n    \"bonus_points_factors\": {\n      \"type\": \"string\",\n      \"description\": \"가점요소(간략하게, 없으면 공백처리,50자이내)\"\n    },\n    \"total_budget\": {\n      \"type\": \"string\",\n      \"description\": \"예산 (없으면 공백처리)\"\n    },\n    \"main_category\": {\n      \"type\": \"string\",\n      \"description\": \"대분류(없으면 공백)\"\n    },\n    \"sub_category\": {\n      \"type\": \"string\",\n      \"description\": \"설비분류 (없으면 공백처리)\"\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1040,384],"id":"13c85429-0d3c-4c51-8a20-2db22ab23af7","name":"Structured Output Parser","notesInFlow":false},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[752,128],"id":"228d3dd5-21ce-4ff1-95cb-4045b75947fb","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"XWAzclOTFyK0A6fs","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('Code').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"={{ $('Code2').first().json.output.jrsd_instt_nm }}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('Code2').item.json.output.bsns_sumry_cn }}","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"={{ $('Code2').first().json.output.trget_nm }}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{ $('Code2').item.json.output.reqst_begin_end_de }}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $('Code2').item.json.output.reqst_begin_dt }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $('Code2').item.json.output.reqst_end_dt }}","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"={{ $('Code2').item.json.output.refrnc_nm }}","type":"string"},{"id":"b5e49522-9965-4e13-90b1-86edf56df9c2","name":"print_flpth_nm","value":"={{ $('금일 기준').item.json.downloadLink }}","type":"string"},{"id":"7e662533-f931-4a90-9dfb-f1386c206c8f","name":"print_file_nm","value":"={{ $('Code').item.json.print_file_nm }}","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"={{ $('금일 기준').item.json.downloadLink }}","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"={{ $('Code').item.json.print_file_nm }}","type":"string"},{"id":"9f54d932-dd37-4175-b8cb-2d855891f65f","name":"subsidy_amount","value":"null","type":"object"},{"id":"8e2d8fb4-cebd-42c1-b12a-e673a77fc802","name":"self_contribution_rate","value":"null","type":"object"},{"id":"f12e819d-409d-436e-b658-684ba9ac8e30","name":"support_target","value":"null","type":"object"},{"id":"83e3ad1a-3ad2-4b72-a477-b123113b2e4a","name":"bonus_points_factors","value":"null","type":"object"},{"id":"d324fdce-53d0-453d-a211-7318d5935647","name":"total_budget","value":"null","type":"object"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"중소벤처24","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"N","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"N","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('Code22').item.json.created_ts }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('Code22').item.json.created_ts }}","type":"string"},{"id":"9adbcf7a-7243-4479-ab01-6b2ccb31d8a6","name":"subsidy_amount","value":"={{ $('Code2').first().json.output.subsidy_amount }}","type":"string"},{"id":"b0d54477-2d5b-4aa1-8905-ca396242ddab","name":"self_contribution_rate","value":"={{ $('Code2').first().json.output.self_contribution_rate }}","type":"string"},{"id":"09d5c3f0-2aa9-424f-ba57-bdd0df8ae9bf","name":"support_target","value":"={{ $('Code2').item.json.output.support_target }}","type":"string"},{"id":"283f473c-7824-46ef-b963-feb711e63a22","name":"=bonus_points_factors","value":"={{ $('Code2').first().json.output.bonus_points_factors }}","type":"string"},{"id":"20d0efcf-9335-4130-ad6e-c50b4f37a404","name":"total_budget","value":"={{ $('Code2').first().json.output.total_budget }}","type":"string"},{"id":"2d23b044-6a8e-474b-9510-acdb77977873","name":"pblanc_url","value":"={{ $('변수설정').item.json.base_url }}/main/sportsBsnsPolicy/view?viewPblancSeq={{ $('금일 기준').item.json.viewPblancSeq }}&viewCntcInsttCd={{ $('금일 기준').item.json.viewCntcInsttCd }}&viewPage={{ $('금일 기준').item.json.viewPage }}&viewPblancId={{ $('금일 기준').item.json.viewPblancId }}&viewInsttNm={{ $('금일 기준').item.json.viewInsttNm }}&pblancNowStat={{ $('금일 기준').item.json.pblancNowStat }}&viewPblancNm={{ $('금일 기준').item.json.viewPblancNm | urlencode}}&backCd={{ $('금일 기준').item.json.backCd }}&tabName={{ $('금일 기준').item.json.tabName[0] | urlencode }}&tabName=&curPage={{ $('금일 기준').item.json.curPage }}","type":"string"},{"id":"04911438-b848-4b0e-b4cd-990acbace8d7","name":"main_category","value":"={{ $('Code2').first().json.output.main_category }}","type":"string"},{"id":"57ff0f8e-df89-4923-985f-dccdb40f96d3","name":"sub_category","value":"={{ $('Code2').first().json.output.sub_category }}","type":"string"},{"id":"11306101-3a19-449c-81f7-ec6a4e562ec7","name":"reqst_mth_papers_cn","value":"={{ $('Code2').first().json.output.reqst_mth_papers_cn }}","type":"string"},{"id":"d308a32c-fba2-4d5d-8390-d2bdfb80a9bb","name":"exc_instt_nm","value":"={{ $('Code2').first().json.output.excInsttNm }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1680,-48],"id":"b423147e-13b4-4146-9d2e-c815a4376f0f","name":"ai result1","onError":"continueErrorOutput"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2064,-48],"id":"d10adc83-1aca-4c95-bf9f-ce2acf2855ae","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"90b4ce75-06b9-4044-8800-8ca0f407f5f7","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2224,-48],"webhookId":"ff3a799e-f411-4b6d-afb8-f7db01522502"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1872,-48],"id":"6d1e6ecf-4dcc-4c84-b81b-e0a12da2c6cb","name":"If1","retryOnFail":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[912,208],"id":"00f547a0-10b3-4eff-b515-284b82a2f737","name":"Auto-fixing Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[912,384],"id":"184d2253-8d21-458d-849b-ef99d1cbd5a8","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"SKDNgNmyz3uaizES","name":"OpenAi account"}}},{"parameters":{"jsCode":"const announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\n\nconst backCd = items[0]?.json?.backCd || \"Y\";\nconst viewPblancNm = items[0]?.json?.viewPblancNm || \"\";\nconst tabNameArray = items[0]?.json?.tabName || [];\nconst curPage = items[0]?.json?.curPage || \"1\";\n\n// 어제 날짜 (yyyy-mm-dd)\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yesterdayStr = yesterday.toISOString().slice(0, 10);\n\n// 공고 URL 생성 함수\nfunction parseFnIncludeParams(jsString) {\n  const match = jsString.match(/fn_include_popOpen2\\(([^)]+)\\)/);\n  if (!match) return {};\n\n  const params = match[1].split(',').map(p => p.trim().replace(/^'|'$/g, ''));\n\n  const viewInsttNmEncoded = params[4] && params[4] !== '' ? encodeURIComponent(params[4]) : encodeURIComponent('정보없음');\n  const pblancNowStatEncoded = params[5] ? encodeURIComponent(params[5].replace(/\\s+/g, '+')) : null;\n\n  return {\n    viewPblancSeq: params[0] || null,\n    viewPage: \"\",\n    viewCntcInsttCd: params[2] || null,\n    viewPblancId: params[3] || null,\n    viewInsttNm: viewInsttNmEncoded,\n    insttName: params[4] || null,\n    pblancNowStat: pblancNowStatEncoded,\n    status: params[5] || null,\n    // -------------------- 다운로드 링크 생성 --------------------\n    downloadLink: params[0] ? `https://www.smes.go.kr/main/comm/getFile?srvcId=CNTCWRTANC&upperNo=${params[0]}&fileTy=CNTCATTACH&fileNo=1` : null\n  };\n}\n\n// 매핑 및 필터링\nreturn announcements.map(function(announcement, index) {\n  const rawDate = dates[index] || \"\";\n  const startDate = rawDate.trim().split(\"~\")[0]?.trim();\n\n  const parsed = parseFnIncludeParams(announcement);\n\n  return {\n    json: {\n      announcement,\n      title: titles[index] || null,\n      date: startDate,\n      ...parsed,\n      viewPblancNm: encodeURIComponent(viewPblancNm || \"\"),\n      backCd: backCd || \"Y\",\n      tabName: tabNameArray.length ? tabNameArray : ['공고검색'],\n      curPage: curPage || \"1\",\n      cookie:$('HTTP Request3').first().json.headers['set-cookie'][0]\n    }\n  };\n}).filter(item => item.json.date === yesterdayStr);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2480,-48],"id":"a78964ab-42ad-41e3-a8cb-ad4dddb86c48","name":"금일 기준"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $binary.data.fileName.split('.').pop() }}","rightValue":"=pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-720,-48],"id":"b5d175e6-6bba-466b-8474-40df3485911a","name":"If"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"da42abe2-4fd2-4244-86cc-3b84d154485d","name":"Upload a file1","type":"n8n-nodes-base.httpRequest","position":[-128,64],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://192.168.10.133:8000/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"06891522-5542-4995-924c-6427b7378a99","name":"hwp->pdf","type":"n8n-nodes-base.httpRequest","position":[-304,64],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"bc033ff8-97c7-4ee8-a3f0-0283960fb5ee","name":"Upload a file2","type":"n8n-nodes-base.httpRequest","position":[-304,-208],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const input = $input.first().json;\n\n// 현재 KST 시간 생성\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formattedKST = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 날짜 포맷 함수\nfunction formatYYYYMMDD(dateStr) {\n  return dateStr.replace(/-/g, '');\n}\n\n// 지원 대상 텍스트 정리\nconst supportTarget = input.support_target?.replace(/\\\\n/g, '').trim() ?? '';\n\n// 신청 기간 가공\nlet reqstBegin = '';\nlet reqstEnd = '';\nlet reqstBeginEndDeFormatted = '';\nif (input.reqst_begin_end_de) {\n  const match = input.reqst_begin_end_de.match(/(\\d{4}-\\d{2}-\\d{2})\\s*~\\s*(\\d{4}-\\d{2}-\\d{2})/);\n  if (match) {\n    reqstBegin = match[1];\n    reqstEnd = match[2];\n    reqstBeginEndDeFormatted = `${formatYYYYMMDD(reqstBegin)} ~ ${formatYYYYMMDD(reqstEnd)}`;\n  }\n}\n\n// 첨부파일 URL 생성\nconst fileBaseUrl = 'http://www.smes.go.kr';\nconst fullFileUrl = fileBaseUrl + (input.print_flpth_nm || '');\n\n// 확장자 추출\nconst extension = input.print_file_nm?.split('.').pop() ?? '';\n\nreturn {\n  json: {\n    title: input.title,\n    exc_instt_nm: input.exc_instt_nm,\n    bsns_sumry_cn: input.bsns_sumry_cn,\n    support_target: supportTarget,\n    reqst_begin_end_de: reqstBeginEndDeFormatted, // yyyymmdd ~ yyyymmdd\n    reqst_begin_dt: reqstBegin, // yyyy-mm-dd\n    reqst_end_dt: reqstEnd,     // yyyy-mm-dd\n    reqst_mth_papers_cn: input.reqst_mth_papers_cn,\n    refrnc_nm: input.refrnc_nm,\n    print_flpth_nm: input.print_flpth_nm,\n    print_file_nm: input.print_file_nm,\n    print_file_url: fullFileUrl,\n    print_file_ext: extension,\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1616,-48],"id":"ae1997a7-b828-414e-bc54-801fcb65d784","name":"Code"},{"parameters":{"jsCode":"const pages = $input.first().json.pages;\nlet combinedMarkdown = '';\n\nfor (const page of pages) {\n  combinedMarkdown += page.markdown + '\\n';  // 줄바꿈 포함해서 합치기\n}\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 통합 결과 반환\nreturn [\n  {\n    json: {\n      combinedMarkdown,\n      creat_p_nttm: formatted,\n      created_ts: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-48],"id":"ef5a871d-ae9f-4dbd-b7dc-b48cdfbec684","name":"Code22","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1440,-48],"id":"34a6488b-e8f7-4bce-b0c1-d84deb18925d","name":"If2"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.pblanc_nm) {\n    item.json.pblanc_nm = item.json.pblanc_nm.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,-48],"id":"b2c241cc-5955-460c-b360-4f7d29376762","name":"Code2"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.output.pblanc_nm }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1280,-48],"id":"0c00e005-ad05-4108-acf8-7147bc6f57f4","name":"MySQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"content":"사이트 주소\nhttps://www.smes.go.kr/main/sportsBsnsPolicy?curPage=1","height":80,"width":700},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3648,-176],"id":"b5b782b0-48ba-43bd-8f91-09e21110d93c","name":"Sticky Note"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.title) {\n    item.json.title = item.json.title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1456,-304],"id":"33164ac5-3ebb-40f6-9434-aa170decb045","name":"중복 자료 조회"},{"parameters":{"url":"https://www.smes.go.kr/main/sportsBsnsPolicy?curPage=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"cookie","value":"={{ $response.headers[\"set-cookie\"]}}"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2976,-48],"id":"2b63f161-6172-433e-a6d4-b4c2dbe705b2","name":"HTTP Request3","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const setCookieHeader = $input.first().json.headers['set-cookie'][0];\n\n// 'JSESSIONID=...' 부분만 추출 (세미콜론 기준으로 첫 번째 항목)\nconst jsessionId = setCookieHeader.split(';')[0];\n\nreturn {\n  cookie: jsessionId\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3200,240],"id":"a800411f-579c-4eca-a64b-25f1d07aaf46","name":"Code1"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1280,-304],"id":"b58bfe6f-e8fc-4715-9464-1ca5db1fc142","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1120,-304],"id":"49d65fc8-a39d-409d-b3ef-83ac2c8ad8a1","name":"중복조회 IF"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3552,128],"id":"d2e8afde-1b77-42f8-b36d-cd5111c36bb9","name":"Schedule Trigger"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"total_count","value":"={{ $json.date.length }}"},{"column":"type","value":"total_count"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-2240,304],"id":"f14aa83a-d4a8-4d02-87f9-45a518daee5e","name":"공고상태전체개수저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"jsCode":"// Function 노드 안\nreturn [\n  {\n    json: {\n      workflowName: $workflow.name,\n      insertId:$input.first().json.data.insertId\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,-208],"id":"5e103f5a-c4a0-4ceb-9ea0-d351e49de21f","name":"공고상태정리"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"insertId","value":"={{ $json.insertId }}"},{"column":"type","value":"detail"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2448,-208],"id":"5a19937b-20d5-437c-aa2c-a0e06f970557","name":"공고상태상세저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}}],"connections":{"변수설정":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0},{"node":"공고상태전체개수저장","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"get detail1","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"Code","type":"main","index":0}]]},"download files":{"main":[[{"node":"If","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"do ocr","type":"main","index":0}]]},"do ocr":{"main":[[{"node":"Code22","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"ai result1":{"main":[[{"node":"If1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0},{"node":"공고상태정리","type":"main","index":0}]]},"If1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"If":{"main":[[{"node":"Upload a file2","type":"main","index":0}],[{"node":"hwp->pdf","type":"main","index":0}]]},"hwp->pdf":{"main":[[{"node":"Upload a file1","type":"main","index":0}]]},"Upload a file2":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Upload a file1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Code":{"main":[[{"node":"중복 자료 조회","type":"main","index":0}]]},"Code22":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Code2":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"ai result1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"Code1":{"main":[[]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"download files","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"변수설정","type":"main","index":0}]]},"공고상태정리":{"main":[[{"node":"공고상태상세저장","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e01425ad-b2de-46bd-8dbb-34f14ab7a681","triggerCount":1,"shared":[{"createdAt":"2025-06-20T05:01:07.855Z","updatedAt":"2025-06-20T05:01:07.855Z","role":"workflow:owner","workflowId":"A0Ysjf1yOfsNFjNm","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}