12.환경공단-KWcYa9EB0mNJRKHB.json
{"createdAt":"2025-07-02T05:33:04.898Z","updatedAt":"2025-09-08T08:01:45.066Z","id":"KWcYa9EB0mNJRKHB","name":"12.환경공단","active":true,"isArchived":false,"nodes":[{"parameters":{"mode":"raw","jsonOutput":"{\n  \"base_url\": \"https://www.keco.or.kr\",\n  \"board_list\": \"/web/lay1/bbs/S1T10C108/A/18/list.do\",\n  \"board_detail\": \"/web/lay1/bbs/S1T10C108/A/18/view.do?\",\n  \"attach_url\": \"https://www.keco.or.kr\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3888,-48],"id":"d940f7d0-0b56-4cad-b64f-6bfdce6bab14","name":"변수설정"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":".board_list1 > tbody:nth-child(4) > tr > td:nth-child(2) > a:nth-child(1)","returnValue":"attribute","attribute":"onclick","returnArray":true},{"key":"title","cssSelector":".board_list1 > tbody:nth-child(4) > tr > td:nth-child(2) > a:nth-child(1)","returnArray":true},{"key":"date","cssSelector":".board_list1 > tbody:nth-child(4) > tr > td:nth-child(5)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-3296,-48],"typeVersion":1,"id":"beb99221-1768-4d5e-b6a6-8298167f05bb"},{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4240,-48],"id":"7e9bc839-fec4-43c5-b47c-f0dcba9852b0","name":"Schedule Trigger"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2864,-48],"id":"8f29e31c-943a-45e5-9ec9-308f09d95920","name":"Loop Over Items1"},{"parameters":{"url":"={{ $('Loop Over Items1').item.json.announcement }}","sendHeaders":true,"headerParameters":{"parameters":[{}]},"options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2016,-48],"id":"97c640a1-8d11-408b-a354-7220530284c3","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"extractionValues":{"values":[{"key":"file_nm_list","cssSelector":".file > ul:nth-child(2) > li","returnArray":true},{"key":"file_attach_url","cssSelector":".file > ul:nth-child(2) > li a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[-1840,-48],"typeVersion":1,"id":"963d714e-3f8a-4cf6-8fa3-de29d9b93a06"},{"parameters":{"url":"={{ $json.mainFileUrl }}","options":{"response":{"response":{"responseFormat":"file"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1168,-400],"id":"2f5ca415-1b11-44f7-b0c8-7616892ae107","name":"download files","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{$json[\"id\"]}}/url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,-416],"id":"291cfde5-9955-4931-a57d-4aba087a693f","name":"HTTP Request","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"0c1be895-596d-4584-8b60-193b6677664e","name":"do ocr","type":"n8n-nodes-base.httpRequest","position":[64,-400],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"={{ $json.combinedMarkdown }} 를읽고\n\n1. 지역명은 아래 cityMap에서 value로 변환해 주세요.\n\njrsd_instt_nm(지역명)\n\ncityMap: {\n  \"서울\": \"서울특별시\",\n  \"부산\": \"부산광역시\",\n  \"대구\": \"대구광역시\",\n  \"인천\": \"인천광역시\",\n  \"광주\": \"광주광역시\",\n  \"대전\": \"대전광역시\",\n  \"울산\": \"울산광역시\",\n  \"세종\": \"세종특별자치시\",\n  \"경기\": \"경기도\",\n  \"강원\": \"강원도\",\n  \"충북\": \"충청북도\",\n  \"충남\": \"충청남도\",\n  \"전북\": \"전라북도\",\n  \"전남\": \"전라남도\",\n  \"경북\": \"경상북도\",\n  \"경남\": \"경상남도\",\n  \"제주\": \"제주특별자치도\",\n  \"전지역\": \"전지역\"\n}\ntrget_nm값은 단일값 중소기업, 대기업 등\n\n\n  creat_p_nttm\":  {{ $json.creat_p_nttm }},\n  created_ts\":  {{ $json.created_ts }},\n\n\n\ncreat_p_nttm,created_ts는 timestamp형식으로 reqst_begin_dt값으로\nyyyy-mm-dd hh:mm:ss\n\n\nsubsidy_amount(지원금액) \nself_contribution_rate(자부담률)\nsupport_target(지원기업) (예시 대기업,중소기업)\nbonus_points_factors(가점요소)\ntotal_budget(예산)\n을 넣어줘 한국어로대답해주고,없는경우는 빈공백으로 리턴\n\n\nmain_category(대분류): 공고의 주요 분류를 다음 항목 중에서 정확하게 추출해줘.  \n해당되는 항목이 여러 개인 경우 콤마(,)로 구분해서 출력해줘.  \n아래 항목 중 적절한 키워드가 공고 내용에 존재할 경우, 가장 가까운 항목으로 판단해서 선택해줘.  \n단, 명확한 키워드가 없거나 분류하기 애매한 경우에는 빈 문자열(\"\")로 표시해줘.  \n\n[선택 가능한 항목 목록]  \n스마트생태공장,상생협력 실증프로그램,스마트공장 / 제조혁신,탄소중립 / 온실가스저감,FEMS 에너지효율화,마케팅 / 기술인프라 구축\n\n출력 예시:  \n\"컨설팅,스마트생태공장\"\n\n---\n\nsub_category(설비분류): 공고 내용 중 다음 설비 목록에서 언급된 항목만 골라 콤마(,)로 구분하여 출력해줘.  \n유사 표현이 있을 경우 판단해서 포함해도 되지만, **아래 목록에 없는 항목은 절대 추가하지 마세요.**  \n어떤 설비도 언급되지 않았을 경우에는 빈 문자열(\"\")로 출력해줘.  \n\n[설비 목록]  \n변압기, 폐유재활용설비, 송풍기, 신재생발전설비, 집진기, 펌프, 콤프레셔, 공기조화기, 열회수환기장치, 보일러, 열교환기, 배출가스처리기, 공기정화기, 탈황기, 탈질기, 오수처리기, 폐수처리기, 냉각탑, 에너지관리시스템, 공정제어시스템, 자동화시스템, 냉동기, 증기재압축장치, 폐열회수시스템, 유수분리기, 압축기, 인버터, 용해로, 응축수회수기, 악취저감설비, 사출성형기\n\n출력 예시:  \n\"인버터,용해로\"\n\n주의사항:  \n- 설비 이름은 반드시 위 목록에서만 선택해야 하며, 새로운 항목을 생성하거나 임의로 추가하지 말 것  \n- 관련성이 낮거나 판단이 어려울 경우에도 빈 문자열(\"\")로 처리할 것  \n- 출력은 항상 문자열이며, null이 아닌 빈 문자열(\"\")로 표시\n\n\n\n\nbsns_sumry_cn(공고요약), trget_nm(대상기업), reqst_begin_end_de(공고 전체기간), reqst_begin_dt(공고시작기간), reqst_end_dt(공고마감기간), reqst_mth_papers_cn(사업신청방법), 사업수행기관(excInsttNm), refrnc_nm(문의처) subsidy_amount(지원금액) self_contribution_rate(자부담률) support_target(지원기업) (예시 대기업,중소기업) bonus_points_factors(가점요소) total_budget(예산) 에 대한 정보를 알려줘\n","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[528,-400],"id":"27427a16-9b8c-4b3e-8656-8fdb7e61f8d8","name":"Basic LLM Chain","retryOnFail":false,"maxTries":null,"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"$id\": \"https://example.com/product.schema.json\",\n  \"title\": \"anouncement\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"jrsd_instt_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고지역\"\n      },\n    \"trget_nm\": {\n      \"type\": \"string\",\n      \"description\": \"대상기업 (없으면 공백처리)\"\n    },\n    \"subsidy_amount\": {\n      \"type\": \"string\",\n      \"description\": \"지원금액, 원화로 변환 및 금액만 적시 (없으면 공백처리)\"\n    },\n    \"self_contribution_rate\": {\n      \"type\": \"string\",\n      \"description\": \"자부담률 (없으면 공백처리)\"\n    },\n    \"support_target\": {\n      \"type\": \"string\",\n      \"description\": \"지원기업 (예: 대기업, 중소기업, 대명사만 적시, 없으면 공백처리)\"\n    },\n    \"bonus_points_factors\": {\n      \"type\": \"string\",\n      \"description\": \"가점요소(간략하게, 없으면 공백처리)\"\n    },\n    \"total_budget\": {\n      \"type\": \"string\",\n      \"description\": \"예산 (없으면 공백처리)\"\n    },\n    \"main_category\": {\n      \"type\": \"string\",\n      \"description\": \"대분류(없으면 공백)\"\n    },\n    \"sub_category\": {\n      \"type\": \"string\",\n      \"description\": \"설비분류 (없으면 공백처리)\"\n    },\n    \"bsns_sumry_cn\": {\n      \"type\": \"string\",\n      \"description\": \"공고요약 (없으면 공백처리)\"\n    },\n    \"reqst_mth_papers_cn\": {\n      \"type\": \"string\",\n      \"description\": \"사업신청 방법 (없으면 공백처리)\"\n    },\n    \"excInsttNm\": {\n      \"type\": \"string\",\n      \"description\": \"사업수행기관 (없으면 공백처리)\"\n    },\n    \"refrnc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"문의처내용 (없으면 공백처리)\"\n    }\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[784,-528],"id":"8d2f7d1d-1c7e-459c-9f69-da95a7bead85","name":"Structured Output Parser","notesInFlow":false},{"parameters":{"modelName":"models/gemini-1.5-flash-8b-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[480,-784],"id":"77cd4bc0-9430-41e4-a3b4-3a75085afbd1","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"XWAzclOTFyK0A6fs","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('금일 기준').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"={{ $('Code2').first().json.output.jrsd_instt_nm }}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('Code2').first().json.output.bsns_sumry_cn }}","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"={{ $('Code2').first().json.output.trget_nm }}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{ $('Code2').first().json.output.reqst_begin_end_de }}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $('Code2').first().json.output.reqst_begin_dt }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $('Code2').first().json.output.reqst_end_dt }}","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"={{ $('Code2').first().json.output.refrnc_nm }}","type":"string"},{"id":"b5e49522-9965-4e13-90b1-86edf56df9c2","name":"print_flpth_nm","value":"={{ $('Code').item.json.mainFileUrl }}","type":"string"},{"id":"7e662533-f931-4a90-9dfb-f1386c206c8f","name":"print_file_nm","value":"={{ $('Code').item.json.mainFileName }}","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"={{ $('Code').item.json.subFileUrls }}","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"={{ $('Code').item.json.subFileNames }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"C","type":"string"},{"id":"9f54d932-dd37-4175-b8cb-2d855891f65f","name":"subsidy_amount","value":"null","type":"object"},{"id":"8e2d8fb4-cebd-42c1-b12a-e673a77fc802","name":"self_contribution_rate","value":"null","type":"object"},{"id":"f12e819d-409d-436e-b658-684ba9ac8e30","name":"support_target","value":"null","type":"object"},{"id":"83e3ad1a-3ad2-4b72-a477-b123113b2e4a","name":"bonus_points_factors","value":"null","type":"object"},{"id":"d324fdce-53d0-453d-a211-7318d5935647","name":"total_budget","value":"null","type":"object"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"한국환경공단","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('Code22').item.json.created_ts }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('Code22').item.json.created_ts }}","type":"string"},{"id":"9adbcf7a-7243-4479-ab01-6b2ccb31d8a6","name":"subsidy_amount","value":"={{ $('Code2').first().json.output.subsidy_amount }}","type":"string"},{"id":"b0d54477-2d5b-4aa1-8905-ca396242ddab","name":"self_contribution_rate","value":"={{ $('Code2').first().json.output.self_contribution_rate }}","type":"string"},{"id":"09d5c3f0-2aa9-424f-ba57-bdd0df8ae9bf","name":"support_target","value":"={{ $('Code2').item.json.output.support_target }}","type":"string"},{"id":"283f473c-7824-46ef-b963-feb711e63a22","name":"=bonus_points_factors","value":"={{ $('Code2').first().json.output.bonus_points_factors }}","type":"string"},{"id":"20d0efcf-9335-4130-ad6e-c50b4f37a404","name":"total_budget","value":"={{ $('Code2').first().json.output.total_budget }}","type":"string"},{"id":"0ca60a34-70c1-42fc-b57e-3787320fd7b4","name":"pblanc_url","value":"={{ $('Loop Over Items1').item.json.announcement }}","type":"string"},{"id":"87871222-d32f-49ec-a742-dc7054d86437","name":"pblanc_url","value":"={{ $('Loop Over Items1').item.json.announcement }}","type":"string"},{"id":"00602d35-2868-45e6-b8cb-977d14d33d41","name":"main_category","value":"={{ $('Code2').first().json.output.main_category }}","type":"string"},{"id":"54393782-32fc-4633-916f-c38927c26da1","name":"=sub_category","value":"={{ $('Code2').first().json.output.sub_category }}","type":"string"},{"id":"47170e80-4468-4378-87aa-104d77e9f889","name":"exc_instt_nm","value":"한국환경공단","type":"string"},{"id":"0676fb32-aa7b-473c-8a6a-1ab110cb1242","name":"reqst_mth_papers_cn","value":"={{ $('Code2').first().json.output.reqst_mth_papers_cn }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1488,-400],"id":"8818ffb3-11d6-43f2-973e-32ba8e23c9f9","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1872,-400],"id":"9f8ba412-572e-4d42-aceb-143d85d35d97","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"1fccc599-09f2-4107-828c-cfba0ef62dc0","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2032,-400],"webhookId":"7362c714-c3bb-4702-99f2-c40dc037424e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1664,-400],"id":"aa4fdf14-f24e-4152-9e0d-8f2d44ce379f","name":"If1","retryOnFail":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[640,-704],"id":"60532d24-f80b-4a5b-9836-71a9542a8108","name":"Auto-fixing Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[640,-528],"id":"aa3915c3-f880-4e90-bbbf-63ffcb32efdc","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"SKDNgNmyz3uaizES","name":"OpenAi account"}}},{"parameters":{"jsCode":"const titles = $input.first().json.title || [];\nconst dates = $input.first().json.date || [];\nconst announcements = $input.first().json.announcements || [];\n\nconst baseUrl = 'https://www.keco.or.kr/web/lay1/bbs/S1T10C108/A/18';\n\n// 어제 날짜 (고정값 또는 동적 생성 가능)\n// const yesterdayStr = '2025-09-08';\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yesterdayStr = yesterday.toISOString().slice(0, 10);\nconst matchedItems = dates.map((date, index) => {\n  if (date === yesterdayStr) {\n    const raw = announcements[index] || \"\";\n    const match = raw.match(/location\\.href='\\.\\/(.+?)'/);\n    const relativeUrl = match ? match[1] : null;\n    const fullUrl = relativeUrl ? `${baseUrl}/${relativeUrl}` : null;\n\n    return {\n      json: {\n        title: titles[index] || null,\n        date: date,\n        announcement: fullUrl,\n      }\n    };\n  }\n}).filter(Boolean);\n\nreturn matchedItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3088,-48],"id":"9d2e51c7-c7ef-48b9-a013-fcf601c5139c","name":"금일 기준"},{"parameters":{"jsCode":"const names = $input.first().json.attach_file_name || [];\nconst addresses = $input.first().json.attach_file_address || [];\nconst baseUrl = \"https://www.kicox.or.kr\";  // ← 여기에 변경\nlet noticeFileName = null;\nlet noticeFileAddress = null;\n\nconst extraFileNames = [];\nconst extraFilePaths = [];\n\nfor (let i = 0; i < names.length; i++) {\n  let name = names[i]?.replace(\" 새 창 열림\", \"\").replace(\"첨부파일 다운로드\", \"\").trim();\n  const address = addresses[i];\n\n  if (!name || !address) continue;\n\n  const fullAddress = `${baseUrl}${address}`;\n\n  if (name.includes(\"공고\") && noticeFileName === null) {\n    // 첫 번째 공고만\n    noticeFileName = name;\n    noticeFileAddress = fullAddress;  // baseUrl 붙이기\n  } else {\n    // 공고가 아닌 항목들\n    extraFileNames.push(name);\n    extraFilePaths.push(fullAddress);\n  }\n}\n\nreturn [{\n  json: {\n    fileName: noticeFileName,\n    fileAddress: noticeFileAddress,\n    file_nm: extraFileNames.join(\"@\"),\n    flpth_nm: extraFilePaths.join(\"@\")\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1584,-640],"id":"bcdd3886-99e2-454c-bfc6-8764ace22e3c","name":"pdf,첨부파일분리"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $binary.data.fileName.split('.').pop() }}","rightValue":"=pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-928,-400],"id":"08e78003-a251-4f56-ae4e-9d989dfafa9b","name":"If"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"9c4106af-1e7b-4a78-bb9e-c255e9e86b84","name":"Upload a file1","type":"n8n-nodes-base.httpRequest","position":[-320,-304],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://192.168.10.133:8000/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"ea7a68b3-04e0-484a-b7a8-f23d71333ee5","name":"hwp->pdf","type":"n8n-nodes-base.httpRequest","position":[-496,-304],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"47cb52c4-cbf2-403c-8a5d-93a778cbafc3","name":"Upload a file2","type":"n8n-nodes-base.httpRequest","position":[-496,-560],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const baseUrl = 'https://www.keco.or.kr';\n\nlet fileNamesRaw = $input.first().json.file_nm_list || [];\nlet fileUrlsRaw = $input.first().json.file_attach_url || [];\n\n// 문자열로 들어오는 경우 줄바꿈 기준 분리\nif (!Array.isArray(fileNamesRaw)) {\n  fileNamesRaw = fileNamesRaw.split('\\n').filter(s => s.trim() !== '');\n}\nif (!Array.isArray(fileUrlsRaw)) {\n  fileUrlsRaw = fileUrlsRaw.split('\\n').filter(s => s.trim() !== '');\n}\n\n// 파일 이름 정제\nconst cleanFileNames = fileNamesRaw.map(str => {\n  return str\n    .replace(/^\\d+:\\s*/, '')\n    .replace(/[\\n\\r\\t]/g, '')\n    .replace(/^\\d+\\.\\s*/, '')\n    .trim();\n});\n\nconst fullFileUrls = fileUrlsRaw.map(url => baseUrl + url);\n\n// 결과 저장 변수\nlet mainFileName = null;\nlet mainFileUrl = null;\nlet mainFileExtension = null;\n\nlet subFileNames = [];\nlet subFileUrls = [];\n\n// 분류 처리\ncleanFileNames.forEach((name, i) => {\n  const url = fullFileUrls[i] || \"\";\n\n  if (!mainFileName && name.includes(\"공고문\")) {\n    mainFileName = name;\n    mainFileUrl = url;\n\n    const extMatch = name.match(/\\.(\\w+)$/);\n    mainFileExtension = extMatch ? extMatch[1].toLowerCase() : null;\n  } else {\n    subFileNames.push(name);\n    subFileUrls.push(url);\n  }\n});\n\n// ✅ 생성일자: KST 기준\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 최종 결과 반환\nreturn [{\n  json: {\n    mainFileName,\n    mainFileUrl,\n    mainFileExtension,\n    subFileNames: subFileNames.join('@') || null,\n    subFileUrls: subFileUrls.join('@') || null,\n    creat_p_nttm: formatted,\n    created_ts: formatted\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1616,-48],"id":"5803f0f5-b794-4e00-8f81-b6bc816fb75d","name":"Code"},{"parameters":{"jsCode":"const pages = $input.first().json.pages;\nlet combinedMarkdown = '';\n\nfor (const page of pages) {\n  combinedMarkdown += page.markdown + '\\n';  // 줄바꿈 포함해서 합치기\n}\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 통합 결과 반환\nreturn [\n  {\n    json: {\n      combinedMarkdown,\n      creat_p_nttm: formatted,\n      created_ts: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,-400],"id":"20ad72ed-4458-46bb-b531-dfee7bb4997a","name":"Code22","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1248,-400],"id":"e4b7978f-57bd-4665-872c-097c1a28acc3","name":"If2"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.pblanc_nm) {\n    item.json.pblanc_nm = item.json.pblanc_nm.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,-400],"id":"34e36965-d71c-47d7-8076-d0f6838efa31","name":"Code2"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.output.pblanc_nm }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1088,-400],"id":"aa865900-fff0-4941-bdff-76b48c701adc","name":"MySQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"content":"사이트 주소\nhttps://www.keco.or.kr/web/lay1/bbs/S1T10C108/A/18/list.do","height":80,"width":700},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3648,-176],"id":"2283dc36-2f87-4512-8205-bd1666fe7d5a","name":"Sticky Note"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.title) {\n    item.json.title = item.json.title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2608,-48],"id":"41426842-897a-4eb0-8a13-21d611072489","name":"중복 자료 조회"},{"parameters":{"url":"={{ $json.base_url }}{{ $json.board_list }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"cookie","value":"={{ $response.headers[\"set-cookie\"]}}"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3584,-48],"id":"99ab9c8a-40d4-401c-bf43-76f6532fa907","name":"HTTP Request3","onError":"continueRegularOutput"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-2416,-48],"id":"a7bd8df6-e9ad-4277-97c4-6241090376e9","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2256,-48],"id":"34d41f7c-b2a6-4696-941f-2a7987702766","name":"중복조회 IF"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d899ce31-8258-4865-b270-6094eb929d35","leftValue":"={{ $json.mainFileName }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1408,-48],"id":"72d156ad-10ed-48ef-ba02-5e94e88e947e","name":"메인공고문여부"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회').item.json.title }}(확인필요)","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"=","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"=","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"=","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"=2025-01-01","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"=2025-01-01","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"=","type":"string"},{"id":"b5e49522-9965-4e13-90b1-86edf56df9c2","name":"print_flpth_nm","value":"=","type":"string"},{"id":"7e662533-f931-4a90-9dfb-f1386c206c8f","name":"print_file_nm","value":"=","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"={{ $json.subFileUrls }}","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"={{ $json.subFileNames }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"N","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"한국환경공단","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"N","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('Code').item.json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('Code').item.json.created_ts }}","type":"string"},{"id":"9adbcf7a-7243-4479-ab01-6b2ccb31d8a6","name":"subsidy_amount","value":"=","type":"string"},{"id":"b0d54477-2d5b-4aa1-8905-ca396242ddab","name":"self_contribution_rate","value":"=","type":"string"},{"id":"09d5c3f0-2aa9-424f-ba57-bdd0df8ae9bf","name":"support_target","value":"=","type":"string"},{"id":"283f473c-7824-46ef-b963-feb711e63a22","name":"bonus_points_factors","value":"=","type":"string"},{"id":"20d0efcf-9335-4130-ad6e-c50b4f37a404","name":"total_budget","value":"=","type":"string"},{"id":"461df994-2f1c-45f1-ab35-37547f7a9c9d","name":"pblanc_url","value":"={{ $('중복 자료 조회').item.json.announcement }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1184,-16],"id":"03710316-1081-43a1-9d04-0bd46243b7aa","name":"ai result"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-960,-16],"id":"5fccbf66-f8a2-4086-a3c9-ff7142bd055a","name":"MySQL2","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"5500ddcf-7f9e-48c5-b3a1-0deb81ec9fee","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-736,-16],"webhookId":"7362c714-c3bb-4702-99f2-c40dc037424e"}],"connections":{"변수설정":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"변수설정","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"Code","type":"main","index":0}]]},"download files":{"main":[[{"node":"If","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"do ocr","type":"main","index":0}]]},"do ocr":{"main":[[{"node":"Code22","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"ai result1":{"main":[[{"node":"If1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"If1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"pdf,첨부파일분리":{"main":[[]]},"If":{"main":[[{"node":"Upload a file2","type":"main","index":0}],[{"node":"hwp->pdf","type":"main","index":0}]]},"hwp->pdf":{"main":[[{"node":"Upload a file1","type":"main","index":0}]]},"Upload a file2":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Upload a file1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Code":{"main":[[{"node":"메인공고문여부","type":"main","index":0}]]},"Code22":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Code2":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"ai result1","type":"main","index":0}],[]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"get detail1","type":"main","index":0}],[]]},"메인공고문여부":{"main":[[{"node":"download files","type":"main","index":0}],[{"node":"ai result","type":"main","index":0}]]},"ai result":{"main":[[{"node":"MySQL2","type":"main","index":0}]]},"MySQL2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bc93ad61-af0f-497f-b347-b83dd8df0542","triggerCount":1,"shared":[{"createdAt":"2025-07-02T05:33:04.898Z","updatedAt":"2025-07-02T05:33:04.898Z","role":"workflow:owner","workflowId":"KWcYa9EB0mNJRKHB","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}