13.한국에너지공단-N8tTd0pwKNi38LS1.json
{"createdAt":"2025-07-03T00:26:28.425Z","updatedAt":"2025-07-03T00:28:07.308Z","id":"N8tTd0pwKNi38LS1","name":"13.한국에너지공단","active":false,"isArchived":true,"nodes":[{"parameters":{"mode":"raw","jsonOutput":"{\n  \"base_url\": \"https://www.keco.or.kr\",\n  \"board_list\": \"/web/lay1/bbs/S1T10C108/A/18/list.do\",\n  \"board_detail\": \"/web/lay1/bbs/S1T10C108/A/18/view.do?\",\n  \"attach_url\": \"https://www.keco.or.kr\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3880,-40],"id":"a6dbfb7f-f019-4801-8be2-35e0aea89d7a","name":"변수설정"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":".board_list1 > tbody:nth-child(4) > tr > td:nth-child(2) > a:nth-child(1)","returnValue":"attribute","attribute":"onclick","returnArray":true},{"key":"title","cssSelector":".board_list1 > tbody:nth-child(4) > tr > td:nth-child(2) > a:nth-child(1)","returnArray":true},{"key":"date","cssSelector":".board_list1 > tbody:nth-child(4) > tr > td:nth-child(5)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-3300,-40],"typeVersion":1,"id":"dc610d17-6e85-4456-8a62-7807b920ee95"},{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4240,-40],"id":"836635f8-03c8-4ab4-b059-189ce27d1b91","name":"Schedule Trigger"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2860,-40],"id":"ae515f08-ea4c-46b9-a283-2659c19eb96b","name":"Loop Over Items1"},{"parameters":{"url":"={{ $('Loop Over Items1').item.json.announcement }}","sendHeaders":true,"headerParameters":{"parameters":[{}]},"options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2020,-40],"id":"112d7688-09e1-4aa8-8093-76e426d7141d","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"extractionValues":{"values":[{"key":"file_nm_list","cssSelector":".file > ul:nth-child(2) > li","returnArray":true},{"key":"file_attach_url","cssSelector":".file > ul:nth-child(2) > li a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[-1840,-40],"typeVersion":1,"id":"1d3590cb-f49e-4e21-898b-28be9599cbf5"},{"parameters":{"url":"={{ $json.mainFileUrl }}","options":{"response":{"response":{"responseFormat":"file"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1160,-400],"id":"bd3cb8de-de8d-4438-acaf-63269846220b","name":"download files","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{$json[\"id\"]}}/url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,-420],"id":"a70d4e95-830d-4434-991c-af00b09e22b8","name":"HTTP Request","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"118cb988-8418-4c1a-aef9-0377ed3a6295","name":"do ocr","type":"n8n-nodes-base.httpRequest","position":[60,-400],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"={{ $json.combinedMarkdown }} 를읽고\n\n1. 지역명은 아래 cityMap에서 value로 변환해 주세요.\n\njrsd_instt_nm(지역명)\n\ncityMap: {\n  \"서울\": \"서울특별시\",\n  \"부산\": \"부산광역시\",\n  \"대구\": \"대구광역시\",\n  \"인천\": \"인천광역시\",\n  \"광주\": \"광주광역시\",\n  \"대전\": \"대전광역시\",\n  \"울산\": \"울산광역시\",\n  \"세종\": \"세종특별자치시\",\n  \"경기\": \"경기도\",\n  \"강원\": \"강원도\",\n  \"충북\": \"충청북도\",\n  \"충남\": \"충청남도\",\n  \"전북\": \"전라북도\",\n  \"전남\": \"전라남도\",\n  \"경북\": \"경상북도\",\n  \"경남\": \"경상남도\",\n  \"제주\": \"제주특별자치도\",\n  \"전지역\": \"전지역\"\n}\ntrget_nm값은 단일값 중소기업, 대기업 등\n\n\n  creat_p_nttm\":  {{ $json.creat_p_nttm }},\n  created_ts\":  {{ $json.created_ts }},\n\n\n\ncreat_p_nttm,created_ts는 timestamp형식으로 reqst_begin_dt값으로\nyyyy-mm-dd hh:mm:ss\n\n\nsubsidy_amount(지원금액) \nself_contribution_rate(자부담률)\nsupport_target(지원기업) (예시 대기업,중소기업)\nbonus_points_factors(가점요소)\ntotal_budget(예산)\n을 넣어줘 한국어로대답해주고,없는경우는 빈공백으로 리턴\n\n","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[520,-400],"id":"c571f946-dac3-4ba5-9f02-7433ba0b9069","name":"Basic LLM Chain","retryOnFail":false,"maxTries":null,"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"$id\": \"https://example.com/product.schema.json\",\n  \"title\": \"anouncement\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"jrsd_instt_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고지역\"\n      },\n    \"trget_nm\": {\n      \"type\": \"string\",\n      \"description\": \"대상기업 (없으면 공백처리)\"\n    },\n    \"subsidy_amount\": {\n      \"type\": \"string\",\n      \"description\": \"지원금액, 원화로 변환 및 금액만 적시 (없으면 공백처리)\"\n    },\n    \"self_contribution_rate\": {\n      \"type\": \"string\",\n      \"description\": \"자부담률 (없으면 공백처리)\"\n    },\n    \"support_target\": {\n      \"type\": \"string\",\n      \"description\": \"지원기업 (예: 대기업, 중소기업, 대명사만 적시, 없으면 공백처리)\"\n    },\n    \"bonus_points_factors\": {\n      \"type\": \"string\",\n      \"description\": \"가점요소(간략하게, 없으면 공백처리)\"\n    },\n    \"total_budget\": {\n      \"type\": \"string\",\n      \"description\": \"예산 (없으면 공백처리)\"\n    }\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[780,-520],"id":"72f6245a-4119-4e63-b82c-144cd31bd769","name":"Structured Output Parser","notesInFlow":false},{"parameters":{"modelName":"models/gemini-1.5-flash-8b-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[480,-780],"id":"971c8451-c46d-45d0-9f6c-8515f29c4b76","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"XWAzclOTFyK0A6fs","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('금일 기준').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"={{ $('Code2').first().json.output.jrsd_instt_nm }}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('Code2').first().json.output.bsns_sumry_cn }}","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"={{ $('Code2').first().json.output.trget_nm }}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{ $('Code2').first().json.output.reqst_begin_end_de }}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $('Code2').first().json.output.reqst_begin_dt }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $('Code2').first().json.output.reqst_end_dt }}","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"={{ $('Code2').first().json.output.refrnc_nm }}","type":"string"},{"id":"b5e49522-9965-4e13-90b1-86edf56df9c2","name":"print_flpth_nm","value":"={{ $('Code').item.json.mainFileUrl }}","type":"string"},{"id":"7e662533-f931-4a90-9dfb-f1386c206c8f","name":"print_file_nm","value":"={{ $('Code').item.json.mainFileName }}","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"={{ $('Code').item.json.subFileUrls }}","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"={{ $('Code').item.json.subFileNames }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"N","type":"string"},{"id":"9f54d932-dd37-4175-b8cb-2d855891f65f","name":"subsidy_amount","value":"null","type":"object"},{"id":"8e2d8fb4-cebd-42c1-b12a-e673a77fc802","name":"self_contribution_rate","value":"null","type":"object"},{"id":"f12e819d-409d-436e-b658-684ba9ac8e30","name":"support_target","value":"null","type":"object"},{"id":"83e3ad1a-3ad2-4b72-a477-b123113b2e4a","name":"bonus_points_factors","value":"null","type":"object"},{"id":"d324fdce-53d0-453d-a211-7318d5935647","name":"total_budget","value":"null","type":"object"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"한국환경공단","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"N","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('Code22').item.json.created_ts }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('Code22').item.json.created_ts }}","type":"string"},{"id":"9adbcf7a-7243-4479-ab01-6b2ccb31d8a6","name":"subsidy_amount","value":"={{ $('Code2').first().json.output.subsidy_amount }}","type":"string"},{"id":"b0d54477-2d5b-4aa1-8905-ca396242ddab","name":"self_contribution_rate","value":"={{ $('Code2').first().json.output.self_contribution_rate }}","type":"string"},{"id":"09d5c3f0-2aa9-424f-ba57-bdd0df8ae9bf","name":"support_target","value":"={{ $('Code2').item.json.output.support_target }}","type":"string"},{"id":"283f473c-7824-46ef-b963-feb711e63a22","name":"=bonus_points_factors","value":"={{ $('Code2').first().json.output.bonus_points_factors }}","type":"string"},{"id":"20d0efcf-9335-4130-ad6e-c50b4f37a404","name":"total_budget","value":"={{ $('Code2').first().json.output.total_budget }}","type":"string"},{"id":"0ca60a34-70c1-42fc-b57e-3787320fd7b4","name":"pblanc_url","value":"={{ $('Loop Over Items1').item.json.announcement }}","type":"string"},{"id":"87871222-d32f-49ec-a742-dc7054d86437","name":"pblanc_url","value":"={{ $('Loop Over Items1').item.json.announcement }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1480,-400],"id":"2b76cd0b-7322-4973-b725-7889e6fb1d4e","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1860,-400],"id":"b2bdeee7-67aa-4415-bf8f-1b75225958bc","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"9370170d-dbdf-4c21-9751-9977b5661314","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2020,-400],"webhookId":"9fe425cb-6b5f-4b3f-9f3f-b4763fda419c"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1660,-400],"id":"813833c0-fbbb-4e09-a4dc-07529bdadb76","name":"If1","retryOnFail":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[640,-700],"id":"d7344d15-53f0-4993-86dd-9be134032aee","name":"Auto-fixing Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[640,-520],"id":"36d63ef4-803a-4bec-9e65-8133d22880bb","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"SKDNgNmyz3uaizES","name":"OpenAi account"}}},{"parameters":{"jsCode":"const titles = $input.first().json.title || [];\nconst dates = $input.first().json.date || [];\nconst announcements = $input.first().json.announcements || [];\n\nconst baseUrl = 'https://www.keco.or.kr/web/lay1/bbs/S1T10C108/A/18';\n\n// 어제 날짜 (고정값 또는 동적 생성 가능)\nconst yesterdayStr = '2025-06-12';\n// const yesterday = new Date();\n// yesterday.setDate(yesterday.getDate() - 1);\n// const yesterdayStr = yesterday.toISOString().slice(0, 10);\nconst matchedItems = dates.map((date, index) => {\n  if (date === yesterdayStr) {\n    const raw = announcements[index] || \"\";\n    const match = raw.match(/location\\.href='\\.\\/(.+?)'/);\n    const relativeUrl = match ? match[1] : null;\n    const fullUrl = relativeUrl ? `${baseUrl}/${relativeUrl}` : null;\n\n    return {\n      json: {\n        title: titles[index] || null,\n        date: date,\n        announcement: fullUrl,\n      }\n    };\n  }\n}).filter(Boolean);\n\nreturn matchedItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3080,-40],"id":"184b55f0-96d3-40ca-a578-451e15571cea","name":"금일 기준"},{"parameters":{"jsCode":"const names = $input.first().json.attach_file_name || [];\nconst addresses = $input.first().json.attach_file_address || [];\nconst baseUrl = \"https://www.kicox.or.kr\";  // ← 여기에 변경\nlet noticeFileName = null;\nlet noticeFileAddress = null;\n\nconst extraFileNames = [];\nconst extraFilePaths = [];\n\nfor (let i = 0; i < names.length; i++) {\n  let name = names[i]?.replace(\" 새 창 열림\", \"\").replace(\"첨부파일 다운로드\", \"\").trim();\n  const address = addresses[i];\n\n  if (!name || !address) continue;\n\n  const fullAddress = `${baseUrl}${address}`;\n\n  if (name.includes(\"공고\") && noticeFileName === null) {\n    // 첫 번째 공고만\n    noticeFileName = name;\n    noticeFileAddress = fullAddress;  // baseUrl 붙이기\n  } else {\n    // 공고가 아닌 항목들\n    extraFileNames.push(name);\n    extraFilePaths.push(fullAddress);\n  }\n}\n\nreturn [{\n  json: {\n    fileName: noticeFileName,\n    fileAddress: noticeFileAddress,\n    file_nm: extraFileNames.join(\"@\"),\n    flpth_nm: extraFilePaths.join(\"@\")\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1580,-640],"id":"7fffc43f-93e0-432a-b6b1-588ea1d8f83c","name":"pdf,첨부파일분리"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $binary.data.fileName.split('.').pop() }}","rightValue":"=pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-920,-400],"id":"72298d46-821a-4dd9-b418-4ba17ab81091","name":"If"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"93e7008c-bd6f-4021-8b64-ada5bfedcc5b","name":"Upload a file1","type":"n8n-nodes-base.httpRequest","position":[-320,-300],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://192.168.10.133:8000/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"caf475e0-1926-428f-831a-63515063b6a4","name":"hwp->pdf","type":"n8n-nodes-base.httpRequest","position":[-500,-300],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"7e8129b1-f025-4b72-b9e3-47827bc81bb1","name":"Upload a file2","type":"n8n-nodes-base.httpRequest","position":[-500,-560],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const baseUrl = 'https://www.keco.or.kr';\n\nlet fileNamesRaw = $input.first().json.file_nm_list || [];\nlet fileUrlsRaw = $input.first().json.file_attach_url || [];\n\n// 문자열로 들어오는 경우 줄바꿈 기준 분리\nif (!Array.isArray(fileNamesRaw)) {\n  fileNamesRaw = fileNamesRaw.split('\\n').filter(s => s.trim() !== '');\n}\nif (!Array.isArray(fileUrlsRaw)) {\n  fileUrlsRaw = fileUrlsRaw.split('\\n').filter(s => s.trim() !== '');\n}\n\n// 파일 이름 정제\nconst cleanFileNames = fileNamesRaw.map(str => {\n  return str\n    .replace(/^\\d+:\\s*/, '')\n    .replace(/[\\n\\r\\t]/g, '')\n    .replace(/^\\d+\\.\\s*/, '')\n    .trim();\n});\n\nconst fullFileUrls = fileUrlsRaw.map(url => baseUrl + url);\n\n// 결과 저장 변수\nlet mainFileName = null;\nlet mainFileUrl = null;\nlet mainFileExtension = null;\n\nlet subFileNames = [];\nlet subFileUrls = [];\n\n// 분류 처리\ncleanFileNames.forEach((name, i) => {\n  const url = fullFileUrls[i] || \"\";\n\n  if (!mainFileName && name.includes(\"공고문\")) {\n    mainFileName = name;\n    mainFileUrl = url;\n\n    const extMatch = name.match(/\\.(\\w+)$/);\n    mainFileExtension = extMatch ? extMatch[1].toLowerCase() : null;\n  } else {\n    subFileNames.push(name);\n    subFileUrls.push(url);\n  }\n});\n\n// ✅ 생성일자: KST 기준\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 최종 결과 반환\nreturn [{\n  json: {\n    mainFileName,\n    mainFileUrl,\n    mainFileExtension,\n    subFileNames: subFileNames.join('@') || null,\n    subFileUrls: subFileUrls.join('@') || null,\n    creat_p_nttm: formatted,\n    created_ts: formatted\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1620,-40],"id":"792e6486-c8da-4f6b-bb7b-4dae4620a5f3","name":"Code"},{"parameters":{"jsCode":"const pages = $input.first().json.pages;\nlet combinedMarkdown = '';\n\nfor (const page of pages) {\n  combinedMarkdown += page.markdown + '\\n';  // 줄바꿈 포함해서 합치기\n}\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 통합 결과 반환\nreturn [\n  {\n    json: {\n      combinedMarkdown,\n      creat_p_nttm: formatted,\n      created_ts: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[260,-400],"id":"1490b53b-af01-42ba-bcc8-cf851f3f7c4e","name":"Code22","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1240,-400],"id":"c6fef2f4-4f0c-482c-80c5-a3a3585fc3ac","name":"If2"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.pblanc_nm) {\n    item.json.pblanc_nm = item.json.pblanc_nm.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[900,-400],"id":"5b72c6c9-86f1-4a8e-89f7-82fc41082450","name":"Code2"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.output.pblanc_nm }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1080,-400],"id":"90ab30ae-ed08-42c8-9890-e99de37e352a","name":"MySQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"content":"사이트 주소\nhttps://www.energy.or.kr/front/board/List2.do","height":80,"width":700},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3640,-180],"id":"1ef2d13a-022b-4bb2-9c95-232d89df30dd","name":"Sticky Note"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.title) {\n    item.json.title = item.json.title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2600,-40],"id":"24e9d282-bd50-487c-85a5-3f6bf5636c21","name":"중복 자료 조회"},{"parameters":{"url":"={{ $json.base_url }}{{ $json.board_list }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"cookie","value":"={{ $response.headers[\"set-cookie\"]}}"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3580,-40],"id":"e814ce43-ec5d-44f8-9215-48664fa2c7ac","name":"HTTP Request3","onError":"continueRegularOutput"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-2420,-40],"id":"5b55130f-4c1c-4980-9e4d-a85b7a0b94f9","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2260,-40],"id":"ff75b593-94c8-45ca-ae1d-0d85f09e0060","name":"중복조회 IF"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d899ce31-8258-4865-b270-6094eb929d35","leftValue":"={{ $json.mainFileName }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1400,-40],"id":"01699447-a27c-48bb-b01d-813b9a4864f5","name":"메인공고문여부"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회').item.json.title }}(확인필요)","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"=","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"=","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"=","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"=","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"=","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"=","type":"string"},{"id":"b5e49522-9965-4e13-90b1-86edf56df9c2","name":"print_flpth_nm","value":"=","type":"string"},{"id":"7e662533-f931-4a90-9dfb-f1386c206c8f","name":"print_file_nm","value":"=","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"={{ $json.subFileUrls }}","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"={{ $json.subFileNames }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"N","type":"string"},{"id":"9f54d932-dd37-4175-b8cb-2d855891f65f","name":"subsidy_amount","value":"","type":"object"},{"id":"8e2d8fb4-cebd-42c1-b12a-e673a77fc802","name":"self_contribution_rate","value":"","type":"object"},{"id":"f12e819d-409d-436e-b658-684ba9ac8e30","name":"support_target","value":"","type":"object"},{"id":"83e3ad1a-3ad2-4b72-a477-b123113b2e4a","name":"bonus_points_factors","value":"","type":"object"},{"id":"d324fdce-53d0-453d-a211-7318d5935647","name":"total_budget","value":"","type":"object"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"한국환경공단","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"N","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('Code').item.json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('Code').item.json.created_ts }}","type":"string"},{"id":"9adbcf7a-7243-4479-ab01-6b2ccb31d8a6","name":"subsidy_amount","value":"=","type":"string"},{"id":"b0d54477-2d5b-4aa1-8905-ca396242ddab","name":"self_contribution_rate","value":"=","type":"string"},{"id":"09d5c3f0-2aa9-424f-ba57-bdd0df8ae9bf","name":"support_target","value":"=","type":"string"},{"id":"283f473c-7824-46ef-b963-feb711e63a22","name":"bonus_points_factors","value":"=","type":"string"},{"id":"20d0efcf-9335-4130-ad6e-c50b4f37a404","name":"total_budget","value":"=","type":"string"},{"id":"461df994-2f1c-45f1-ab35-37547f7a9c9d","name":"pblanc_url","value":"={{ $('중복 자료 조회').item.json.announcement }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1180,-20],"id":"ff4d8186-8660-4798-8473-0bf92e6ac8a3","name":"ai result"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-960,-20],"id":"83547604-495d-4430-a619-b9b02fa81b33","name":"MySQL2","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"103f0dea-aeb8-45dc-9db2-53263ed1f8c3","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-740,-20],"webhookId":"7905e1a4-a2d4-4017-896a-e33026534d9f"}],"connections":{"변수설정":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"변수설정","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"Code","type":"main","index":0}]]},"download files":{"main":[[{"node":"If","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"do ocr","type":"main","index":0}]]},"do ocr":{"main":[[{"node":"Code22","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"ai result1":{"main":[[{"node":"If1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"If1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"pdf,첨부파일분리":{"main":[[]]},"If":{"main":[[{"node":"Upload a file2","type":"main","index":0}],[{"node":"hwp->pdf","type":"main","index":0}]]},"hwp->pdf":{"main":[[{"node":"Upload a file1","type":"main","index":0}]]},"Upload a file2":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Upload a file1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Code":{"main":[[{"node":"메인공고문여부","type":"main","index":0}]]},"Code22":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Code2":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"ai result1","type":"main","index":0}],[]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"get detail1","type":"main","index":0}],[]]},"메인공고문여부":{"main":[[{"node":"download files","type":"main","index":0}],[{"node":"ai result","type":"main","index":0}]]},"ai result":{"main":[[{"node":"MySQL2","type":"main","index":0}]]},"MySQL2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b1b44e7f-85fc-4052-a760-18d232c7619f","triggerCount":1,"shared":[{"createdAt":"2025-07-03T00:26:28.425Z","updatedAt":"2025-07-03T00:26:28.425Z","role":"workflow:owner","workflowId":"N8tTd0pwKNi38LS1","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}