13.한국에너지공단-RgdvfUWBX1J5T5fz.json
{"createdAt":"2025-07-03T00:28:47.946Z","updatedAt":"2025-09-17T08:15:05.150Z","id":"RgdvfUWBX1J5T5fz","name":"13.한국에너지공단","active":true,"isArchived":false,"nodes":[{"parameters":{"mode":"raw","jsonOutput":"{\n  \"base_url\": \"https://www.energy.or.kr\",\n  \"board_list\": \"/front/board/List2.do\",\n  \"board_detail\": \"/front/board/View2.do\",\n  \"attach_url\": \"https://www.energy.or.kr\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3888,-48],"id":"d421da72-082b-4177-b624-54fa90bac30e","name":"변수설정"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":".table_sty01 > table:nth-child(1) > tbody:nth-child(4) > tr > td:nth-child(2) > a","returnValue":"attribute","attribute":"onclick","returnArray":true},{"key":"title","cssSelector":".table_sty01 > table:nth-child(1) > tbody:nth-child(4) > tr > td:nth-child(2) > a > span","returnArray":true},{"key":"date","cssSelector":".table_sty01 > table:nth-child(1) > tbody:nth-child(4) > tr > td:nth-child(4)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-3296,-48],"typeVersion":1,"id":"67c8b173-693d-47db-8d19-87f53d031911"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2864,-48],"id":"0794b8be-2796-4d05-88a4-0dd17abece44","name":"Loop Over Items1"},{"parameters":{"extractionValues":{"values":[{"key":"file_nm_list","cssSelector":"div.file_inner_btn a","returnArray":true},{"key":"file_attach_url","cssSelector":"div.file_inner_btn a","returnValue":"attribute","attribute":"onclick","returnArray":true},{"key":"content","cssSelector":".view_inner","returnValue":"html"}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[-1840,-48],"typeVersion":1,"id":"fa8861bc-d96f-4fac-8f15-10e2e5b340d3"},{"parameters":{"url":"={{ $json.mainFileUrl }}","options":{"response":{"response":{"responseFormat":"file"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1136,-400],"id":"d7f24857-4aeb-40f2-aa65-80f7459bd0e6","name":"download files","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{$json[\"id\"]}}/url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-64,-416],"id":"2d2e56e5-75a2-4178-a82e-127f5bd9a76d","name":"HTTP Request","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"5ba2ec1e-bbe5-4aae-a7f5-79bf297d24ba","name":"do ocr","type":"n8n-nodes-base.httpRequest","position":[80,-400],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"={{ $json.combinedMarkdown }} 를읽고\n\n1. 지역명은 아래 cityMap에서 value로 변환해 주세요.\n\njrsd_instt_nm(지역명)\n\ncityMap: {\n  \"서울\": \"서울특별시\",\n  \"부산\": \"부산광역시\",\n  \"대구\": \"대구광역시\",\n  \"인천\": \"인천광역시\",\n  \"광주\": \"광주광역시\",\n  \"대전\": \"대전광역시\",\n  \"울산\": \"울산광역시\",\n  \"세종\": \"세종특별자치시\",\n  \"경기\": \"경기도\",\n  \"강원\": \"강원도\",\n  \"충북\": \"충청북도\",\n  \"충남\": \"충청남도\",\n  \"전북\": \"전라북도\",\n  \"전남\": \"전라남도\",\n  \"경북\": \"경상북도\",\n  \"경남\": \"경상남도\",\n  \"제주\": \"제주특별자치도\",\n  \"전지역\": \"전지역\"\n}\ntrget_nm값은 단일값 중소기업, 대기업 등\n\n\n  creat_p_nttm\":  {{ $json.creat_p_nttm }},\n  created_ts\":  {{ $json.created_ts }},\n\n\n\ncreat_p_nttm,created_ts는 timestamp형식으로 reqst_begin_dt값으로\nyyyy-mm-dd hh:mm:ss\n\n\nbsns_sumry_cn(공고요약), \ntrget_nm(대상기업),\nreqst_mth_papers_cn(사업신청방법), \nrefrnc_nm(문의처)\nexcInsttNm(사업수행기관)\n\nsubsidy_amount(지원금액) \nself_contribution_rate(자부담률)\nsupport_target(지원기업) (예시 대기업,중소기업)\nbonus_points_factors(가점요소)\ntotal_budget(예산)\n을 넣어줘 한국어로대답해주고,없는경우는 빈공백으로 리턴\n\n\nmain_category(대분류): 공고의 주요 분류를 다음 항목 중에서 정확하게 추출해줘.  \n해당되는 항목이 여러 개인 경우 콤마(,)로 구분해서 출력해줘.  \n아래 항목 중 적절한 키워드가 공고 내용에 존재할 경우, 가장 가까운 항목으로 판단해서 선택해줘.  \n단, 명확한 키워드가 없거나 분류하기 애매한 경우에는 빈 문자열(\"\")로 표시해줘.  \n\n[선택 가능한 항목 목록]  \n스마트생태공장,상생협력 실증프로그램,스마트공장 / 제조혁신,탄소중립 / 온실가스저감,FEMS 에너지효율화,마케팅 / 기술인프라 구축\n\n출력 예시:  \n\"컨설팅,스마트생태공장\"\n\n---\n\nsub_category(설비분류): 공고 내용 중 다음 설비 목록에서 언급된 항목만 골라 콤마(,)로 구분하여 출력해줘.  \n유사 표현이 있을 경우 판단해서 포함해도 되지만, **아래 목록에 없는 항목은 절대 추가하지 마세요.**  \n어떤 설비도 언급되지 않았을 경우에는 빈 문자열(\"\")로 출력해줘.  \n\n[설비 목록]  \n변압기, 폐유재활용설비, 송풍기, 신재생발전설비, 집진기, 펌프, 콤프레셔, 공기조화기, 열회수환기장치, 보일러, 열교환기, 배출가스처리기, 공기정화기, 탈황기, 탈질기, 오수처리기, 폐수처리기, 냉각탑, 에너지관리시스템, 공정제어시스템, 자동화시스템, 냉동기, 증기재압축장치, 폐열회수시스템, 유수분리기, 압축기, 인버터, 용해로, 응축수회수기, 악취저감설비, 사출성형기\n\n출력 예시:  \n\"인버터,용해로\"\n\n주의사항:  \n- 설비 이름은 반드시 위 목록에서만 선택해야 하며, 새로운 항목을 생성하거나 임의로 추가하지 말 것  \n- 관련성이 낮거나 판단이 어려울 경우에도 빈 문자열(\"\")로 처리할 것  \n- 출력은 항상 문자열이며, null이 아닌 빈 문자열(\"\")로 표시","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[544,-400],"id":"38076b99-99a4-4c04-83a1-e2328cce83cf","name":"Basic LLM Chain","retryOnFail":false,"maxTries":null,"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"$id\": \"https://example.com/product.schema.json\",\n  \"title\": \"anouncement\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"jrsd_instt_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고지역\"\n      },\n    \"trget_nm\": {\n      \"type\": \"string\",\n      \"description\": \"대상기업 (없으면 공백처리)\"\n    },\n    \"subsidy_amount\": {\n      \"type\": \"string\",\n      \"description\": \"지원금액, 원화로 변환 및 금액만 적시 (없으면 공백처리,100자이내 작성)\"\n    },\n    \"self_contribution_rate\": {\n      \"type\": \"string\",\n      \"description\": \"자부담률 (없으면 공백처리,100자이내 작성)\"\n    },\n    \"support_target\": {\n      \"type\": \"string\",\n      \"description\": \"지원기업 (예: 대기업, 중소기업, 대명사만 적시, 없으면 공백처리,100자이내 작성)\"\n    },\n    \"bonus_points_factors\": {\n      \"type\": \"string\",\n      \"description\": \"가점요소(간략하게, 없으면 공백처리,100자이내 작성)\"\n    },\n    \"total_budget\": {\n      \"type\": \"string\",\n      \"description\": \"예산 (없으면 공백처리, 100자이내 작성)\"\n    },\n    \"main_category\": {\n      \"type\": \"string\",\n      \"description\": \"대분류(없으면 공백)\"\n    },\n    \"sub_category\": {\n      \"type\": \"string\",\n      \"description\": \"설비분류 (없으면 공백처리)\"\n    },\n    \"bsns_sumry_cn\": {\n      \"type\": \"string\",\n      \"description\": \"공고요약 (없으면 공백처리)\"\n    },\n    \"trget_nm\": {\n      \"type\": \"string\",\n      \"description\": \"대상기업 (없으면 공백처리)\"\n    },\n    \"reqst_mth_papers_cn\": {\n      \"type\": \"string\",\n      \"description\": \"사업신청방법 (없으면 공백처리)\"\n    },\n    \"refrnc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"문의처 (없으면 공백처리)\"\n    },\n    \"excInsttNm\": {\n      \"type\": \"string\",\n      \"description\": \"사업수행기관 (없으면 공백처리)\"\n    }\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[800,-528],"id":"5c3a3388-fb4a-425f-841e-4c560ef61168","name":"Structured Output Parser","notesInFlow":false},{"parameters":{"modelName":"models/gemini-1.5-flash-8b-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[512,-784],"id":"fead0a20-f18e-4b90-81ab-1d18203b60b4","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"XWAzclOTFyK0A6fs","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('금일 기준').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"={{ $('Code2').first().json.output.jrsd_instt_nm }}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('Code2').first().json.output.bsns_sumry_cn }}","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"={{ $('Code2').first().json.output.trget_nm }}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{ $('Code2').first().json.output.reqst_begin_end_de }}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $('Code2').first().json.output.reqst_begin_dt }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $('Code2').first().json.output.reqst_end_dt }}","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"={{ $('Code2').first().json.output.refrnc_nm }}","type":"string"},{"id":"b5e49522-9965-4e13-90b1-86edf56df9c2","name":"print_flpth_nm","value":"={{ $('Code').item.json.mainFileUrl }}","type":"string"},{"id":"7e662533-f931-4a90-9dfb-f1386c206c8f","name":"print_file_nm","value":"={{ $('Code').item.json.mainFileName }}","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"={{ $('Code').item.json.subFileUrls }}","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"={{ $('Code').item.json.subFileNames }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"N","type":"string"},{"id":"9f54d932-dd37-4175-b8cb-2d855891f65f","name":"subsidy_amount","value":"null","type":"object"},{"id":"8e2d8fb4-cebd-42c1-b12a-e673a77fc802","name":"self_contribution_rate","value":"null","type":"object"},{"id":"f12e819d-409d-436e-b658-684ba9ac8e30","name":"support_target","value":"null","type":"object"},{"id":"83e3ad1a-3ad2-4b72-a477-b123113b2e4a","name":"bonus_points_factors","value":"null","type":"object"},{"id":"d324fdce-53d0-453d-a211-7318d5935647","name":"total_budget","value":"null","type":"object"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"N","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('Code22').item.json.created_ts }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('Code22').item.json.created_ts }}","type":"string"},{"id":"9adbcf7a-7243-4479-ab01-6b2ccb31d8a6","name":"subsidy_amount","value":"={{ $('Code2').first().json.output.subsidy_amount }}","type":"string"},{"id":"b0d54477-2d5b-4aa1-8905-ca396242ddab","name":"self_contribution_rate","value":"={{ $('Code2').first().json.output.self_contribution_rate }}","type":"string"},{"id":"09d5c3f0-2aa9-424f-ba57-bdd0df8ae9bf","name":"support_target","value":"={{ $('Code2').item.json.output.support_target }}","type":"string"},{"id":"283f473c-7824-46ef-b963-feb711e63a22","name":"=bonus_points_factors","value":"={{ $('Code2').first().json.output.bonus_points_factors }}","type":"string"},{"id":"20d0efcf-9335-4130-ad6e-c50b4f37a404","name":"total_budget","value":"={{ $('Code2').first().json.output.total_budget }}","type":"string"},{"id":"c99ace10-afda-49e4-ae17-c19d6ff4198f","name":"main_category","value":"={{ $('Code2').first().json.output.main_category }}","type":"string"},{"id":"a7108376-3584-4185-b248-2bf439a34d3f","name":"sub_category","value":"={{ $('Code2').first().json.output.sub_category }}","type":"string"},{"id":"28175856-99cc-45f0-b362-492a66ff7ded","name":"reqst_mth_papers_cn","value":"={{ $('Code2').first().json.output.reqst_mth_papers_cn }}","type":"string"},{"id":"0ca60a34-70c1-42fc-b57e-3787320fd7b4","name":"pblanc_url","value":"={{ $('변수설정').item.json.base_url }}{{ $('변수설정').item.json.board_list }}","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"한국에너지공단","type":"string"},{"id":"1bc246ed-7ebe-4d70-a909-ecf71137cb70","name":"exc_instt_nm","value":"=한국에너지공단","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1504,-400],"id":"e3380da8-deda-486d-b973-e9ca31495717","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1888,-400],"id":"2b879c09-657c-4847-ba1e-c8ae1e6165b0","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"5095a57a-b8f6-4c39-a4a3-559a6d8498e0","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2048,-400],"webhookId":"34109e75-d018-4676-85b9-ce99b31470a4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1680,-400],"id":"ea6a030e-5467-49fa-b2a3-51759577175e","name":"If1","retryOnFail":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[672,-704],"id":"31e2f633-1b7d-4184-92fe-38939d20ca4c","name":"Auto-fixing Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[672,-528],"id":"9ca2fce9-7230-4052-af09-883e3652e8a4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"SKDNgNmyz3uaizES","name":"OpenAi account"}}},{"parameters":{"jsCode":"const titles = $input.first().json.title || [];\nconst dates = $input.first().json.date || [];\nconst announcements = $input.first().json.announcements || [];\n\n// -------------------- 어제 날짜 계산 --------------------\nlet yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nlet yesterdayStr = yesterday.toISOString().slice(0, 10); // 기본값: 어제 날짜\n\n// -------------------- 테스트용 날짜 (주석 처리하면 실제 어제 날짜 사용) --------------------\n// yesterdayStr = '2025-09-10'; // 테스트용 날짜\n\n// -------------------- 필터링 및 결과 생성 --------------------\nconst matchedItems = dates.map((date, index) => {\n  if (date === yesterdayStr) {\n    const raw = announcements[index] || \"\";\n    const match = raw.match(/fn_Detail\\('\\d+','(\\d+)'\\)/);\n    const boardNo = match ? match[1] : null;\n\n    return {\n      json: {\n        title: titles[index] || null,\n        date: date,\n        announcement: boardNo,\n      }\n    };\n  }\n}).filter(Boolean);\n\nreturn matchedItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3088,-48],"id":"cf41d227-89b4-4986-9dae-52ca2e7d97ee","name":"금일 기준"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $binary.data.fileName.split('.').pop() }}","rightValue":"=pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-896,-400],"id":"deed6fe9-cae0-4867-b99a-aa892b7978a4","name":"If"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"e610d3d3-fa48-464a-992b-a159400ae0a5","name":"Upload a file1","type":"n8n-nodes-base.httpRequest","position":[-304,-304],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://192.168.10.133:8000/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"8c1d4b66-7f12-4857-9b04-338efc70aac3","name":"hwp->pdf","type":"n8n-nodes-base.httpRequest","position":[-480,-304],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"d1f1d84b-ce78-4a2a-b2dc-a3de4967ae06","name":"Upload a file2","type":"n8n-nodes-base.httpRequest","position":[-480,-560],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const cloudflareBase = 'https://michel-throwing-nn-peace.trycloudflare.com';\n\nlet fileNamesRaw = $input.first().json.file_nm_list || [];\nlet fileUrlsRaw = $input.first().json.file_attach_url || [];\n\n// 문자열로 들어오는 경우 줄바꿈 기준 분리\nif (!Array.isArray(fileNamesRaw)) {\n  fileNamesRaw = fileNamesRaw.split('\\n').filter(s => s.trim() !== '');\n}\nif (!Array.isArray(fileUrlsRaw)) {\n  fileUrlsRaw = fileUrlsRaw.split('\\n').filter(s => s.trim() !== '');\n}\n\n// 파일 이름 정제\nconst cleanFileNames = fileNamesRaw.map(str => {\n  return str\n    .replace(/^\\d+:\\s*/, '')\n    .replace(/[\\n\\r\\t]/g, '')\n    .replace(/^\\d+\\.\\s*/, '')\n    .replace(/파일 아이콘/g, '') \n    .replace(/창닫기/g, '') // \"창닫기\" 제거\n    .trim();\n}).filter(s => s); // 빈 값 제거\n\n// 다운로드 링크 변환\nfunction extractDownloadUrl(jsText, fileName) {\n  const match = jsText.match(/fileDownload\\('(\\d+)',\\s*'(\\d+)',\\s*'(\\d+)'\\)/);\n  if (!match) return jsText && jsText.trim() !== '' ? jsText.trim() : null; // 이미 완성된 URL일 경우 그대로 반환\n  const [ , fileNo, fileSeq, boardMngNo ] = match;\n  const encodedName = encodeURIComponent(fileName);\n  return `${cloudflareBase}/download?fileNo=${fileNo}&fileSeq=${fileSeq}&boardMngNo=${boardMngNo}&filename=${encodedName}`;\n}\n\n// 결과 저장 변수\nlet mainFileName = null;\nlet mainFileUrl = null;\nlet mainFileExtension = null;\n\nlet subFileNames = [];\nlet subFileUrls = [];\n\ncleanFileNames.forEach((name, i) => {\n  const jsCall = fileUrlsRaw[i] || \"\";\n  const fullUrl = extractDownloadUrl(jsCall, name);\n\n  if (!mainFileName && name.includes(\"공고\")) {\n    mainFileName = name;\n    mainFileUrl = fullUrl;\n\n    const extMatch = name.match(/\\.(\\w+)$/);\n    mainFileExtension = extMatch ? extMatch[1].toLowerCase() : null;\n  } else {\n    if (name && fullUrl) {\n      subFileNames.push(name);\n      subFileUrls.push(fullUrl);\n    }\n  }\n});\n\n// ✅ 생성일자: KST 기준\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 최종 결과 반환 (마지막 @ 자동 제거됨)\nreturn [{\n  json: {\n    mainFileName,\n    mainFileUrl,\n    mainFileExtension,\n    subFileNames: subFileNames.length ? subFileNames.join('@') : null,\n    subFileUrls: subFileUrls.length ? subFileUrls.join('@') : null,\n    creat_p_nttm: formatted,\n    created_ts: formatted\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1616,-48],"id":"87e85e3c-d511-401d-8c92-39c6e91e41ad","name":"Code"},{"parameters":{"jsCode":"const pages = $input.first().json.pages;\nlet combinedMarkdown = '';\n\nfor (const page of pages) {\n  combinedMarkdown += page.markdown + '\\n';  // 줄바꿈 포함해서 합치기\n}\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 통합 결과 반환\nreturn [\n  {\n    json: {\n      combinedMarkdown,\n      creat_p_nttm: formatted,\n      created_ts: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,-400],"id":"479fc5cb-4423-4d8a-9f07-e0893c616732","name":"Code22","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1264,-400],"id":"6cb46ce2-3149-434a-90f6-c0134f26adc7","name":"If2"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.pblanc_nm) {\n    item.json.pblanc_nm = item.json.pblanc_nm.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,-400],"id":"5c930acc-472c-4888-8078-9304e8ac859c","name":"Code2"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.output.pblanc_nm }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1104,-400],"id":"b018956a-b375-41dc-b686-d36e604991b6","name":"MySQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"content":"사이트 주소\nhttps://www.energy.or.kr/front/board/List2.do","height":80,"width":700},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3648,-176],"id":"a6aabd25-f683-4af6-9885-131f1304ceaf","name":"Sticky Note"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.title) {\n    item.json.title = item.json.title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2608,-48],"id":"96f1683c-197f-4f17-9032-8b910593b046","name":"중복 자료 조회"},{"parameters":{"url":"={{ $json.base_url }}{{ $json.board_list }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"cookie","value":"={{ $response.headers[\"set-cookie\"]}}"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3584,-48],"id":"0a4dd650-5602-4637-af7f-659d8522987d","name":"HTTP Request3","onError":"continueRegularOutput"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-2416,-48],"id":"162c1945-70d5-4ab0-a239-5aebc934d509","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2256,-48],"id":"4044dc19-a14b-458c-affc-6b51d4899025","name":"중복조회 IF"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d899ce31-8258-4865-b270-6094eb929d35","leftValue":"={{ $json.mainFileName }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1376,-48],"id":"56e5b8a0-04d9-4fd8-b720-868245d07d2e","name":"메인공고문여부"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회').item.json.title }}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('리스트 추출2').item.json.content }}","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"={{ $json.subFileUrls }}","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"={{ $json.subFileNames }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"C","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('Code').item.json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('Code').item.json.created_ts }}","type":"string"},{"id":"461df994-2f1c-45f1-ab35-37547f7a9c9d","name":"pblanc_url","value":"={{ $('변수설정').item.json.base_url }}{{ $('변수설정').item.json.board_list }}","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"한국에너지공단","type":"string"},{"id":"49e59ec5-5acd-49f9-9308-6f1bce34911c","name":"exc_instt_nm","value":"한국에너지공단","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1168,-16],"id":"6467e45d-a6b6-403e-ba5b-0ed9c3b76304","name":"ai result","onError":"continueRegularOutput"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-944,-16],"id":"b16f4bb1-a56d-4d29-b60b-bffffd38f7a6","name":"MySQL2","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"389671be-3df1-40b2-a499-c28f505db3e6","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-720,-16],"webhookId":"8a0c0512-dfa2-42ef-b2d7-137143ba0b84"},{"parameters":{"method":"POST","url":"https://www.energy.or.kr/front/board/View2.do","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Host","value":"www.energy.or.kr"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:140.0) Gecko/20100101 Firefox/140.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Referer","value":"https://www.energy.or.kr/front/board/List2.do"},{"name":"Origin","value":"https://www.energy.or.kr"},{"name":"Connection","value":"keep-alive"},{"name":"Upgrade-Insecure-Requests","value":"1"},{"name":"Sec-Fetch-Dest","value":"document"},{"name":"Sec-Fetch-Mode","value":"navigate"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"Sec-Fetch-User","value":"?1"},{"name":"Priority","value":"u=0, i"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"siteCd","value":"001000000000000"},{"name":"boardMngNo","value":"2"},{"name":"boardType","value":"LIST"},{"name":"boardNo","value":"={{ $('Loop Over Items1').item.json.announcement }}"},{"name":"searchfield","value":"ALL"},{"name":"searchword"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2048,-48],"id":"6021b97d-b1dc-451e-96ae-34a67cca7c3f","name":"HTTP Request1"},{"parameters":{"rule":{"interval":[{"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4144,-48],"id":"cdd73030-c32a-47dd-aed6-0ee7ce606068","name":"Schedule Trigger"}],"connections":{"변수설정":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"Code","type":"main","index":0}]]},"download files":{"main":[[{"node":"If","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"do ocr","type":"main","index":0}]]},"do ocr":{"main":[[{"node":"Code22","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"ai result1":{"main":[[{"node":"If1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"If1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"If":{"main":[[{"node":"Upload a file2","type":"main","index":0}],[{"node":"hwp->pdf","type":"main","index":0}]]},"hwp->pdf":{"main":[[{"node":"Upload a file1","type":"main","index":0}]]},"Upload a file2":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Upload a file1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Code":{"main":[[{"node":"메인공고문여부","type":"main","index":0}]]},"Code22":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Code2":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"ai result1","type":"main","index":0}],[]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[]]},"메인공고문여부":{"main":[[{"node":"download files","type":"main","index":0}],[{"node":"ai result","type":"main","index":0}]]},"ai result":{"main":[[{"node":"MySQL2","type":"main","index":0}]]},"MySQL2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"변수설정","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"380968e0-0a43-4a95-a143-975ac2d60470","triggerCount":1,"shared":[{"createdAt":"2025-07-03T00:28:47.946Z","updatedAt":"2025-07-03T00:28:47.946Z","role":"workflow:owner","workflowId":"RgdvfUWBX1J5T5fz","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}