15.창업진흥원-C8vQefIZQNT2BJq8.json
{"createdAt":"2025-09-01T02:39:37.433Z","updatedAt":"2025-10-01T07:38:01.157Z","id":"C8vQefIZQNT2BJq8","name":"15.창업진흥원","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"=https://www.kised.or.kr/misAnnouncement/index.es?mid=a10302000000","responseFormat":"string","options":{}},"name":"board list","type":"n8n-nodes-base.httpRequest","position":[-2576,-64],"typeVersion":1,"id":"1641fb0d-c252-4648-814b-f31050a09106","alwaysOutputData":false,"notesInFlow":true,"executeOnce":false,"retryOnFail":false,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst status = items[0]?.json?.status || [];\nconst dates = items[0]?.json?.date || [];\n\nreturn status\n  .map((s, i) => {\n    if (s?.startsWith(\"진행중\")) {\n      return {\n        json: {\n          announcement: announcements[i],\n          title: titles[i],\n          date: dates[i]\n        }\n      };\n    }\n    return null; // 진행중이 아니면 제외\n  })\n  .filter(item => item !== null);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2016,-64],"id":"ae06746b-c21f-4272-82b1-85af7efb34da","name":"금일 기준"},{"parameters":{"content":"사이트 주소\nhttps://www.kised.or.kr/misAnnouncement/index.es?mid=a10302000000","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3104,-176],"id":"f5d4fd7e-0673-4449-bef8-a5076912f5d7","name":"Sticky Note"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1296,-288],"id":"af8b9df2-65f8-4d20-8399-514510ddf5f4","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1168,-288],"id":"9fc8f657-689d-4842-9f46-2cb0846acca9","name":"중복조회 IF"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":".lstyle_list > li:nth-child(n) > a:nth-child(2)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"title","cssSelector":".lstyle_list > li:nth-child(n) > a:nth-child(2) > b:nth-child(1)","returnArray":true},{"key":"status","cssSelector":".lstyle_list > li:nth-child(n) > span:nth-child(4)","returnArray":true}]},"options":{"trimValues":false}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-2320,-64],"typeVersion":1,"id":"9e4687a0-97d2-4aae-875d-a21f95f3995d"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1776,-64],"id":"c6c184e6-8730-4bc5-a808-d21f7a812640","name":"Loop Over Items1","alwaysOutputData":false,"executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $('Loop Over Items1').item.json.announcement }}","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-928,-288],"id":"ee37891b-568f-4bee-8e81-45748488d18e","name":"get detail","onError":"continueRegularOutput"},{"parameters":{"extractionValues":{"values":[{"key":"title","cssSelector":"#scrTitle > h3:nth-child(1)"},{"key":"jrsd_instt_nm","cssSelector":"div.bg_box:nth-child(2) > ul:nth-child(2) > li:nth-child(1) > div:nth-child(1) > p:nth-child(2)"},{"key":"date","cssSelector":"#rcptPeriod"},{"key":"exc_instt_nm","cssSelector":"ul.dot_list-wrap:nth-child(1) > li:nth-child(3) > div:nth-child(1) > p:nth-child(2)"},{"key":"bsns_sumry_cn","cssSelector":".box > div:nth-child(1) > p:nth-child(2)"},{"key":"refrnc_nm","cssSelector":"div.information_list:nth-child(6) > ul:nth-child(2) > li:nth-child(1) > div:nth-child(2) > p:nth-child(1)"}]},"options":{"trimValues":false}},"name":"리스트 추출3","type":"n8n-nodes-base.htmlExtract","position":[-688,-288],"typeVersion":1,"id":"256e9b1f-a53f-4bcb-a0d4-3f69afde3b7a"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"=전지역","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $json.bsns_sumry_cn }}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{ $json.date }}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $json.start }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $json.end }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"H","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"창업진흥원","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $json.created_at }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $json.created_at }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"={{ $('금일 기준').item.json.announcement }}","type":"string"},{"id":"5f567959-9da9-442d-844e-d807c9e134af","name":"reqst_mth_papers_cn","value":"={{ $json.refrnc_nm }}","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"={{ $json.exc_instt_nm }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,-288],"id":"83fbacd2-8c78-4c4c-b89f-f339eefe6f4c","name":"ai result"},{"parameters":{"amount":10,"unit":"seconds"},"id":"48b1c8cd-c075-4847-9edd-1e87c43a3929","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[0,-288],"webhookId":"a338b09d-1130-4b60-a730-99be7bbbe59b"},{"parameters":{"jsCode":"const data = $input.first().json;\nconst refrnc = $input.first().json.refrnc_nm;\n\n// 줄바꿈 제거\nconst clean = (str) => (str || '').replace(/\\\\n/g, '').trim();\n\n// 오늘 생성일 (yyyy-mm-dd hh:mm:ss)\nconst now = new Date();\nconst pad = (n) => n.toString().padStart(2, '0');\nconst created_at = `${now.getFullYear()}-${pad(now.getMonth() + 1)}-${pad(now.getDate())} ${pad(now.getHours())}:${pad(now.getMinutes())}:${pad(now.getSeconds())}`;\n\nlet start = null;\nlet end = null;\nlet date = null;\n\nif (data.date) {\n  const parts = clean(data.date).split('~');\n  if (parts.length === 2) {\n    // start: yyyy-mm-dd\n    start = parts[0].trim().replace(/(\\d{4})-(\\d{2})-(\\d{2}).*/, '$1-$2-$3');\n\n    // end: yyyy-mm-dd, 시간 제거\n    end = parts[1].trim().replace(/(\\d{4})-(\\d{2})-(\\d{2}).*/, '$1-$2-$3');\n\n    // date: yyyymmdd ~ yyyymmdd\n    const startCompact = parts[0].trim().replace(/-/g, '');\n    const endCompact = parts[1].trim().replace(/[^0-9]/g, '').slice(0, 8); // 처음 8자리만\n    date = `${startCompact} ~ ${endCompact}`;\n  }\n}\n\nreturn [\n  {\n    json: {\n      title: clean(data.title),\n      jrsd_instt_nm: clean(data.jrsd_instt_nm),\n      exc_instt_nm: clean(data.exc_instt_nm),\n      bsns_sumry_cn: clean(data.bsns_sumry_cn),\n      date: date,      // yyyymmdd ~ yyyymmdd\n      start: start,    // yyyy-mm-dd\n      end: end,        // yyyy-mm-dd\n      refrnc_nm: refrnc,\n      created_at: created_at // yyyy-mm-dd hh:mm:ss\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,-288],"id":"668961b9-55c3-4673-97ab-ae38928a9997","name":"Code"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2880,80],"id":"5eca5345-9881-49ae-942e-77a9f2ac392b","name":"Schedule Trigger"},{"parameters":{"jsCode":"// Function 노드 안\nreturn [\n  {\n    json: {\n      workflowName: $workflow.name,\n      insertId:$input.first().json.data.insertId\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-448],"id":"7a5bc58f-397a-484e-bb84-f0a042729867","name":"공고상태정리"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"insertId","value":"={{ $json.insertId }}"},{"column":"type","value":"detail"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[208,-448],"id":"65020e00-585d-40b9-b8bf-ae95d5437b89","name":"공고상태상세저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"total_count","value":"={{ $json.status.length }}"},{"column":"type","value":"total_count"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-2016,96],"id":"fe5f712c-03c2-444b-a809-70ba2b085746","name":"공고상태전체개수저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-208,-288],"id":"11fd6195-54fa-4d91-b240-10def18a6bb8","name":"MySQL2","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"}],"connections":{"board list":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"get detail","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0},{"node":"공고상태전체개수저장","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"get detail":{"main":[[{"node":"리스트 추출3","type":"main","index":0}]]},"리스트 추출3":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"ai result","type":"main","index":0}]]},"ai result":{"main":[[{"node":"MySQL2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"board list","type":"main","index":0}]]},"공고상태정리":{"main":[[{"node":"공고상태상세저장","type":"main","index":0}]]},"MySQL2":{"main":[[{"node":"공고상태정리","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eb94c4ef-177d-4883-88a3-91c32590d49b","triggerCount":1,"shared":[{"createdAt":"2025-09-01T02:39:37.433Z","updatedAt":"2025-09-01T02:39:37.433Z","role":"workflow:owner","workflowId":"C8vQefIZQNT2BJq8","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}