16.iris범부처통합연구지원시스템--보류-W7eYLb4t954F1K5Z.json
{"createdAt":"2025-09-01T05:51:51.410Z","updatedAt":"2025-09-01T07:37:34.809Z","id":"W7eYLb4t954F1K5Z","name":"16.IRIS범부처통합연구지원시스템- 보류","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3088,-64],"id":"29b6aaad-88d0-4407-ac6f-e80f33318ab6","name":"Schedule Trigger"},{"parameters":{"url":"=https://www.iris.go.kr/contents/retrieveBsnsAncmBtinSituListView.do","responseFormat":"string","options":{}},"name":"board list","type":"n8n-nodes-base.httpRequest","position":[-2576,-64],"typeVersion":1,"id":"04e9e320-76b3-4192-8ab5-fb36fede0876","alwaysOutputData":false,"notesInFlow":true,"executeOnce":false,"retryOnFail":false,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1808,-64],"id":"ffe794dc-a0c4-47f6-a249-de4434229d12","name":"Loop Over Items1"},{"parameters":{"url":"=https://nigt.re.kr/gtck/noticeall.do?mode=view&articleNo={{ $('금일 기준').item.json.announcement }}&article.offset=0&articleLimit=10","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1184,-48],"id":"a5addd9f-ac7d-4bf4-80ca-d11e11d84589","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"extractionValues":{"values":[{"key":"attach_file_name","cssSelector":".board-view-file > ul:nth-child(1) > li:nth-child(n) > a:nth-child(1)","returnArray":true},{"key":"attach_file_address","cssSelector":".board-view-file > ul:nth-child(1) > li:nth-child(n) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[-1008,-48],"typeVersion":1,"id":"b6bf0ee2-3773-4456-b012-1ac46ad19c9f"},{"parameters":{"url":"={{ $json.fileAddress }}","options":{"response":{"response":{"responseFormat":"file"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-576,-48],"id":"11968ab5-3497-468c-a6df-b0ed337fac84","name":"download files","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://192.168.10.133:8000/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"e2a98357-e1c6-4d2d-941c-e76bd3ad87aa","name":"Upload a file8","type":"n8n-nodes-base.httpRequest","position":[-368,-48],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"67b99060-2eb9-44a9-83c0-6f4fac55ec5e","name":"Upload a file","type":"n8n-nodes-base.httpRequest","position":[-160,-48],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{$json[\"id\"]}}/url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,-48],"id":"55be5854-b254-41d7-afeb-7975fe3d1ce6","name":"HTTP Request","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"b8958344-f569-4da5-a963-3348551885a4","name":"do ocr","type":"n8n-nodes-base.httpRequest","position":[272,-48],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const pages = $input.first().json.pages;\nlet combinedMarkdown = '';\n\nfor (const page of pages) {\n  combinedMarkdown += page.markdown + '\\n';  // 줄바꿈 포함해서 합치기\n}\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 통합 결과 반환\nreturn [\n  {\n    json: {\n      combinedMarkdown,\n      creat_p_nttm: formatted,\n      created_ts: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,-48],"id":"3079f171-f8c4-4095-9bd8-d445fb62442e","name":"Code22","onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"={{ $json.combinedMarkdown }} \\n에서  \npblanc_nm(공고제목), jrsd_instt_nm(지역 혹은 사이트이름), bsns_sumry_cn(공고요약), trget_nm(대상기업),  \nreqst_begin_end_de(공고 전체기간), reqst_begin_dt(공고시작기간), reqst_end_dt(공고마감기간),  \nreqst_mth_papers_cn(사업신청방법), excInsttNm(사업수행기관), refrnc_nm(문의처), subsidy_amount(지원금액),  \nself_contribution_rate(자부담률), support_target(지원기업 예: 대기업,중소기업), bonus_points_factors(가점요소),  \ntotal_budget(예산) 에 대한 정보를 알려줘.\n\n공고제목은 detail_part에서 처음 <p>를 제목으로 참고.\n\n[1] 날짜 변환 규칙  \n- reqst_begin_end_de 형식: YYYYMMDD ~ YYYYMMDD  \n  → 이를 reqst_begin_dt, reqst_end_dt로 YYYY-MM-DD 형식으로 변환  \n\n[2] 지역명 변환 (cityMap)  \n{\n  \"서울\": \"서울특별시\", \"부산\": \"부산광역시\", \"대구\": \"대구광역시\", \"인천\": \"인천광역시\",\n  \"광주\": \"광주광역시\", \"대전\": \"대전광역시\", \"울산\": \"울산광역시\", \"세종\": \"세종특별자치시\",\n  \"경기\": \"경기도\", \"강원\": \"강원도\", \"충북\": \"충청북도\", \"충남\": \"충청남도\",\n  \"전북\": \"전라북도\", \"전남\": \"전라남도\", \"경북\": \"경상북도\", \"경남\": \"경상남도\",\n  \"제주\": \"제주특별자치도\", \"전지역\": \"전지역\"\n}\n\ntrget_nm 값은 단일값(중소기업, 대기업 등)만 사용.\n\n[3] 첨부파일 경로 변수  \nprint_flpth_nm : {{ $('변수설정').item.json.attach_url }}{{ $('pdf,첨부파일분리').item.json.fileAddress }}  \nprint_file_nm  : {{ $('pdf,첨부파일분리').item.json.fileName }}  \ncreat_p_nttm   : {{ $json.creat_p_nttm }}  \ncreated_ts     : {{ $json.created_ts }}\n\n[4] 값이 없거나 찾을 수 없으면 아래 형식으로 빈 문자열(\"\") 처리  \n{\n  \"pblanc_nm\": \"\",\n  \"jrsd_instt_nm\": \"\",\n  \"bsns_sumry_cn\": \"\",\n  \"trget_nm\": \"\",\n  \"reqst_begin_end_de\": \"\",\n  \"reqst_begin_dt\": \"\",\n  \"reqst_end_dt\": \"\",\n  \"reqst_mth_papers_cn\": \"\",\n  \"refrnc_nm\": \"\",\n  \"print_flpth_nm\": \"\",\n  \"print_file_nm\": \"\",\n  \"flpth_nm\": \"\",\n  \"file_nm\": \"\",\n  \"creat_p_nttm\": \"\",\n  \"created_ts\": \"\",\n  \"subsidy_amount\": \"\",\n  \"self_contribution_rate\": \"\",\n  \"support_target\": \"\",\n  \"bonus_points_factors\": \"\",\n  \"total_budget\": \"\"\n}\n\n[5] main_category(대분류) 분류 규칙  \n- 선택지: \"스마트생태공장\", \"상생협력 실증프로그램\", \"스마트공장 / 제조혁신\", \"탄소중립 / 온실가스저감\", \"FEMS 에너지효율화\"  , \"마케팅 / 기술인프라 구축\"\n- 공고 내용에 해당 키워드가 존재하면 선택  \n- 여러 개면 콤마(,)로 구분  \n- 없거나 애매하면 \"\"  \n\n예시:  \n\"컨설팅,스마트생태공장\"\n\n[6] sub_category(설비분류) 분류 규칙  \n- 선택 가능 항목:  \n변압기, 폐유재활용설비, 송풍기, 신재생발전설비, 집진기, 펌프, 콤프레셔, 공기조화기, 열회수환기장치, 보일러, 열교환기, 배출가스처리기, 공기정화기, 탈황기, 탈질기, 오수처리기, 폐수처리기, 냉각탑, 에너지관리시스템, 공정제어시스템, 자동화시스템, 냉동기, 증기재압축장치, 폐열회수시스템, 유수분리기, 압축기, 인버터, 용해로, 응축수회수기, 악취저감설비, 사출성형기  \n- 공고 내용에 해당 설비명이 등장하면 포함  \n- 목록 외 설비는 추가 금지  \n- 없으면 \"\"  \n\n예시:  \n\"인버터,용해로\"\n","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[768,-48],"id":"2bd72d4b-312d-4f05-bd39-9893a0543b89","name":"Basic LLM Chain","retryOnFail":false,"maxTries":null,"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"$id\": \"https://example.com/product.schema.json\",\n  \"title\": \"anouncement\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"pblanc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고제목 (없으면 공백처리)\"\n    },\n    \"jrsd_instt_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고지역 (없으면 공백처리)\"\n    },\n    \"bsns_sumry_cn\": {\n      \"type\": \"string\",\n      \"description\": \"공고요약 (없으면 공백처리)\"\n    },\n    \"trget_nm\": {\n      \"type\": \"string\",\n      \"description\": \"대상기업 (없으면 공백처리)\"\n    },\n    \"reqst_begin_end_de\": {\n      \"type\": \"string\",\n      \"description\": \"공고 전체 기간 (없으면 공백처리) 형식은 yyyymmdd ~ yyyymmdd\"\n    },\n    \"reqst_begin_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 시작 기간 (없으면 공백처리)\"\n    },\n    \"reqst_end_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 종료 기간 (없으면 공백처리)\"\n    },\n    \"reqst_mth_papers_cn\": {\n      \"type\": \"string\",\n      \"description\": \"사업신청 방법 (없으면 공백처리)\"\n    },\n    \"excInsttNm\": {\n      \"type\": \"string\",\n      \"description\": \"사업수행기관 (없으면 공백처리)\"\n    },\n    \"refrnc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"문의처내용 (없으면 공백처리)\"\n    },\n    \"print_flpth_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 주소 (없으면 공백처리)\"\n    },\n    \"print_file_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 파일명 (없으면 공백처리)\"\n    },\n    \"subsidy_amount\": {\n      \"type\": \"string\",\n      \"description\": \"지원금액, 원화로 변환 및 금액만 적시 (없으면 공백처리)\"\n    },\n    \"self_contribution_rate\": {\n      \"type\": \"string\",\n      \"description\": \"자부담률 (없으면 공백처리)\"\n    },\n    \"support_target\": {\n      \"type\": \"string\",\n      \"description\": \"지원기업 (예: 대기업, 중소기업, 대명사만 적시, 없으면 공백처리)\"\n    },\n    \"bonus_points_factors\": {\n      \"type\": \"string\",\n      \"description\": \"가점요소(간략하게, 없으면 공백처리)\"\n    },\n    \"total_budget\": {\n      \"type\": \"string\",\n      \"description\": \"예산 (없으면 공백처리)\"\n    },\n    \"main_category\": {\n      \"type\": \"string\",\n      \"description\": \"대분류(없으면 공백)\"\n    },\n    \"sub_category\": {\n      \"type\": \"string\",\n      \"description\": \"설비분류 (없으면 공백처리)\"\n    }\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1088,384],"id":"f05660d0-ebaf-4c6d-96b9-3b5544cfbf32","name":"Structured Output Parser","notesInFlow":false},{"parameters":{"modelName":"models/gemini-1.5-flash-8b-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[784,128],"id":"77b92f3e-b2ed-4891-ad97-2434531c46c6","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"XWAzclOTFyK0A6fs","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('Code').item.json.output.pblanc_nm }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"={{ $('Code').item.json.output.jrsd_instt_nm }}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('Code').item.json.output.bsns_sumry_cn }}","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"={{ $('Code').item.json.output.trget_nm }}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{ $('Code').item.json.output.reqst_begin_end_de }}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $('Code').item.json.output.reqst_begin_dt }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $('Code').item.json.output.reqst_end_dt }}","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"={{ $('Code').item.json.output.refrnc_nm }}","type":"string"},{"id":"b5e49522-9965-4e13-90b1-86edf56df9c2","name":"print_flpth_nm","value":"={{ $('pdf,첨부파일분리').item.json.fileAddress }}","type":"string"},{"id":"7e662533-f931-4a90-9dfb-f1386c206c8f","name":"print_file_nm","value":"={{ $('pdf,첨부파일분리').item.json.fileName }}","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"={{ $('pdf,첨부파일분리').item.json.flpth_nm }}","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"={{ $('pdf,첨부파일분리').item.json.file_nm }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"C","type":"string"},{"id":"9f54d932-dd37-4175-b8cb-2d855891f65f","name":"subsidy_amount","value":"null","type":"object"},{"id":"8e2d8fb4-cebd-42c1-b12a-e673a77fc802","name":"self_contribution_rate","value":"null","type":"object"},{"id":"f12e819d-409d-436e-b658-684ba9ac8e30","name":"support_target","value":"null","type":"object"},{"id":"83e3ad1a-3ad2-4b72-a477-b123113b2e4a","name":"bonus_points_factors","value":"null","type":"object"},{"id":"d324fdce-53d0-453d-a211-7318d5935647","name":"total_budget","value":"null","type":"object"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"녹색기술연구소","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('Code22').item.json.created_ts }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('Code22').item.json.created_ts }}","type":"string"},{"id":"9adbcf7a-7243-4479-ab01-6b2ccb31d8a6","name":"subsidy_amount","value":"={{ $json.output.subsidy_amount }}","type":"string"},{"id":"b0d54477-2d5b-4aa1-8905-ca396242ddab","name":"self_contribution_rate","value":"={{ $json.output.self_contribution_rate }}","type":"string"},{"id":"09d5c3f0-2aa9-424f-ba57-bdd0df8ae9bf","name":"support_target","value":"={{ $json.output.support_target }}","type":"string"},{"id":"283f473c-7824-46ef-b963-feb711e63a22","name":"bonus_points_factors","value":"={{ $json.output.bonus_points_factors }}","type":"string"},{"id":"20d0efcf-9335-4130-ad6e-c50b4f37a404","name":"total_budget","value":"={{ $json.output.total_budget }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"={{ $('변수설정').item.json.base_url + $('변수설정').item.json.board_detail }}&bcIdx={{ $('Loop Over Items1').item.json.announcement }}&parentSeq={{ $('Loop Over Items1').item.json.announcement }}","type":"string"},{"id":"97c21176-d1a8-4f5c-a312-e5603e2e7569","name":"main_category","value":"={{ $('Code').item.json.output.main_category }}","type":"string"},{"id":"1f7c4cbd-e378-419d-8827-6007de5e6929","name":"sub_category","value":"={{ $('Code').item.json.output.sub_category }}","type":"string"},{"id":"5f567959-9da9-442d-844e-d807c9e134af","name":"reqst_mth_papers_cn","value":"={{ $('Code').item.json.output.reqst_mth_papers_cn }}","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"={{ $('Code').item.json.output.excInsttNm }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1760,-48],"id":"0f264973-5e99-4c5b-a16a-ee22b19fbe1f","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2144,-48],"id":"4a591b60-61ae-42f8-910e-44378bc9c4ed","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"2f55e0e6-0883-4293-8e22-bbfe799381c3","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2304,-48],"webhookId":"0a2f1034-e92a-4fc9-b168-973f7555c66d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1952,-48],"id":"4e1a7a51-a1d0-47cd-a869-9bfc70263036","name":"If1","retryOnFail":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[944,208],"id":"4fda99ef-bf9b-4579-9a96-2b30faab1825","name":"Auto-fixing Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[944,384],"id":"e26083f7-64b4-44d3-8dbf-67dc22bcf22a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"SKDNgNmyz3uaizES","name":"OpenAi account"}}},{"parameters":{"jsCode":"const announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\n\n// 어제 날짜 구하기 (형식: yyyy-mm-dd)\n// const yesterday = new Date();\n// yesterday.setDate(yesterday.getDate() - 1);\n// const year = yesterday.getFullYear(); // 4자리 연도\n// const month = String(yesterday.getMonth() + 1).padStart(2, '0');\n// const day = String(yesterday.getDate()).padStart(2, '0');\n// const yesterdayStr = `${year}-${month}-${day}`;\n\nconst yesterdayStr = '2025-08-26';\n\nreturn announcements.map(function(announcement, index) {\n  // \"공고일자 :\" 제거 및 앞뒤 공백 제거\n  const cleanDate = dates[index] ? dates[index].replace('공고일자 :', '').trim() : null;\n\n  // 괄호 안 값 추출: '015534', 'ancmIng'\n  const match = announcement.match(/\\('(.+?)','(.+?)'\\)/);\n  const boardNum = match ? match[1] : null;\n  const boardType = match ? match[2] : null;\n\n  return {\n    json: {\n      boardNum: boardNum,\n      boardType: boardType,\n      title: titles[index] || null,\n      date: cleanDate\n    }\n  };\n}).filter(item => item.json.date === yesterdayStr);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2016,-64],"id":"74284262-14d8-459f-84ee-511cd2b65f7d","name":"금일 기준"},{"parameters":{"jsCode":"const names = $input.first().json.attach_file_name || [];\nconst addresses = $input.first().json.attach_file_address || [];\nconst baseUrl = \"https://nigt.re.kr/gtck/noticeall.do\";\n\nlet noticeFileName = null;\nlet noticeFileAddress = null;\n\nconst extraFileNames = [];\nconst extraFilePaths = [];\n\nfor (let i = 0; i < names.length; i++) {\n  const name = names[i]?.replace(\" 새 창 열림\", \"\").trim();\n  const address = addresses[i];\n\n  if (!name || !address) continue;\n\n  if (name.includes(\"공고\") && noticeFileName === null) {\n    // 첫 번째 공고만\n    noticeFileName = name;\n    noticeFileAddress = `${baseUrl}${address}`\n  } else {\n    // 공고가 아닌 항목들\n    extraFileNames.push(name);\n    extraFilePaths.push(`${baseUrl}${address}`);\n  }\n}\n\nreturn [{\n  json: {\n    fileName: noticeFileName,\n    fileAddress: noticeFileAddress,\n    file_nm: extraFileNames.join(\"@\"),\n    flpth_nm: extraFilePaths.join(\"@\")\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-784,-48],"id":"fbc99eae-6b12-4041-ba75-4fa103cb1287","name":"pdf,첨부파일분리"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.output.pblanc_nm }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1344,-48],"id":"4d4feaac-55e9-49ea-9498-7e8402f5f65f","name":"MySQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1504,-48],"id":"47ba308b-8951-4b04-9117-04d776e8f896","name":"If2"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.pblanc_nm) {\n    item.json.pblanc_nm = item.json.pblanc_nm.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,-48],"id":"15c71870-119e-4d9b-96be-920df97b6fab","name":"Code"},{"parameters":{"content":"사이트 주소\nhttps://www.mss.go.kr/site/smba/ex/bbs/List.do?cbIdx=310","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3104,-176],"id":"51f268b5-d996-4950-a69e-abbbcd831c57","name":"Sticky Note"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet boardNum = $input.first().json.boardNum;\nlet boardType = $input.first().json.boardType\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title,\n      boardNum,\n      boardType\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1648,-288],"id":"3cee722e-057b-4b44-bc23-2584c7cfd0f8","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1504,-288],"id":"c12214f9-e5eb-49a4-a2fe-952c6d6b2168","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1360,-288],"id":"23177d35-89f0-4cb3-8a46-eee592c1696b","name":"중복조회 IF"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":"tr.b-top-box:nth-child(n) > td:nth-child(3) > div:nth-child(1) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"title","cssSelector":"tr.b-top-box > td:nth-child(2) > div:nth-child(1) > a:nth-child(1)","returnArray":true},{"key":"date","cssSelector":"tr.b-top-box:nth-child > td:nth-child(3)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출1","type":"n8n-nodes-base.htmlExtract","position":[-2384,-448],"typeVersion":1,"id":"1258d9d9-d939-43ce-bc46-257206536967"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":".dbody > li:nth-child(n) > div:nth-child(2) > div:nth-child(1) > strong:nth-child(1) > a:nth-child(1)","returnValue":"attribute","attribute":"onclick","returnArray":true},{"key":"title","cssSelector":".dbody > li:nth-child(n) > div:nth-child(2) > div:nth-child(1) > strong:nth-child(1) > a:nth-child(1)","returnArray":true},{"key":"date","cssSelector":".dbody > li:nth-child(n) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > span:nth-child(2)","returnArray":true}]},"options":{"trimValues":false}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-2320,-64],"typeVersion":1,"id":"2b31bae1-f188-477a-975e-0420e472fdb7"},{"parameters":{"method":"POST","url":"=https://www.iris.go.kr/contents/retrieveBsnsAncmView.do","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:142.0) Gecko/20100101 Firefox/142.0\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8\",\n  \"Accept-Language\": \"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3\",\n  \"Accept-Encoding\": \"gzip, deflate, br, zstd\",\n  \"Content-Type\": \"application/x-www-form-urlencoded\",\n  \"Origin\": \"https://www.iris.go.kr\",\n  \"Connection\": \"keep-alive\",\n  \"Referer\": \"https://www.iris.go.kr/contents/retrieveBsnsAncmBtinSituListView.do\",\n  \"Cookie\": \"JSESSIONID=8MgDtQpc2Omx7eW9dwWQQqVaATH1IyaDcLu8dJw7hsFOoMsEl0NqL3C5hOqakhHh.amV1c19kb21haW4vcG9ydGFsNg==\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Sec-Fetch-Dest\": \"document\",\n  \"Sec-Fetch-Mode\": \"navigate\",\n  \"Sec-Fetch-Site\": \"same-origin\",\n  \"Sec-Fetch-User\": \"?1\",\n  \"Priority\": \"u=0, i\"\n}\n","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"bizSearch\": \"\",\n  \"bsnsTl\": \"\",\n  \"ancmPrg\": \"ancmIng\",\n  \"pageIndex\": \"1\",\n  \"ancmId\": \"015534\",\n  \"ancmNo\": \"\",\n  \"ancmTurn\": \"\",\n  \"seq\": \"\",\n  \"hirkSorgnBsnsCd\": \"\",\n  \"bsnsAncmTap\": \"\",\n  \"shSorgnYyBsnsCd\": \"\",\n  \"sorgnIdArr\": \"\",\n  \"ancmSttArr\": \"\",\n  \"pbofrTpArr\": \"\",\n  \"qualCndtArr\": \"\",\n  \"blngGovdSeArr\": \"\",\n  \"techFildArr\": \"\",\n  \"shBsnsYy\": \"\"\n}\n","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1168,-288],"id":"1b8b68b6-7f51-404c-bfc5-cf3947fa0fda","name":"post detail","onError":"continueRegularOutput"}],"connections":{"Schedule Trigger":{"main":[[{"node":"board list","type":"main","index":0}]]},"board list":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"pdf,첨부파일분리","type":"main","index":0}]]},"download files":{"main":[[{"node":"Upload a file8","type":"main","index":0}]]},"Upload a file8":{"main":[[{"node":"Upload a file","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"do ocr","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"do ocr":{"main":[[{"node":"Code22","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Code22":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"ai result1":{"main":[[{"node":"If1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"If1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"pdf,첨부파일분리":{"main":[[{"node":"download files","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"If2","type":"main","index":0}]]},"Code":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"If2":{"main":[[{"node":"ai result1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"post detail","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"412cf187-14f0-40d2-9bb4-075888c713f3","triggerCount":1,"shared":[{"createdAt":"2025-09-01T05:51:51.410Z","updatedAt":"2025-09-01T05:51:51.410Z","role":"workflow:owner","workflowId":"W7eYLb4t954F1K5Z","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}