17.bems-협회-KAe7muJF27AraOyD.json
{"createdAt":"2025-09-12T07:47:59.594Z","updatedAt":"2025-09-18T01:16:08.570Z","id":"KAe7muJF27AraOyD","name":"17.BEMS 협회","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"=http://www.bems.or.kr/bbs/board.php?bo_table=notice","responseFormat":"string","options":{}},"name":"board list","type":"n8n-nodes-base.httpRequest","position":[-2208,896],"typeVersion":1,"id":"69dd1c5f-93a0-4595-aa65-17a04da098f3","alwaysOutputData":false,"notesInFlow":true,"executeOnce":false,"retryOnFail":false,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1440,896],"id":"cfeb911f-071a-4bba-8c1e-0ef691046fb3","name":"Loop Over Items1"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"=jrsd_instt_nm","value":"=전지역","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $json.content }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"H","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"BEMS 협회","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $json.created_ts }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=http://www.bems.or.kr/bbs/board.php?bo_table=notice&wr_id={{ $('금일 기준').item.json.announcement }}","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=BEMS 협회","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,896],"id":"fb96a529-4730-41d1-a871-223a416bcb9c","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[384,896],"id":"7d7dee70-3745-4ba4-b636-3db0ff5f631b","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"8a34db8a-d401-4f23-8214-f2ebdc6e0b50","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[544,896],"webhookId":"c897ddd3-df10-461a-98c2-af70aabe21fd"},{"parameters":{"content":"사이트 주소\nhttp://www.bems.or.kr/bbs/board.php?bo_table=notice","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2736,784],"id":"ecefdc32-c178-4db0-8f23-c4d939492865","name":"Sticky Note"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title,\n      announcement\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1280,672],"id":"0e0719fe-e298-46d6-90a6-cfc138c1db96","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1136,672],"id":"713f7089-89c9-4374-a23b-4c1e94b7fb2f","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-992,672],"id":"f6bbe63d-78a4-4455-b1cd-f022eabbfd0e","name":"중복조회 IF"},{"parameters":{"method":"POST","url":"=https://www.kesco.or.kr/bbs/selectBbs.do","sendBody":true,"bodyParameters":{"parameters":[{"name":"bbs_code","value":"MKB00001"},{"name":"bbs_seq","value":"={{ $('중복 자료 조회').item.json.announcement }}"},{"name":"user_di"},{"name":"file_id"},{"name":"currentPage=1","value":"1"},{"name":"sch_type"},{"name":"sch_text"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-736,368],"id":"427a6480-0222-4163-a7f4-9498c5ebbdba","name":"set cookie","onError":"continueRegularOutput"},{"parameters":{"jsCode":"return {\n  cookie: ($input.first().json.headers['set-cookie'] || []).join('; ')\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,368],"id":"48ea1633-0d48-412f-aade-c62ad785be9e","name":"get cookie"},{"parameters":{"jsCode":"const items = $('리스트 추출2').first().json;\nconst names = items.attach_file_name || [];\nconst addresses = items.attach_file_address || [];\nconst baseUrl = \"https://www.busanpa.com\";\n\nconst normalizedNames = [];\nconst normalizedUrls = [];\n\n// -------------------- 파일명/URL 정리 --------------------\nfunction normalizeFileName(name) {\n    return name\n        ?.replace(/[\\n\\r\\t]/g, \"\")                           // 줄바꿈, 탭 제거\n        .replace(/\\(파일크기:\\s*[\\d\\.]+[KMG]?B\\s*\\)/gi, \"\")  // (파일크기: 2 MB) 제거\n        .trim();\n}\n\nfunction normalizeFileUrl(address) {\n    if (!address) return null;\n    if (address.startsWith(\"http\")) return address;\n    return `${baseUrl}${address}`;\n}\n\nfor (let i = 0; i < names.length; i++) {\n    const name = normalizeFileName(names[i]);\n    const url = normalizeFileUrl(addresses[i]);\n    if (!name || !url) continue;\n\n    normalizedNames.push(name);\n    normalizedUrls.push(url);\n}\n\n// -------------------- 날짜 변환 --------------------\nfunction formatDate(raw) {\n    if (!raw) return null;\n    const cleaned = raw.replace(/시작일\\s*:\\s*|종료일\\s*:\\s*/g, '').trim();\n    const match = cleaned.match(/(\\d{4})-(\\d{2})-(\\d{2})/);\n    return match ? `${match[1]}-${match[2]}-${match[3]}` : null;\n}\n\nconst startDate = formatDate(items.start_date);\nconst endDate = formatDate(items.end_date);\nlet startEndDate = null;\nif (startDate && endDate) {\n    startEndDate = `${startDate.replace(/-/g, '')} ~ ${endDate.replace(/-/g, '')}`;\n}\n\n// -------------------- KST 기준 현재 시각 --------------------\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// -------------------- 결과 반환 --------------------\nreturn [{\n    json: {\n        fileName: normalizedNames[0] || null,            // 첫 번째 파일명\n        fileAddress: normalizedUrls[0] || null,          // 첫 번째 파일 URL\n        file_nm: normalizedNames.join(\"@\"),              // 전체 파일명 @로 연결\n        flpth_nm: normalizedUrls.join(\"@\"),              // 전체 파일 URL @로 연결\n        announcement_file_exist: normalizedNames.length > 0,\n        content: items.content,                          // 본문 내용\n        start_date: startDate,                           // YYYY-MM-DD\n        end_date: endDate,                               // YYYY-MM-DD\n        start_end_date: startEndDate,                    // YYYYMMDD ~ YYYYMMDD\n        creat_p_nttm: formatted,\n        created_ts: formatted\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,896],"id":"d69c8338-1da7-48fd-8639-92fe2382b835","name":"내용 정규화"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":"li.bo_notice:nth-child(n) > span:nth-child(2) > div:nth-child(1) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"title","cssSelector":"li.bo_notice:nth-child(n) > span:nth-child(2) > div:nth-child(1) > a:nth-child(1)","returnArray":true},{"key":"date","cssSelector":"li.bo_notice:nth-child(n) > span:nth-child(5)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-1968,896],"typeVersion":1,"id":"fe50951e-5c68-424e-99d4-14b195800a41"},{"parameters":{"jsCode":"const announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\n\n// 어제 날짜 구하기 (형식: mm-dd)\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst month = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst day = String(yesterday.getDate()).padStart(2, '0');\nlet yesterdayStr = `${month}-${day}`;\n\n // yesterdayStr = '08-04';\n\nreturn announcements.map(function(announcement, index) {\n  // wr_id 값 추출\n  const match = announcement.match(/wr_id=(\\d+)/);\n  const extracted = match ? match[1].trim() : null;\n\n  return {\n    json: {\n      announcement: extracted,\n      title: titles[index] || null,\n      date: dates[index] || null\n    }\n  };\n}).filter(item => item.json.date === yesterdayStr);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1664,896],"id":"b25873e2-09d1-435a-9ea1-01ecb65b7124","name":"금일 기준"},{"parameters":{"extractionValues":{"values":[{"key":"attach_file_name","cssSelector":"dd.df:nth-child(n+1) > a:nth-child(2)","returnArray":true},{"key":"attach_file_address","cssSelector":"dd.df:nth-child(n+1) > a:nth-child(2)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"content","cssSelector":"#bo_v_con","returnValue":"html"}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[-400,896],"typeVersion":1,"id":"e9d23f16-b757-45f4-9180-7791b08aed3e"},{"parameters":{"url":"=http://www.bems.or.kr/bbs/board.php?bo_table=notice&wr_id={{ $('금일 기준').item.json.announcement }}","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,896],"id":"64db9b37-dd17-4b2a-9a8e-a508915561b5","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"triggerAtHour":10,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2528,928],"id":"7fe2179d-85cb-4df8-9603-edf4c5feffba","name":"Schedule Trigger"}],"connections":{"board list":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"ai result1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"get detail1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"set cookie":{"main":[[{"node":"get cookie","type":"main","index":0}]]},"내용 정규화":{"main":[[{"node":"ai result1","type":"main","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"내용 정규화","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"board list","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5740299d-2815-4c62-9af2-e934b5991dca","triggerCount":1,"shared":[{"createdAt":"2025-09-12T07:47:59.594Z","updatedAt":"2025-09-12T07:47:59.594Z","role":"workflow:owner","workflowId":"KAe7muJF27AraOyD","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}