17.bems-협회-4xoABlFpfgysuBmH.json
{"updatedAt":"2025-09-12T08:02:38.264Z","createdAt":"2025-09-01T08:02:14.965Z","id":"4xoABlFpfgysuBmH","name":"17.BEMS 협회","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3088,-64],"id":"a3b95fbf-1021-42d6-a93e-86d6ea16bac7","name":"Schedule Trigger"},{"parameters":{"url":"=http://www.bems.or.kr/bbs/board.php?bo_table=notice","responseFormat":"string","options":{}},"name":"board list","type":"n8n-nodes-base.httpRequest","position":[-2576,-64],"typeVersion":1,"id":"27654d08-7232-41d6-b4c7-1f6417bf1200","alwaysOutputData":false,"notesInFlow":true,"executeOnce":false,"retryOnFail":false,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1808,-64],"id":"95e46ee9-f5b2-4f22-b1f8-013accb8b625","name":"Loop Over Items1"},{"parameters":{"url":"=http://www.bems.or.kr/bbs/board.php?bo_table=notice&wr_id={{ $('금일 기준').item.json.announcement }}","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1200,-288],"id":"af3920d8-3900-49a8-a164-086cada25247","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-432,-288],"id":"25921e2d-2744-4e20-aa57-318df5903a59","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"15b0eeb6-8e02-4d14-a9b7-77dcbdc9406c","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-272,-288],"webhookId":"f9803e5c-b9f3-44ba-b3a4-d286b8d16af3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-624,-288],"id":"16dd7a0b-c4c1-47b9-8acf-bc4785aa8815","name":"If1","retryOnFail":false},{"parameters":{"jsCode":"const announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\n\n// 어제 날짜 구하기 (형식: mm-dd)\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst month = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst day = String(yesterday.getDate()).padStart(2, '0');\nconst yesterdayStr = `${month}-${day}`;\n\n// const yesterdayStr = '08-26';\n\nreturn announcements.map(function(announcement, index) {\n  // wr_id 값 추출\n  const match = announcement.match(/wr_id=(\\d+)/);\n  const extracted = match ? match[1].trim() : null;\n\n  return {\n    json: {\n      announcement: extracted,\n      title: titles[index] || null,\n      date: dates[index] || null\n    }\n  };\n}).filter(item => item.json.date === yesterdayStr);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2016,-64],"id":"2538e2b4-2546-4a88-a40d-ba050e4fb1bb","name":"금일 기준"},{"parameters":{"content":"사이트 주소\nhttp://www.bems.or.kr/bbs/board.php?bo_table=notice","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3104,-176],"id":"f99cd8b6-43d5-4713-865e-ebec7c4b0d35","name":"Sticky Note"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\n// 현재 날짜 및 시간 생성 (yyyy-mm-dd hh:mm:ss)\nconst now = new Date();\nconst yyyy = now.getFullYear();\nconst mm = String(now.getMonth() + 1).padStart(2, '0');\nconst dd = String(now.getDate()).padStart(2, '0');\nconst hh = String(now.getHours()).padStart(2, '0');\nconst min = String(now.getMinutes()).padStart(2, '0');\nconst ss = String(now.getSeconds()).padStart(2, '0');\nconst createdAt = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\nreturn [\n  {\n    json: {\n      title,\n      createdAt\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1648,-288],"id":"252920d9-993e-470b-80de-61e78b21ef0e","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1504,-288],"id":"849d531c-1108-49af-a43a-60dd822ef724","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1360,-288],"id":"ca4e7530-8577-4959-9929-62e4d92f456c","name":"중복조회 IF"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":"tr.b-top-box:nth-child(n) > td:nth-child(3) > div:nth-child(1) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"title","cssSelector":"tr.b-top-box > td:nth-child(2) > div:nth-child(1) > a:nth-child(1)","returnArray":true},{"key":"date","cssSelector":"tr.b-top-box:nth-child > td:nth-child(3)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출1","type":"n8n-nodes-base.htmlExtract","position":[-2384,-448],"typeVersion":1,"id":"54db665d-494f-4ddf-bfe6-67e5b1aca932"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":"li.bo_notice:nth-child(n) > span:nth-child(2) > div:nth-child(1) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"title","cssSelector":"li.bo_notice:nth-child(n) > span:nth-child(2) > div:nth-child(1) > a:nth-child(1)","returnArray":true},{"key":"date","cssSelector":"li.bo_notice:nth-child(n) > span:nth-child(5)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-2320,-64],"typeVersion":1,"id":"036ccf69-aa3f-4fc1-a9f0-7b94b5180aa0"},{"parameters":{"extractionValues":{"values":[{"key":"url","cssSelector":"#bo_v_link > ul:nth-child(2) > li:nth-child(1) > a:nth-child(2)","returnValue":"attribute","attribute":"href"}]},"options":{"trimValues":false}},"name":"리스트 추출3","type":"n8n-nodes-base.htmlExtract","position":[-1040,-288],"typeVersion":1,"id":"8aa4765b-fc0f-430b-9f2e-c28edd1ce317"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회').item.json.title }}(링크확인)","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"C","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"BEMS 협회","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('중복 자료 조회').item.json.createdAt }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('중복 자료 조회').item.json.createdAt }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"={{ $json.url }}","type":"string"},{"id":"5ef75238-ac78-464c-bf91-255f194c930f","name":"bsns_sumry_cn","value":"BEMS협회 사이트는 새로운 공고를 직접 올리지 않고, 기존 링크만 제공합니다. 제공된 링크들은 현재 에코컨설팅센터에서 이미 크롤링 중입니다.\n공고 검색 시 편의성을 위해 본 시스템을 만들었으니, 링크 원본에서 실제 공고를 한 번 확인해 주시기 바랍니다.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-832,-288],"id":"eac5a2d0-53d7-486e-8e16-ab70e48238a1","name":"ai result"}],"connections":{"Schedule Trigger":{"main":[[{"node":"board list","type":"main","index":0}]]},"board list":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출3","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"If1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Wait1":{"main":[[]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"get detail1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0}]]},"리스트 추출3":{"main":[[{"node":"ai result","type":"main","index":0}]]},"ai result":{"main":[[{"node":"If1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"578a7722-ffbe-434d-98dd-d011310dcd4c","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-09-01T08:02:14.965Z","createdAt":"2025-09-01T08:02:14.965Z","role":"workflow:owner","workflowId":"4xoABlFpfgysuBmH","projectId":"YGqg9zdxGQSC73yC"}],"activeVersion":null,"tags":[]}