18.수자원공사-VuHVJjcV9E7hJZTw.json
{"createdAt":"2025-09-12T08:03:05.865Z","updatedAt":"2025-09-18T06:42:50.844Z","id":"VuHVJjcV9E7hJZTw","name":"18.수자원공사","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-464,544],"id":"a665f431-2512-4141-b6dc-11c4d450416a","name":"Loop Over Items1"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('금일 기준').item.json['제목'] }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"=jrsd_instt_nm","value":"=전지역","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('get detail1').item.json.data.nttCtnt }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"H","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"수자원공사","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $json.created_ts }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=https://ebid.kwater.or.kr/wq/index.do?w2xPath=%2fui%2findex.xml","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=수자원공사","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[976,544],"id":"8849a1ff-fe6b-49d4-8a6c-5cb53c5852a1","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1360,544],"id":"846cfd7b-22b5-4446-b84a-86e25b2c7b5d","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"c50e2434-0e7c-4df1-ad84-c041e28c0622","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1712,560],"webhookId":"c897ddd3-df10-461a-98c2-af70aabe21fd"},{"parameters":{"content":"사이트 주소\nhttps://ebid.kwater.or.kr/wq/index.do?w2xPath=%2fui%2findex.xml","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1760,432],"id":"340d6e95-c8a0-4a61-90fe-5f11cf77a7a2","name":"Sticky Note"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title,\n      announcement\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-304,320],"id":"5430be2c-9c9f-4144-957f-6f37e8aa909e","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-160,320],"id":"8b3b8b81-05b8-4bc6-9ccc-7912f49b5344","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-16,320],"id":"af6083cf-eb5f-4140-a623-82e14aeb5782","name":"중복조회 IF"},{"parameters":{"jsCode":"const items = $('리스트 추출2').first().json;\nconst names = items.attach_file_name || [];\nconst addresses = items.attach_file_address || [];\nconst baseUrl = \"https://www.busanpa.com\";\n\nconst normalizedNames = [];\nconst normalizedUrls = [];\n\n// -------------------- 파일명/URL 정리 --------------------\nfunction normalizeFileName(name) {\n    return name\n        ?.replace(/[\\n\\r\\t]/g, \"\")                           // 줄바꿈, 탭 제거\n        .replace(/\\(파일크기:\\s*[\\d\\.]+[KMG]?B\\s*\\)/gi, \"\")  // (파일크기: 2 MB) 제거\n        .trim();\n}\n\nfunction normalizeFileUrl(address) {\n    if (!address) return null;\n    if (address.startsWith(\"http\")) return address;\n    return `${baseUrl}${address}`;\n}\n\nfor (let i = 0; i < names.length; i++) {\n    const name = normalizeFileName(names[i]);\n    const url = normalizeFileUrl(addresses[i]);\n    if (!name || !url) continue;\n\n    normalizedNames.push(name);\n    normalizedUrls.push(url);\n}\n\n// -------------------- 날짜 변환 --------------------\nfunction formatDate(raw) {\n    if (!raw) return null;\n    const cleaned = raw.replace(/시작일\\s*:\\s*|종료일\\s*:\\s*/g, '').trim();\n    const match = cleaned.match(/(\\d{4})-(\\d{2})-(\\d{2})/);\n    return match ? `${match[1]}-${match[2]}-${match[3]}` : null;\n}\n\nconst startDate = formatDate(items.start_date);\nconst endDate = formatDate(items.end_date);\nlet startEndDate = null;\nif (startDate && endDate) {\n    startEndDate = `${startDate.replace(/-/g, '')} ~ ${endDate.replace(/-/g, '')}`;\n}\n\n// -------------------- KST 기준 현재 시각 --------------------\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// -------------------- 결과 반환 --------------------\nreturn [{\n    json: {\n        fileName: normalizedNames[0] || null,            // 첫 번째 파일명\n        fileAddress: normalizedUrls[0] || null,          // 첫 번째 파일 URL\n        file_nm: normalizedNames.join(\"@\"),              // 전체 파일명 @로 연결\n        flpth_nm: normalizedUrls.join(\"@\"),              // 전체 파일 URL @로 연결\n        announcement_file_exist: normalizedNames.length > 0,\n        content: items.content,                          // 본문 내용\n        start_date: startDate,                           // YYYY-MM-DD\n        end_date: endDate,                               // YYYY-MM-DD\n        start_end_date: startEndDate,                    // YYYYMMDD ~ YYYYMMDD\n        creat_p_nttm: formatted,\n        created_ts: formatted\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,544],"id":"8f4e59f1-746c-4dbf-b31e-80eb60b3692a","name":"내용 정규화"},{"parameters":{"extractionValues":{"values":[{"key":"content","cssSelector":"#bo_v_con","returnValue":"html"}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[576,544],"typeVersion":1,"id":"c78111af-9411-4cea-ae9c-c662d68edc23"},{"parameters":{"method":"POST","url":"https://ebid.kwater.or.kr/common/Bbs/retrieveBbsDtl.do","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:142.0) Gecko/20100101 Firefox/142.0"},{"name":"Accept","value":"application/json"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"client-type","value":"WEBSQUARE"},{"name":"Origin","value":"https://ebid.kwater.or.kr"},{"name":"Connection","value":"keep-alive"},{"name":"Referer","value":"https://ebid.kwater.or.kr/wq/index.do?w2xPath=%2fui%2findex.xml"},{"name":"Cookie","value":"WMONID=DiX4koe5z1f; JSESSIONID=rfLYByeepJ2la7up6UylSuI6exBwawjIEuWcalSOdkq9Q5VPl35tNit0pVAOIzDj.a29tYmlkd2FzL2JpZDQ="},{"name":"Sec-Fetch-Dest","value":"empty"},{"name":"Sec-Fetch-Mode","value":"cors"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"Priority","value":"u=0"},{"name":"cookie","value":"WMONID=DiX4koe5z1f;JSESSIONID=rfLYByeepJ2la7up6UylSuI6exBwawjIEuWcalSOdkq9Q5VPl35tNit0pVAOIzDj.a29tYmlkd2FzL2JpZDQ=;"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"dtlData\": {\n    \"bbsId\": \"BID0000000003\",\n    \"clsCd\": \"FMS_0067\",\n    \"sysDivCd\": \"BID\",\n    \"rowStatus\": \"\",\n    \"nttNo\":{{ $('금일 기준').item.json['공고번호'] }} ,\n    \"useYn\": \"\",\n    \"searchNttTit\": \"\",\n    \"recordCountPerPage\": \"\",\n    \"searchNttClsCd2\": \"\",\n    \"searchNtfStrtDe\": \"\",\n    \"searchNtfEndDe\": \"\",\n    \"searchFrstRegistStrtDt\": \"\",\n    \"searchFrstRegistEndDt\": \"\"\n  }\n} ","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,544],"id":"b380d4fa-83c5-45e7-9ae3-ad2df06ab62c","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all(); // 앞 노드에서 넘어온 모든 공고 데이터\n\n// -------------------- 날짜 설정 --------------------\n// 어제 날짜 (자동 계산)\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nlet yesterdayStr = yesterday.toISOString().split('T')[0]; \n\n// ✅ 테스트용 날짜 강제 지정 (필요할 때만 사용)\n// yesterdayStr = '2025-09-01'; \n// -------------------------------------------------\n\n// 어제 날짜 기준으로 필터링\nreturn items\n  .filter(item => item.json.등록일자 === yesterdayStr)\n  .map(item => {\n    return {\n      json: {\n        공고번호: item.json.공고번호,\n        공고종류: item.json.공고종류,\n        제목: item.json.제목,\n        등록일자: item.json.등록일자,\n        첨부파일여부: item.json.첨부파일여부,\n        조회수: item.json.조회수,\n        작성자: item.json.작성자,\n        생성일시: item.json.생성일시\n      }\n    };\n  });\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-832,544],"id":"e3de6188-b0e2-4adc-ae52-85fc7f2bbd83","name":"금일 기준"},{"parameters":{"method":"POST","url":"=https://ebid.kwater.or.kr/common/Bbs/selectCommonBbsList.do","sendBody":true,"specifyBody":"json","jsonBody":"{\"dmaSearchData\":{\"bbsId\":\"BID0000000003\",\"clsCd\":\"FMS_0067\",\"sysDivCd\":\"BID\",\"rowStatus\":\"\",\"nttNo\":\"\",\"useYn\":\"\",\"searchNttTit\":\"\",\"recordCountPerPage\":\"10\",\"searchNttClsCd2\":\"\",\"searchNtfStrtDe\":\"\",\"searchNtfEndDe\":\"\",\"searchFrstRegistStrtDt\":\"\",\"searchFrstRegistEndDt\":\"\",\"pageIndex\":1},\"ktagTokenField\":\"BID_savedToken\",\"BID_savedToken\":null}","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1344,544],"id":"3851fe30-e709-4fdc-89e3-6049777a2b39","name":"get detail","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Function 노드에서\nconst items = $input.first().json.data.list;\n\nreturn items.map(el => {\n  return {\n    json: {\n      공고번호: el.nttNo,\n      공고종류: el.cmmnCdNm,\n      제목: (el.nttTit || '').replace(/[\\[\\]]/g, ''), // 대괄호 제거\n      등록일자: el.frstRegistDt,\n      첨부파일여부: el.atchflYn,\n      조회수: el.nttRdcnt,\n      작성자: el.frstRgstrNm,\n      생성일시: new Date().toISOString().replace('T', ' ').substring(0, 19) // yyyy-mm-dd hh:mm:ss\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1072,544],"id":"32101ea8-2033-43fe-9963-541d9448d7e3","name":"Code"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1584,656],"id":"c1f3c2f6-c818-432d-aa93-16e75035f9db","name":"Schedule Trigger"},{"parameters":{"jsCode":"// Function 노드 안\nreturn [\n  {\n    json: {\n      workflowName: $workflow.name,\n      insertId:$input.first().json.data.insertId\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,336],"id":"4f48a9b9-e464-4b1e-81f6-ec033e9d45f5","name":"공고상태정리","disabled":true},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"insertId","value":"={{ $json.insertId }}"},{"column":"type","value":"detail"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1728,336],"id":"ae595289-8f92-457d-9bcb-6b576006d9a7","name":"공고상태상세저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}},"disabled":true},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"total_count","value":"={{ $json.data.list.length }}"},{"column":"type","value":"total_count"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-832,768],"id":"d2617009-644d-4da8-b761-eeebbb5c52c5","name":"공고상태전체개수저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}}],"connections":{"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"ai result1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0},{"node":"공고상태정리","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"get detail1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"내용 정규화":{"main":[[{"node":"ai result1","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"내용 정규화","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"get detail":{"main":[[{"node":"Code","type":"main","index":0},{"node":"공고상태전체개수저장","type":"main","index":0}]]},"Code":{"main":[[{"node":"금일 기준","type":"main","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"get detail","type":"main","index":0}]]},"공고상태정리":{"main":[[{"node":"공고상태상세저장","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"08987a6f-8f20-4b3f-a9d1-25b89bb91aa9","triggerCount":1,"shared":[{"createdAt":"2025-09-12T08:03:05.865Z","updatedAt":"2025-09-12T08:03:05.865Z","role":"workflow:owner","workflowId":"VuHVJjcV9E7hJZTw","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}