18.수자원공사-T4cRv6UoUuIGLmox.json
{"createdAt":"2025-09-01T08:42:54.336Z","updatedAt":"2025-09-08T00:46:46.400Z","id":"T4cRv6UoUuIGLmox","name":"18.수자원공사","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3088,-64],"id":"a434d712-097e-46b6-8af0-4c8d9c303180","name":"Schedule Trigger"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1808,-64],"id":"6ef69543-596f-4e31-8d3f-de051e7127f5","name":"Loop Over Items1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-736,-288],"id":"942445c2-ea50-46e6-a02d-5f966f55b886","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"51c98dbe-d511-46bf-acc1-2690e2b9847b","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-576,-288],"webhookId":"1dfe233f-f761-4b3e-ab22-5034a7f95073"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-928,-288],"id":"002cd7b6-0dfa-4ec8-9a05-fcb43cfa60e8","name":"If1","retryOnFail":false},{"parameters":{"jsCode":"const items = $input.all(); // 앞 노드에서 넘어온 모든 공고 데이터\n\n// -------------------- 날짜 설정 --------------------\n// 어제 날짜 (자동 계산)\n// const yesterday = new Date();\n// yesterday.setDate(yesterday.getDate() - 1);\n// let yesterdayStr = yesterday.toISOString().split('T')[0]; \n// yyyy-mm-dd 형식\n\n// ✅ 테스트용 날짜 강제 지정 (필요할 때만 사용)\nyesterdayStr = '2025-09-01'; \n// -------------------------------------------------\n\n// 어제 날짜 기준으로 필터링\nreturn items\n  .filter(item => item.json.등록일자 === yesterdayStr)\n  .map(item => {\n    return {\n      json: {\n        공고번호: item.json.공고번호,\n        공고종류: item.json.공고종류,\n        제목: item.json.제목,\n        등록일자: item.json.등록일자,\n        첨부파일여부: item.json.첨부파일여부,\n        조회수: item.json.조회수,\n        작성자: item.json.작성자,\n        생성일시: item.json.생성일시\n      }\n    };\n  });\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2096,-64],"id":"c251ff83-e9a1-499b-9830-259b990029df","name":"금일 기준"},{"parameters":{"content":"사이트 주소\nhttps://ebid.kwater.or.kr/wq/index.do?w2xPath=%2fui%2findex.xml","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3104,-176],"id":"6965abd2-c613-4256-b4e3-1a423a6d4057","name":"Sticky Note"},{"parameters":{"jsCode":"let title = $input.first().json[\"제목\"]|| '';\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\n// 현재 날짜 및 시간 생성 (yyyy-mm-dd hh:mm:ss)\nconst now = new Date();\nconst yyyy = now.getFullYear();\nconst mm = String(now.getMonth() + 1).padStart(2, '0');\nconst dd = String(now.getDate()).padStart(2, '0');\nconst hh = String(now.getHours()).padStart(2, '0');\nconst min = String(now.getMinutes()).padStart(2, '0');\nconst ss = String(now.getSeconds()).padStart(2, '0');\nconst createdAt = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\nreturn [\n  {\n    json: {\n      title,\n      createdAt\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1648,-288],"id":"10594de6-f05d-48f3-98a3-e8d15b319456","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1504,-288],"id":"14b88ce1-8813-489e-8673-657e5bc1c216","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1360,-288],"id":"678b2881-9e74-44c4-b618-7dc4a3a5c60e","name":"중복조회 IF"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회').item.json.title }}(링크확인)","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"C","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"수자원공사","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('중복 자료 조회').item.json.createdAt }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('중복 자료 조회').item.json.createdAt }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=https://ebid.kwater.or.kr/wq/index.do?w2xPath=/ui/index.xml","type":"string"},{"id":"5ef75238-ac78-464c-bf91-255f194c930f","name":"bsns_sumry_cn","value":"수자원공사의 공고 내용이 부족한 항목들이 많습니다. 링크를 확인하여 내용을 확인 부탁드립니다.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1120,-288],"id":"8c56fcc2-6c5c-421b-ad55-c6ded0f0070f","name":"ai result"},{"parameters":{"method":"POST","url":"=https://ebid.kwater.or.kr/common/Bbs/selectCommonBbsList.do","sendBody":true,"specifyBody":"json","jsonBody":"{\"dmaSearchData\":{\"bbsId\":\"BID0000000003\",\"clsCd\":\"FMS_0067\",\"sysDivCd\":\"BID\",\"rowStatus\":\"\",\"nttNo\":\"\",\"useYn\":\"\",\"searchNttTit\":\"\",\"recordCountPerPage\":\"10\",\"searchNttClsCd2\":\"\",\"searchNtfStrtDe\":\"\",\"searchNtfEndDe\":\"\",\"searchFrstRegistStrtDt\":\"\",\"searchFrstRegistEndDt\":\"\",\"pageIndex\":1},\"ktagTokenField\":\"BID_savedToken\",\"BID_savedToken\":null}","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2608,-64],"id":"9a4bcb10-2b5c-4cd8-815d-0542cfa94c8e","name":"get detail","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Function 노드에서\nconst items = $input.first().json.data.list;\n\nreturn items.map(el => {\n  return {\n    json: {\n      공고번호: el.nttNo,\n      공고종류: el.cmmnCdNm,\n      제목: (el.nttTit || '').replace(/[\\[\\]]/g, ''), // 대괄호 제거\n      등록일자: el.frstRegistDt,\n      첨부파일여부: el.atchflYn,\n      조회수: el.nttRdcnt,\n      작성자: el.frstRgstrNm,\n      생성일시: new Date().toISOString().replace('T', ' ').substring(0, 19) // yyyy-mm-dd hh:mm:ss\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2336,-64],"id":"579519ec-079c-4b44-a888-be19728f8eec","name":"Code"}],"connections":{"Schedule Trigger":{"main":[[{"node":"get detail","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"If1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"ai result","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"ai result":{"main":[[{"node":"If1","type":"main","index":0}]]},"get detail":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"금일 기준","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c40c270a-79f0-41c3-b1d9-74f627ff8221","triggerCount":1,"shared":[{"createdAt":"2025-09-01T08:42:54.336Z","updatedAt":"2025-09-01T08:42:54.336Z","role":"workflow:owner","workflowId":"T4cRv6UoUuIGLmox","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}