19.한국에너지정보문화재단-yBosTXSZ3lWQy6Em.json
{"createdAt":"2025-09-02T00:57:32.950Z","updatedAt":"2025-09-08T00:48:39.760Z","id":"yBosTXSZ3lWQy6Em","name":"19.한국에너지정보문화재단","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3088,-64],"id":"3ac7c019-1181-4bcc-ba51-1681fef07b10","name":"Schedule Trigger"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1904,-64],"id":"5eb50f89-06cb-4526-9b2a-cbf566b335c3","name":"Loop Over Items1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-736,-288],"id":"0f2c5b76-8dee-4084-ad88-0376ba0d0435","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"d1ff0290-1558-4e66-86f4-063d74e58bc1","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-576,-288],"webhookId":"a0b0bca5-66ef-4588-be6d-55d50892cced"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-928,-288],"id":"60be2692-b2a5-435f-aabf-9236cb55aac7","name":"If1","retryOnFail":false},{"parameters":{"content":"사이트 주소\nhttp://www.keia.or.kr/notice/01.php","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3104,-176],"id":"ae5a6355-a176-44ab-804a-1fe9603f83d2","name":"Sticky Note"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\n// 한국 시간 생성\nconst now = new Date();\nconst utc = now.getTime() + now.getTimezoneOffset() * 60000; // UTC 시간\nconst kstNow = new Date(utc + 9 * 60 * 60 * 1000); // UTC+9 (한국 시간)\n\n// yyyy-mm-dd hh:mm:ss 형식\nconst yyyy = kstNow.getFullYear();\nconst mm = String(kstNow.getMonth() + 1).padStart(2, '0');\nconst dd = String(kstNow.getDate()).padStart(2, '0');\nconst hh = String(kstNow.getHours()).padStart(2, '0');\nconst min = String(kstNow.getMinutes()).padStart(2, '0');\nconst ss = String(kstNow.getSeconds()).padStart(2, '0');\nconst createdAt = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\nreturn [\n  {\n    json: {\n      title,\n      createdAt,\n      announcement\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1648,-288],"id":"fb481211-a665-4387-ab0f-69fb02db9a23","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1504,-288],"id":"704b4561-c105-4551-9eed-4ee03a675fd0","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1360,-288],"id":"48de230b-1eea-4583-8da8-0f09931bc7d4","name":"중복조회 IF"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회').item.json.title }}(링크확인)","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"C","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"한국에너지정보문화재단","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('중복 자료 조회').item.json.createdAt }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('중복 자료 조회').item.json.createdAt }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=https://www.e-policy.or.kr/web/lay1/bbs/S1T16C17/A/1/{{ $('중복 자료 조회').item.json.announcement }}","type":"string"},{"id":"5ef75238-ac78-464c-bf91-255f194c930f","name":"bsns_sumry_cn","value":"한국에너지정보문화재단의 공고 내용이 부족한 항목들이 많습니다. 링크를 확인하여 내용을 확인 부탁드립니다.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1120,-288],"id":"d339f132-10c6-4eb3-920f-24cbd0782a77","name":"ai result"},{"parameters":{"url":"=https://www.e-policy.or.kr/web/lay1/bbs/S1T16C17/A/1/list.do?rows=10&cpage=1","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2656,-64],"id":"356b2dab-fce2-4218-854a-8d60c5619f98","name":"get detail","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const data = $input.first().json; // 최상위 JSON\n\nconst announcements = data.announcements || [];\nconst titles = data.title || [];\nconst dates = data.date || [];\n\n// -------------------- 어제 날짜 계산 --------------------\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nlet yesterdayStr = yesterday.toISOString().split('T')[0]; // yyyy-mm-dd\n\n// -------------------- 테스트용 날짜 지정 --------------------\n// 필요할 때만 아래 주석 해제해서 사용\n// yesterdayStr = '2025-07-01'; \n// ------------------------------------------------------\n\n// 배열 길이 맞춰서 매핑 후 어제 날짜 필터\nconst result = announcements\n  .map((link, index) => {\n    const cleanDate = (dates[index] || '').replace('작성일:', '').trim();\n\n    return {\n      json: {\n        announcement: link,\n        title: titles[index].replace(/[\\[\\]]/g, '') || '', // 대괄호 제거\n        date: cleanDate\n      }\n    };\n  })\n  .filter(item => item.json.date === yesterdayStr); // 어제 날짜만 필터\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2176,-64],"id":"1e63803a-bd68-4910-b6db-6453d7cff82e","name":"Code"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":"#boardList > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(2) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"title","cssSelector":"#boardList > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(2) > a:nth-child(1) > span:nth-child(1)","returnArray":true},{"key":"date","cssSelector":"#boardList > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(3)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출1","type":"n8n-nodes-base.htmlExtract","position":[-2464,-64],"typeVersion":1,"id":"ee741df3-e429-4c9e-81f7-cf5942e63fb4"}],"connections":{"Schedule Trigger":{"main":[[{"node":"get detail","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"If1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"ai result","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"ai result":{"main":[[{"node":"If1","type":"main","index":0}]]},"get detail":{"main":[[{"node":"리스트 추출1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"리스트 추출1":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"006f3ea5-618e-4c49-8073-9cb6bacd712f","triggerCount":1,"shared":[{"createdAt":"2025-09-02T00:57:32.950Z","updatedAt":"2025-09-02T00:57:32.950Z","role":"workflow:owner","workflowId":"yBosTXSZ3lWQy6Em","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}