19.한국에너지정보문화재단-yBosTXSZ3lWQy6Em.json
{"createdAt":"2025-09-02T00:57:32.950Z","updatedAt":"2025-09-10T04:40:45.756Z","id":"yBosTXSZ3lWQy6Em","name":"19.한국에너지정보문화재단","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3088,-64],"id":"3ac7c019-1181-4bcc-ba51-1681fef07b10","name":"Schedule Trigger"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1808,-224],"id":"5eb50f89-06cb-4526-9b2a-cbf566b335c3","name":"Loop Over Items1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-32,-272],"id":"0f2c5b76-8dee-4084-ad88-0376ba0d0435","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"d1ff0290-1558-4e66-86f4-063d74e58bc1","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[128,-272],"webhookId":"a0b0bca5-66ef-4588-be6d-55d50892cced"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,-272],"id":"60be2692-b2a5-435f-aabf-9236cb55aac7","name":"If1","retryOnFail":false},{"parameters":{"content":"사이트 주소\nhttp://www.keia.or.kr/notice/01.php","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3104,-176],"id":"ae5a6355-a176-44ab-804a-1fe9603f83d2","name":"Sticky Note"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\n// 한국 시간 생성\nconst now = new Date();\nconst utc = now.getTime() + now.getTimezoneOffset() * 60000; // UTC 시간\nconst kstNow = new Date(utc + 9 * 60 * 60 * 1000); // UTC+9 (한국 시간)\n\n// yyyy-mm-dd hh:mm:ss 형식\nconst yyyy = kstNow.getFullYear();\nconst mm = String(kstNow.getMonth() + 1).padStart(2, '0');\nconst dd = String(kstNow.getDate()).padStart(2, '0');\nconst hh = String(kstNow.getHours()).padStart(2, '0');\nconst min = String(kstNow.getMinutes()).padStart(2, '0');\nconst ss = String(kstNow.getSeconds()).padStart(2, '0');\nconst createdAt = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\nreturn [\n  {\n    json: {\n      title,\n      createdAt,\n      announcement\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1552,-448],"id":"fb481211-a665-4387-ab0f-69fb02db9a23","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1408,-448],"id":"704b4561-c105-4551-9eed-4ee03a675fd0","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1264,-448],"id":"48de230b-1eea-4583-8da8-0f09931bc7d4","name":"중복조회 IF"},{"parameters":{"url":"=https://www.e-policy.or.kr/web/lay1/bbs/S1T16C17/A/1/list.do?rows=10&cpage=1","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2656,-64],"id":"356b2dab-fce2-4218-854a-8d60c5619f98","name":"get detail","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const data = $input.first().json;\n\nconst announcements = data.announcements || [];\nconst titles = data.title || [];\nconst dates = data.date || [];\n\n// -------------------- 어제 날짜 계산 --------------------\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yyyy = yesterday.getFullYear();\nconst mm = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst dd = String(yesterday.getDate()).padStart(2, '0');\nlet yesterdayStr = `${yyyy}-${mm}-${dd}`;\n\n// -------------------- 테스트용 날짜 지정 --------------------\n// 필요 시 테스트용으로 고정\n// yesterdayStr = '2025-09-05';\n// ------------------------------------------------------\n\n// -------------------- 결과 생성 --------------------\nconst result = announcements\n  .map((link, index) => {\n    const cleanDate = (dates[index] || '').replace('작성일:', '').trim();\n\n    // 상대 URL 여부 확인\n    const isRelative = !/^https?:\\/\\//i.test(link);\n\n    // announcementId 추출\n    let announcementId = null;\n    if (isRelative) {\n        // 상대 URL이면 article_seq=숫자 추출\n        const match = link.match(/article_seq=(\\d+)/);\n        if (match) announcementId = match[1];\n    } else {\n        // 절대 URL이면 마지막 / 뒤 숫자 추출\n        const match = link.match(/\\/(\\d+)(?:\\/?|\\D*$)/);\n        if (match) announcementId = match[1];\n    }\n\n    return {\n      json: {\n        announcement: link,                 // 원본 그대로\n        announcementId: announcementId,     // 추출된 숫자\n        title: (titles[index] || '').replace(/[\\[\\]]/g, '').trim(),\n        date: cleanDate,\n        isRelative                           // true면 상대 URL, false면 절대 URL\n      }\n    };\n  })\n  // -------------------- 어제 날짜만 필터 --------------------\n  .filter(item => item.json.date === yesterdayStr);\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2176,-64],"id":"1e63803a-bd68-4910-b6db-6453d7cff82e","name":"Code"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":"#boardList > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(2) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"title","cssSelector":"#boardList > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(2) > a:nth-child(1) > span:nth-child(1)","returnArray":true},{"key":"date","cssSelector":"#boardList > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(3)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출1","type":"n8n-nodes-base.htmlExtract","position":[-2464,-64],"typeVersion":1,"id":"ee741df3-e429-4c9e-81f7-cf5942e63fb4"},{"parameters":{"jsCode":"const input = $input.first().json;\n\n// -------------------- 생성일자: KST 기준 현재 시각 --------------------\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// -------------------- 파일 처리 --------------------\nconst attachList = input.attachFileDtoList || [];\n\nlet noticeFileName = null;\nlet noticeFileAddress = null;\nconst extraFileNames = [];\nconst extraFilePaths = [];\n\nfor (let i = 0; i < attachList.length; i++) {\n    const file = attachList[i];\n    const name = file.fileName?.trim();\n    const url = file.fileUrl?.trim();\n\n    if (!name || !url) continue;\n\n    // 공고 파일은 별도로\n    if (name.includes(\"공고\") && !noticeFileName) {\n        noticeFileName = name;\n        noticeFileAddress = url;\n    } else {\n        // 공고 파일이 아니면 나머지 리스트에\n        extraFileNames.push(name);\n        extraFilePaths.push(url);\n    }\n}\n\n// 공고 파일 없는 경우 첫 번째 파일로 대체\nif (!noticeFileName && attachList.length > 0) {\n    noticeFileName = attachList[0].fileName?.trim() || null;\n    noticeFileAddress = attachList[0].fileUrl?.trim() || null;\n\n    // 나머지 파일에서 첫 번째 파일 제거\n    extraFileNames.splice(0, 1);\n    extraFilePaths.splice(0, 1);\n}\n\n// -------------------- startDateTime / endDateTime 및 applicationPeriod --------------------\nfunction formatYYYYMMDD(dateStr) {\n    if (!dateStr) return null;\n    const dateObj = new Date(dateStr);\n    const yyyy = dateObj.getFullYear();\n    const mm = String(dateObj.getMonth() + 1).padStart(2, '0');\n    const dd = String(dateObj.getDate()).padStart(2, '0');\n    return `${yyyy}${mm}${dd}`;\n}\n\nconst applicationPeriod = input.startDateTime && input.endDateTime\n    ? `${formatYYYYMMDD(input.startDateTime)} ~ ${formatYYYYMMDD(input.endDateTime)}`\n    : null;\n\nreturn [{\n    json: {\n        title: input.title,\n        jobDescription: input.jobDescription,\n        startDateTime: input.startDateTime?.split(\"T\")[0], // yyyy-mm-dd\n        endDateTime: input.endDateTime?.split(\"T\")[0],     // yyyy-mm-dd\n        applicationPeriod: applicationPeriod,             // yyyymmdd ~ yyyymmdd\n        fileName: noticeFileName,                         // 공고 파일명\n        fileAddress: noticeFileAddress,                  // 공고 파일 URL\n        file_nm: extraFileNames.join(\"@\"),               // 공고 파일 제외한 파일명\n        flpth_nm: extraFilePaths.join(\"@\"),              // 공고 파일 제외한 URL\n        creat_p_nttm: formatted,\n        created_ts: formatted\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-688,-272],"id":"792815e2-0c1e-4808-9250-0abc273330fc","name":"내용 정규화1"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"=jrsd_instt_nm","value":"=전지역","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"=","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"C","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"한국에너지정보문화재단","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $json.created_ts }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"={{ $('Code').item.json.announcement }}","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=한국에너지정보문화재단","type":"string"},{"id":"23dda3dc-82ed-4bb2-97bc-44530a34ea22","name":"flpth_nm","value":"={{ $json.flpth_nm }}","type":"string"},{"id":"7bfeb38f-9fdd-4aa7-a67d-9755a00f8488","name":"file_nm","value":"={{ $json.file_nm }}","type":"string"},{"id":"3f200751-c0e0-46ee-9802-f36b5913ed08","name":"print_flpth_nm","value":"={{ $json.fileAddress }}","type":"string"},{"id":"d8b6a435-6e39-4449-a18e-20654698aac2","name":"print_file_nm","value":"={{ $json.fileName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,-272],"id":"8fd9ad0a-067a-4e05-bfec-328d4e9532bc","name":"ai result1"},{"parameters":{"url":"=https://api-recruiter.recruiter.co.kr/position/v2/jobflex/{{ $('Code').item.json.announcementId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:142.0) Gecko/20100101 Firefox/142.0"},{"name":"Accept","value":"application/json, text/plain, */*"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"prefix","value":"keia.recruiter.co.kr"}]},"options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-912,-272],"id":"7ccbf723-eed6-4c42-944b-683403214309","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b923260d-c77c-4ba5-8e17-742a61152ff1","leftValue":"={{ $json.isRelative }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1952,-64],"id":"94b04b32-61b9-464d-940f-2a204463e919","name":"If"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1792,64],"id":"1d0f4481-35cc-472a-a38f-31734de4acfc","name":"Loop Over Items"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\n// 한국 시간 생성\nconst now = new Date();\nconst utc = now.getTime() + now.getTimezoneOffset() * 60000; // UTC 시간\nconst kstNow = new Date(utc + 9 * 60 * 60 * 1000); // UTC+9 (한국 시간)\n\n// yyyy-mm-dd hh:mm:ss 형식\nconst yyyy = kstNow.getFullYear();\nconst mm = String(kstNow.getMonth() + 1).padStart(2, '0');\nconst dd = String(kstNow.getDate()).padStart(2, '0');\nconst hh = String(kstNow.getHours()).padStart(2, '0');\nconst min = String(kstNow.getMinutes()).padStart(2, '0');\nconst ss = String(kstNow.getSeconds()).padStart(2, '0');\nconst createdAt = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\nreturn [\n  {\n    json: {\n      title,\n      createdAt,\n      announcement\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1568,64],"id":"7b45e07f-00ca-4ee9-a0e5-c0574bf7a8c4","name":"중복 자료 조회1"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1424,64],"id":"1cf14152-4014-49ca-b08c-a7cf54a00fe7","name":"중복조회 MYSQL1","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1280,64],"id":"47dcf348-3bd4-4fb3-acf6-26fb11c74db1","name":"중복조회 IF1"},{"parameters":{"url":"=https://www.e-policy.or.kr/web/lay1/bbs/S1T16C17/A/1/view.do?article_seq={{ $('Code').item.json.announcementId }}&cpage=1&rows=10&condition=&keyword=&orderby=","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:142.0) Gecko/20100101 Firefox/142.0"},{"name":"Accept","value":"application/json, text/plain, */*"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"prefix","value":"keia.recruiter.co.kr"}]},"options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-928,240],"id":"b8f05ed4-f298-4c9d-8aaa-77ede0980baa","name":"get detail2","onError":"continueRegularOutput"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[240,240],"id":"8b75eb7b-59f5-4a5e-9362-79ceaeacbc74","name":"MySQL","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"bd689464-3fc2-4402-9fb4-089d13944ea9","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[400,240],"webhookId":"a0b0bca5-66ef-4588-be6d-55d50892cced"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[48,240],"id":"c6cbe67f-316c-469d-9f19-9e71d3dec2ff","name":"If2","retryOnFail":false},{"parameters":{"jsCode":"const input = $input.first().json;\n\n// -------------------- 생성일자: KST 기준 현재 시각 --------------------\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// -------------------- 파일 처리 --------------------\nconst fileNames = input.file_name || [];\nconst fileAddresses = input.file_address || [];\nconst baseUrl = \"https://www.e-policy.or.kr\";\n\nlet noticeFileName = null;\nlet noticeFileAddress = null;\nconst extraFileNames = [];\nconst extraFilePaths = [];\n\n// 파일 분리\nfor (let i = 0; i < fileNames.length; i++) {\n    const name = fileNames[i]?.trim();\n    let url = fileAddresses[i]?.trim();\n    if (!name || !url) continue;\n\n    // base URL 붙이기\n    if (!/^https?:\\/\\//i.test(url)) {\n        url = `${baseUrl}${url}`;\n    }\n\n    if (name.includes(\"공고\") && !noticeFileName) {\n        noticeFileName = name;\n        noticeFileAddress = url;\n    } else {\n        extraFileNames.push(name);\n        extraFilePaths.push(url);\n    }\n}\n\n// 공고 파일 없는 경우 첫 번째 파일로 대체\nif (!noticeFileName && fileNames.length > 0) {\n    noticeFileName = fileNames[0]?.trim();\n    let firstUrl = fileAddresses[0]?.trim();\n    if (!/^https?:\\/\\//i.test(firstUrl)) {\n        firstUrl = `${baseUrl}${firstUrl}`;\n    }\n    noticeFileAddress = firstUrl;\n\n    // 나머지 배열에서 첫 번째 제거\n    extraFileNames.splice(0, 1);\n    extraFilePaths.splice(0, 1);\n}\n\nreturn [{\n    json: {\n        fileName: noticeFileName,           // 공고 파일명\n        fileAddress: noticeFileAddress,     // 공고 파일 URL\n        file_nm: extraFileNames.join(\"@\"),  // 공고 파일 제외한 나머지 파일명\n        flpth_nm: extraFilePaths.join(\"@\"), // 공고 파일 제외한 나머지 URL\n        creat_p_nttm: formatted,\n        created_ts: formatted\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,240],"id":"5d30a713-a5ca-4152-9784-ca437e50e2e4","name":"내용 정규화"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회1').item.json.title }}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('리스트 추출').item.json.content }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"C","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"한국에너지정보문화재단","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $json.created_ts }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=https://www.e-policy.or.kr/web/lay1/bbs/S1T16C17/A/1/{{ $('Code').item.json.announcement }}","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=한국에너지정보문화재단","type":"string"},{"id":"23dda3dc-82ed-4bb2-97bc-44530a34ea22","name":"flpth_nm","value":"={{ $json.flpth_nm }}","type":"string"},{"id":"7bfeb38f-9fdd-4aa7-a67d-9755a00f8488","name":"file_nm","value":"={{ $json.file_nm }}","type":"string"},{"id":"3f200751-c0e0-46ee-9802-f36b5913ed08","name":"print_flpth_nm","value":"={{ $json.fileAddress }}","type":"string"},{"id":"d8b6a435-6e39-4449-a18e-20654698aac2","name":"print_file_nm","value":"={{ $json.fileName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,240],"id":"3ab27bf2-25f3-4a3c-b5a0-6aa4c762c5f8","name":"ai result"},{"parameters":{"extractionValues":{"values":[{"key":"content","cssSelector":".content","returnValue":"html"},{"key":"file_address","cssSelector":".file > ul:nth-child(2) > li:nth-child(n) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"file_name","cssSelector":".file > ul:nth-child(2) > li:nth-child(n) > a:nth-child(1)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-688,240],"typeVersion":1,"id":"9b318551-ac22-45e1-829d-4f98a6877bd1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"get detail","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"If1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"get detail1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"get detail":{"main":[[{"node":"리스트 추출1","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"리스트 추출1":{"main":[[{"node":"Code","type":"main","index":0}]]},"내용 정규화1":{"main":[[{"node":"ai result1","type":"main","index":0}]]},"ai result1":{"main":[[{"node":"If1","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"내용 정규화1","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"중복 자료 조회1","type":"main","index":0}]]},"중복 자료 조회1":{"main":[[{"node":"중복조회 MYSQL1","type":"main","index":0}]]},"중복조회 MYSQL1":{"main":[[{"node":"중복조회 IF1","type":"main","index":0}]]},"중복조회 IF1":{"main":[[{"node":"get detail2","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If2":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"내용 정규화":{"main":[[{"node":"ai result","type":"main","index":0}]]},"ai result":{"main":[[{"node":"If2","type":"main","index":0}]]},"get detail2":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"내용 정규화","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0d546141-d6c9-4648-b81e-25c07f57945d","triggerCount":1,"shared":[{"createdAt":"2025-09-02T00:57:32.950Z","updatedAt":"2025-09-02T00:57:32.950Z","role":"workflow:owner","workflowId":"yBosTXSZ3lWQy6Em","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}