22.한국디자인진흥원-VbzYi8D8MpqYmwnP.json
{"createdAt":"2025-09-02T07:17:29.059Z","updatedAt":"2025-09-08T00:49:27.384Z","id":"VbzYi8D8MpqYmwnP","name":"22.한국디자인진흥원","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1648,304],"id":"a0fd2a8f-4fea-477c-8b02-a5ba25ac2e38","name":"Schedule Trigger"},{"parameters":{"url":"=https://www.kidp.or.kr/?menuno=1202","responseFormat":"string","options":{}},"name":"board list","type":"n8n-nodes-base.httpRequest","position":[-1136,304],"typeVersion":1,"id":"759efd04-3966-42f4-b8cf-e768d6073f7f","alwaysOutputData":false,"notesInFlow":true,"executeOnce":false,"retryOnFail":false,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-368,304],"id":"6465f135-92c7-40ea-a263-3000ee00f330","name":"Loop Over Items1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1008,80],"id":"620ed0e3-56ce-4919-8dea-8e6813df4522","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"dff3fbdd-f9b9-4dd1-801d-0f6b88ba20d0","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1168,80],"webhookId":"f9803e5c-b9f3-44ba-b3a4-d286b8d16af3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[816,80],"id":"8424b729-6f28-4bab-99cc-f15fe73c5c22","name":"If1","retryOnFail":false},{"parameters":{"jsCode":"const announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\n\n// 어제 날짜 구하기 (형식: YYYY-MM-DD)\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\n\nconst year = yesterday.getFullYear();\nconst month = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst day = String(yesterday.getDate()).padStart(2, '0');\n\nconst yesterdayStr = `${year}-${month}-${day}`;  // YYYY-MM-DD\n\n// const yesterdayStr = '2025-08-26';\n\nreturn announcements.map(function(announcement, index) {\n  // 번호만 추출 (마지막 숫자 부분)\n  const match = announcement.match(/(\\d+)/);\n  const extracted = match ? match[1] : null;\n\n  return {\n    json: {\n      announcement: extracted,  // wr_id=... 제거, 숫자만\n      title: titles[index] || null,\n      date: dates[index] || null\n    }\n  };\n}).filter(item => item.json.date === yesterdayStr);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-576,304],"id":"852c3195-b2cd-49d0-a910-592c8669ba98","name":"금일 기준"},{"parameters":{"content":"사이트 주소\nhttps://www.kidp.or.kr/?menuno=1202","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1664,192],"id":"ad97bb70-4e52-45fd-88b0-3b168abfd183","name":"Sticky Note"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\n// 현재 날짜 및 시간 생성 (yyyy-mm-dd hh:mm:ss)\nconst now = new Date();\nconst yyyy = now.getFullYear();\nconst mm = String(now.getMonth() + 1).padStart(2, '0');\nconst dd = String(now.getDate()).padStart(2, '0');\nconst hh = String(now.getHours()).padStart(2, '0');\nconst min = String(now.getMinutes()).padStart(2, '0');\nconst ss = String(now.getSeconds()).padStart(2, '0');\nconst createdAt = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\nreturn [\n  {\n    json: {\n      title,\n      createdAt\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,80],"id":"8d5eef1b-4f34-4337-92c6-c943e1c69280","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-64,80],"id":"94543b5e-8254-47b1-a840-abc36f3eb2a1","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,80],"id":"65c56123-a73a-4c8e-b656-28240a6feaef","name":"중복조회 IF"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":".board01-list > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(2) > a:nth-child(1)","returnValue":"attribute","attribute":"onclick","returnArray":true},{"key":"title","cssSelector":".board01-list > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(2) > a:nth-child(1)","returnArray":true},{"key":"date","cssSelector":".board01-list > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(3)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-880,304],"typeVersion":1,"id":"a08742f5-1d37-4811-ab97-f8368d280740"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회').item.json.title }}(링크확인)","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"C","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"한국디자인진흥원","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('중복 자료 조회').item.json.createdAt }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('중복 자료 조회').item.json.createdAt }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=https://www.kidp.or.kr/?menuno=1202","type":"string"},{"id":"5ef75238-ac78-464c-bf91-255f194c930f","name":"bsns_sumry_cn","value":"링크 원본에서 실제 공고를 한 번 확인해 주시기 바랍니다.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,80],"id":"176e7166-d17b-4fc9-bb22-49ba089c7ef5","name":"ai result"}],"connections":{"Schedule Trigger":{"main":[[{"node":"board list","type":"main","index":0}]]},"board list":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"If1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"ai result","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0}]]},"ai result":{"main":[[{"node":"If1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2c4db4b9-918d-464b-83f0-f63a7a648144","triggerCount":1,"shared":[{"createdAt":"2025-09-02T07:17:29.059Z","updatedAt":"2025-09-02T07:17:29.059Z","role":"workflow:owner","workflowId":"VbzYi8D8MpqYmwnP","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}