28.무역투자24-9cAMOyJJ4mpyCdyL.json
{"createdAt":"2025-09-09T06:48:22.777Z","updatedAt":"2025-09-19T06:52:35.221Z","id":"9cAMOyJJ4mpyCdyL","name":"28.무역투자24","active":true,"isArchived":false,"nodes":[{"parameters":{"requestMethod":"POST","url":"=https://www.kotra.or.kr/module/subhome/bizAply/selectBmBizTermListAjax.do","responseFormat":"string","options":{},"headerParametersUi":{"parameter":[{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"}]}},"name":"board list","type":"n8n-nodes-base.httpRequest","position":[-3152,-48],"typeVersion":1,"id":"6314fd55-27ff-44ca-8cea-d3694333ae0a","alwaysOutputData":false,"notesInFlow":true,"executeOnce":false,"retryOnFail":false,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2384,-48],"id":"1371dab9-d921-49bb-ac9b-0e8f35d8911b","name":"Loop Over Items1"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회').item.json.title }}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $json.content }}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{ $json.application_period }}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $json.start_date }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $json.end_date }}","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"=문의번호: {{ $json.contact_phone }} , 문의이메일:{{ $json.contact_email }}","type":"string"},{"id":"b5e49522-9965-4e13-90b1-86edf56df9c2","name":"print_flpth_nm","value":"={{ $('pdf,첨부파일분리1').item.json.fileAddress }}","type":"string"},{"id":"7e662533-f931-4a90-9dfb-f1386c206c8f","name":"print_file_nm","value":"={{ $('pdf,첨부파일분리1').item.json.fileName }}","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"={{ $('pdf,첨부파일분리1').item.json.flpth_nm }}","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"={{ $('pdf,첨부파일분리1').item.json.file_nm }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"H","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"Kotra 무역투자 24","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $json.created_ts }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=https://www.kotra.or.kr/subList/20000020753/subhome/bizAply/selectBizMntInfoDetail.do?dtlBizMntNo={{ $('중복 자료 조회').item.json.announcement }}&cpbizYn=N","type":"string"},{"id":"5f567959-9da9-442d-844e-d807c9e134af","name":"reqst_mth_papers_cn","value":"=","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=Kotra 무역투자 24","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,-48],"id":"a5d6a28e-24a1-4355-83fd-21da9df70558","name":"ai result1"},{"parameters":{"amount":10,"unit":"seconds"},"id":"86c296bc-56d7-43d4-a51b-591cc4454b7f","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[144,-48],"webhookId":"172272f5-6ff5-4f66-b16b-d865f59f935c"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\n\n// -------------------- 어제 날짜 계산 (자동) --------------------\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yyyy = yesterday.getFullYear();\nconst mm = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst dd = String(yesterday.getDate()).padStart(2, '0');\nlet yesterdayStr = `${yyyy}-${mm}-${dd}`;   // 자동 계산된 어제 날짜\n// ------------------------------------------------------\n\n// -------------------- 테스트용 날짜 지정 --------------------\n// const yesterdayStr = '2025-09-05'; // 수동으로 테스트 시 이 주석 해제\n// ------------------------------------------------------\n\n// -------------------- 결과 생성 --------------------\nconst result = announcements\n  .map((announcement, index) => {\n    const rawAnnouncement = announcement?.trim() || null;\n\n    // javascript:fn_selectBizMntInfoDetail('25CN0PM','N'); → '25CN0PM' 추출\n    let announcementId = null;\n    const matchId = rawAnnouncement.match(/fn_selectBizMntInfoDetail\\('([^']+)'/);\n    if (matchId) announcementId = matchId[1];\n\n    // \"신청기간 : 2025-09-05 ~ 2025-09-09\" → 앞부분 날짜만 추출\n    let dateStr = dates[index] || null;\n    if (dateStr) {\n      const matchDate = dateStr.match(/(\\d{4}-\\d{2}-\\d{2})/);\n      if (matchDate) dateStr = matchDate[1];\n    }\n\n    return {\n      json: {\n        announcement: announcementId,\n        title: (titles[index] || '').replace(/[\\[\\]]/g, '').trim(),\n        date: dateStr\n      }\n    };\n  })\n  // -------------------- 어제 날짜만 필터 --------------------\n  .filter(item => item.json.date === yesterdayStr);\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2592,-48],"id":"e3092b7b-f66a-4b6c-918e-9a92681d9037","name":"금일 기준"},{"parameters":{"content":"사이트 주소\nhttps://www.kotra.or.kr/subList/20000020753","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3680,-160],"id":"4035c856-fb81-47ce-bb40-2475a31ff907","name":"Sticky Note"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title,\n      announcement\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2224,-272],"id":"d7e61a82-abe8-46bf-baf8-daf4ed5c5f53","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-2080,-272],"id":"518bfa45-9a78-4b57-a97a-9fe224399d40","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1936,-272],"id":"8be63a35-20fd-44f2-a5ff-84f10a4fa1fd","name":"중복조회 IF"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":"ul.nBizPeriod:nth-child(2) > li:nth-child(n) > div:nth-child(2) > ul:nth-child(1) > li:nth-child(1) > a:nth-child(2)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"title","cssSelector":"ul.nBizPeriod:nth-child(2) > li:nth-child(n) > div:nth-child(2) > ul:nth-child(1) > li:nth-child(1) > a:nth-child(2)","returnArray":true},{"key":"date","cssSelector":"ul.nBizPeriod:nth-child(2) > li:nth-child(n) > div:nth-child(2) > ul:nth-child(1) > li:nth-child(2) > ul:nth-child(1) > li:nth-child(2)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-2896,-48],"typeVersion":1,"id":"2e37700e-3799-413d-9c5b-83ffd43ca89d"},{"parameters":{"url":"=https://www.kotra.or.kr/subList/20000020753/subhome/bizAply/selectBizMntInfoDetail.do","sendQuery":true,"queryParameters":{"parameters":[{"name":"dtlBizMntNo","value":"={{ $('중복 자료 조회').item.json.announcement }}"},{"name":"cpbizYn","value":"N"}]},"options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1344,-48],"id":"5d3ffcc1-8e6f-41b1-8bfd-04107be40a9c","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"extractionValues":{"values":[{"key":"신청기간","cssSelector":"div.nBizTable:nth-child(1) > table:nth-child(1) > tbody:nth-child(3) > tr:nth-child(3) > td:nth-child(4)"},{"key":"주관기관","cssSelector":"div.nBizTable:nth-child(1) > table:nth-child(1) > tbody:nth-child(3) > tr:nth-child(4) > td:nth-child(2)"},{"key":"사업문의 전화번호","cssSelector":"div.nBizTable:nth-child(1) > table:nth-child(1) > tbody:nth-child(3) > tr:nth-child(6) > td:nth-child(2)"},{"key":"사업문의 이메일","cssSelector":"div.nBizTable:nth-child(1) > table:nth-child(1) > tbody:nth-child(3) > tr:nth-child(6) > td:nth-child(4)"},{"key":"내용","cssSelector":"#txtArea"},{"key":"attach_file_name","cssSelector":".nAddFileTable > table:nth-child(1) > tbody:nth-child(3) > tr:nth-child(1) > td:nth-child(2) > ul:nth-child(1) > li:nth-child(n) > p:nth-child(1) > a:nth-child(1)","returnArray":true},{"key":"attach_file_address","cssSelector":".nAddFileTable > table:nth-child(1) > tbody:nth-child(3) > tr:nth-child(1) > td:nth-child(2) > ul:nth-child(1) > li:nth-child(n) > p:nth-child(1) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":false}},"name":"리스트 추출3","type":"n8n-nodes-base.htmlExtract","position":[-1104,-48],"typeVersion":1,"id":"5ace2b62-5bab-449b-8774-a368edc65edb"},{"parameters":{"jsCode":"const names = $('리스트 추출3').first().json.attach_file_name || [];\nconst addresses = $('리스트 추출3').first().json.attach_file_address || [];\n\nconst baseUrl = \"https://www.kotra.or.kr\"; // 필요 시 base URL 지정\n\nlet noticeFileName = null;\nlet noticeFileAddress = null;\nlet announcement_file_exist = false; // 공고 파일 존재 여부\n\nconst extraFileNames = [];\nconst extraFilePaths = [];\n\nfor (let i = 0; i < names.length; i++) {\n    // 공백, 줄바꿈, 용량 표시 제거\n    const name = names[i]\n        ?.replace(/[\\n\\r]/g, \"\")                  \n        .replace(/\\([\\d\\.]+[KMG]?B\\)/i, \"\")       \n        .trim();\n\n    let address = addresses[i];\n    if (!name || !address) continue;\n\n    // 상대경로일 경우 baseUrl 붙이기\n    const fileUrl = address.startsWith(\"/\")\n        ? `${baseUrl}${address}`\n        : address;\n\n    if (name.includes(\"공고\") && !noticeFileName) {\n        noticeFileName = name;\n        noticeFileAddress = fileUrl;\n        announcement_file_exist = true; // 공고 파일 존재\n    } else {\n        extraFileNames.push(name);\n        extraFilePaths.push(fileUrl);\n    }\n}\n\n// 공고 파일이 없는 경우 첫 번째 파일로 대체 (exist는 false 유지)\nif (!noticeFileName && names.length > 0 && addresses.length > 0) {\n    noticeFileName = names[0]?.replace(/[\\n\\r]/g, \"\").trim();\n    noticeFileAddress = addresses[0].startsWith(\"/\")\n        ? `${baseUrl}${addresses[0]}`\n        : addresses[0];\n}\n\nreturn [{\n    json: {\n        fileName: noticeFileName,               // 공고 또는 첫 번째 파일\n        fileAddress: noticeFileAddress,         // 해당 파일 URL\n        file_nm: extraFileNames.join(\"@\"),      // 기타 파일명\n        flpth_nm: extraFilePaths.join(\"@\"),     // 기타 파일 URL\n        announcement_file_exist: announcement_file_exist  // 공고 파일 존재 여부\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-848,-48],"id":"d05cda0b-3187-439d-a972-6be3c5e4a8db","name":"pdf,첨부파일분리1"},{"parameters":{"jsCode":"const rawData = $('리스트 추출3').first().json;\n\nfunction cleanStringKeepNewlineAndTab(str) {\n    return (str || \"\").replace(/^[\\s]+|[\\s]+$/g, \"\"); // 앞뒤 공백만 제거, \\t \\n 유지\n}\n\n// 신청기간 문자열 추출\nconst periodStr = cleanStringKeepNewlineAndTab(rawData[\"신청기간\"]); // 예: \"2025-09-05 ~ 2025-09-09\"\nlet start_date = null;\nlet end_date = null;\nlet application_period = null;\n\nif (periodStr) {\n    const match = periodStr.match(/(\\d{4}-\\d{2}-\\d{2})\\s*~\\s*(\\d{4}-\\d{2}-\\d{2})/);\n    if (match) {\n        start_date = match[1];  \n        end_date = match[2];    \n        const yyyymmddStart = start_date.replace(/-/g, '');\n        const yyyymmddEnd = end_date.replace(/-/g, '');\n        application_period = `${yyyymmddStart} ~ ${yyyymmddEnd}`;\n    }\n}\n\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n\nreturn [{\n    json: {\n        application_period: application_period,\n        start_date: start_date,\n        end_date: end_date,\n        organizer: cleanStringKeepNewlineAndTab(rawData[\"주관기관\"]),\n        contact_phone: cleanStringKeepNewlineAndTab(rawData[\"사업문의 전화번호\"]),\n        contact_email: cleanStringKeepNewlineAndTab(rawData[\"사업문의 이메일\"]),\n        content: cleanStringKeepNewlineAndTab(rawData[\"내용\"]),  // ✅ \\t와 \\n 유지\n        creat_p_nttm: formatted,\n        created_ts: formatted\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,-48],"id":"b84c32e3-c4f6-460c-8b1e-ec012dadaeee","name":"리스트 항목 정규화"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3392,112],"id":"15c2af03-73c3-4f02-96e7-985f0ea8a977","name":"Schedule Trigger"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-128,-48],"id":"669f60a3-466e-40c3-b7e1-7d5e6444ff8e","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"total_count","value":"={{ $json.date.length }}"},{"column":"type","value":"total_count"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-2592,240],"id":"c6a74b54-3ae6-41bf-9ed9-a8f5880d8205","name":"공고상태전체개수저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"jsCode":"// Function 노드 안\nreturn [\n  {\n    json: {\n      workflowName: $workflow.name,\n      insertId:$input.first().json.data.insertId\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[144,-192],"id":"08e5886c-4bee-474a-a57c-7534d39c0b00","name":"공고상태정리","disabled":true},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"insertId","value":"={{ $json.insertId }}"},{"column":"type","value":"detail"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[352,-192],"id":"c9d1f758-d45a-4c98-a21b-817acb5a9007","name":"공고상태상세저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}},"disabled":true}],"connections":{"board list":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"ai result1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"get detail1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0},{"node":"공고상태전체개수저장","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출3","type":"main","index":0}]]},"리스트 추출3":{"main":[[{"node":"pdf,첨부파일분리1","type":"main","index":0}]]},"pdf,첨부파일분리1":{"main":[[{"node":"리스트 항목 정규화","type":"main","index":0}]]},"리스트 항목 정규화":{"main":[[{"node":"ai result1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"board list","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0},{"node":"공고상태정리","type":"main","index":0}]]},"공고상태정리":{"main":[[{"node":"공고상태상세저장","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8331eb4e-d5c3-46f8-85a7-660c284fcb5d","triggerCount":1,"shared":[{"createdAt":"2025-09-09T06:48:22.777Z","updatedAt":"2025-09-09T06:48:22.777Z","role":"workflow:owner","workflowId":"9cAMOyJJ4mpyCdyL","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}