29.-한국광해광업공단-V2I3x3gyD71kskqA.json
{"createdAt":"2025-09-09T08:14:07.659Z","updatedAt":"2025-09-09T09:00:36.418Z","id":"V2I3x3gyD71kskqA","name":"29. 한국광해광업공단","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3664,-48],"id":"4afc16cd-5faf-4ae1-a4eb-db950e0fc12e","name":"Schedule Trigger"},{"parameters":{"url":"=https://www.komir.or.kr/kor/article/ATCL0d04c2e44/?mno=&pageIndex=1&searchCondition=&searchKeyword=","responseFormat":"string","options":{}},"name":"board list","type":"n8n-nodes-base.httpRequest","position":[-3152,-48],"typeVersion":1,"id":"15c5b6e7-b6fa-4f07-ab6b-9914cfd143c3","alwaysOutputData":false,"notesInFlow":true,"executeOnce":false,"retryOnFail":false,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2384,-48],"id":"534e8420-cc6b-4865-a475-4a745eaadea9","name":"Loop Over Items1"},{"parameters":{"extractionValues":{"values":[{"key":"attach_file_name","cssSelector":".filebox > ul:nth-child(2) > li:nth-child(1) > span:nth-child(1)"},{"key":"attach_file_address","cssSelector":".filebox > ul:nth-child(2) > li:nth-child(1) > a:nth-child(2)","returnValue":"attribute","attribute":"href"},{"key":"content","cssSelector":".contents","returnValue":"html"}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[-1008,-48],"typeVersion":1,"id":"775f4fe7-52da-44e0-bd14-b12e08fd2a73"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"=jrsd_instt_nm","value":"=전지역","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $json.content }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"C","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"한국광해광업공단","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $json.created_ts }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=https://www.komir.or.kr/kor/article/ATCL0d04c2e44/{{ $('중복 자료 조회').item.json.announcement }}?mno=&pageIndex=1&searchCondition=&searchKeyword=","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=한국광해광업공단","type":"string"},{"id":"23dda3dc-82ed-4bb2-97bc-44530a34ea22","name":"flpth_nm","value":"={{ $json.fileAddress }}","type":"string"},{"id":"7bfeb38f-9fdd-4aa7-a67d-9755a00f8488","name":"file_nm","value":"={{ $json.fileName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-608,-48],"id":"f90660e1-30fe-438a-87e7-153b03d8f437","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-224,-48],"id":"233c43fa-557f-4d97-b6ea-04ed6d4e780d","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"bc58ee05-5884-4040-93a1-1e4c746d72de","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-64,-48],"webhookId":"6dae6643-3a36-44c3-8d40-e73f22201ead"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\n\n// -------------------- 어제 날짜 계산 --------------------\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yyyy = yesterday.getFullYear();\nconst mm = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst dd = String(yesterday.getDate()).padStart(2, '0');\nconst yesterdayStr = `${yyyy}-${mm}-${dd}`;   // 자동 계산된 어제 날짜\n// ------------------------------------------------------\n\n// -------------------- 테스트용 날짜 지정 --------------------\n// const yesterdayStr = '2025-07-30'; // 수동 테스트용\n// ------------------------------------------------------\n\n// -------------------- 결과 생성 --------------------\nconst result = announcements\n  .map((announcement, index) => {\n    // article.view('숫자'); → 숫자만 추출\n    let announcementId = null;\n    const match = announcement.match(/article\\.view\\('(\\d+)'\\)/);\n    if (match) announcementId = match[1];\n\n    // 날짜 문자열 정리: \"등록일\\n 2025-07-30\" → \"2025-07-30\"\n    let dateStr = dates[index] || null;\n    if (dateStr) {\n        dateStr = dateStr.replace(/등록일|\\\\n/g, '').trim(); // \"등록일\"과 \\n 제거\n        dateStr = dateStr.replace(/\\./g, '-');               // \".\" → \"-\"\n    }\n\n    return {\n      json: {\n        announcement: announcementId,   \n        title: (titles[index] || '').replace(/[\\[\\]]/g, '').trim(),\n        date: dateStr\n      }\n    };\n  })\n  // -------------------- 어제 날짜만 필터 --------------------\n  .filter(item => item.json.date === yesterdayStr);\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2592,-48],"id":"4a7fa1aa-f252-4268-82b5-d93133419ee2","name":"금일 기준"},{"parameters":{"content":"사이트 주소\nhttps://www.komir.or.kr/kor/article/ATCL0d04c2e44/?mno=&pageIndex=1&searchCondition=&searchKeyword=","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3680,-160],"id":"1b97a1b9-5a7b-42a2-adbd-371161118231","name":"Sticky Note"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title,\n      announcement\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2224,-272],"id":"efeb39ee-efcd-4e10-8ac0-444b6ca6fc29","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-2080,-272],"id":"ad43506d-ee9f-4b64-98ca-42bbaf8a895d","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1936,-272],"id":"62c8c851-084b-4235-8fa9-5c288a356421","name":"중복조회 IF"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":".notice_list > ul:nth-child(1) > li:nth-child(n+1) > p:nth-child(2) > a:nth-child(1)","returnValue":"attribute","attribute":"onclick","returnArray":true},{"key":"title","cssSelector":".notice_list > ul:nth-child(1) > li:nth-child(n+1) > p:nth-child(2) > a:nth-child(1) > strong:nth-child(2)","returnArray":true},{"key":"date","cssSelector":".notice_list > ul:nth-child(1) > li:nth-child(n+1) > p:nth-child(3)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-2896,-48],"typeVersion":1,"id":"c72de496-19f9-4a61-970b-89256dd96006"},{"parameters":{"method":"POST","url":"=https://www.kesco.or.kr/bbs/selectBbs.do","sendBody":true,"bodyParameters":{"parameters":[{"name":"bbs_code","value":"MKB00001"},{"name":"bbs_seq","value":"={{ $('중복 자료 조회').item.json.announcement }}"},{"name":"user_di"},{"name":"file_id"},{"name":"currentPage=1","value":"1"},{"name":"sch_type"},{"name":"sch_text"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1680,-560],"id":"85e8f6a0-432e-4f0e-a81e-36890c661241","name":"set cookie","onError":"continueRegularOutput"},{"parameters":{"jsCode":"return {\n  cookie: ($input.first().json.headers['set-cookie'] || []).join('; ')\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1504,-560],"id":"bc302209-e704-45fa-9ca2-3471146b1c0c","name":"get cookie"},{"parameters":{"url":"=https://www.komir.or.kr/kor/article/ATCL0d04c2e44/{{ $('중복 자료 조회').item.json.announcement }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"mno"},{"name":"pageIndex","value":"1"},{"name":"searchCondition"},{"name":"searchKeyword"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1616,-48],"id":"8a4017fd-8e10-47a1-b9d4-c6957fa9ca3e","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const nameRaw = $('리스트 추출2').first().json.attach_file_name || \"\";\nconst addressRaw = $('리스트 추출2').first().json.attach_file_address || \"\";\n\n// 공백, 줄바꿈 제거\nconst fileName = nameRaw.replace(/[\\n\\r]/g, \"\").trim();\nconst fileAddress = addressRaw ? `https://www.komir.or.kr${addressRaw}` : null;\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\nreturn [{\n    json: {\n        fileName: fileName,           // 공고 파일명\n        fileAddress: fileAddress,     // 전체 다운로드 URL\n        creat_p_nttm: formatted,\n        created_ts: formatted,\n        content:$input.first().json.content\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-816,-48],"id":"92487ecc-8c1b-4716-bddc-495343823f8d","name":"내용 정규화"}],"connections":{"Schedule Trigger":{"main":[[{"node":"board list","type":"main","index":0}]]},"board list":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"내용 정규화","type":"main","index":0}]]},"ai result1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"get detail1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0}]]},"set cookie":{"main":[[{"node":"get cookie","type":"main","index":0}]]},"get cookie":{"main":[[]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"내용 정규화":{"main":[[{"node":"ai result1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fc727351-2478-48a4-92cc-b16dc18b8891","triggerCount":1,"shared":[{"createdAt":"2025-09-09T08:14:07.659Z","updatedAt":"2025-09-09T08:14:07.659Z","role":"workflow:owner","workflowId":"V2I3x3gyD71kskqA","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}