30.경제자유구역기획단-cJtBhGI1GM1vupFe.json
{"createdAt":"2025-09-09T09:03:59.758Z","updatedAt":"2025-09-09T09:11:41.588Z","id":"cJtBhGI1GM1vupFe","name":"30.경제자유구역기획단","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3664,-48],"id":"b7454859-450e-4fac-979b-2e9b24dcc4f1","name":"Schedule Trigger"},{"parameters":{"url":"=https://www.fez.go.kr/portal/noticeList.do","responseFormat":"string","options":{}},"name":"board list","type":"n8n-nodes-base.httpRequest","position":[-3152,-48],"typeVersion":1,"id":"7c522838-5cb2-4205-840e-66f25633471a","alwaysOutputData":false,"notesInFlow":true,"executeOnce":false,"retryOnFail":false,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2384,-48],"id":"5dcd09a4-455f-405a-bf12-160d62ba24df","name":"Loop Over Items1"},{"parameters":{"extractionValues":{"values":[{"key":"attach_file_name","cssSelector":".filebox > ul:nth-child(2) > li:nth-child(1) > span:nth-child(1)"},{"key":"attach_file_address","cssSelector":".filebox > ul:nth-child(2) > li:nth-child(1) > a:nth-child(2)","returnValue":"attribute","attribute":"href"},{"key":"content","cssSelector":".contents","returnValue":"html"}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[-1008,-48],"typeVersion":1,"id":"a7d4f1ef-bcca-4fd8-9118-6c619301702e"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"=jrsd_instt_nm","value":"=전지역","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $json.content }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"C","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"한국광해광업공단","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $json.created_ts }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=https://www.komir.or.kr/kor/article/ATCL0d04c2e44/{{ $('중복 자료 조회').item.json.announcement }}?mno=&pageIndex=1&searchCondition=&searchKeyword=","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=한국광해광업공단","type":"string"},{"id":"23dda3dc-82ed-4bb2-97bc-44530a34ea22","name":"flpth_nm","value":"={{ $json.fileAddress }}","type":"string"},{"id":"7bfeb38f-9fdd-4aa7-a67d-9755a00f8488","name":"file_nm","value":"={{ $json.fileName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-608,-48],"id":"a0bc2ee2-e731-4fae-889a-32da98ffe9c6","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-224,-48],"id":"da22440b-5f07-48e0-be50-a15da6807fc9","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"cfe7f3f6-0127-4948-aa48-a0240f16157a","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-64,-48],"webhookId":"ed73739e-5039-434d-b2a7-f6df61ca3f4e"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\n\n// -------------------- 어제 날짜 계산 --------------------\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yyyy = yesterday.getFullYear();\nconst mm = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst dd = String(yesterday.getDate()).padStart(2, '0');\nconst yesterdayStr = `${yyyy}-${mm}-${dd}`;   // 자동 계산된 어제 날짜\n// ------------------------------------------------------\n\n// -------------------- 테스트용 날짜 지정 --------------------\n// const yesterdayStr = '2025-09-08'; // 수동 테스트용\n// ------------------------------------------------------\n\n// -------------------- 결과 생성 --------------------\nconst result = announcements\n  .map((announcement, index) => {\n    // fn_detail('숫자'); → 숫자만 추출\n    let announcementId = null;\n    const match = announcement.match(/fn_detail\\((\\d+)\\)/);\n    if (match) announcementId = match[1];\n\n    // 날짜 문자열 정리: \"2025.09.09\" → \"2025-09-09\"\n    let dateStr = dates[index] || null;\n    if (dateStr) dateStr = dateStr.replace(/\\./g, '-').trim();\n\n    return {\n      json: {\n        announcement: announcementId,   \n        title: (titles[index] || '').replace(/[\\[\\]]/g, '').trim(),\n        date: dateStr\n      }\n    };\n  })\n  // -------------------- 어제 날짜만 필터 --------------------\n  .filter(item => item.json.date === yesterdayStr);\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2592,-48],"id":"6bd44f1a-8561-4ee5-b1a3-f49066c43029","name":"금일 기준"},{"parameters":{"content":"사이트 주소\nhttps://www.fez.go.kr/portal/noticeList.do","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3680,-160],"id":"0aa8d6f2-0f54-4697-936d-ea23b392d0c1","name":"Sticky Note"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title,\n      announcement\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2224,-272],"id":"41f162a8-4b21-40ff-bf5d-5bccce7042f6","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-2080,-272],"id":"0764f950-2892-4990-abed-e6cd83027f50","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1936,-272],"id":"2a6cafb7-061f-4f10-bc8d-4adbb381727a","name":"중복조회 IF"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":".board_cont > li:nth-child(n) > a:nth-child(3)","returnValue":"attribute","attribute":"onclick","returnArray":true},{"key":"title","cssSelector":".board_cont > li:nth-child(n) > a:nth-child(3)","returnArray":true},{"key":"date","cssSelector":".board_cont > li:nth-child(n) > span:nth-child(4)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-2896,-48],"typeVersion":1,"id":"b2491c4a-c552-4052-b2e1-877b1286e431"},{"parameters":{"method":"POST","url":"=https://www.kesco.or.kr/bbs/selectBbs.do","sendBody":true,"bodyParameters":{"parameters":[{"name":"bbs_code","value":"MKB00001"},{"name":"bbs_seq","value":"={{ $('중복 자료 조회').item.json.announcement }}"},{"name":"user_di"},{"name":"file_id"},{"name":"currentPage=1","value":"1"},{"name":"sch_type"},{"name":"sch_text"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1680,-560],"id":"0c040b47-055f-4d4a-a57b-1f46771f8771","name":"set cookie","onError":"continueRegularOutput"},{"parameters":{"jsCode":"return {\n  cookie: ($input.first().json.headers['set-cookie'] || []).join('; ')\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1504,-560],"id":"76df211a-ea5f-4f90-9718-5086127ec293","name":"get cookie"},{"parameters":{"method":"POST","url":"=https://www.fez.go.kr/portal/noticeDetail.do?boardSeq={{ $('중복 자료 조회').item.json.announcement }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"searchCate","value":"total"},{"name":"searchInput"},{"name":"ty","value":"1040"},{"name":"area"},{"name":"pageIndex"},{"name":"code","value":"1040"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1616,-48],"id":"677338d6-8f65-423d-998d-33f44db04f97","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const nameRaw = $('리스트 추출2').first().json.attach_file_name || \"\";\nconst addressRaw = $('리스트 추출2').first().json.attach_file_address || \"\";\n\n// 공백, 줄바꿈 제거\nconst fileName = nameRaw.replace(/[\\n\\r]/g, \"\").trim();\nconst fileAddress = addressRaw ? `https://www.komir.or.kr${addressRaw}` : null;\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\nreturn [{\n    json: {\n        fileName: fileName,           // 공고 파일명\n        fileAddress: fileAddress,     // 전체 다운로드 URL\n        creat_p_nttm: formatted,\n        created_ts: formatted,\n        content:$input.first().json.content\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-816,-48],"id":"81eaa8c2-6e8c-409f-a297-e9f7442840d0","name":"내용 정규화"}],"connections":{"Schedule Trigger":{"main":[[{"node":"board list","type":"main","index":0}]]},"board list":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"내용 정규화","type":"main","index":0}]]},"ai result1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"get detail1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0}]]},"set cookie":{"main":[[{"node":"get cookie","type":"main","index":0}]]},"get cookie":{"main":[[]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"내용 정규화":{"main":[[{"node":"ai result1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"164e0652-218b-4c61-a5b1-be744aa397fc","triggerCount":1,"shared":[{"createdAt":"2025-09-09T09:03:59.758Z","updatedAt":"2025-09-09T09:03:59.758Z","role":"workflow:owner","workflowId":"cJtBhGI1GM1vupFe","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}