30.경제자유구역기획단-cJtBhGI1GM1vupFe.json
{"createdAt":"2025-09-09T09:03:59.758Z","updatedAt":"2025-09-18T01:17:42.121Z","id":"cJtBhGI1GM1vupFe","name":"30.경제자유구역기획단","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"=https://www.fez.go.kr/portal/noticeList.do","responseFormat":"string","options":{}},"name":"board list1","type":"n8n-nodes-base.httpRequest","position":[-3728,1104],"typeVersion":1,"id":"a7ebf731-c006-4440-a39f-8829cdd63868","alwaysOutputData":false,"notesInFlow":true,"executeOnce":false,"retryOnFail":false,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2960,1104],"id":"07214a2a-c3c6-4c82-afdc-ebd7d7b88360","name":"Loop Over Items"},{"parameters":{"extractionValues":{"values":[{"key":"attach_file_name","cssSelector":".file_down > div:nth-child(1) > a:nth-child(6)"},{"key":"attach_file_address","cssSelector":".file_down > div:nth-child(1) > a:nth-child(6)","returnValue":"attribute","attribute":"href"},{"key":"content","cssSelector":".detail_cont","returnValue":"html"}]},"options":{"trimValues":false}},"name":"리스트 추출3","type":"n8n-nodes-base.htmlExtract","position":[-1584,1104],"typeVersion":1,"id":"647a2652-eba0-4c50-91e0-fc3e205a2b32"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회1').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"=jrsd_instt_nm","value":"=전지역","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $json.content }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"H","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"경제자유구역기획단","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $json.created_ts }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=https://www.fez.go.kr/portal/noticeDetail.do?boardSeq={{ $('중복 자료 조회1').item.json.announcement }}","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=경제자유구역기획단","type":"string"},{"id":"23dda3dc-82ed-4bb2-97bc-44530a34ea22","name":"flpth_nm","value":"={{ $json.fileAddress }}","type":"string"},{"id":"7bfeb38f-9fdd-4aa7-a67d-9755a00f8488","name":"file_nm","value":"={{ $json.fileName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1184,1104],"id":"8cfb0deb-1cc3-4e99-b36a-230199a9682d","name":"ai result"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-800,1104],"id":"390f8117-f90e-425d-9a57-afd0d2ee64ac","name":"MySQL","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"307939b8-eecf-4238-9c1e-42cdf2c2099d","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-640,1104],"webhookId":"6dae6643-3a36-44c3-8d40-e73f22201ead"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\n\n// -------------------- 어제 날짜 계산 --------------------\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yyyy = yesterday.getFullYear();\nconst mm = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst dd = String(yesterday.getDate()).padStart(2, '0');\nconst yesterdayStr = `${yyyy}-${mm}-${dd}`;   // 자동 계산된 어제 날짜\n// ------------------------------------------------------\n\n// -------------------- 테스트용 날짜 지정 --------------------\n// const yesterdayStr = '2025-09-08'; // 수동 테스트 날짜 (예: 2025-09-09)\n// ------------------------------------------------------\n\n// -------------------- 결과 생성 --------------------\nconst result = announcements\n  .map((announcement, index) => {\n    // fn_detail('숫자') → 숫자만 추출\n    let announcementId = null;\n    const match = announcement.match(/fn_detail\\((\\d+)\\)/);\n    if (match) announcementId = match[1];\n\n    // 날짜 문자열 정리: \"2025.09.09\" → \"2025-09-09\"\n    let dateStr = dates[index] || null;\n    if (dateStr) {\n        dateStr = dateStr.replace(/등록일|\\\\n/g, '').trim(); // \"등록일\"과 \\n 제거\n        dateStr = dateStr.replace(/\\./g, '-');               // \".\" → \"-\"\n    }\n\n    return {\n      json: {\n        announcement: announcementId,   \n        title: (titles[index] || '').replace(/[\\[\\]]/g, '').trim(),\n        date: dateStr\n      }\n    };\n  })\n  // -------------------- 어제 날짜만 필터 --------------------\n  .filter(item => item.json.date === yesterdayStr);\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3168,1104],"id":"0ade6daf-cca0-4c7d-8c7a-b8fd8ad8e646","name":"금일 기준1"},{"parameters":{"content":"사이트 주소\nhttps://www.fez.go.kr/portal/noticeList.do","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4256,992],"id":"a469a3ae-1a16-4b08-b2dc-19157b649280","name":"Sticky Note1"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title,\n      announcement\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2800,880],"id":"19621622-b4d9-4654-9c0b-00bb2d930588","name":"중복 자료 조회1"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-2656,880],"id":"7873eb07-07b5-4a4d-997c-abc9538adbf0","name":"중복조회 MYSQL1","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2512,880],"id":"196e071b-ab27-4b3e-99d3-01741986f546","name":"중복조회 IF1"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":".board_cont > li:nth-child(n) > a:nth-child(3)","returnValue":"attribute","attribute":"onclick","returnArray":true},{"key":"title","cssSelector":".board_cont > li:nth-child(n) > a:nth-child(3)","returnArray":true},{"key":"date","cssSelector":".board_cont > li:nth-child(n) > span:nth-child(4)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출1","type":"n8n-nodes-base.htmlExtract","position":[-3472,1104],"typeVersion":1,"id":"7a7a4a37-9da0-4b7c-8f19-53b28d8241fd"},{"parameters":{"method":"POST","url":"=https://www.kesco.or.kr/bbs/selectBbs.do","sendBody":true,"bodyParameters":{"parameters":[{"name":"bbs_code","value":"MKB00001"},{"name":"bbs_seq","value":"={{ $('중복 자료 조회1').item.json.announcement }}"},{"name":"user_di"},{"name":"file_id"},{"name":"currentPage=1","value":"1"},{"name":"sch_type"},{"name":"sch_text"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2256,592],"id":"01e02583-42f7-4912-9c53-01c9273f441d","name":"set cookie1","onError":"continueRegularOutput"},{"parameters":{"jsCode":"return {\n  cookie: ($input.first().json.headers['set-cookie'] || []).join('; ')\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2080,592],"id":"95399317-806c-458b-a1b1-d74fd4bc6bed","name":"get cookie1"},{"parameters":{"url":"=https://www.fez.go.kr/portal/noticeDetail.do","sendQuery":true,"queryParameters":{"parameters":[{"name":"boardSeq","value":"={{ $('중복 자료 조회1').item.json.announcement }}"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2192,1104],"id":"04bad60a-d454-4f30-a307-fb7174310cf3","name":"get detail","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const nameRaw = $('리스트 추출3').first().json.attach_file_name || \"\";\nconst addressRaw = $('리스트 추출3').first().json.attach_file_address || \"\";\n\n// 공백, 줄바꿈 제거\nconst fileName = nameRaw.replace(/[\\n\\r]/g, \"\").trim();\n\n// address에서 http~만 추출\nlet fileAddress = null;\nif (addressRaw) {\n  const match = addressRaw.match(/https?:\\/\\/[^\\']+/); // 'http'로 시작해서 '앞까지\n  if (match) fileAddress = match[0];\n}\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\nreturn [{\n  json: {\n    fileName: fileName,        // 공고 파일명\n    fileAddress: fileAddress,  // http~ URL만 추출\n    creat_p_nttm: formatted,\n    created_ts: formatted,\n    content: $input.first().json.content\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1392,1104],"id":"308ac872-5ad5-4bc7-a598-7460eed97627","name":"내용 정규화1"},{"parameters":{"rule":{"interval":[{"triggerAtHour":10,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4032,1152],"id":"181d5fbf-aa6c-4fe4-bf5b-7a49cc40baec","name":"Schedule Trigger"}],"connections":{"board list1":{"main":[[{"node":"리스트 추출1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"중복 자료 조회1","type":"main","index":0}]]},"리스트 추출3":{"main":[[{"node":"내용 정규화1","type":"main","index":0}]]},"ai result":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"Wait","type":"main","index":0}]]},"금일 기준1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"중복 자료 조회1":{"main":[[{"node":"중복조회 MYSQL1","type":"main","index":0}]]},"중복조회 MYSQL1":{"main":[[{"node":"중복조회 IF1","type":"main","index":0}]]},"중복조회 IF1":{"main":[[{"node":"get detail","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"리스트 추출1":{"main":[[{"node":"금일 기준1","type":"main","index":0}]]},"set cookie1":{"main":[[{"node":"get cookie1","type":"main","index":0}]]},"get detail":{"main":[[{"node":"리스트 추출3","type":"main","index":0}]]},"내용 정규화1":{"main":[[{"node":"ai result","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"board list1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fa8a6c05-6180-40eb-b560-7884288f3277","triggerCount":1,"shared":[{"createdAt":"2025-09-09T09:03:59.758Z","updatedAt":"2025-09-09T09:03:59.758Z","role":"workflow:owner","workflowId":"cJtBhGI1GM1vupFe","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}