31.국가기술표준원-ind5H7Gsl6GZVwEe.json
{"createdAt":"2025-09-10T01:00:59.312Z","updatedAt":"2025-09-18T01:17:57.346Z","id":"ind5H7Gsl6GZVwEe","name":"31.국가기술표준원","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"=https://kats.go.kr/content.do?cmsid=13&page=1","responseFormat":"string","options":{}},"name":"board list","type":"n8n-nodes-base.httpRequest","position":[-3152,-48],"typeVersion":1,"id":"dced8ae9-226a-4bc6-876f-8b57d4c2f982","alwaysOutputData":false,"notesInFlow":true,"executeOnce":false,"retryOnFail":false,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2384,-48],"id":"02b111b0-64c3-42d5-b2aa-c4d982d640d1","name":"Loop Over Items1"},{"parameters":{"extractionValues":{"values":[{"key":"attach_file_name","cssSelector":".mar_top30 > tbody:nth-child(4) > tr:nth-child(2) > td:nth-child(2) > a:nth-child(n)","returnArray":true},{"key":"attach_file_address","cssSelector":".mar_top30 > tbody:nth-child(4) > tr:nth-child(2) > td:nth-child(2) > a:nth-child(n)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"content","cssSelector":".mar_top30 > tbody:nth-child(4) > tr:nth-child(3) > td:nth-child(2)","returnValue":"html"}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[-1008,-48],"typeVersion":1,"id":"e0746df3-bcab-41a4-b1b6-5be5b9de0b73"},{"parameters":{"promptType":"define","text":"={{ $json.combinedMarkdown }} \\n에서  \npblanc_nm(공고제목), jrsd_instt_nm(지역 혹은 사이트이름), bsns_sumry_cn(공고요약), trget_nm(대상기업),  \nreqst_begin_end_de(공고 전체기간), reqst_begin_dt(공고시작기간), reqst_end_dt(공고마감기간),  \nreqst_mth_papers_cn(사업신청방법), excInsttNm(사업수행기관), refrnc_nm(문의처), subsidy_amount(지원금액),  \nself_contribution_rate(자부담률), support_target(지원기업 예: 대기업,중소기업), bonus_points_factors(가점요소 50자이내),  \ntotal_budget(예산) 에 대한 정보를 알려줘.\n\n공고제목은 detail_part에서 처음 <p>를 제목으로 참고.\n\n[1] 날짜 변환 규칙  \n- reqst_begin_end_de 형식: YYYYMMDD ~ YYYYMMDD  \n  → 이를 reqst_begin_dt, reqst_end_dt로 YYYY-MM-DD 형식으로 변환  \n\n[2] 지역명 변환 (cityMap)  \n{\n  \"서울\": \"서울특별시\", \"부산\": \"부산광역시\", \"대구\": \"대구광역시\", \"인천\": \"인천광역시\",\n  \"광주\": \"광주광역시\", \"대전\": \"대전광역시\", \"울산\": \"울산광역시\", \"세종\": \"세종특별자치시\",\n  \"경기\": \"경기도\", \"강원\": \"강원도\", \"충북\": \"충청북도\", \"충남\": \"충청남도\",\n  \"전북\": \"전라북도\", \"전남\": \"전라남도\", \"경북\": \"경상북도\", \"경남\": \"경상남도\",\n  \"제주\": \"제주특별자치도\", \"전지역\": \"전지역\"\n}\n\ntrget_nm 값은 단일값(중소기업, 대기업 등)만 사용.\n\n[3] 첨부파일 경로 변수  \nprint_flpth_nm :   {{ $('pdf,첨부파일분리').item.json.fileAddress }}\nprint_file_nm  : {{ $('pdf,첨부파일분리').item.json.fileName }}\ncreat_p_nttm   : {{ $json.creat_p_nttm }}\ncreated_ts     : {{ $json.created_ts }}\n\n[4] 값이 없거나 찾을 수 없으면 아래 형식으로 빈 문자열(\"\") 처리  \n{\n  \"pblanc_nm\": \"\",\n  \"jrsd_instt_nm\": \"\",\n  \"bsns_sumry_cn\": \"\",\n  \"trget_nm\": \"\",\n  \"reqst_begin_end_de\": \"\",\n  \"reqst_begin_dt\": \"\",\n  \"reqst_end_dt\": \"\",\n  \"reqst_mth_papers_cn\": \"\",\n  \"refrnc_nm\": \"\",\n  \"print_flpth_nm\": \"\",\n  \"print_file_nm\": \"\",\n  \"flpth_nm\": \"\",\n  \"file_nm\": \"\",\n  \"creat_p_nttm\": \"\",\n  \"created_ts\": \"\",\n  \"subsidy_amount\": \"\",\n  \"self_contribution_rate\": \"\",\n  \"support_target\": \"\",\n  \"bonus_points_factors\": \"\",\n  \"total_budget\": \"\"\n}\n\n[5] main_category(대분류) 분류 규칙  \n- 선택지: \"스마트생태공장\", \"상생협력 실증프로그램\", \"스마트공장 / 제조혁신\", \"탄소중립 / 온실가스저감\", \"FEMS 에너지효율화\"  , \"마케팅 / 기술인프라 구축\"\n- 공고 내용에 해당 키워드가 존재하면 선택  \n- 여러 개면 콤마(,)로 구분  \n- 없거나 애매하면 \"\"  \n\n예시:  \n\"컨설팅,스마트생태공장\"\n\n[6] sub_category(설비분류) 분류 규칙  \n- 선택 가능 항목:  \n변압기, 폐유재활용설비, 송풍기, 신재생발전설비, 집진기, 펌프, 콤프레셔, 공기조화기, 열회수환기장치, 보일러, 열교환기, 배출가스처리기, 공기정화기, 탈황기, 탈질기, 오수처리기, 폐수처리기, 냉각탑, 에너지관리시스템, 공정제어시스템, 자동화시스템, 냉동기, 증기재압축장치, 폐열회수시스템, 유수분리기, 압축기, 인버터, 용해로, 응축수회수기, 악취저감설비, 사출성형기  \n- 공고 내용에 해당 설비명이 등장하면 포함  \n- 목록 외 설비는 추가 금지  \n- 없으면 \"\"  \n\n예시:  \n\"인버터,용해로\"\n","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1392,-544],"id":"29e59115-d062-453a-80f2-586e0af4518e","name":"Basic LLM Chain","retryOnFail":false,"maxTries":null,"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"$id\": \"https://example.com/product.schema.json\",\n  \"title\": \"anouncement\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"pblanc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고제목 (없으면 공백처리)\"\n    },\n    \"jrsd_instt_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고지역 (없으면 공백처리)\"\n    },\n    \"bsns_sumry_cn\": {\n      \"type\": \"string\",\n      \"description\": \"공고요약 (없으면 공백처리)\"\n    },\n    \"trget_nm\": {\n      \"type\": \"string\",\n      \"description\": \"대상기업 (없으면 공백처리)\"\n    },\n    \"reqst_begin_end_de\": {\n      \"type\": \"string\",\n      \"description\": \"공고 전체 기간 (없으면 공백처리) 형식은 yyyymmdd ~ yyyymmdd\"\n    },\n    \"reqst_begin_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 시작 기간 (없으면 공백처리)\"\n    },\n    \"reqst_end_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 종료 기간 (없으면 공백처리)\"\n    },\n    \"reqst_mth_papers_cn\": {\n      \"type\": \"string\",\n      \"description\": \"사업신청 방법 (없으면 공백처리)\"\n    },\n    \"excInsttNm\": {\n      \"type\": \"string\",\n      \"description\": \"사업수행기관 (없으면 공백처리)\"\n    },\n    \"refrnc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"문의처내용 (없으면 공백처리)\"\n    },\n    \"print_flpth_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 주소 (없으면 공백처리)\"\n    },\n    \"print_file_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 파일명 (없으면 공백처리)\"\n    },\n    \"subsidy_amount\": {\n      \"type\": \"string\",\n      \"description\": \"지원금액, 원화로 변환 및 금액만 적시 (없으면 공백처리)\"\n    },\n    \"self_contribution_rate\": {\n      \"type\": \"string\",\n      \"description\": \"자부담률 (없으면 공백처리)\"\n    },\n    \"support_target\": {\n      \"type\": \"string\",\n      \"description\": \"지원기업 (예: 대기업, 중소기업, 대명사만 적시, 없으면 공백처리)\"\n    },\n    \"bonus_points_factors\": {\n      \"type\": \"string\",\n      \"description\": \"가점요소(간략하게, 없으면 공백처리,50자이내)\"\n    },\n    \"total_budget\": {\n      \"type\": \"string\",\n      \"description\": \"예산 (없으면 공백처리)\"\n    },\n    \"main_category\": {\n      \"type\": \"string\",\n      \"description\": \"대분류(없으면 공백)\"\n    },\n    \"sub_category\": {\n      \"type\": \"string\",\n      \"description\": \"설비분류 (없으면 공백처리)\"\n    }\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1712,-112],"id":"61225067-b5e5-4b8e-9152-0eb68945294c","name":"Structured Output Parser","notesInFlow":false},{"parameters":{"modelName":"models/gemini-1.5-flash-8b-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1408,-368],"id":"3949641e-820a-42e4-93de-03a5bf59719d","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"Hfp6RmexqQYoBvNh","name":"Google Gemini(PaLM) Api account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('Code').item.json.output.pblanc_nm }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"={{ $('Code').item.json.output.jrsd_instt_nm }}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('Code').item.json.output.bsns_sumry_cn }}","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"={{ $('Code').item.json.output.trget_nm }}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{ $('Code').item.json.output.reqst_begin_end_de }}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $('Code').item.json.output.reqst_begin_dt }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $('Code').item.json.output.reqst_end_dt }}","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"={{ $('Code').item.json.output.refrnc_nm }}","type":"string"},{"id":"b5e49522-9965-4e13-90b1-86edf56df9c2","name":"print_flpth_nm","value":"={{ $('pdf,첨부파일분리').item.json.fileAddress }}","type":"string"},{"id":"7e662533-f931-4a90-9dfb-f1386c206c8f","name":"print_file_nm","value":"={{ $('pdf,첨부파일분리').item.json.fileName }}","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"={{ $('pdf,첨부파일분리').item.json.flpth_nm }}","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"={{ $('pdf,첨부파일분리').item.json.file_nm }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"N","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"국가기술표준원","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"N","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('Code23').item.json.created_ts }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('Code23').item.json.created_ts }}","type":"string"},{"id":"9adbcf7a-7243-4479-ab01-6b2ccb31d8a6","name":"subsidy_amount","value":"={{ $('Code').item.json.output.subsidy_amount }}","type":"string"},{"id":"b0d54477-2d5b-4aa1-8905-ca396242ddab","name":"self_contribution_rate","value":"={{ $('Code').item.json.output.self_contribution_rate }}","type":"string"},{"id":"09d5c3f0-2aa9-424f-ba57-bdd0df8ae9bf","name":"support_target","value":"={{ $('Code').item.json.output.support_target }}","type":"string"},{"id":"283f473c-7824-46ef-b963-feb711e63a22","name":"bonus_points_factors","value":"={{ $('Code').item.json.output.bonus_points_factors }}","type":"string"},{"id":"20d0efcf-9335-4130-ad6e-c50b4f37a404","name":"total_budget","value":"={{ $('Code').item.json.output.total_budget }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=https://kats.go.kr{{ $('중복 자료 조회').item.json.announcement }}","type":"string"},{"id":"97c21176-d1a8-4f5c-a312-e5603e2e7569","name":"main_category","value":"={{ $('Code').item.json.output.main_category }}","type":"string"},{"id":"1f7c4cbd-e378-419d-8827-6007de5e6929","name":"sub_category","value":"={{ $('Code').item.json.output.sub_category }}","type":"string"},{"id":"5f567959-9da9-442d-844e-d807c9e134af","name":"reqst_mth_papers_cn","value":"={{ $('Code').item.json.output.reqst_mth_papers_cn }}","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=국가기술표준원","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2384,-544],"id":"18ffb0a6-70c3-40d7-89ba-2d64a16d0361","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2768,-544],"id":"eea00fea-3080-4a00-a6d5-4105f401b8c4","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"6d230fe3-f463-447d-956c-af81ef3aaed8","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2928,-544],"webhookId":"15804185-375e-4745-995b-69a7c2e12b1a"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2576,-544],"id":"826e1b4b-b294-41ac-aae7-592a6caeb842","name":"If1","retryOnFail":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[1568,-288],"id":"6eb9e38b-0448-4f3e-ab29-88c2e9999249","name":"Auto-fixing Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1568,-112],"id":"d94523f4-f24f-4494-b8b8-9737503d0ddb","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"SKDNgNmyz3uaizES","name":"OpenAi account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\n\n// -------------------- 어제 날짜 계산 --------------------\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yyyy = yesterday.getFullYear();\nconst mm = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst dd = String(yesterday.getDate()).padStart(2, '0');\nconst yesterdayStr = `${yyyy}-${mm}-${dd}`;   // 자동 계산된 어제 날짜\n// ------------------------------------------------------\n\n// -------------------- 테스트용 날짜 지정 --------------------\n// const yesterdayStr = '2025-04-30'; // 수동으로 테스트 시 이 주석 해제\n// ------------------------------------------------------\n\n// -------------------- 결과 생성 --------------------\nconst result = announcements\n  .map((announcement, index) => {\n    const url = announcement?.trim() || null;\n    let dateStr = dates[index] || null;\n\n    // \"등록일 : 2025.09.08\" → \"2025-09-08\"\n    if (dateStr) {\n      const match = dateStr.match(/등록일\\s*:\\s*(\\d{4}\\.\\d{2}\\.\\d{2})/);\n      if (match) {\n        dateStr = match[1].replace(/\\./g, \"-\"); // yyyy.mm.dd → yyyy-mm-dd\n      }\n    }\n\n    return {\n      json: {\n        announcement: url,\n        title: (titles[index] || '')\n          .replace(/[\\[\\]]/g, '')\n          .replace(/\\s*새 글$/, '') // 끝에 붙는 \"새 글\" 제거\n          .trim(),\n        date: dateStr\n      }\n    };\n  })\n  // -------------------- 어제 날짜만 필터 --------------------\n  .filter(item => item.json.date === yesterdayStr);\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2592,-48],"id":"7b989081-4e19-41e4-8401-4a481dcb9099","name":"금일 기준"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.output.pblanc_nm }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1968,-544],"id":"f10296fe-cfbb-4021-9d36-b2735e5079d6","name":"MySQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2128,-544],"id":"4ed1272e-f17c-4f7d-bc1d-e0096eee9fa2","name":"If2"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.pblanc_nm) {\n    item.json.pblanc_nm = item.json.pblanc_nm.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,-544],"id":"9c43cc0f-fc26-4dea-907c-4e8eb347a0db","name":"Code"},{"parameters":{"content":"사이트 주소\nhttps://kats.go.kr/content.do?cmsid=13&page=1","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3680,-160],"id":"1edee8de-dab2-4374-af4a-6a012ed99f29","name":"Sticky Note"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title,\n      announcement\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2224,-272],"id":"2f74c00d-94fe-4bbe-b671-7425f06c866e","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-2080,-272],"id":"7ee918df-fb71-4d39-8674-b9a171d41932","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1936,-272],"id":"ddbed5d6-d33b-4a30-84b3-1c1933cc11b2","name":"중복조회 IF"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":"table.mar_top30:nth-child(7) > tbody:nth-child(4) > tr:nth-child(n+4) > td:nth-child(2) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"title","cssSelector":"table.mar_top30:nth-child(7) > tbody:nth-child(4) > tr:nth-child(n+4) > td:nth-child(2) > a:nth-child(1)","returnArray":true},{"key":"date","cssSelector":"table.mar_top30:nth-child(7) > tbody:nth-child(4) > tr:nth-child(n+4) > td:nth-child(3)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-2896,-48],"typeVersion":1,"id":"c3add3c0-d15b-4202-bcd5-d1dbd7b05f83"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $binary.data.fileName.split('.').pop() }}","rightValue":"=pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-96,-544],"id":"0c67ed48-5820-49b3-80db-4a68080d9ded","name":"If"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"90137041-1e98-447c-b17e-c76ffc72dd54","name":"Upload a file1","type":"n8n-nodes-base.httpRequest","position":[496,-432],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://192.168.10.133:8000/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"4a6af106-1b56-485b-b01e-384268021c5d","name":"hwp->pdf","type":"n8n-nodes-base.httpRequest","position":[320,-432],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"24148fbe-e08d-4262-ac58-756ec9bf7d10","name":"Upload a file2","type":"n8n-nodes-base.httpRequest","position":[320,-704],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{$json[\"id\"]}}/url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[704,-544],"id":"a5dde26a-c35f-413c-8d37-bbdb7993c825","name":"HTTP Request1","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"59fb8cf1-5519-4d97-b339-9667101b3b7a","name":"do ocr1","type":"n8n-nodes-base.httpRequest","position":[896,-544],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const pages = $input.first().json.pages;\nlet combinedMarkdown = '';\n\nfor (const page of pages) {\n  combinedMarkdown += page.markdown + '\\n';  // 줄바꿈 포함해서 합치기\n}\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 통합 결과 반환\nreturn [\n  {\n    json: {\n      combinedMarkdown,\n      creat_p_nttm: formatted,\n      created_ts: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,-544],"id":"b662fb81-6502-488e-af79-33109d42f1f4","name":"Code23","onError":"continueRegularOutput"},{"parameters":{"url":"=https://kats.go.kr{{ $('중복 자료 조회').item.json.announcement }}","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1344,-48],"id":"0db5d50b-51cd-4dfc-a73f-ced2877e7dc2","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.fileAddress }}","options":{"redirect":{"redirect":{}},"response":{"response":{"fullResponse":true,"responseFormat":"file"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-288,-544],"id":"aacb39cc-eec3-4cac-80af-0953822bf725","name":"download files1","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const names = $('리스트 추출2').first().json.attach_file_name || [];\nconst addresses = $('리스트 추출2').first().json.attach_file_address || [];\n\nconst baseUrl = \"https://kats.go.kr\";  // base URL 지정\n\nlet noticeFileName = null;\nlet noticeFileAddress = null;\nlet announcement_file_exist = false;   // 공고 파일 실제 존재 여부\n\nconst extraFileNames = [];\nconst extraFilePaths = [];\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\nfor (let i = 0; i < names.length; i++) {\n    const name = names[i]\n        ?.replace(/[\\n\\r]/g, \"\")\n        .replace(/\\([\\d\\.]+[KMG]?B\\)/i, \"\")\n        .trim();\n    let address = addresses[i];\n    if (!name || !address) continue;\n\n    // baseUrl 붙여주기\n    let fileUrl = address.startsWith(\"./\") \n        ? `${baseUrl}${address.substring(1)}` \n        : (address.startsWith(\"http\") ? address : `${baseUrl}${address}`);\n\n    if (name.includes(\"공고\") && !noticeFileName) {\n        noticeFileName = name;\n        noticeFileAddress = fileUrl;\n        announcement_file_exist = true;\n    } else {\n        extraFileNames.push(name);\n        extraFilePaths.push(fileUrl);\n    }\n}\n\n// 공고 파일 없는 경우 첫 번째 파일로 대체\nif (!noticeFileName && names.length > 0 && addresses.length > 0) {\n    const firstName = names[0]\n        ?.replace(/[\\n\\r]/g, \"\")\n        .replace(/\\([\\d\\.]+[KMG]?B\\)/i, \"\")\n        .trim();\n    const firstAddress = addresses[0];\n    const firstUrl = firstAddress \n        ? (firstAddress.startsWith(\"./\") \n            ? `${baseUrl}${firstAddress.substring(1)}` \n            : (firstAddress.startsWith(\"http\") ? firstAddress : `${baseUrl}${firstAddress}`)) \n        : null;\n\n    noticeFileName = firstName;\n    noticeFileAddress = firstUrl;\n}\n\nreturn [{\n    json: {\n        fileName: noticeFileName,             // 공고 파일명\n        fileAddress: noticeFileAddress,       // 공고 파일 URL\n        file_nm: extraFileNames.join(\"@\"),    // 기타 파일명\n        flpth_nm: extraFilePaths.join(\"@\"),   // 기타 파일 URL\n        announcement_file_exist: announcement_file_exist,\n        creat_p_nttm: formatted,\n        created_ts: formatted\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-752,-48],"id":"aa96f716-0b73-4ddf-b969-7f802b1b02f2","name":"pdf,첨부파일분리"},{"parameters":{"url":"={{ $('중복 자료 조회').item.json.announcement }}","options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1712,-608],"id":"57dbbf38-d84f-412b-b5e0-d9dc4582dd77","name":"set cookie","onError":"continueRegularOutput"},{"parameters":{"jsCode":"return {\n  cookie: ($input.first().json.headers['set-cookie'] || []).join('; ')\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1536,-608],"id":"897be92d-d618-4f58-88f7-9eb42296a094","name":"get cookie"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $json.announcement_file_exist }}","rightValue":"pdf","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-512,-48],"id":"889d51ca-fc12-476c-8f42-873db069cb29","name":"if announcement file exist"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"=전지역","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('리스트 추출2').item.json.content }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"C","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"국가기술표준원","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $json.created_ts }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=https://kats.go.kr{{ $('중복 자료 조회').item.json.announcement }}","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=국가기술표준원","type":"string"},{"id":"52c315e3-03a2-4bb1-8890-9b743760b61d","name":"print_flpth_nm","value":"={{ $json.fileAddress }}","type":"string"},{"id":"b14c77bd-a912-4855-8ffc-e9370a9b7d36","name":"print_file_nm","value":"={{ $json.fileName }}","type":"string"},{"id":"36d05ad6-6b5a-497c-bfaf-217890ec583f","name":"flpth_nm","value":"={{ $json.flpth_nm }}","type":"string"},{"id":"e7a73690-30bb-4326-a12f-4fe2ab78594a","name":"file_nm","value":"={{ $json.file_nm }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-144,-48],"id":"bfa06af5-e8e8-408b-a2f4-1a73ed6e147a","name":"ai result"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[240,-48],"id":"740b1d8c-71ae-43ab-84ca-ce090ee2d2d6","name":"MySQL2","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"00096182-d60d-4262-bcba-cc4e5472f863","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[400,-48],"webhookId":"79a71a33-047f-4175-a264-71e4c88ffa65"},{"parameters":{"rule":{"interval":[{"triggerAtHour":10,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3536,0],"id":"fec5c7db-8de2-4f19-82cf-9f8c06581cdb","name":"Schedule Trigger"}],"connections":{"board list":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"pdf,첨부파일분리","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"ai result1":{"main":[[{"node":"If1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"If1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"If2","type":"main","index":0}]]},"Code":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"If2":{"main":[[{"node":"ai result1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"get detail1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0}]]},"If":{"main":[[{"node":"Upload a file2","type":"main","index":0}],[{"node":"hwp->pdf","type":"main","index":0}]]},"Upload a file1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"hwp->pdf":{"main":[[{"node":"Upload a file1","type":"main","index":0}]]},"Upload a file2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"do ocr1","type":"main","index":0}]]},"do ocr1":{"main":[[{"node":"Code23","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"download files1":{"main":[[{"node":"If","type":"main","index":0}]]},"Code23":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"pdf,첨부파일분리":{"main":[[{"node":"if announcement file exist","type":"main","index":0}]]},"set cookie":{"main":[[{"node":"get cookie","type":"main","index":0}]]},"get cookie":{"main":[[]]},"if announcement file exist":{"main":[[{"node":"download files1","type":"main","index":0}],[{"node":"ai result","type":"main","index":0}]]},"ai result":{"main":[[{"node":"MySQL2","type":"main","index":0}]]},"MySQL2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"board list","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5b537058-d3ee-4624-9eb4-ad194b416087","triggerCount":1,"shared":[{"createdAt":"2025-09-10T01:00:59.312Z","updatedAt":"2025-09-10T01:00:59.312Z","role":"workflow:owner","workflowId":"ind5H7Gsl6GZVwEe","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}