34.농촌진흥청-gvif8pcuMfulIlnX.json
{"createdAt":"2025-09-10T06:16:44.768Z","updatedAt":"2025-09-18T01:18:36.597Z","id":"gvif8pcuMfulIlnX","name":"34.농촌진흥청","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"=https://www.rda.go.kr/board/board.do?prgId=nei_ancmttEntry&boardId=ancmtt&searchKey=&searchVal=&searchSDate=&searchEDate=&searchOrgDeptKey=&searchOrgDeptVal=&catgId=&mode=list&currPage=2","responseFormat":"string","options":{}},"name":"board list1","type":"n8n-nodes-base.httpRequest","position":[-3728,1104],"typeVersion":1,"id":"523bab7b-65e9-4ed2-8f9c-239de92f8fc4","alwaysOutputData":false,"notesInFlow":true,"executeOnce":false,"retryOnFail":false,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2960,1104],"id":"75ffab53-3d0b-4c2a-b898-b79f8f7282d7","name":"Loop Over Items"},{"parameters":{"extractionValues":{"values":[{"key":"attach_file_name","cssSelector":"#file-list > li:nth-child(n) > p:nth-child(1)","returnArray":true},{"key":"attach_file_address","cssSelector":"#file-list > li:nth-child(n) > div:nth-child(2) > button:nth-child(1)","returnValue":"attribute","attribute":"onclick","returnArray":true},{"key":"content","cssSelector":"#contents","returnValue":"html"}]},"options":{"trimValues":false}},"name":"리스트 추출3","type":"n8n-nodes-base.htmlExtract","position":[-1904,1104],"typeVersion":1,"id":"c1e4967c-376c-429b-be37-14578dec88ec"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회1').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"=jrsd_instt_nm","value":"=전지역","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('리스트 추출3').item.json.content }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"H","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"농촌진흥청","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $json.created_ts }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"={{ $('중복 자료 조회1').item.json.announcement }}","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=농촌진흥청","type":"string"},{"id":"23dda3dc-82ed-4bb2-97bc-44530a34ea22","name":"flpth_nm","value":"={{ $json.fileAddress }}","type":"string"},{"id":"7bfeb38f-9fdd-4aa7-a67d-9755a00f8488","name":"file_nm","value":"={{ $json.fileName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1504,1104],"id":"598f0f2d-53e7-49cd-a7e9-da108b697f9c","name":"ai result"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1120,1104],"id":"f4990e82-bda5-4ab6-b770-d28d48e3f407","name":"MySQL","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"be5cfde1-71c3-40ea-adc6-1076eb6f9e7f","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-960,1104],"webhookId":"acb109da-cab6-4772-b3b2-b3bd342e540f"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\n\n// -------------------- 어제 날짜 계산 --------------------\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yyyy = yesterday.getFullYear();\nconst mm = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst dd = String(yesterday.getDate()).padStart(2, '0');\nlet yesterdayStr = `${yyyy}-${mm}-${dd}`;   // 자동 계산된 어제 날짜\n// ------------------------------------------------------\n\n// -------------------- 테스트용 날짜 지정 --------------------\n// 필요 시 아래 주석 해제 후 원하는 날짜로 테스트 가능\n// let yesterdayStr = '2025-07-18';  \n// ------------------------------------------------------\n\n// -------------------- 결과 생성 --------------------\nconst baseUrl = \"https://www.rda.go.kr\";\n\nconst result = announcements\n  .map((announcement, index) => {\n    // 날짜 문자열 정리: \"2025.09.09\" → \"2025-09-09\"\n    let dateStr = dates[index] || null;\n    if (dateStr) {\n        dateStr = dateStr.replace(/등록일|\\\\n/g, '').trim(); // \"등록일\"과 \\n 제거\n        dateStr = dateStr.replace(/\\./g, '-');               // \".\" → \"-\"\n    }\n\n    // 제목 정리: \\t, 새글 제거\n    let cleanTitle = (titles[index] || '')\n      .replace(/\\t/g, '')        // 탭 제거\n      .replace(/새글/g, '')       // \"새글\" 제거\n      .replace(/[\\[\\]]/g, '')    // 대괄호 제거\n      .trim();\n\n    return {\n      json: {\n        announcement: `${baseUrl}${announcement}`,  // baseUrl + 원본 경로\n        title: cleanTitle,\n        date: dateStr\n      }\n    };\n  })\n  // -------------------- 어제 날짜만 필터 --------------------\n  .filter(item => item.json.date === yesterdayStr);\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3168,1104],"id":"b8984fc8-d3e4-40f3-9429-6e805316e785","name":"금일 기준1"},{"parameters":{"content":"사이트 주소\nhttps://www.rda.go.kr/board/board.do?prgId=nei_ancmttEntry&boardId=ancmtt&searchKey=&searchVal=&searchSDate=&searchEDate=&searchOrgDeptKey=&searchOrgDeptVal=&catgId=&mode=list&currPage=2","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4256,992],"id":"5eee9074-7404-4ac9-b694-299cbb9c027a","name":"Sticky Note1"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title,\n      announcement\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2800,880],"id":"b341dccd-8410-410b-aefd-07bf09137449","name":"중복 자료 조회1"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-2656,880],"id":"97f16a37-21c5-42c6-a9f5-4d7224dc535c","name":"중복조회 MYSQL1","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2512,880],"id":"1319b706-240b-4fa5-b793-962e6618d592","name":"중복조회 IF1"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":".tbl > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(2) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"title","cssSelector":".tbl > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(2) > a:nth-child(1)","returnArray":true},{"key":"date","cssSelector":".tbl > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(5)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출1","type":"n8n-nodes-base.htmlExtract","position":[-3472,1104],"typeVersion":1,"id":"d0450c80-4a7f-47a0-b303-ad6d02fc20c0"},{"parameters":{"method":"POST","url":"=https://www.kesco.or.kr/bbs/selectBbs.do","sendBody":true,"bodyParameters":{"parameters":[{"name":"bbs_code","value":"MKB00001"},{"name":"bbs_seq","value":"={{ $('중복 자료 조회1').item.json.announcement }}"},{"name":"user_di"},{"name":"file_id"},{"name":"currentPage=1","value":"1"},{"name":"sch_type"},{"name":"sch_text"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2256,592],"id":"72332cae-cb09-4a0e-8e81-ee4eeb8fa6f0","name":"set cookie1","onError":"continueRegularOutput"},{"parameters":{"jsCode":"return {\n  cookie: ($input.first().json.headers['set-cookie'] || []).join('; ')\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2080,592],"id":"596e65cc-f67c-48b1-a344-860d58b402c1","name":"get cookie1"},{"parameters":{"url":"={{ $('중복 자료 조회1').item.json.announcement }}","options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2192,1104],"id":"32d81f61-b8bb-484c-99a2-2586482f83cb","name":"get detail","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const names = $('리스트 추출3').first().json.attach_file_name || [];\nconst addresses = $('리스트 추출3').first().json.attach_file_address || [];\nconst contentRaw = $('리스트 추출3').first().json.content || \"\";\n\n// -------------------- 파일명 및 주소 배열 --------------------\nconst fileNames = [];\nconst fileAddresses = [];\n\n// -------------------- 파일명 & 주소 처리 --------------------\nfor (let i = 0; i < names.length; i++) {\n  // 파일명 정리\n  const cleanedName = names[i]?.replace(/[\\n\\r\\t]/g, \" \").trim() || \"\";\n  const fileMatch = cleanedName.match(/[^\\/\\\\]+?\\.[a-zA-Z0-9]+/);\n  if (fileMatch) {\n    fileNames.push(fileMatch[0]);\n  }\n\n  // 주소 변환\n  const rawAddress = addresses[i];\n  if (rawAddress) {\n    const match = rawAddress.match(/fn_download\\('([^']+)','([^']+)','([^']+)'\\)/);\n    if (match) {\n      const boardId = match[1];\n      const dataNo = match[2];\n      const sortNo = match[3];\n      fileAddresses.push(`https://www.rda.go.kr/fileDownLoadDw.do?boardId=${boardId}&dataNo=${dataNo}&sortNo=${sortNo}`);\n    } else if (rawAddress.startsWith(\"http\")) {\n      fileAddresses.push(rawAddress);\n    }\n  }\n}\n\n// -------------------- 생성일자 (KST 기준) --------------------\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// -------------------- 결과 하나의 객체로 --------------------\nconst results = [\n  {\n    json: {\n      fileName: fileNames.join('@'),       // 파일명 모두 @로 연결\n      fileAddress: fileAddresses.join('@'), // 주소 모두 @로 연결\n      creat_p_nttm: formatted,\n      created_ts: formatted,\n    }\n  }\n];\n\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1712,1104],"id":"bf1ee747-447b-486c-be4e-b041d0af4597","name":"내용 정규화1"},{"parameters":{"rule":{"interval":[{"triggerAtHour":10,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4096,1136],"id":"3f06c6fd-d425-4ff9-9670-812ca4303788","name":"Schedule Trigger"}],"connections":{"board list1":{"main":[[{"node":"리스트 추출1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"중복 자료 조회1","type":"main","index":0}]]},"리스트 추출3":{"main":[[{"node":"내용 정규화1","type":"main","index":0}]]},"ai result":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"Wait","type":"main","index":0}]]},"금일 기준1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"중복 자료 조회1":{"main":[[{"node":"중복조회 MYSQL1","type":"main","index":0}]]},"중복조회 MYSQL1":{"main":[[{"node":"중복조회 IF1","type":"main","index":0}]]},"중복조회 IF1":{"main":[[{"node":"get detail","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"리스트 추출1":{"main":[[{"node":"금일 기준1","type":"main","index":0}]]},"set cookie1":{"main":[[{"node":"get cookie1","type":"main","index":0}]]},"get detail":{"main":[[{"node":"리스트 추출3","type":"main","index":0}]]},"내용 정규화1":{"main":[[{"node":"ai result","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"board list1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"05e2168d-1066-4bdd-85dc-c29355c157be","triggerCount":1,"shared":[{"createdAt":"2025-09-10T06:16:44.768Z","updatedAt":"2025-09-10T06:16:44.768Z","role":"workflow:owner","workflowId":"gvif8pcuMfulIlnX","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}