35.산림청-xBN3lQ2DMfnS7j2p.json
{"createdAt":"2025-09-10T06:52:52.021Z","updatedAt":"2025-09-18T00:00:05.175Z","id":"xBN3lQ2DMfnS7j2p","name":"35.산림청","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"=https://www.forest.go.kr/kfsweb/cop/bbs/selectBoardList.do?bbsId=BBSMSTR_1032&mn=NKFS_04_01_02","responseFormat":"string","options":{}},"name":"board list1","type":"n8n-nodes-base.httpRequest","position":[-3728,1104],"typeVersion":1,"id":"87ae430f-6045-439f-bc7b-7d653ad219c0","alwaysOutputData":false,"notesInFlow":true,"executeOnce":false,"retryOnFail":false,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2960,1104],"id":"429f8419-39fc-4571-9ffb-49e4b8d55f9f","name":"Loop Over Items"},{"parameters":{"extractionValues":{"values":[{"key":"attach_file_name","cssSelector":".b_file > dd:nth-child(2) > ul:nth-child(1) > li:nth-child(n+1) > a:nth-child(1) > span:nth-child(1)","returnArray":true},{"key":"attach_file_address","cssSelector":".b_file > dd:nth-child(2) > ul:nth-child(1) > li:nth-child(n+1) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"content","cssSelector":".b_content","returnValue":"html"}]},"options":{"trimValues":false}},"name":"리스트 추출3","type":"n8n-nodes-base.htmlExtract","position":[-1904,1104],"typeVersion":1,"id":"236c974b-f4be-469e-a8ce-683a5994503d"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회1').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"=jrsd_instt_nm","value":"=전지역","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('리스트 추출3').item.json.content }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"H","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"산림청","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $json.created_ts }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"={{ $('중복 자료 조회1').item.json.announcement }}","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=산림청","type":"string"},{"id":"23dda3dc-82ed-4bb2-97bc-44530a34ea22","name":"flpth_nm","value":"={{ $json.fileAddress }}","type":"string"},{"id":"7bfeb38f-9fdd-4aa7-a67d-9755a00f8488","name":"file_nm","value":"={{ $json.fileName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1504,1104],"id":"1cc9cb9f-0006-4a4e-9a9d-a24726a3653b","name":"ai result"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1344,1104],"id":"0b8cd30c-8af4-488d-a4a9-e91f63c4c2e1","name":"MySQL","retryOnFail":true,"credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"eec190bc-41d2-4abb-8e04-f6831b198008","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-1136,1104],"webhookId":"f87a3638-46f1-4514-ac35-3b6ca7641722"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\nconst extraAnnouncement = items[0]?.json?.extra_announcement || null;\nconst extraTitle = items[0]?.json?.extra_title || null;\n\n// -------------------- 어제 날짜 계산 --------------------\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yyyy = yesterday.getFullYear();\nconst mm = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst dd = String(yesterday.getDate()).padStart(2, '0');\nlet yesterdayStr = `${yyyy}-${mm}-${dd}`; \n\n// -------------------- 테스트용 날짜 지정 --------------------\n// 테스트용으로 원하는 날짜를 사용하려면 아래 주석 해제 후 날짜 입력\n// yesterdayStr = '2025-09-01';  \n// ------------------------------------------------------\n\n// -------------------- base URL --------------------\nconst baseUrl = \"https://www.forest.go.kr\";\n\n// -------------------- 공고 처리 --------------------\nlet result = [];\n\n// dates[0]에 해당하는 extra_announcement와 extra_title 먼저 처리\nif (extraAnnouncement && extraTitle) {\n  let cleanExtra = extraAnnouncement.replace(/;jsessionid=[^?]+/, '');\n  let extraDate = dates[0] ? dates[0].replace(/등록일|\\\\n/g, '').trim().replace(/\\./g, '-') : null;\n  \n  let cleanExtraTitle = extraTitle\n    .replace(/\\t/g, '')\n    .replace(/새글/g, '')\n    .replace(/[\\[\\]]/g, '')\n    .trim();\n\n  // dates[0]의 날짜가 테스트/어제 날짜와 일치할 경우 추가\n  if (extraDate === yesterdayStr) {\n    result.push({\n      json: {\n        announcement: `${baseUrl}${cleanExtra}`,\n        title: cleanExtraTitle,\n        date: extraDate\n      }\n    });\n  }\n}\n\n// dates[1]부터 처리 (dates[0] 제외하고 나머지)\nannouncements.forEach((announcement, index) => {\n  // dates[0]을 건너뛰기 위해 인덱스 조정\n  let dateIndex = index + 1;\n  let dateStr = dates[dateIndex] || null;\n  \n  if (dateStr) dateStr = dateStr.replace(/등록일|\\\\n/g, '').trim().replace(/\\./g, '-');\n\n  let cleanTitle = (titles[index] || '')\n    .replace(/\\t/g, '')\n    .replace(/새글/g, '')\n    .replace(/[\\[\\]]/g, '')\n    .trim();\n\n  let cleanAnnouncement = announcement.replace(/;jsessionid=[^?]+/, '');\n\n  if (dateStr === yesterdayStr) {\n    result.push({\n      json: {\n        announcement: `${baseUrl}${cleanAnnouncement}`,\n        title: cleanTitle,\n        date: dateStr\n      }\n    });\n  }\n});\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3168,1104],"id":"150790ec-064e-4361-92d6-e28bb23a8eae","name":"금일 기준1"},{"parameters":{"content":"사이트 주소\nhttps://www.forest.go.kr/kfsweb/cop/bbs/selectBoardList.do?bbsId=BBSMSTR_1032&mn=NKFS_04_01_02","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4256,992],"id":"f4418eb1-7dfe-4acf-b44d-99a73c545676","name":"Sticky Note1"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title,\n      announcement\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2800,880],"id":"85ef176c-8248-4dbe-9c91-32f510c717a9","name":"중복 자료 조회1"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-2656,880],"id":"08ad0cbe-fa33-4656-b648-f86e744ddfb7","name":"중복조회 MYSQL1","alwaysOutputData":true,"credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2512,880],"id":"83e46bf7-61c4-4c77-806e-5601ba4e160d","name":"중복조회 IF1"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":".tbl > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(2) > a:nth-child(2)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"title","cssSelector":".tbl > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(2) > a:nth-child(2)","returnArray":true},{"key":"date","cssSelector":".tbl > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(4)","returnArray":true},{"key":"extra_announcement","cssSelector":".tbl > tbody:nth-child(4) > tr:nth-child(1) > td:nth-child(2) > a:nth-child(3)","returnValue":"attribute","attribute":"href"},{"key":"extra_title","cssSelector":".tbl > tbody:nth-child(4) > tr:nth-child(1) > td:nth-child(2) > a:nth-child(3)"}]},"options":{"trimValues":true}},"name":"리스트 추출1","type":"n8n-nodes-base.htmlExtract","position":[-3472,1104],"typeVersion":1,"id":"2c7a9917-7cea-4d73-8581-a591356adbdb"},{"parameters":{"method":"POST","url":"=https://www.kesco.or.kr/bbs/selectBbs.do","sendBody":true,"bodyParameters":{"parameters":[{"name":"bbs_code","value":"MKB00001"},{"name":"bbs_seq","value":"={{ $('중복 자료 조회1').item.json.announcement }}"},{"name":"user_di"},{"name":"file_id"},{"name":"currentPage=1","value":"1"},{"name":"sch_type"},{"name":"sch_text"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2256,592],"id":"35fbbed6-85f8-4d86-b979-9756c08557c0","name":"set cookie1","onError":"continueRegularOutput"},{"parameters":{"jsCode":"return {\n  cookie: ($input.first().json.headers['set-cookie'] || []).join('; ')\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2080,592],"id":"d88ddaea-2fef-4f57-ba87-55e465db74f3","name":"get cookie1"},{"parameters":{"url":"={{ $('중복 자료 조회1').item.json.announcement }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:142.0) Gecko/20100101 Firefox/142.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Referer","value":"https://www.forest.go.kr/kfsweb/cop/bbs/selectBoardList.do?bbsId=BBSMSTR_1032&mn=NKFS_04_01_02"},{"name":"Connection","value":"keep-alive"},{"name":"Upgrade-Insecure-Requests","value":"1"},{"name":"Sec-Fetch-Dest","value":"document"},{"name":"Sec-Fetch-Mode","value":"navigate"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"Sec-Fetch-User","value":"?1"},{"name":"Priority","value":"u=0, i"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2192,1104],"id":"430e033b-83bb-4215-8125-7d2fa5eac20f","name":"get detail","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const names = $('리스트 추출3').first().json.attach_file_name || [];\nconst addresses = $('리스트 추출3').first().json.attach_file_address || [];\nconst contentRaw = $('리스트 추출3').first().json.content || \"\";\n\n// -------------------- base URL --------------------\nconst baseUrl = \"https://www.forest.go.kr\";\n\n// -------------------- 파일명 및 주소 배열 --------------------\nconst fileNames = [];\nconst fileAddresses = [];\n\n// -------------------- 파일명 & 주소 처리 --------------------\nfor (let i = 0; i < names.length; i++) {\n  // 파일명 정리: \\n, \\r, \\t 제거 + 용량 표기 제거\n  let cleanedName = names[i]?.replace(/[\\n\\r\\t]/g, \" \").trim() || \"\";\n  cleanedName = cleanedName.replace(/\\[\\s*[\\d\\.]+ ?[KMG]?B\\s*\\]/i, \"\").trim(); // [69.1 KB] 제거\n  const fileMatch = cleanedName.match(/[^\\/\\\\]+?\\.[a-zA-Z0-9]+/);\n  if (fileMatch) {\n    fileNames.push(fileMatch[0]);\n  }\n\n  // 주소 변환\n  const rawAddress = addresses[i];\n  if (rawAddress) {\n    // forest.go.kr 다운로드 URL은 그대로 사용\n    const cleanAddress = rawAddress.replace(/;jsessionid=[^?]+/, ''); // jsessionid 제거\n    fileAddresses.push(`${baseUrl}${cleanAddress}`);\n  }\n}\n\n// -------------------- 생성일자 (KST 기준) --------------------\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// -------------------- 결과 하나의 객체로 --------------------\nconst results = [\n  {\n    json: {\n      fileName: fileNames.join('@'),        // 파일명 모두 @로 연결\n      fileAddress: fileAddresses.join('@'), // 주소 모두 @로 연결\n      creat_p_nttm: formatted,\n      created_ts: formatted,\n    }\n  }\n];\n\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1712,1104],"id":"71256e5d-ed63-43ba-af34-16db908c66ef","name":"내용 정규화1"},{"parameters":{"rule":{"interval":[{"triggerAtHour":2,"triggerAtMinute":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4128,1104],"id":"010c331c-ed6c-4691-861a-4547e07c2bbe","name":"Schedule Trigger"},{"parameters":{"jsCode":"\nlet allItems = $(\"MySQL\").all();\n\nreturn allItems"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,640],"id":"ff0d97b3-aced-4bcf-9d62-c3f5291cb214","name":"성공한 횟수 세기"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"returnAll":true,"where":{"values":[{"column":"biz_info_id","condition":"LIKE","value":"10569538"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-2368,1616],"id":"e2b9bb71-9f98-4cec-a4a8-ff7df6fd93ea","name":"Select rows from a table","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"jsCode":"// Loop Over Items 노드 결과 전체 불러오기\nconst loopList = $('Loop Over Items').all();\n\n// 리스트 추출1 노드 결과 불러오기\nconst listItems = $('리스트 추출1').all();\n\n// 각 아이템에서 date 필드 길이 추출\nconst listCount = listItems[0]?.json?.date?.length || 0;\n\n// 각 Loop Over Items 아이템에서 insertId만 추출\nconst insertIds = loopList.map(item => item.json.data.insertId);\n\n// 배열로 반환\nreturn [{\n  json: {\n    insertIds,\n    listCount\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2592,1472],"id":"71321789-df25-413b-b627-067b6e337a7a","name":"공고 크롤링 상태 확인"}],"connections":{"board list1":{"main":[[{"node":"리스트 추출1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"공고 크롤링 상태 확인","type":"main","index":0}],[{"node":"중복 자료 조회1","type":"main","index":0}]]},"리스트 추출3":{"main":[[{"node":"내용 정규화1","type":"main","index":0}]]},"ai result":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"Wait","type":"main","index":0}]]},"금일 기준1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"중복 자료 조회1":{"main":[[{"node":"중복조회 MYSQL1","type":"main","index":0}]]},"중복조회 MYSQL1":{"main":[[{"node":"중복조회 IF1","type":"main","index":0}]]},"중복조회 IF1":{"main":[[{"node":"get detail","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"리스트 추출1":{"main":[[{"node":"금일 기준1","type":"main","index":0},{"node":"공고 크롤링 상태 확인","type":"main","index":0}]]},"set cookie1":{"main":[[{"node":"get cookie1","type":"main","index":0}]]},"get detail":{"main":[[{"node":"리스트 추출3","type":"main","index":0}]]},"내용 정규화1":{"main":[[{"node":"ai result","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"board list1","type":"main","index":0}]]},"공고 크롤링 상태 확인":{"main":[[]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c7bf291b-bf82-4839-9b69-1cd8a5744664","triggerCount":1,"shared":[{"createdAt":"2025-09-10T06:52:52.021Z","updatedAt":"2025-09-10T06:52:52.021Z","role":"workflow:owner","workflowId":"xBN3lQ2DMfnS7j2p","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}