37.한국마사회-GL6jW8Om2TJEa3aR.json
{"createdAt":"2025-09-10T09:09:50.526Z","updatedAt":"2025-09-18T07:14:21.470Z","id":"GL6jW8Om2TJEa3aR","name":"37.한국마사회","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-368,288],"id":"54d5063d-9ab2-4135-bfd8-b4dbb6254d96","name":"Loop Over Items1"},{"parameters":{"extractionValues":{"values":[{"key":"attach_file_name","cssSelector":"p.dwn-btn-list:nth-child(n) > a:nth-child(1) > span:nth-child(1)","returnArray":true},{"key":"attach_file_address","cssSelector":"p.dwn-btn-list:nth-child(n) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"content","cssSelector":".content","returnValue":"html"},{"key":"start_date","cssSelector":".table-basic > tbody:nth-child(3) > tr:nth-child(5) > td:nth-child(2)"},{"key":"end_date","cssSelector":".table-basic > tbody:nth-child(3) > tr:nth-child(5) > td:nth-child(4)"}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[1008,288],"typeVersion":1,"id":"96c25bfe-6c2a-4965-8f93-4dd3144bd6a6"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"=jrsd_instt_nm","value":"=전지역","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $json.content }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"H","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"한국마사회","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $json.created_ts }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=https://www.kraf.or.kr{{ $('중복 자료 조회').item.json.announcement }}","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=한국마사회","type":"string"},{"id":"23dda3dc-82ed-4bb2-97bc-44530a34ea22","name":"flpth_nm","value":"=","type":"string"},{"id":"7bfeb38f-9fdd-4aa7-a67d-9755a00f8488","name":"file_nm","value":"=","type":"string"},{"id":"a9fff96f-e85b-404c-94c5-6557e7d2098f","name":"reqst_begin_dt","value":"={{ $json.start_date }}","type":"string"},{"id":"4db014e3-16a2-4fda-8104-6adfd281f5b5","name":"reqst_end_dt","value":"={{ $json.end_date }}","type":"string"},{"id":"72007a8d-c809-4f40-9e3a-06f3c60eb045","name":"reqst_begin_end_de","value":"={{ $json.full_date }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1408,288],"id":"d32426d3-21fc-4ea6-93db-d15184945d73","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1792,288],"id":"a4e0ed62-62c9-44cf-a1b7-19540567d726","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"d4f2b20a-9190-470c-8390-45a6140cfcdf","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2080,288],"webhookId":"4953ff40-4e53-441f-aebe-ac5bf384128a"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\n\n// -------------------- 어제 날짜 계산 --------------------\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yyyy = yesterday.getFullYear();\nconst mm = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst dd = String(yesterday.getDate()).padStart(2, '0');\nlet yesterdayStr = `${yyyy}-${mm}-${dd}`;   // YYYY-MM-DD 형식\n// ------------------------------------------------------\n\n// -------------------- 테스트용 날짜 지정 --------------------\n// yesterdayStr = '2025-05-16'; \n// ------------------------------------------------------\n\n// -------------------- 결과 생성 --------------------\nconst result = announcements\n  .map((announcement, index) => {\n    // 날짜 앞부분만 추출\n    let dateStr = dates[index] || null;\n    if (dateStr) {\n      dateStr = dateStr.split('~')[0].trim();  // \"2025-05-16\"\n    }\n\n    return {\n      json: {\n        announcement: announcement,   // 그대로 사용\n        title: (titles[index] || '').replace(/[\\[\\]]/g, '').trim(),\n        date: dateStr\n      }\n    };\n  })\n  // 어제 날짜만 필터링\n  .filter(item => item.json.date === yesterdayStr);\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-576,288],"id":"991675af-29cd-42d9-afec-2158e1db1e79","name":"금일 기준"},{"parameters":{"content":"사이트 주소\nhttps://www.kraf.or.kr/0301/business/list","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1664,176],"id":"a7ff7e5e-3c07-4673-ab41-39816eb36c97","name":"Sticky Note"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title,\n      announcement\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,64],"id":"336627d2-313c-433e-81d1-5e9ed1bb4be2","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-64,64],"id":"61e2a82a-8a3e-4ef9-8286-8add56229781","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,64],"id":"e5ab9108-836c-4df0-a456-720c24de2f48","name":"중복조회 IF"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":"tr.row:nth-child(n) > td:nth-child(3) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"title","cssSelector":"tr.row:nth-child(n) > td:nth-child(3) > a:nth-child(1) > span:nth-child(1)","returnArray":true},{"key":"date","cssSelector":"tr.row:nth-child(n) > td:nth-child(5)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-880,288],"typeVersion":1,"id":"6998c2fb-55fd-43d1-950b-7d970dd0d813"},{"parameters":{"method":"POST","url":"=https://www.kesco.or.kr/bbs/selectBbs.do","sendBody":true,"bodyParameters":{"parameters":[{"name":"bbs_code","value":"MKB00001"},{"name":"bbs_seq","value":"={{ $('중복 자료 조회').item.json.announcement }}"},{"name":"user_di"},{"name":"file_id"},{"name":"currentPage=1","value":"1"},{"name":"sch_type"},{"name":"sch_text"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,-240],"id":"bf3cd3a0-8bcb-46bf-99cf-0e0e760800b6","name":"set cookie","onError":"continueRegularOutput"},{"parameters":{"jsCode":"return {\n  cookie: ($input.first().json.headers['set-cookie'] || []).join('; ')\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,-240],"id":"3c8145aa-f854-499e-ab98-c6a413feb0de","name":"get cookie"},{"parameters":{"url":"=https://www.kraf.or.kr{{ $('중복 자료 조회').item.json.announcement }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:142.0) Gecko/20100101 Firefox/142.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Referer","value":"https://www.kraf.or.kr/0301/business/list"},{"name":"Connection","value":"keep-alive"},{"name":"Upgrade-Insecure-Requests","value":"1"},{"name":"Sec-Fetch-Dest","value":"document"},{"name":"Sec-Fetch-Mode","value":"navigate"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"Sec-Fetch-User","value":"?1"},{"name":"Priority","value":"u=0, i"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,288],"id":"d8aa1d5e-8472-4f5d-912b-e4df9b47009b","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const item = $('리스트 추출2').first().json;\n\nconst names = item.attach_file_name || [];\nconst addresses = item.attach_file_address || [];\nconst contentRaw = item.content || \"\";\nconst startDateRaw = item.start_date || \"\";\nconst endDateRaw = item.end_date || \"\";\n\n// -------------------- 파일명 & 주소 배열 --------------------\nconst fileNames = [];\nconst fileAddresses = [];\n\nnames.forEach((rawName, index) => {\n    // 파일명 정리: 공백/줄바꿈 제거 및 [크기] 제거\n    let cleanedName = rawName.replace(/[\\n\\r\\t]/g, \" \").replace(/\\[[^\\]]+\\]/g, \"\").trim();\n    fileNames.push(cleanedName);\n\n    // 주소 변환: baseURL 적용 + jsessionid 제거\n    let rawAddress = addresses[index];\n    if (rawAddress) {\n        rawAddress = rawAddress.replace(/;jsessionid=[^?]+/, \"\"); // jsessionid 제거\n        fileAddresses.push(`https://www.kraf.or.kr${rawAddress}`);\n    }\n});\n\n// -------------------- 생성일자 (KST 기준) --------------------\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// -------------------- start_date / end_date 처리 --------------------\nfunction formatDate(dateStr) {\n    if (!dateStr) return \"\";\n    const d = new Date(dateStr);\n    if (isNaN(d)) return \"\";\n\n    const y = d.getFullYear();\n    const m = String(d.getMonth() + 1).padStart(2, '0');\n    const day = String(d.getDate()).padStart(2, '0');\n    return `${y}-${m}-${day}`;\n}\n\nfunction formatDateCompact(dateStr) {\n    if (!dateStr) return \"\";\n    const d = new Date(dateStr);\n    if (isNaN(d)) return \"\";\n\n    const y = d.getFullYear();\n    const m = String(d.getMonth() + 1).padStart(2, '0');\n    const day = String(d.getDate()).padStart(2, '0');\n    return `${y}${m}${day}`;\n}\n\n// -------------------- 테스트용 날짜 (필요시 사용) --------------------\n// const startDateRaw = \"2025-05-16 09:00\";\n// const endDateRaw = \"2025-05-30 18:00\";\n\nconst startDate = formatDate(startDateRaw);\nconst endDate = formatDate(endDateRaw);\nconst fullDate = startDate && endDate ? `${formatDateCompact(startDateRaw)} ~ ${formatDateCompact(endDateRaw)}` : \"\";\n\n// -------------------- 결과 객체 --------------------\nreturn [{\n    json: {\n        fileName: fileNames.join('@'),         // 파일명 모두 @로 연결\n        fileAddress: fileAddresses.join('@'),  // 주소 모두 @로 연결\n        creat_p_nttm: formatted,\n        created_ts: formatted,\n        content: contentRaw,\n        start_date: startDate,                 // yyyy-mm-dd\n        end_date: endDate,                     // yyyy-mm-dd\n        full_date: fullDate                    // yyyymmdd ~ yyyymmdd\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,288],"id":"ebf270bd-f023-478c-b34f-2b355cbb0991","name":"내용 정규화"},{"parameters":{"url":"https://www.kraf.or.kr/0301/business/list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:142.0) Gecko/20100101 Firefox/142.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Connection","value":"keep-alive"},{"name":"Upgrade-Insecure-Requests","value":"1"},{"name":"Sec-Fetch-Dest","value":"document"},{"name":"Sec-Fetch-Mode","value":"navigate"},{"name":"Sec-Fetch-Site","value":"none"},{"name":"Sec-Fetch-User","value":"?1"},{"name":"Priority","value":"u=0, i"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1136,288],"id":"7e24021a-8fad-4be0-ac92-687a0affc02d","name":"board list","onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1504,352],"id":"ad1d701b-4a1f-400b-8129-ce3faab4d9df","name":"Schedule Trigger"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"total_count","value":"={{ $json.date.length }}"},{"column":"type","value":"total_count"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-528,608],"id":"5e9b1202-24dc-440a-969e-3e16529f332b","name":"공고상태전체개수저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"jsCode":"// Function 노드 안\nreturn [\n  {\n    json: {\n      workflowName: $workflow.name,\n      insertId:$input.first().json.data.insertId\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1952,96],"id":"0bc216ea-394f-4fd3-a4ca-aad60cab72c4","name":"공고상태정리"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"insertId","value":"={{ $json.insertId }}"},{"column":"type","value":"detail"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2160,96],"id":"db70ea0d-5287-4c4c-83ce-762094ae6e16","name":"공고상태상세저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}}],"connections":{"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"내용 정규화","type":"main","index":0}]]},"ai result1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0},{"node":"공고상태정리","type":"main","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"get detail1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0},{"node":"공고상태전체개수저장","type":"main","index":0}]]},"set cookie":{"main":[[{"node":"get cookie","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"내용 정규화":{"main":[[{"node":"ai result1","type":"main","index":0}]]},"board list":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"board list","type":"main","index":0}]]},"공고상태정리":{"main":[[{"node":"공고상태상세저장","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7bce64f1-45de-453d-91ac-59569a085f34","triggerCount":1,"shared":[{"createdAt":"2025-09-10T09:09:50.526Z","updatedAt":"2025-09-10T09:09:50.526Z","role":"workflow:owner","workflowId":"GL6jW8Om2TJEa3aR","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}