39.농림수산식품교육문화정보원-LxbUGE2o5mBfJDh5.json
{"createdAt":"2025-09-11T01:42:53.005Z","updatedAt":"2025-09-11T02:06:11.788Z","id":"LxbUGE2o5mBfJDh5","name":"39.농림수산식품교육문화정보원","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1648,288],"id":"99e32744-7095-4ec5-be2d-c9c618262f93","name":"Schedule Trigger"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-368,288],"id":"2079cd0d-ffad-41cb-aa6c-95c706518a90","name":"Loop Over Items1"},{"parameters":{"extractionValues":{"values":[{"key":"attach_file_name","cssSelector":"p.file_each:nth-child(n) > a:nth-child(1)","returnArray":true},{"key":"attach_file_address","cssSelector":"p.file_each:nth-child(n) > a:nth-child(1)","returnValue":"attribute","attribute":"onclick","returnArray":true},{"key":"content","cssSelector":".board_view_con","returnValue":"html"}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[1008,288],"typeVersion":1,"id":"1f4c284f-ed7e-457e-a468-f9c8af521c1a"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"=jrsd_instt_nm","value":"=전지역","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $json.content }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"C","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"농림수산식품교육문화정보원","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $json.created_ts }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=https://www.epis.or.kr/home/kor/M373320876/board.do?deleteAt=N&act=detail&idx={{ $('중복 자료 조회').item.json.announcement }}&searchValue1=0&searchKeyword=&pageIndex=1","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=농림수산식품교육문화정보원","type":"string"},{"id":"23dda3dc-82ed-4bb2-97bc-44530a34ea22","name":"flpth_nm","value":"=","type":"string"},{"id":"7bfeb38f-9fdd-4aa7-a67d-9755a00f8488","name":"file_nm","value":"=","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1408,288],"id":"14602b01-cbae-4f38-bcff-073210869c87","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1792,288],"id":"5f335ad3-df3d-449c-80f8-e5f421d2a66e","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"585086f5-4c87-4d54-80be-0cac134aec4c","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1952,288],"webhookId":"57c36c38-91fd-42a3-b505-afcf048dae9b"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\n\n// -------------------- 어제 날짜 계산 --------------------\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yyyy = yesterday.getFullYear();\nconst mm = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst dd = String(yesterday.getDate()).padStart(2, '0');\nlet yesterdayStr = `${yyyy}-${mm}-${dd}`;   // YYYY-MM-DD 형식\n// ------------------------------------------------------\n\n// -------------------- 테스트용 날짜 지정 --------------------\n// 테스트용으로 특정 날짜 확인 시 아래 주석 해제 후 사용\nyesterdayStr = '2025-07-07';  // YYYY-MM-DD 형식으로 원하는 날짜 입력\n// ------------------------------------------------------\n\n// -------------------- 결과 생성 --------------------\nconst result = announcements\n  .map((announcement, index) => {\n    // fn_edit 문자열에서 첫 번째 해시값 추출\n    const announcementId = announcement.match(/fn_edit\\('detail',\\s*'([a-f0-9]+)'/)[1];\n\n    // 날짜 정리\n    let dateStr = dates[index] || null;\n    if (dateStr) {\n      dateStr = dateStr.split('~')[0].trim();  // 기간 있을 경우 앞부분만\n    }\n\n    return {\n      json: {\n        announcement: announcementId,  // cb00d1a0008a85e71a41b8741facbffe...\n        title: (titles[index] || '').replace(/[\\[\\]]/g, '').trim(),\n        date: dateStr\n      }\n    };\n  })\n  // 어제 날짜만 필터링\n  .filter(item => item.json.date === yesterdayStr);\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-576,288],"id":"e575d3b9-5210-460f-b843-b3722d9d5f17","name":"금일 기준"},{"parameters":{"content":"사이트 주소\nhttps://www.epis.or.kr/home/kor/M373320876/board.do?","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1664,176],"id":"9dc47adc-7206-4816-96c9-1c8fba386076","name":"Sticky Note"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title,\n      announcement\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,64],"id":"12103054-5007-4ccd-b303-e2155dfbc491","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-64,64],"id":"7362bbeb-f1bd-4e8f-8992-c34c3ee205c7","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,64],"id":"6a43907d-6379-4182-a7c1-4ee5a3aa2c07","name":"중복조회 IF"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":".table_basics_area > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(2) > a:nth-child(1)","returnValue":"attribute","attribute":"onclick","returnArray":true},{"key":"title","cssSelector":".table_basics_area > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(2) > a:nth-child(1)","returnArray":true},{"key":"date","cssSelector":".table_basics_area > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(4)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-880,288],"typeVersion":1,"id":"b66dbb14-995b-4ef6-ae14-45faad0b23d6"},{"parameters":{"method":"POST","url":"=https://www.kesco.or.kr/bbs/selectBbs.do","sendBody":true,"bodyParameters":{"parameters":[{"name":"bbs_code","value":"MKB00001"},{"name":"bbs_seq","value":"={{ $('중복 자료 조회').item.json.announcement }}"},{"name":"user_di"},{"name":"file_id"},{"name":"currentPage=1","value":"1"},{"name":"sch_type"},{"name":"sch_text"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,-240],"id":"e94e8797-c073-47c7-91ac-ab688b29b377","name":"set cookie","onError":"continueRegularOutput"},{"parameters":{"jsCode":"return {\n  cookie: ($input.first().json.headers['set-cookie'] || []).join('; ')\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,-240],"id":"9924c8a2-bd77-4fff-9b38-b76cfecd28c3","name":"get cookie"},{"parameters":{"url":"https://www.epis.or.kr/home/kor/M373320876/board.do","sendQuery":true,"queryParameters":{"parameters":[{"name":"deleteAt","value":"N"},{"name":"act","value":"detail"},{"name":"idx","value":"={{ $('중복 자료 조회').item.json.announcement }}"},{"name":"searchValue1","value":"0"},{"name":"searchKeyword"},{"name":"pageIndex","value":"1"},{"name":"tabIndex"},{"name":"searchCondition","value":"SUBJECT"},{"name":"searchKeyword"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:142.0) Gecko/20100101 Firefox/142.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Connection","value":"keep-alive"},{"name":"Referer","value":"https://www.epis.or.kr/home/kor/M373320876/board.do?"},{"name":"Upgrade-Insecure-Requests","value":"1"},{"name":"Sec-Fetch-Dest","value":"document"},{"name":"Sec-Fetch-Mode","value":"navigate"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"Sec-Fetch-User","value":"?1"},{"name":"Priority","value":"u=0, i"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,288],"id":"6841cd90-1961-406e-8768-a11846de435e","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const item = $('리스트 추출2').first().json;\n\nconst names = item.attach_file_name || [];\nconst addresses = item.attach_file_address || [];\nconst contentRaw = item.content || \"\";\n\n// -------------------- 파일명 & 주소 배열 처리 --------------------\nconst baseURL = \"https://www.ekape.or.kr\";\n\nconst fileNames = names.map(name =>\n    name.replace(/[\\n\\r\\t]/g, \" \").replace(/\\[[^\\]]+\\]/g, \"\").trim()\n);\n\nconst fileAddresses = addresses.map(addr => {\n    if (!addr) return \"\";\n    // attachfileDownload('경로','boardInfoNo','boardNo','fileId') 형태에서 URL 추출\n    const match = addr.match(/attachfileDownload\\('([^']+)','([^']+)','([^']+)','([^']+)'\\)/);\n    if (!match) return \"\";\n    const [_full, path, boardInfoNo, boardNo, fileId] = match;\n    return `${baseURL}${path}?boardInfoNo=${boardInfoNo}&boardNo=${boardNo}&fileId=${fileId}`;\n});\n\n// -------------------- 생성일자 (KST 기준) --------------------\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst formatted = `${kst.getFullYear()}-${String(kst.getMonth()+1).padStart(2,'0')}-${String(kst.getDate()).padStart(2,'0')} ${String(kst.getHours()).padStart(2,'0')}:${String(kst.getMinutes()).padStart(2,'0')}:${String(kst.getSeconds()).padStart(2,'0')}`;\n\n// -------------------- 결과 객체 --------------------\nreturn [{\n    json: {\n        fileName: fileNames.join('@'),        // 파일명 모두 @로 연결\n        fileAddress: fileAddresses.join('@'), // 절대 URL 모두 @로 연결\n        creat_p_nttm: formatted,\n        created_ts: formatted,\n        content: contentRaw\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,288],"id":"8749739e-85ea-4ac2-aa1d-629e2e93e136","name":"내용 정규화"},{"parameters":{"url":"https://www.epis.or.kr/home/kor/M373320876/board.do?","options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1136,288],"id":"e27d29e2-ee63-46ae-af79-b5bc90742435","name":"board list","onError":"continueRegularOutput"}],"connections":{"Schedule Trigger":{"main":[[{"node":"board list","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"내용 정규화","type":"main","index":0}]]},"ai result1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"get detail1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0}]]},"set cookie":{"main":[[{"node":"get cookie","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"내용 정규화":{"main":[[{"node":"ai result1","type":"main","index":0}]]},"board list":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ab5bcc41-adec-4faf-a7c1-196b57bbd06d","triggerCount":1,"shared":[{"createdAt":"2025-09-11T01:42:53.005Z","updatedAt":"2025-09-11T01:42:53.005Z","role":"workflow:owner","workflowId":"LxbUGE2o5mBfJDh5","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}