40.한국식품산업클러스터진흥원-ofmzyYSEJxxSweIJ.json
{"updatedAt":"2026-02-02T06:02:21.520Z","createdAt":"2025-09-11T02:12:38.848Z","id":"ofmzyYSEJxxSweIJ","name":"40.한국식품산업클러스터진흥원","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-368,288],"id":"f13868f7-802a-470a-b479-8bded431d8c0","name":"Loop Over Items1"},{"parameters":{"extractionValues":{"values":[{"key":"content","cssSelector":".bsn-view-details","returnValue":"html"},{"key":"announcement_date","cssSelector":"div.col-list:nth-child(1) > dl:nth-child(2) > dd:nth-child(2)"}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[1008,288],"typeVersion":1,"id":"bdd1a436-eec4-4821-a29c-fee927de9b4a"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"=jrsd_instt_nm","value":"=전지역","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $json.content }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"H","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"한국식품산업클러스터진흥원","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $json.created_ts }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=https://www.foodpolis.kr/dfip/fo/bss/bns/usr/viewNotiList.do","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=한국식품산업클러스터진흥원","type":"string"},{"id":"23dda3dc-82ed-4bb2-97bc-44530a34ea22","name":"flpth_nm","value":"=","type":"string"},{"id":"7bfeb38f-9fdd-4aa7-a67d-9755a00f8488","name":"file_nm","value":"=","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1408,288],"id":"aec291d4-85ab-4bdf-a41d-12f2bc049695","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1792,288],"id":"f269b7ad-bebb-4245-8983-bac8c59fa5fc","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"153c22c0-111e-4811-bc1b-550e3c7e92a9","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2000,288],"webhookId":"2ee5e019-cf66-4c14-9bdb-6074bde1fdf4"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\n\n// -------------------- 어제 날짜 계산 --------------------\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yyyy = yesterday.getFullYear();\nconst mm = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst dd = String(yesterday.getDate()).padStart(2, '0');\nlet yesterdayStr = `${yyyy}-${mm}-${dd}`;   // YYYY-MM-DD 형식\n// ------------------------------------------------------\n\n// -------------------- 테스트용 날짜 지정 --------------------\n// 테스트용으로 특정 날짜 확인 시 아래 주석 해제 후 사용\n// yesterdayStr = '2025-09-02';  // YYYY-MM-DD 형식으로 원하는 날짜 입력\n// ------------------------------------------------------\n\n// -------------------- 결과 생성 --------------------\nconst result = announcements\n  .map((announcement, index) => {\n    // postViewNoti 문자열에서 두 값 추출\n    const match = announcement.match(/postViewNoti\\('([^']+)',\\s*'([^']+)'\\)/);\n    const announcementId = match ? match[1] : null;\n    const programId = match ? match[2] : null;\n\n    // 날짜 정리 (앞쪽 값만)\n    let dateStr = dates[index] ? dates[index].split('~')[0].trim() : null;\n\n    return {\n      json: {\n        announcement: announcementId,  // SPPB_2025_00059\n        program: programId,            // PRGM202412123326\n        title: (titles[index] || '').replace(/[\\[\\]]/g, '').trim(),\n        date: dateStr\n      }\n    };\n  })\n  // 어제 날짜만 필터링\n  .filter(item => item.json.date === yesterdayStr);\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-576,288],"id":"d000f8a9-a915-4964-aeb4-897f4448cc2d","name":"금일 기준"},{"parameters":{"content":"사이트 주소\nhttps://www.foodpolis.kr/dfip/fo/bss/bns/usr/viewNotiList.do","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1664,176],"id":"87436e47-8e25-4aa0-909a-82e9ed898afb","name":"Sticky Note"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\nlet program = $input.first().json.program\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title,\n      announcement,\n      program,\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,64],"id":"ac025d67-58e5-4a5a-ac67-6fbdcbca6fb4","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-64,64],"id":"f1a497cb-c7f9-430e-8738-b08a5e381733","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,64],"id":"217dadfc-e3a0-49f6-8318-17b3ebfeb1eb","name":"중복조회 IF"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":"li.post-it:nth-child(n) > a:nth-child(1)","returnValue":"attribute","attribute":"onclick","returnArray":true},{"key":"title","cssSelector":"li.post-it:nth-child(n) > a:nth-child(1) > div:nth-child(2)","returnArray":true},{"key":"date","cssSelector":"li.post-it:nth-child(n) > a:nth-child(1) > div:nth-child(1) > div:nth-child(2) > dl:nth-child(1) > dd:nth-child(2) > span:nth-child(1)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-880,288],"typeVersion":1,"id":"7eddc701-c650-4dcc-b0eb-9c5ea6879a80"},{"parameters":{"method":"POST","url":"=https://www.kesco.or.kr/bbs/selectBbs.do","sendBody":true,"bodyParameters":{"parameters":[{"name":"bbs_code","value":"MKB00001"},{"name":"bbs_seq","value":"={{ $('중복 자료 조회').item.json.announcement }}"},{"name":"user_di"},{"name":"file_id"},{"name":"currentPage=1","value":"1"},{"name":"sch_type"},{"name":"sch_text"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,-240],"id":"d32dd277-370f-4242-9abe-b6da7a9d3b45","name":"set cookie","onError":"continueRegularOutput"},{"parameters":{"jsCode":"return {\n  cookie: ($input.first().json.headers['set-cookie'] || []).join('; ')\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,-240],"id":"0f4be9c9-a9b4-4ef5-835b-7f59d918b5bc","name":"get cookie"},{"parameters":{"method":"POST","url":"https://www.foodpolis.kr/dfip/fo/bss/bns/usr/viewNoti.do","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:142.0) Gecko/20100101 Firefox/142.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Referer","value":"https://www.foodpolis.kr/dfip/fo/bss/bns/usr/viewNotiList.do"},{"name":"Origin","value":"https://www.foodpolis.kr"},{"name":"Connection","value":"keep-alive"},{"name":"Cookie","value":"XSRF-TOKEN=e304873d-536c-4e3a-83de-b84807e284c9; JSESSIONID=E24D2985AF9A794D59FBFFB675A17F84.jvm1; 2-rr=a39744d65bf2d3edec11d818763d6e7d; SCOUTER=x79ojhlhqnrnp1; SRV=76c86455-71a0-445e-afec-83d86000c640"},{"name":"Upgrade-Insecure-Requests","value":"1"},{"name":"Sec-Fetch-Dest","value":"document"},{"name":"Sec-Fetch-Mode","value":"navigate"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"Sec-Fetch-User","value":"?1"},{"name":"Priority","value":"u=0, i"},{"name":"cookie","value":"XSRF-TOKEN=e304873d-536c-4e3a-83de-b84807e284c9;JSESSIONID=E24D2985AF9A794D59FBFFB675A17F84.jvm1;2-rr=a39744d65bf2d3edec11d818763d6e7d;SCOUTER=x79ojhlhqnrnp1;SRV=76c86455-71a0-445e-afec-83d86000c640;"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"sprtPbancNo","value":"={{ $('중복 자료 조회').item.json.announcement }}"},{"name":"prgrmId","value":"={{ $('중복 자료 조회').item.json.program }}"},{"name":"_csrf","value":"e304873d-536c-4e3a-83de-b84807e284c9"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,288],"id":"45aa65c9-a91e-4c26-a9a0-72ee81074a16","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const item = $('리스트 추출2').first().json;\n\nconst contentRaw = item.content || \"\";\nconst announcementDate = item.announcement_date || \"\";\n\n// -------------------- 날짜 처리 --------------------\nlet startDate = null;\nlet endDate = null;\nlet startEndDate = null;\n\nif (announcementDate) {\n    const parts = announcementDate.split('~');\n    if (parts.length === 2) {\n        startDate = parts[0].trim().slice(0, 10); // YYYY-MM-DD\n        endDate = parts[1].trim().slice(0, 10);   // YYYY-MM-DD\n        // YYYYMMDD~YYYYMMDD\n        startEndDate = startDate.replace(/-/g, '') + \"~\" + endDate.replace(/-/g, '');\n    }\n}\n\n// -------------------- 생성일자 (KST 기준) --------------------\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst formatted = `${kst.getFullYear()}-${String(kst.getMonth()+1).padStart(2,'0')}-${String(kst.getDate()).padStart(2,'0')} ${String(kst.getHours()).padStart(2,'0')}:${String(kst.getMinutes()).padStart(2,'0')}:${String(kst.getSeconds()).padStart(2,'0')}`;\n\n// -------------------- 결과 객체 --------------------\nreturn [{\n    json: {\n        start_date: startDate,      // YYYY-MM-DD\n        end_date: endDate,          // YYYY-MM-DD\n        startendDate: startEndDate, // YYYYMMDD~YYYYMMDD\n        creat_p_nttm: formatted,\n        created_ts: formatted,\n        content: contentRaw\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,288],"id":"c13b76cf-37a8-415b-9150-c6d25b4068aa","name":"내용 정규화"},{"parameters":{"method":"POST","url":"https://www.foodpolis.kr/dfip/fo/bss/bns/usr/viewNotiListData.Ajax","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:142.0) Gecko/20100101 Firefox/142.0"},{"name":"Accept","value":"*/*"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"X-CSRF-Token","value":"undefined"},{"name":"REQUEST-TYPE","value":"AJAX"},{"name":"X-XSRF-TOKEN","value":"e304873d-536c-4e3a-83de-b84807e284c9"},{"name":"X-Requested-With","value":"XMLHttpRequest"},{"name":"Origin","value":"https://www.foodpolis.kr"},{"name":"Connection","value":"keep-alive"},{"name":"Referer","value":"https://www.foodpolis.kr/dfip/fo/bss/bns/usr/viewNotiList.do"},{"name":"Cookie","value":"XSRF-TOKEN=e304873d-536c-4e3a-83de-b84807e284c9; JSESSIONID=E24D2985AF9A794D59FBFFB675A17F84.jvm1; 2-rr=a39744d65bf2d3edec11d818763d6e7d; SCOUTER=x79ojhlhqnrnp1; SRV=76c86455-71a0-445e-afec-83d86000c640"},{"name":"Sec-Fetch-Dest","value":"empty"},{"name":"Sec-Fetch-Mode","value":"cors"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"cookie","value":"XSRF-TOKEN=e304873d-536c-4e3a-83de-b84807e284c9;JSESSIONID=E24D2985AF9A794D59FBFFB675A17F84.jvm1;2-rr=a39744d65bf2d3edec11d818763d6e7d;SCOUTER=x79ojhlhqnrnp1;SRV=76c86455-71a0-445e-afec-83d86000c640;"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"limit","value":"10"},{"name":"page","value":"1"},{"name":"params[_csrf]","value":"e304873d-536c-4e3a-83de-b84807e284c9"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1136,288],"id":"c8b44b0f-c23a-4933-8a72-d483761683cd","name":"board list","onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1296,288],"id":"20db0e9d-9ec7-4e3e-9671-fc72af988018","name":"Schedule Trigger"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"total_count","value":"={{ $json.date.length }}"},{"column":"type","value":"total_count"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-560,640],"id":"4591936a-fd49-4a74-afee-8bf0d65d5a0e","name":"공고상태전체개수저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"jsCode":"// Function 노드 안\nreturn [\n  {\n    json: {\n      workflowName: $workflow.name,\n      insertId:$input.first().json.data.insertId\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,96],"id":"37d01c18-26f2-41c5-9761-6ba7cc407b7d","name":"공고상태정리","disabled":true},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"insertId","value":"={{ $json.insertId }}"},{"column":"type","value":"detail"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2208,96],"id":"32b6ad08-9f99-48c6-9049-d30fb17b5cfc","name":"공고상태상세저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}},"disabled":true}],"connections":{"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"내용 정규화","type":"main","index":0}]]},"ai result1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0},{"node":"공고상태정리","type":"main","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"get detail1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0},{"node":"공고상태전체개수저장","type":"main","index":0}]]},"set cookie":{"main":[[{"node":"get cookie","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"내용 정규화":{"main":[[{"node":"ai result1","type":"main","index":0}]]},"board list":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[]]},"공고상태정리":{"main":[[{"node":"공고상태상세저장","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e60cefae-22ae-4576-bd85-8a52612ea986","activeVersionId":"d93a0e00-cbc0-493d-99ce-f431f43e437e","triggerCount":1,"shared":[{"updatedAt":"2025-09-11T02:12:38.848Z","createdAt":"2025-09-11T02:12:38.848Z","role":"workflow:owner","workflowId":"ofmzyYSEJxxSweIJ","projectId":"YGqg9zdxGQSC73yC"}],"activeVersion":{"updatedAt":"2025-12-20T02:52:22.088Z","createdAt":"2025-12-20T02:52:22.088Z","versionId":"d93a0e00-cbc0-493d-99ce-f431f43e437e","workflowId":"ofmzyYSEJxxSweIJ","nodes":[{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-368,288],"id":"f13868f7-802a-470a-b479-8bded431d8c0","name":"Loop Over Items1"},{"parameters":{"extractionValues":{"values":[{"key":"content","cssSelector":".bsn-view-details","returnValue":"html"},{"key":"announcement_date","cssSelector":"div.col-list:nth-child(1) > dl:nth-child(2) > dd:nth-child(2)"}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[1008,288],"typeVersion":1,"id":"bdd1a436-eec4-4821-a29c-fee927de9b4a"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"=jrsd_instt_nm","value":"=전지역","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $json.content }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"H","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"한국식품산업클러스터진흥원","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $json.created_ts }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=https://www.foodpolis.kr/dfip/fo/bss/bns/usr/viewNotiList.do","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=한국식품산업클러스터진흥원","type":"string"},{"id":"23dda3dc-82ed-4bb2-97bc-44530a34ea22","name":"flpth_nm","value":"=","type":"string"},{"id":"7bfeb38f-9fdd-4aa7-a67d-9755a00f8488","name":"file_nm","value":"=","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1408,288],"id":"aec291d4-85ab-4bdf-a41d-12f2bc049695","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1792,288],"id":"f269b7ad-bebb-4245-8983-bac8c59fa5fc","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"153c22c0-111e-4811-bc1b-550e3c7e92a9","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2000,288],"webhookId":"2ee5e019-cf66-4c14-9bdb-6074bde1fdf4"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\n\n// -------------------- 어제 날짜 계산 --------------------\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yyyy = yesterday.getFullYear();\nconst mm = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst dd = String(yesterday.getDate()).padStart(2, '0');\nlet yesterdayStr = `${yyyy}-${mm}-${dd}`;   // YYYY-MM-DD 형식\n// ------------------------------------------------------\n\n// -------------------- 테스트용 날짜 지정 --------------------\n// 테스트용으로 특정 날짜 확인 시 아래 주석 해제 후 사용\n// yesterdayStr = '2025-09-02';  // YYYY-MM-DD 형식으로 원하는 날짜 입력\n// ------------------------------------------------------\n\n// -------------------- 결과 생성 --------------------\nconst result = announcements\n  .map((announcement, index) => {\n    // postViewNoti 문자열에서 두 값 추출\n    const match = announcement.match(/postViewNoti\\('([^']+)',\\s*'([^']+)'\\)/);\n    const announcementId = match ? match[1] : null;\n    const programId = match ? match[2] : null;\n\n    // 날짜 정리 (앞쪽 값만)\n    let dateStr = dates[index] ? dates[index].split('~')[0].trim() : null;\n\n    return {\n      json: {\n        announcement: announcementId,  // SPPB_2025_00059\n        program: programId,            // PRGM202412123326\n        title: (titles[index] || '').replace(/[\\[\\]]/g, '').trim(),\n        date: dateStr\n      }\n    };\n  })\n  // 어제 날짜만 필터링\n  .filter(item => item.json.date === yesterdayStr);\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-576,288],"id":"d000f8a9-a915-4964-aeb4-897f4448cc2d","name":"금일 기준"},{"parameters":{"content":"사이트 주소\nhttps://www.foodpolis.kr/dfip/fo/bss/bns/usr/viewNotiList.do","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1664,176],"id":"87436e47-8e25-4aa0-909a-82e9ed898afb","name":"Sticky Note"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\nlet program = $input.first().json.program\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title,\n      announcement,\n      program,\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,64],"id":"ac025d67-58e5-4a5a-ac67-6fbdcbca6fb4","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-64,64],"id":"f1a497cb-c7f9-430e-8738-b08a5e381733","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,64],"id":"217dadfc-e3a0-49f6-8318-17b3ebfeb1eb","name":"중복조회 IF"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":"li.post-it:nth-child(n) > a:nth-child(1)","returnValue":"attribute","attribute":"onclick","returnArray":true},{"key":"title","cssSelector":"li.post-it:nth-child(n) > a:nth-child(1) > div:nth-child(2)","returnArray":true},{"key":"date","cssSelector":"li.post-it:nth-child(n) > a:nth-child(1) > div:nth-child(1) > div:nth-child(2) > dl:nth-child(1) > dd:nth-child(2) > span:nth-child(1)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-880,288],"typeVersion":1,"id":"7eddc701-c650-4dcc-b0eb-9c5ea6879a80"},{"parameters":{"method":"POST","url":"=https://www.kesco.or.kr/bbs/selectBbs.do","sendBody":true,"bodyParameters":{"parameters":[{"name":"bbs_code","value":"MKB00001"},{"name":"bbs_seq","value":"={{ $('중복 자료 조회').item.json.announcement }}"},{"name":"user_di"},{"name":"file_id"},{"name":"currentPage=1","value":"1"},{"name":"sch_type"},{"name":"sch_text"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,-240],"id":"d32dd277-370f-4242-9abe-b6da7a9d3b45","name":"set cookie","onError":"continueRegularOutput"},{"parameters":{"jsCode":"return {\n  cookie: ($input.first().json.headers['set-cookie'] || []).join('; ')\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,-240],"id":"0f4be9c9-a9b4-4ef5-835b-7f59d918b5bc","name":"get cookie"},{"parameters":{"method":"POST","url":"https://www.foodpolis.kr/dfip/fo/bss/bns/usr/viewNoti.do","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:142.0) Gecko/20100101 Firefox/142.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Referer","value":"https://www.foodpolis.kr/dfip/fo/bss/bns/usr/viewNotiList.do"},{"name":"Origin","value":"https://www.foodpolis.kr"},{"name":"Connection","value":"keep-alive"},{"name":"Cookie","value":"XSRF-TOKEN=e304873d-536c-4e3a-83de-b84807e284c9; JSESSIONID=E24D2985AF9A794D59FBFFB675A17F84.jvm1; 2-rr=a39744d65bf2d3edec11d818763d6e7d; SCOUTER=x79ojhlhqnrnp1; SRV=76c86455-71a0-445e-afec-83d86000c640"},{"name":"Upgrade-Insecure-Requests","value":"1"},{"name":"Sec-Fetch-Dest","value":"document"},{"name":"Sec-Fetch-Mode","value":"navigate"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"Sec-Fetch-User","value":"?1"},{"name":"Priority","value":"u=0, i"},{"name":"cookie","value":"XSRF-TOKEN=e304873d-536c-4e3a-83de-b84807e284c9;JSESSIONID=E24D2985AF9A794D59FBFFB675A17F84.jvm1;2-rr=a39744d65bf2d3edec11d818763d6e7d;SCOUTER=x79ojhlhqnrnp1;SRV=76c86455-71a0-445e-afec-83d86000c640;"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"sprtPbancNo","value":"={{ $('중복 자료 조회').item.json.announcement }}"},{"name":"prgrmId","value":"={{ $('중복 자료 조회').item.json.program }}"},{"name":"_csrf","value":"e304873d-536c-4e3a-83de-b84807e284c9"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,288],"id":"45aa65c9-a91e-4c26-a9a0-72ee81074a16","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const item = $('리스트 추출2').first().json;\n\nconst contentRaw = item.content || \"\";\nconst announcementDate = item.announcement_date || \"\";\n\n// -------------------- 날짜 처리 --------------------\nlet startDate = null;\nlet endDate = null;\nlet startEndDate = null;\n\nif (announcementDate) {\n    const parts = announcementDate.split('~');\n    if (parts.length === 2) {\n        startDate = parts[0].trim().slice(0, 10); // YYYY-MM-DD\n        endDate = parts[1].trim().slice(0, 10);   // YYYY-MM-DD\n        // YYYYMMDD~YYYYMMDD\n        startEndDate = startDate.replace(/-/g, '') + \"~\" + endDate.replace(/-/g, '');\n    }\n}\n\n// -------------------- 생성일자 (KST 기준) --------------------\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst formatted = `${kst.getFullYear()}-${String(kst.getMonth()+1).padStart(2,'0')}-${String(kst.getDate()).padStart(2,'0')} ${String(kst.getHours()).padStart(2,'0')}:${String(kst.getMinutes()).padStart(2,'0')}:${String(kst.getSeconds()).padStart(2,'0')}`;\n\n// -------------------- 결과 객체 --------------------\nreturn [{\n    json: {\n        start_date: startDate,      // YYYY-MM-DD\n        end_date: endDate,          // YYYY-MM-DD\n        startendDate: startEndDate, // YYYYMMDD~YYYYMMDD\n        creat_p_nttm: formatted,\n        created_ts: formatted,\n        content: contentRaw\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,288],"id":"c13b76cf-37a8-415b-9150-c6d25b4068aa","name":"내용 정규화"},{"parameters":{"method":"POST","url":"https://www.foodpolis.kr/dfip/fo/bss/bns/usr/viewNotiListData.Ajax","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:142.0) Gecko/20100101 Firefox/142.0"},{"name":"Accept","value":"*/*"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"X-CSRF-Token","value":"undefined"},{"name":"REQUEST-TYPE","value":"AJAX"},{"name":"X-XSRF-TOKEN","value":"e304873d-536c-4e3a-83de-b84807e284c9"},{"name":"X-Requested-With","value":"XMLHttpRequest"},{"name":"Origin","value":"https://www.foodpolis.kr"},{"name":"Connection","value":"keep-alive"},{"name":"Referer","value":"https://www.foodpolis.kr/dfip/fo/bss/bns/usr/viewNotiList.do"},{"name":"Cookie","value":"XSRF-TOKEN=e304873d-536c-4e3a-83de-b84807e284c9; JSESSIONID=E24D2985AF9A794D59FBFFB675A17F84.jvm1; 2-rr=a39744d65bf2d3edec11d818763d6e7d; SCOUTER=x79ojhlhqnrnp1; SRV=76c86455-71a0-445e-afec-83d86000c640"},{"name":"Sec-Fetch-Dest","value":"empty"},{"name":"Sec-Fetch-Mode","value":"cors"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"cookie","value":"XSRF-TOKEN=e304873d-536c-4e3a-83de-b84807e284c9;JSESSIONID=E24D2985AF9A794D59FBFFB675A17F84.jvm1;2-rr=a39744d65bf2d3edec11d818763d6e7d;SCOUTER=x79ojhlhqnrnp1;SRV=76c86455-71a0-445e-afec-83d86000c640;"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"limit","value":"10"},{"name":"page","value":"1"},{"name":"params[_csrf]","value":"e304873d-536c-4e3a-83de-b84807e284c9"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1136,288],"id":"c8b44b0f-c23a-4933-8a72-d483761683cd","name":"board list","onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1408,400],"id":"20db0e9d-9ec7-4e3e-9671-fc72af988018","name":"Schedule Trigger"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"total_count","value":"={{ $json.date.length }}"},{"column":"type","value":"total_count"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-560,640],"id":"4591936a-fd49-4a74-afee-8bf0d65d5a0e","name":"공고상태전체개수저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"jsCode":"// Function 노드 안\nreturn [\n  {\n    json: {\n      workflowName: $workflow.name,\n      insertId:$input.first().json.data.insertId\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,96],"id":"37d01c18-26f2-41c5-9761-6ba7cc407b7d","name":"공고상태정리","disabled":true},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"insertId","value":"={{ $json.insertId }}"},{"column":"type","value":"detail"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2208,96],"id":"32b6ad08-9f99-48c6-9049-d30fb17b5cfc","name":"공고상태상세저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}},"disabled":true}],"connections":{"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"내용 정규화","type":"main","index":0}]]},"ai result1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0},{"node":"공고상태정리","type":"main","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"get detail1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0},{"node":"공고상태전체개수저장","type":"main","index":0}]]},"set cookie":{"main":[[{"node":"get cookie","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"내용 정규화":{"main":[[{"node":"ai result1","type":"main","index":0}]]},"board list":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"board list","type":"main","index":0}]]},"공고상태정리":{"main":[[{"node":"공고상태상세저장","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}