41.과학기술정보통신부-EahrKdsN7nX3Xp7Z.json
{"updatedAt":"2026-07-07T03:08:15.186Z","createdAt":"2025-09-11T02:48:57.277Z","id":"EahrKdsN7nX3Xp7Z","name":"41.과학기술정보통신부","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"=https://www.msit.go.kr/bbs/list.do?sCode=user&mPid=121&mId=311","responseFormat":"string","options":{}},"name":"board list","type":"n8n-nodes-base.httpRequest","position":[-3376,-48],"typeVersion":1,"id":"706ab232-ccab-4815-b94f-b8a3fd7f58b4","alwaysOutputData":false,"notesInFlow":true,"executeOnce":false,"retryOnFail":false,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2384,-48],"id":"afe98120-8d77-4f72-8704-8a852d56ec06","name":"Loop Over Items1"},{"parameters":{"extractionValues":{"values":[{"key":"date","cssSelector":"dl.tit_con:nth-child(4) > dd:nth-child(2)"}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[-1392,-48],"typeVersion":1,"id":"cddbeb12-3644-4c7b-92fa-7cfe17247722"},{"parameters":{"promptType":"define","text":"={{ $json.combinedMarkdown }} \\n에서  \npblanc_nm(공고제목), jrsd_instt_nm(지역 혹은 사이트이름), bsns_sumry_cn(공고요약), trget_nm(대상기업),  \nreqst_begin_end_de(공고 전체기간), reqst_begin_dt(공고시작기간), reqst_end_dt(공고마감기간),  \nreqst_mth_papers_cn(사업신청방법), excInsttNm(사업수행기관), refrnc_nm(문의처), subsidy_amount(지원금액),  \nself_contribution_rate(자부담률), support_target(지원기업 예: 대기업,중소기업), bonus_points_factors(가점요소 50자이내),  \ntotal_budget(예산) 에 대한 정보를 알려줘.\n\n공고제목은 detail_part에서 처음 <p>를 제목으로 참고.\n\n[1] 날짜 변환 규칙  \n- reqst_begin_end_de 형식: YYYYMMDD ~ YYYYMMDD  \n  → 이를 reqst_begin_dt, reqst_end_dt로 YYYY-MM-DD 형식으로 변환  \n\n[2] 지역명 변환 (cityMap)  \n{\n  \"서울\": \"서울특별시\", \"부산\": \"부산광역시\", \"대구\": \"대구광역시\", \"인천\": \"인천광역시\",\n  \"광주\": \"광주광역시\", \"대전\": \"대전광역시\", \"울산\": \"울산광역시\", \"세종\": \"세종특별자치시\",\n  \"경기\": \"경기도\", \"강원\": \"강원도\", \"충북\": \"충청북도\", \"충남\": \"충청남도\",\n  \"전북\": \"전라북도\", \"전남\": \"전라남도\", \"경북\": \"경상북도\", \"경남\": \"경상남도\",\n  \"제주\": \"제주특별자치도\", \"전지역\": \"전지역\"\n}\n\ntrget_nm 값은 단일값(중소기업, 대기업 등)만 사용.\n\n[3] 첨부파일 경로 변수  \ncreat_p_nttm   : {{ $json.creat_p_nttm }}\ncreated_ts     : {{ $json.created_ts }}\n\n[4] 값이 없거나 찾을 수 없으면 아래 형식으로 빈 문자열(\"\") 처리  \n{\n  \"pblanc_nm\": \"\",\n  \"jrsd_instt_nm\": \"\",\n  \"bsns_sumry_cn\": \"\",\n  \"trget_nm\": \"\",\n  \"reqst_begin_end_de\": \"\",\n  \"reqst_begin_dt\": \"\",\n  \"reqst_end_dt\": \"\",\n  \"reqst_mth_papers_cn\": \"\",\n  \"refrnc_nm\": \"\",\n  \"print_flpth_nm\": \"\",\n  \"print_file_nm\": \"\",\n  \"flpth_nm\": \"\",\n  \"file_nm\": \"\",\n  \"creat_p_nttm\": \"\",\n  \"created_ts\": \"\",\n  \"subsidy_amount\": \"\",\n  \"self_contribution_rate\": \"\",\n  \"support_target\": \"\",\n  \"bonus_points_factors\": \"\",\n  \"total_budget\": \"\"\n}\n\n[5] main_category(대분류) 분류 규칙  \n- 선택지: \"스마트생태공장\", \"상생협력 실증프로그램\", \"스마트공장 / 제조혁신\", \"탄소중립 / 온실가스저감\", \"FEMS 에너지효율화\"  , \"마케팅 / 기술인프라 구축\"\n- 공고 내용에 해당 키워드가 존재하면 선택  \n- 여러 개면 콤마(,)로 구분  \n- 없거나 애매하면 \"\"  \n\n예시:  \n\"컨설팅,스마트생태공장\"\n\n[6] sub_category(설비분류) 분류 규칙  \n- 선택 가능 항목:  \n변압기, 폐유재활용설비, 송풍기, 신재생발전설비, 집진기, 펌프, 콤프레셔, 공기조화기, 열회수환기장치, 보일러, 열교환기, 배출가스처리기, 공기정화기, 탈황기, 탈질기, 오수처리기, 폐수처리기, 냉각탑, 에너지관리시스템, 공정제어시스템, 자동화시스템, 냉동기, 증기재압축장치, 폐열회수시스템, 유수분리기, 압축기, 인버터, 용해로, 응축수회수기, 악취저감설비, 사출성형기  \n- 공고 내용에 해당 설비명이 등장하면 포함  \n- 목록 외 설비는 추가 금지  \n- 없으면 \"\"  \n\n예시:  \n\"인버터,용해로\"\n","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1344,-256],"id":"18c4b952-0004-49d5-8c25-28863ecf3279","name":"Basic LLM Chain","retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"$id\": \"https://example.com/product.schema.json\",\n  \"title\": \"anouncement\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"pblanc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고제목 (없으면 공백처리)\"\n    },\n    \"jrsd_instt_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고지역 (없으면 공백처리)\"\n    },\n    \"bsns_sumry_cn\": {\n      \"type\": \"string\",\n      \"description\": \"공고요약 (없으면 공백처리)\"\n    },\n    \"trget_nm\": {\n      \"type\": \"string\",\n      \"description\": \"대상기업 (없으면 공백처리)\"\n    },\n    \"reqst_begin_end_de\": {\n      \"type\": \"string\",\n      \"description\": \"공고 전체 기간 (없으면 공백 처리). 형식은 yyyymmdd ~ yyyymmdd. 날짜 형식이 yyyymmdd와 일치하지 않는 경우, 시작일, 종료일을 정확히 알 수 없으면 최근 유사 공고나 관행을 참고하여 예측일을 기입할 수 있음.형식은 무조건 yyyymmdd ~ yyyymmdd 형식\"\n    },\n    \"reqst_begin_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 시작일 (없으면 공백 처리). 날짜 형식은 yyyy-mm-dd 이어야 함. 시작일을 정확히 알 수 없는 경우, 최근 유사 공고나 관행을 참고하여 예측일을 기입할 수 있음.\"\n    },\n    \"reqst_end_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 종료일 (없으면 공백 처리). 날짜 형식은 yyyy-mm-dd 이어야 함. 종료일을 정확히 알 수 없는 경우, 예산 소진 기준 등으로 한 달 후와 같은 합리적인 추정값을 사용할 수 있음.\"\n    },\n    \"reqst_mth_papers_cn\": {\n      \"type\": \"string\",\n      \"description\": \"사업신청 방법 (없으면 공백처리)\"\n    },\n    \"excInsttNm\": {\n      \"type\": \"string\",\n      \"description\": \"사업수행기관 (없으면 공백처리)\"\n    },\n    \"refrnc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"문의처내용 (없으면 공백처리)\"\n    },\n    \"print_flpth_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 주소 (없으면 공백처리)\"\n    },\n    \"print_file_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 파일명 (없으면 공백처리)\"\n    },\n    \"subsidy_amount\": {\n      \"type\": \"string\",\n      \"description\": \"지원금액, 원화로 변환 및 금액만 적시 (없으면 공백처리)\"\n    },\n    \"self_contribution_rate\": {\n      \"type\": \"string\",\n      \"description\": \"자부담률 (없으면 공백처리)\"\n    },\n    \"support_target\": {\n      \"type\": \"string\",\n      \"description\": \"지원기업 (예: 대기업, 중소기업, 대명사만 적시, 없으면 공백처리)\"\n    },\n    \"bonus_points_factors\": {\n      \"type\": \"string\",\n      \"description\": \"가점요소(간략하게, 없으면 공백처리,50자이내)\"\n    },\n    \"total_budget\": {\n      \"type\": \"string\",\n      \"description\": \"예산 (없으면 공백처리)\"\n    },\n    \"main_category\": {\n      \"type\": \"string\",\n      \"description\": \"대분류(없으면 공백)\"\n    },\n    \"sub_category\": {\n      \"type\": \"string\",\n      \"description\": \"설비분류 (없으면 공백처리)\"\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1664,176],"id":"a40793cc-86a2-4c30-ade7-004e1fc09838","name":"Structured Output Parser","notesInFlow":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1360,-80],"id":"aea97036-cd00-48cd-899c-22e7386a9640","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"Hfp6RmexqQYoBvNh","name":"Google Gemini(PaLM) Api account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('Code').item.json.output.pblanc_nm }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"={{ $('Code').item.json.output.jrsd_instt_nm }}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('Code').item.json.output.bsns_sumry_cn }}","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"={{ $('Code').item.json.output.trget_nm }}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{ $('Code').item.json.output.reqst_begin_end_de }}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $('Code').item.json.output.reqst_begin_dt }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $('Code').item.json.output.reqst_end_dt }}","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"={{ $('Code').item.json.output.refrnc_nm }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"N","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"과학기술정보통신부","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"N","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('Code23').item.json.created_ts }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('Code23').item.json.created_ts }}","type":"string"},{"id":"9adbcf7a-7243-4479-ab01-6b2ccb31d8a6","name":"subsidy_amount","value":"={{ $('Code').item.json.output.subsidy_amount }}","type":"string"},{"id":"b0d54477-2d5b-4aa1-8905-ca396242ddab","name":"self_contribution_rate","value":"={{ $('Code').item.json.output.self_contribution_rate }}","type":"string"},{"id":"09d5c3f0-2aa9-424f-ba57-bdd0df8ae9bf","name":"support_target","value":"={{ $('Code').item.json.output.support_target }}","type":"string"},{"id":"283f473c-7824-46ef-b963-feb711e63a22","name":"bonus_points_factors","value":"={{ $('Code').item.json.output.bonus_points_factors }}","type":"string"},{"id":"20d0efcf-9335-4130-ad6e-c50b4f37a404","name":"total_budget","value":"={{ $('Code').item.json.output.total_budget }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=https://www.msit.go.kr/bbs/view.do?sCode=user&mId=311&mPid=121&pageIndex=&bbsSeqNo=100&nttSeqNo={{ $('get title and date').item.json.fn_detail }}&searchOpt=ALL&searchTxt=","type":"string"},{"id":"97c21176-d1a8-4f5c-a312-e5603e2e7569","name":"main_category","value":"={{ $('Code').item.json.output.main_category }}","type":"string"},{"id":"1f7c4cbd-e378-419d-8827-6007de5e6929","name":"sub_category","value":"={{ $('Code').item.json.output.sub_category }}","type":"string"},{"id":"5f567959-9da9-442d-844e-d807c9e134af","name":"reqst_mth_papers_cn","value":"={{ $('Code').item.json.output.reqst_mth_papers_cn }}","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=과학기술정보통신부","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2336,-256],"id":"b0fa712e-3665-47a7-8b77-b48180b3378b","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2720,-256],"id":"fdd5a903-0eb5-4c18-ba57-739073b7d44d","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":2,"unit":"minutes"},"id":"c846df74-bc9b-4b3b-85c8-c89675b804e9","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[3040,-256],"webhookId":"cd9cd4c3-0e22-44fc-8aee-6302cdb7416f"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2528,-256],"id":"ab2fdb65-7d58-4048-b649-5ee07c3383a7","name":"If1","retryOnFail":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[1520,0],"id":"c77db6bc-e89a-415d-8b9b-86b03d6898f4","name":"Auto-fixing Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1520,176],"id":"7dbd718e-8210-4d1b-b482-3e31777fd262","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"SKDNgNmyz3uaizES","name":"OpenAi account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\n\n// -------------------- 어제 날짜 계산 --------------------\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yyyy = yesterday.getFullYear();\nconst mm = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst dd = String(yesterday.getDate()).padStart(2, '0');\nconst yesterdayStr = `${yyyy}-${mm}-${dd}`;   // 자동 계산된 어제 날짜\n// ------------------------------------------------------\n\n// -------------------- 테스트용 날짜 지정 --------------------\n// const yesterdayStr = '2025-09-08'; // 수동으로 테스트 시 이 주석 해제\n// ------------------------------------------------------\n\n// -------------------- 결과 생성 --------------------\nconst result = announcements\n  .map((announcement, index) => {\n    const url = announcement?.trim() || null;\n    let dateStr = dates[index] || null;\n\n    // \"2025-09-08 00:00 ~ 2025-09-15 23:50\" → 앞부분 날짜만 추출\n    if (dateStr) {\n      const match = dateStr.match(/^(\\d{4}-\\d{2}-\\d{2})/);\n      if (match) dateStr = match[1];\n    }\n\n    return {\n      json: {\n        announcement: url,\n        title: (titles[index] || '').replace(/[\\[\\]]/g, '').trim(),\n        date: dateStr\n      }\n    };\n  })\n  // -------------------- 어제 날짜만 필터 --------------------\n  .filter(item => item.json.date === yesterdayStr);\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2768,-336],"id":"d7302bc0-e5ee-4d12-8219-165d4d83d946","name":"금일 기준"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.output.pblanc_nm }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1920,-256],"id":"65d413b2-e40e-4aca-8854-6dee0ccf2486","name":"MySQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2080,-256],"id":"842dff0b-9933-422e-970e-6ab739f0eaec","name":"If2"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.pblanc_nm) {\n    item.json.pblanc_nm = item.json.pblanc_nm.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1744,-256],"id":"97348b3f-d088-4ac6-a236-d6f1e3b11dbd","name":"Code"},{"parameters":{"content":"사이트 주소\nhttps://www.msit.go.kr/bbs/list.do?sCode=user&mPid=121&mId=311","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3680,-160],"id":"28475f46-8653-41fc-ad78-12e731b0164a","name":"Sticky Note"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title,\n      announcement\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2224,-272],"id":"972bdb23-2b10-4368-a8aa-58a9939d2679","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-2080,-272],"id":"34fe950b-7c1e-432e-9d22-eae874999b03","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1936,-272],"id":"c1b29d8b-2ecd-43af-b99b-634fe5b18e89","name":"중복조회 IF"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":"div.toggle:nth-child(n+1) > a:nth-child(1)","returnValue":"attribute","attribute":"onclick","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-3120,-48],"typeVersion":1,"id":"d211ff45-2b6e-4b42-ab8c-e04d2ca3a648"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $binary.data.fileName.split('.').pop() }}","rightValue":"=pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-144,-256],"id":"ca2a0821-b4d1-40e6-b423-9a093c8ddfba","name":"If"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"6c2803f3-cbf5-415c-8222-379c6506425b","name":"Upload a file1","type":"n8n-nodes-base.httpRequest","position":[448,-144],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://192.168.10.133:8000/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"02a29906-9191-422c-b6a1-de702874c8f4","name":"hwp->pdf","type":"n8n-nodes-base.httpRequest","position":[272,-144],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"46237a9b-a8af-4c2d-a098-5f821f9921e7","name":"Upload a file2","type":"n8n-nodes-base.httpRequest","position":[272,-416],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{$json[\"id\"]}}/url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[656,-256],"id":"e8e0c3e3-e8ef-42b4-b3c4-f546e05dabe1","name":"HTTP Request1","onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":3000},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"d9355d6b-c227-45cb-86ab-68634b86f34d","name":"do ocr1","type":"n8n-nodes-base.httpRequest","position":[848,-256],"typeVersion":4.2,"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":3000},{"parameters":{"jsCode":"const pages = $input.first().json.pages;\nlet combinedMarkdown = '';\n\nfor (const page of pages) {\n  combinedMarkdown += page.markdown + '\\n';  // 줄바꿈 포함해서 합치기\n}\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 통합 결과 반환\nreturn [\n  {\n    json: {\n      combinedMarkdown,\n      creat_p_nttm: formatted,\n      created_ts: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,-256],"id":"43a2be38-7ee7-40df-a9f2-912c9edf4bc3","name":"Code23","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.msit.go.kr/bbs/view.do","sendQuery":true,"queryParameters":{"parameters":[{"name":"sCode","value":"user"},{"name":"mId","value":"311"},{"name":"mPid","value":"121"},{"name":"pageIndex"},{"name":"bbsSeqNo","value":"100"},{"name":"nttSeqNo","value":"={{ $('get title and date').item.json.fn_detail }}"},{"name":"searchOpt","value":"ALL"},{"name":"searchTxt"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:142.0) Gecko/20100101 Firefox/142.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Connection","value":"keep-alive"},{"name":"Cookie","value":"JSESSIONID=x-8X_sESUlA1hFN_VM7G7zv4hklhAkBwgvjklio1.AP_msit_2; clientid=010049284077"},{"name":"Upgrade-Insecure-Requests","value":"1"},{"name":"Sec-Fetch-Dest","value":"document"},{"name":"Sec-Fetch-Mode","value":"navigate"},{"name":"Sec-Fetch-Site","value":"none"},{"name":"Sec-Fetch-User","value":"?1"},{"name":"Priority","value":"u=0, i"},{"name":"cookie","value":"JSESSIONID=x-8X_sESUlA1hFN_VM7G7zv4hklhAkBwgvjklio1.AP_msit_2;clientid=010049284077;"}]},"options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1568,-48],"id":"846ca9d1-3ba6-4cb5-bc89-7e741e7827cb","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://www.msit.go.kr/ssm/file/fileDown.do","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Connection","value":"keep-alive"},{"name":"Content-Type","value":"application/x-www-form-urlencoded"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"atchFileNo","value":"={{ $json.fileAddress }}"},{"name":"fileOrd","value":"1"},{"name":"fileBtn","value":"A"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"file"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-304,-256],"id":"442af767-58d7-4091-8032-c7746eb4022e","name":"download files1","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $('리스트 추출4').first().json;\nconst names = items.attach_file_name || [];\nconst addresses = items.attach_file_address || [];\n\nlet noticeFileName = null;\nlet noticeFileAddress = null;\nconst extraFileNames = [];\nconst extraFilePaths = [];\n\nfor (let i = 0; i < names.length; i++) {\n    let name = names[i]\n        ?.replace(/[\\n\\r]/g, \"\")\n        .replace(/\\([\\d\\.]+[KMG]?B\\)/i, \"\")\n        .trim();\n\n    let address = addresses[i];\n    if (!name || !address) continue;\n\n    // fn_download('ID', 'NUM', 'EXT') → ID만 추출\n    const match = address.match(/fn_download\\(\\s*'([^']+)'\\s*,\\s*'[^']*'\\s*,\\s*'[^']*'\\s*\\)/);\n    if (!match) continue;\n    const fileUrl = match[1];\n\n    // \"공고\" 포함 파일은 noticeFile로\n    if (name.includes(\"공고\") && !noticeFileName) {\n        noticeFileName = name;\n        noticeFileAddress = fileUrl;\n    } else {\n        extraFileNames.push(name);\n        extraFilePaths.push(fileUrl);\n    }\n}\n\n// 공고 파일이 없으면 첫 번째 파일로 대체\nif (!noticeFileName && names.length > 0 && addresses.length > 0) {\n    noticeFileName = names[0]\n        ?.replace(/[\\n\\r]/g, \"\")\n        .replace(/\\([\\d\\.]+[KMG]?B\\)/i, \"\")\n        .trim();\n\n    const firstMatch = addresses[0].match(/fn_download\\(\\s*'([^']+)'\\s*,\\s*'[^']*'\\s*,\\s*'[^']*'\\s*\\)/);\n    noticeFileAddress = firstMatch ? firstMatch[1] : null;\n\n    // 첫 번째 파일가 이미 extraFileNames에 들어간 경우 제거\n    const index = extraFileNames.indexOf(noticeFileName);\n    if (index > -1) {\n        extraFileNames.splice(index, 1);\n        extraFilePaths.splice(index, 1);\n    }\n}\n\nreturn [{\n    json: {\n        fileName: noticeFileName,\n        fileAddress: noticeFileAddress,\n        file_nm: extraFileNames.join(\"@\"),\n        flpth_nm: extraFilePaths.join(\"@\")\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,-240],"id":"4d447b38-1975-4fc2-9edc-4e24e374ecca","name":"pdf,첨부파일분리"},{"parameters":{"url":"={{ $('중복 자료 조회').item.json.announcement }}","options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1664,-368],"id":"326ad378-87d0-4417-a3bf-825d9ae1eaae","name":"set cookie","onError":"continueRegularOutput"},{"parameters":{"jsCode":"return {\n  cookie: ($input.first().json.headers['set-cookie'] || []).join('; ')\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1488,-368],"id":"225b97ad-faca-4743-b36f-3ffdb5b3daad","name":"get cookie"},{"parameters":{"jsCode":"// HTML 전체 문자열\nconst htmlData = $('board list').first().json.data;\n\n// 1️⃣ 제목 추출 (unescape 안 문자열)\nconst titleRegex = /unescape\\('([^']+)'\\)/g;\nlet match;\nconst titles = [];\nwhile ((match = titleRegex.exec(htmlData)) !== null) {\n  // HTML 엔티티 디코딩 (예: &#034; -> \")\n  const decodedTitle = match[1].replace(/&#034;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>');\n  titles.push(decodedTitle);\n}\n\n// 2️⃣ 날짜(REG_DT) 추출\nconst dateRegex = /\\$\\('#td_REG_DT_\\d+'\\)\\.html\\('([^']+)'\\)/g;\nconst dates = [];\nwhile ((match = dateRegex.exec(htmlData)) !== null) {\n  dates.push(match[1]);\n}\n\n// 3️⃣ fn_detail() 값 추출\nconst fnDetailRegex = /fn_detail\\((\\d+)\\)/g;\nconst fnDetails = [];\nwhile ((match = fnDetailRegex.exec(htmlData)) !== null) {\n  fnDetails.push(match[1]);\n}\n\n// 4️⃣ 제목, 날짜, fn_detail 매칭\nconst announcements = titles.map((title, idx) => {\n  return {\n    json: {\n      title: title,\n      date: dates[idx] || null,\n      fn_detail: fnDetails[idx] || null\n    }\n  };\n});\n\nreturn announcements;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2912,-48],"id":"3ab551ad-b0fe-417e-b511-004ec1eef81f","name":"get title and date"},{"parameters":{"jsCode":"// ----------------------\n// 🔹 테스트용 데이터 예시\n// ----------------------\n// 오늘이 2025년 9월 11일이라고 가정할 때\n// \"2025. 9. 10\" → 어제 → isYesterday: true\n// \"2025. 9. 9\"  → 그저께 → isYesterday: false\n// \"2025. 9. 11\" → 오늘 → isYesterday: false\n// const items = [\n//   { json: { date: \"2025. 9. 10\" } },\n//   { json: { date: \"2025. 9. 9\" } },\n//   { json: { date: \"2025. 9. 11\" } },\n// ];\n\n// ----------------------\n// 🔹 함수 실행\n// ----------------------\nreturn items.map(item => {\n  const inputDateStr = item.json.date; // \"YYYY. M. D\" 형식\n  \n  // 문자열을 Date 객체로 변환 (한국 시간 기준)\n  const [year, month, day] = inputDateStr.split('.').map(s => parseInt(s.trim()));\n  const inputDate = new Date(Date.UTC(year, month - 1, day, 0, 0, 0)); // UTC 기준\n  inputDate.setHours(inputDate.getHours() + 9); // 한국 시간으로 조정\n\n  // 오늘 한국 시간\n  const now = new Date();\n  const kstNow = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\n  // 어제 한국 시간\n  const yesterday = new Date(kstNow);\n  yesterday.setDate(yesterday.getDate() - 1);\n  yesterday.setHours(0, 0, 0, 0);\n\n  // 입력 날짜가 어제인지 확인\n  const isYesterday = inputDate.getFullYear() === yesterday.getFullYear() &&\n                      inputDate.getMonth() === yesterday.getMonth() &&\n                      inputDate.getDate() === yesterday.getDate();\n\n  return {\n    json: {\n      ...item.json,\n      isYesterday // true/false로 결과 확인 가능\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1184,-48],"id":"dcf8596c-f4a8-4505-965a-566ecbe08ca1","name":"날짜 체크"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c48c5cd-fd94-4202-b3a1-72a4c8cb7a34","leftValue":"={{ $json.isYesterday }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1040,-48],"id":"e30cd8e4-de0c-4999-b97d-335ee626105b","name":"If3","onError":"continueErrorOutput"},{"parameters":{"url":"https://www.msit.go.kr/bbs/view.do","sendQuery":true,"queryParameters":{"parameters":[{"name":"sCode","value":"user"},{"name":"mId","value":"311"},{"name":"mPid","value":"121"},{"name":"pageIndex"},{"name":"bbsSeqNo","value":"100"},{"name":"nttSeqNo","value":"={{ $('get title and date').item.json.fn_detail }}"},{"name":"searchOpt","value":"ALL"},{"name":"searchTxt"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:142.0) Gecko/20100101 Firefox/142.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Connection","value":"keep-alive"},{"name":"Cookie","value":"JSESSIONID=x-8X_sESUlA1hFN_VM7G7zv4hklhAkBwgvjklio1.AP_msit_2; clientid=010049284077"},{"name":"Upgrade-Insecure-Requests","value":"1"},{"name":"Sec-Fetch-Dest","value":"document"},{"name":"Sec-Fetch-Mode","value":"navigate"},{"name":"Sec-Fetch-Site","value":"none"},{"name":"Sec-Fetch-User","value":"?1"},{"name":"Priority","value":"u=0, i"},{"name":"cookie","value":"JSESSIONID=x-8X_sESUlA1hFN_VM7G7zv4hklhAkBwgvjklio1.AP_msit_2;clientid=010049284077;"}]},"options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-864,-240],"id":"340aa612-ff2a-4c06-a8ca-bce68c624066","name":"get detail again","onError":"continueRegularOutput"},{"parameters":{"extractionValues":{"values":[{"key":"attach_file_name","cssSelector":".down_file > li:nth-child(n) > a:nth-child(1)","returnArray":true},{"key":"attach_file_address","cssSelector":".down_file > li:nth-child(n) > div:nth-child(2) > a:nth-child(1)","returnValue":"attribute","attribute":"onclick","returnArray":true}]},"options":{"trimValues":false}},"name":"리스트 추출4","type":"n8n-nodes-base.htmlExtract","position":[-672,-240],"typeVersion":1,"id":"ffac68ad-9c85-4159-954f-dc5c2bf9eb1d"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3632,128],"id":"3fe35741-a94f-47c0-8d41-48598702c3f1","name":"Schedule Trigger"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"total_count","value":"={{ $json.announcements.length }}"},{"column":"type","value":"total_count"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-2880,224],"id":"da6ee570-2153-467c-bedf-3ced198f2631","name":"공고상태전체개수저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"jsCode":"// Function 노드 안\nreturn [\n  {\n    json: {\n      workflowName: $workflow.name,\n      insertId: $input.first().json?.data?.insertId ?? null\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,-448],"id":"eb43df3d-5c50-45f9-9812-2ca0df1d64c9","name":"공고상태정리"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"insertId","value":"={{ $json.insertId }}"},{"column":"type","value":"detail"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[3088,-448],"id":"5d039f4b-f1dc-400d-bb64-5ed66cfc4541","name":"공고상태상세저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"id":"d8da9e78-d150-4244-ae57-254b88bb2bae","name":"내용있음?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1216,-450],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"b1c2d3e4-0000-0000-0000-000000000041","leftValue":"={{ ($json.combinedMarkdown || '').trim().length > 0 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"}}},{"id":"688f9600-e2af-4bee-90ab-646b0322af8c","name":"빈날짜 null","type":"n8n-nodes-base.code","typeVersion":2,"position":[2624,-100],"parameters":{"jsCode":"for (const item of $input.all()) {\n  for (const k of ['reqst_begin_dt', 'reqst_end_dt']) {\n    if (!item.json[k]) item.json[k] = null;\n  }\n}\nreturn $input.all();"}}],"connections":{"board list":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"날짜 체크","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"ai result1":{"main":[[{"node":"If1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0},{"node":"공고상태정리","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"금일 기준":{"main":[[]]},"MySQL":{"main":[[{"node":"If2","type":"main","index":0}]]},"Code":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"If2":{"main":[[{"node":"ai result1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"get detail1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"get title and date","type":"main","index":0},{"node":"공고상태전체개수저장","type":"main","index":0}]]},"If":{"main":[[{"node":"Upload a file2","type":"main","index":0}],[{"node":"hwp->pdf","type":"main","index":0}]]},"Upload a file1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"hwp->pdf":{"main":[[{"node":"Upload a file1","type":"main","index":0}]]},"Upload a file2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"do ocr1","type":"main","index":0}]]},"do ocr1":{"main":[[{"node":"Code23","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"download files1":{"main":[[{"node":"If","type":"main","index":0}]]},"pdf,첨부파일분리":{"main":[[{"node":"download files1","type":"main","index":0}]]},"set cookie":{"main":[[{"node":"get cookie","type":"main","index":0}]]},"get cookie":{"main":[[]]},"get title and date":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"날짜 체크":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"get detail again","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"get detail again":{"main":[[{"node":"리스트 추출4","type":"main","index":0}]]},"리스트 추출4":{"main":[[{"node":"pdf,첨부파일분리","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"board list","type":"main","index":0}]]},"공고상태정리":{"main":[[{"node":"공고상태상세저장","type":"main","index":0}]]},"Code23":{"main":[[{"node":"내용있음?","type":"main","index":0}]]},"내용있음?":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"If1":{"main":[[{"node":"빈날짜 null","type":"main","index":0}]]},"빈날짜 null":{"main":[[{"node":"MySQL1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5e1cd2aa-ab49-456c-a751-44dfbacbebb5","activeVersionId":"5e1cd2aa-ab49-456c-a751-44dfbacbebb5","triggerCount":1,"shared":[{"updatedAt":"2025-09-11T02:48:57.277Z","createdAt":"2025-09-11T02:48:57.277Z","role":"workflow:owner","workflowId":"EahrKdsN7nX3Xp7Z","projectId":"YGqg9zdxGQSC73yC"}],"activeVersion":{"updatedAt":"2026-07-07T03:08:15.190Z","createdAt":"2026-07-07T03:08:15.190Z","versionId":"5e1cd2aa-ab49-456c-a751-44dfbacbebb5","workflowId":"EahrKdsN7nX3Xp7Z","nodes":[{"parameters":{"url":"=https://www.msit.go.kr/bbs/list.do?sCode=user&mPid=121&mId=311","responseFormat":"string","options":{}},"name":"board list","type":"n8n-nodes-base.httpRequest","position":[-3376,-48],"typeVersion":1,"id":"706ab232-ccab-4815-b94f-b8a3fd7f58b4","alwaysOutputData":false,"notesInFlow":true,"executeOnce":false,"retryOnFail":false,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2384,-48],"id":"afe98120-8d77-4f72-8704-8a852d56ec06","name":"Loop Over Items1"},{"parameters":{"extractionValues":{"values":[{"key":"date","cssSelector":"dl.tit_con:nth-child(4) > dd:nth-child(2)"}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[-1392,-48],"typeVersion":1,"id":"cddbeb12-3644-4c7b-92fa-7cfe17247722"},{"parameters":{"promptType":"define","text":"={{ $json.combinedMarkdown }} \\n에서  \npblanc_nm(공고제목), jrsd_instt_nm(지역 혹은 사이트이름), bsns_sumry_cn(공고요약), trget_nm(대상기업),  \nreqst_begin_end_de(공고 전체기간), reqst_begin_dt(공고시작기간), reqst_end_dt(공고마감기간),  \nreqst_mth_papers_cn(사업신청방법), excInsttNm(사업수행기관), refrnc_nm(문의처), subsidy_amount(지원금액),  \nself_contribution_rate(자부담률), support_target(지원기업 예: 대기업,중소기업), bonus_points_factors(가점요소 50자이내),  \ntotal_budget(예산) 에 대한 정보를 알려줘.\n\n공고제목은 detail_part에서 처음 <p>를 제목으로 참고.\n\n[1] 날짜 변환 규칙  \n- reqst_begin_end_de 형식: YYYYMMDD ~ YYYYMMDD  \n  → 이를 reqst_begin_dt, reqst_end_dt로 YYYY-MM-DD 형식으로 변환  \n\n[2] 지역명 변환 (cityMap)  \n{\n  \"서울\": \"서울특별시\", \"부산\": \"부산광역시\", \"대구\": \"대구광역시\", \"인천\": \"인천광역시\",\n  \"광주\": \"광주광역시\", \"대전\": \"대전광역시\", \"울산\": \"울산광역시\", \"세종\": \"세종특별자치시\",\n  \"경기\": \"경기도\", \"강원\": \"강원도\", \"충북\": \"충청북도\", \"충남\": \"충청남도\",\n  \"전북\": \"전라북도\", \"전남\": \"전라남도\", \"경북\": \"경상북도\", \"경남\": \"경상남도\",\n  \"제주\": \"제주특별자치도\", \"전지역\": \"전지역\"\n}\n\ntrget_nm 값은 단일값(중소기업, 대기업 등)만 사용.\n\n[3] 첨부파일 경로 변수  \ncreat_p_nttm   : {{ $json.creat_p_nttm }}\ncreated_ts     : {{ $json.created_ts }}\n\n[4] 값이 없거나 찾을 수 없으면 아래 형식으로 빈 문자열(\"\") 처리  \n{\n  \"pblanc_nm\": \"\",\n  \"jrsd_instt_nm\": \"\",\n  \"bsns_sumry_cn\": \"\",\n  \"trget_nm\": \"\",\n  \"reqst_begin_end_de\": \"\",\n  \"reqst_begin_dt\": \"\",\n  \"reqst_end_dt\": \"\",\n  \"reqst_mth_papers_cn\": \"\",\n  \"refrnc_nm\": \"\",\n  \"print_flpth_nm\": \"\",\n  \"print_file_nm\": \"\",\n  \"flpth_nm\": \"\",\n  \"file_nm\": \"\",\n  \"creat_p_nttm\": \"\",\n  \"created_ts\": \"\",\n  \"subsidy_amount\": \"\",\n  \"self_contribution_rate\": \"\",\n  \"support_target\": \"\",\n  \"bonus_points_factors\": \"\",\n  \"total_budget\": \"\"\n}\n\n[5] main_category(대분류) 분류 규칙  \n- 선택지: \"스마트생태공장\", \"상생협력 실증프로그램\", \"스마트공장 / 제조혁신\", \"탄소중립 / 온실가스저감\", \"FEMS 에너지효율화\"  , \"마케팅 / 기술인프라 구축\"\n- 공고 내용에 해당 키워드가 존재하면 선택  \n- 여러 개면 콤마(,)로 구분  \n- 없거나 애매하면 \"\"  \n\n예시:  \n\"컨설팅,스마트생태공장\"\n\n[6] sub_category(설비분류) 분류 규칙  \n- 선택 가능 항목:  \n변압기, 폐유재활용설비, 송풍기, 신재생발전설비, 집진기, 펌프, 콤프레셔, 공기조화기, 열회수환기장치, 보일러, 열교환기, 배출가스처리기, 공기정화기, 탈황기, 탈질기, 오수처리기, 폐수처리기, 냉각탑, 에너지관리시스템, 공정제어시스템, 자동화시스템, 냉동기, 증기재압축장치, 폐열회수시스템, 유수분리기, 압축기, 인버터, 용해로, 응축수회수기, 악취저감설비, 사출성형기  \n- 공고 내용에 해당 설비명이 등장하면 포함  \n- 목록 외 설비는 추가 금지  \n- 없으면 \"\"  \n\n예시:  \n\"인버터,용해로\"\n","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1344,-256],"id":"18c4b952-0004-49d5-8c25-28863ecf3279","name":"Basic LLM Chain","retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"$id\": \"https://example.com/product.schema.json\",\n  \"title\": \"anouncement\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"pblanc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고제목 (없으면 공백처리)\"\n    },\n    \"jrsd_instt_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고지역 (없으면 공백처리)\"\n    },\n    \"bsns_sumry_cn\": {\n      \"type\": \"string\",\n      \"description\": \"공고요약 (없으면 공백처리)\"\n    },\n    \"trget_nm\": {\n      \"type\": \"string\",\n      \"description\": \"대상기업 (없으면 공백처리)\"\n    },\n    \"reqst_begin_end_de\": {\n      \"type\": \"string\",\n      \"description\": \"공고 전체 기간 (없으면 공백 처리). 형식은 yyyymmdd ~ yyyymmdd. 날짜 형식이 yyyymmdd와 일치하지 않는 경우, 시작일, 종료일을 정확히 알 수 없으면 최근 유사 공고나 관행을 참고하여 예측일을 기입할 수 있음.형식은 무조건 yyyymmdd ~ yyyymmdd 형식\"\n    },\n    \"reqst_begin_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 시작일 (없으면 공백 처리). 날짜 형식은 yyyy-mm-dd 이어야 함. 시작일을 정확히 알 수 없는 경우, 최근 유사 공고나 관행을 참고하여 예측일을 기입할 수 있음.\"\n    },\n    \"reqst_end_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 종료일 (없으면 공백 처리). 날짜 형식은 yyyy-mm-dd 이어야 함. 종료일을 정확히 알 수 없는 경우, 예산 소진 기준 등으로 한 달 후와 같은 합리적인 추정값을 사용할 수 있음.\"\n    },\n    \"reqst_mth_papers_cn\": {\n      \"type\": \"string\",\n      \"description\": \"사업신청 방법 (없으면 공백처리)\"\n    },\n    \"excInsttNm\": {\n      \"type\": \"string\",\n      \"description\": \"사업수행기관 (없으면 공백처리)\"\n    },\n    \"refrnc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"문의처내용 (없으면 공백처리)\"\n    },\n    \"print_flpth_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 주소 (없으면 공백처리)\"\n    },\n    \"print_file_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 파일명 (없으면 공백처리)\"\n    },\n    \"subsidy_amount\": {\n      \"type\": \"string\",\n      \"description\": \"지원금액, 원화로 변환 및 금액만 적시 (없으면 공백처리)\"\n    },\n    \"self_contribution_rate\": {\n      \"type\": \"string\",\n      \"description\": \"자부담률 (없으면 공백처리)\"\n    },\n    \"support_target\": {\n      \"type\": \"string\",\n      \"description\": \"지원기업 (예: 대기업, 중소기업, 대명사만 적시, 없으면 공백처리)\"\n    },\n    \"bonus_points_factors\": {\n      \"type\": \"string\",\n      \"description\": \"가점요소(간략하게, 없으면 공백처리,50자이내)\"\n    },\n    \"total_budget\": {\n      \"type\": \"string\",\n      \"description\": \"예산 (없으면 공백처리)\"\n    },\n    \"main_category\": {\n      \"type\": \"string\",\n      \"description\": \"대분류(없으면 공백)\"\n    },\n    \"sub_category\": {\n      \"type\": \"string\",\n      \"description\": \"설비분류 (없으면 공백처리)\"\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1664,176],"id":"a40793cc-86a2-4c30-ade7-004e1fc09838","name":"Structured Output Parser","notesInFlow":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1360,-80],"id":"aea97036-cd00-48cd-899c-22e7386a9640","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"Hfp6RmexqQYoBvNh","name":"Google Gemini(PaLM) Api account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('Code').item.json.output.pblanc_nm }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"={{ $('Code').item.json.output.jrsd_instt_nm }}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('Code').item.json.output.bsns_sumry_cn }}","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"={{ $('Code').item.json.output.trget_nm }}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{ $('Code').item.json.output.reqst_begin_end_de }}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $('Code').item.json.output.reqst_begin_dt }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $('Code').item.json.output.reqst_end_dt }}","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"={{ $('Code').item.json.output.refrnc_nm }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"N","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"과학기술정보통신부","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"N","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('Code23').item.json.created_ts }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('Code23').item.json.created_ts }}","type":"string"},{"id":"9adbcf7a-7243-4479-ab01-6b2ccb31d8a6","name":"subsidy_amount","value":"={{ $('Code').item.json.output.subsidy_amount }}","type":"string"},{"id":"b0d54477-2d5b-4aa1-8905-ca396242ddab","name":"self_contribution_rate","value":"={{ $('Code').item.json.output.self_contribution_rate }}","type":"string"},{"id":"09d5c3f0-2aa9-424f-ba57-bdd0df8ae9bf","name":"support_target","value":"={{ $('Code').item.json.output.support_target }}","type":"string"},{"id":"283f473c-7824-46ef-b963-feb711e63a22","name":"bonus_points_factors","value":"={{ $('Code').item.json.output.bonus_points_factors }}","type":"string"},{"id":"20d0efcf-9335-4130-ad6e-c50b4f37a404","name":"total_budget","value":"={{ $('Code').item.json.output.total_budget }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=https://www.msit.go.kr/bbs/view.do?sCode=user&mId=311&mPid=121&pageIndex=&bbsSeqNo=100&nttSeqNo={{ $('get title and date').item.json.fn_detail }}&searchOpt=ALL&searchTxt=","type":"string"},{"id":"97c21176-d1a8-4f5c-a312-e5603e2e7569","name":"main_category","value":"={{ $('Code').item.json.output.main_category }}","type":"string"},{"id":"1f7c4cbd-e378-419d-8827-6007de5e6929","name":"sub_category","value":"={{ $('Code').item.json.output.sub_category }}","type":"string"},{"id":"5f567959-9da9-442d-844e-d807c9e134af","name":"reqst_mth_papers_cn","value":"={{ $('Code').item.json.output.reqst_mth_papers_cn }}","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=과학기술정보통신부","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2336,-256],"id":"b0fa712e-3665-47a7-8b77-b48180b3378b","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2720,-256],"id":"fdd5a903-0eb5-4c18-ba57-739073b7d44d","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":2,"unit":"minutes"},"id":"c846df74-bc9b-4b3b-85c8-c89675b804e9","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[3040,-256],"webhookId":"cd9cd4c3-0e22-44fc-8aee-6302cdb7416f"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2528,-256],"id":"ab2fdb65-7d58-4048-b649-5ee07c3383a7","name":"If1","retryOnFail":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[1520,0],"id":"c77db6bc-e89a-415d-8b9b-86b03d6898f4","name":"Auto-fixing Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1520,176],"id":"7dbd718e-8210-4d1b-b482-3e31777fd262","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"SKDNgNmyz3uaizES","name":"OpenAi account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\n\n// -------------------- 어제 날짜 계산 --------------------\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yyyy = yesterday.getFullYear();\nconst mm = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst dd = String(yesterday.getDate()).padStart(2, '0');\nconst yesterdayStr = `${yyyy}-${mm}-${dd}`;   // 자동 계산된 어제 날짜\n// ------------------------------------------------------\n\n// -------------------- 테스트용 날짜 지정 --------------------\n// const yesterdayStr = '2025-09-08'; // 수동으로 테스트 시 이 주석 해제\n// ------------------------------------------------------\n\n// -------------------- 결과 생성 --------------------\nconst result = announcements\n  .map((announcement, index) => {\n    const url = announcement?.trim() || null;\n    let dateStr = dates[index] || null;\n\n    // \"2025-09-08 00:00 ~ 2025-09-15 23:50\" → 앞부분 날짜만 추출\n    if (dateStr) {\n      const match = dateStr.match(/^(\\d{4}-\\d{2}-\\d{2})/);\n      if (match) dateStr = match[1];\n    }\n\n    return {\n      json: {\n        announcement: url,\n        title: (titles[index] || '').replace(/[\\[\\]]/g, '').trim(),\n        date: dateStr\n      }\n    };\n  })\n  // -------------------- 어제 날짜만 필터 --------------------\n  .filter(item => item.json.date === yesterdayStr);\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2768,-336],"id":"d7302bc0-e5ee-4d12-8219-165d4d83d946","name":"금일 기준"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.output.pblanc_nm }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1920,-256],"id":"65d413b2-e40e-4aca-8854-6dee0ccf2486","name":"MySQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2080,-256],"id":"842dff0b-9933-422e-970e-6ab739f0eaec","name":"If2"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.pblanc_nm) {\n    item.json.pblanc_nm = item.json.pblanc_nm.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1744,-256],"id":"97348b3f-d088-4ac6-a236-d6f1e3b11dbd","name":"Code"},{"parameters":{"content":"사이트 주소\nhttps://www.msit.go.kr/bbs/list.do?sCode=user&mPid=121&mId=311","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3680,-160],"id":"28475f46-8653-41fc-ad78-12e731b0164a","name":"Sticky Note"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title,\n      announcement\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2224,-272],"id":"972bdb23-2b10-4368-a8aa-58a9939d2679","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-2080,-272],"id":"34fe950b-7c1e-432e-9d22-eae874999b03","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1936,-272],"id":"c1b29d8b-2ecd-43af-b99b-634fe5b18e89","name":"중복조회 IF"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":"div.toggle:nth-child(n+1) > a:nth-child(1)","returnValue":"attribute","attribute":"onclick","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-3120,-48],"typeVersion":1,"id":"d211ff45-2b6e-4b42-ab8c-e04d2ca3a648"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $binary.data.fileName.split('.').pop() }}","rightValue":"=pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-144,-256],"id":"ca2a0821-b4d1-40e6-b423-9a093c8ddfba","name":"If"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"6c2803f3-cbf5-415c-8222-379c6506425b","name":"Upload a file1","type":"n8n-nodes-base.httpRequest","position":[448,-144],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://192.168.10.133:8000/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"02a29906-9191-422c-b6a1-de702874c8f4","name":"hwp->pdf","type":"n8n-nodes-base.httpRequest","position":[272,-144],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"46237a9b-a8af-4c2d-a098-5f821f9921e7","name":"Upload a file2","type":"n8n-nodes-base.httpRequest","position":[272,-416],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{$json[\"id\"]}}/url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[656,-256],"id":"e8e0c3e3-e8ef-42b4-b3c4-f546e05dabe1","name":"HTTP Request1","onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":3000},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"d9355d6b-c227-45cb-86ab-68634b86f34d","name":"do ocr1","type":"n8n-nodes-base.httpRequest","position":[848,-256],"typeVersion":4.2,"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":3000},{"parameters":{"jsCode":"const pages = $input.first().json.pages;\nlet combinedMarkdown = '';\n\nfor (const page of pages) {\n  combinedMarkdown += page.markdown + '\\n';  // 줄바꿈 포함해서 합치기\n}\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 통합 결과 반환\nreturn [\n  {\n    json: {\n      combinedMarkdown,\n      creat_p_nttm: formatted,\n      created_ts: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,-256],"id":"43a2be38-7ee7-40df-a9f2-912c9edf4bc3","name":"Code23","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.msit.go.kr/bbs/view.do","sendQuery":true,"queryParameters":{"parameters":[{"name":"sCode","value":"user"},{"name":"mId","value":"311"},{"name":"mPid","value":"121"},{"name":"pageIndex"},{"name":"bbsSeqNo","value":"100"},{"name":"nttSeqNo","value":"={{ $('get title and date').item.json.fn_detail }}"},{"name":"searchOpt","value":"ALL"},{"name":"searchTxt"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:142.0) Gecko/20100101 Firefox/142.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Connection","value":"keep-alive"},{"name":"Cookie","value":"JSESSIONID=x-8X_sESUlA1hFN_VM7G7zv4hklhAkBwgvjklio1.AP_msit_2; clientid=010049284077"},{"name":"Upgrade-Insecure-Requests","value":"1"},{"name":"Sec-Fetch-Dest","value":"document"},{"name":"Sec-Fetch-Mode","value":"navigate"},{"name":"Sec-Fetch-Site","value":"none"},{"name":"Sec-Fetch-User","value":"?1"},{"name":"Priority","value":"u=0, i"},{"name":"cookie","value":"JSESSIONID=x-8X_sESUlA1hFN_VM7G7zv4hklhAkBwgvjklio1.AP_msit_2;clientid=010049284077;"}]},"options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1568,-48],"id":"846ca9d1-3ba6-4cb5-bc89-7e741e7827cb","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://www.msit.go.kr/ssm/file/fileDown.do","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Connection","value":"keep-alive"},{"name":"Content-Type","value":"application/x-www-form-urlencoded"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"atchFileNo","value":"={{ $json.fileAddress }}"},{"name":"fileOrd","value":"1"},{"name":"fileBtn","value":"A"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"file"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-304,-256],"id":"442af767-58d7-4091-8032-c7746eb4022e","name":"download files1","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $('리스트 추출4').first().json;\nconst names = items.attach_file_name || [];\nconst addresses = items.attach_file_address || [];\n\nlet noticeFileName = null;\nlet noticeFileAddress = null;\nconst extraFileNames = [];\nconst extraFilePaths = [];\n\nfor (let i = 0; i < names.length; i++) {\n    let name = names[i]\n        ?.replace(/[\\n\\r]/g, \"\")\n        .replace(/\\([\\d\\.]+[KMG]?B\\)/i, \"\")\n        .trim();\n\n    let address = addresses[i];\n    if (!name || !address) continue;\n\n    // fn_download('ID', 'NUM', 'EXT') → ID만 추출\n    const match = address.match(/fn_download\\(\\s*'([^']+)'\\s*,\\s*'[^']*'\\s*,\\s*'[^']*'\\s*\\)/);\n    if (!match) continue;\n    const fileUrl = match[1];\n\n    // \"공고\" 포함 파일은 noticeFile로\n    if (name.includes(\"공고\") && !noticeFileName) {\n        noticeFileName = name;\n        noticeFileAddress = fileUrl;\n    } else {\n        extraFileNames.push(name);\n        extraFilePaths.push(fileUrl);\n    }\n}\n\n// 공고 파일이 없으면 첫 번째 파일로 대체\nif (!noticeFileName && names.length > 0 && addresses.length > 0) {\n    noticeFileName = names[0]\n        ?.replace(/[\\n\\r]/g, \"\")\n        .replace(/\\([\\d\\.]+[KMG]?B\\)/i, \"\")\n        .trim();\n\n    const firstMatch = addresses[0].match(/fn_download\\(\\s*'([^']+)'\\s*,\\s*'[^']*'\\s*,\\s*'[^']*'\\s*\\)/);\n    noticeFileAddress = firstMatch ? firstMatch[1] : null;\n\n    // 첫 번째 파일가 이미 extraFileNames에 들어간 경우 제거\n    const index = extraFileNames.indexOf(noticeFileName);\n    if (index > -1) {\n        extraFileNames.splice(index, 1);\n        extraFilePaths.splice(index, 1);\n    }\n}\n\nreturn [{\n    json: {\n        fileName: noticeFileName,\n        fileAddress: noticeFileAddress,\n        file_nm: extraFileNames.join(\"@\"),\n        flpth_nm: extraFilePaths.join(\"@\")\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,-240],"id":"4d447b38-1975-4fc2-9edc-4e24e374ecca","name":"pdf,첨부파일분리"},{"parameters":{"url":"={{ $('중복 자료 조회').item.json.announcement }}","options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1664,-368],"id":"326ad378-87d0-4417-a3bf-825d9ae1eaae","name":"set cookie","onError":"continueRegularOutput"},{"parameters":{"jsCode":"return {\n  cookie: ($input.first().json.headers['set-cookie'] || []).join('; ')\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1488,-368],"id":"225b97ad-faca-4743-b36f-3ffdb5b3daad","name":"get cookie"},{"parameters":{"jsCode":"// HTML 전체 문자열\nconst htmlData = $('board list').first().json.data;\n\n// 1️⃣ 제목 추출 (unescape 안 문자열)\nconst titleRegex = /unescape\\('([^']+)'\\)/g;\nlet match;\nconst titles = [];\nwhile ((match = titleRegex.exec(htmlData)) !== null) {\n  // HTML 엔티티 디코딩 (예: &#034; -> \")\n  const decodedTitle = match[1].replace(/&#034;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>');\n  titles.push(decodedTitle);\n}\n\n// 2️⃣ 날짜(REG_DT) 추출\nconst dateRegex = /\\$\\('#td_REG_DT_\\d+'\\)\\.html\\('([^']+)'\\)/g;\nconst dates = [];\nwhile ((match = dateRegex.exec(htmlData)) !== null) {\n  dates.push(match[1]);\n}\n\n// 3️⃣ fn_detail() 값 추출\nconst fnDetailRegex = /fn_detail\\((\\d+)\\)/g;\nconst fnDetails = [];\nwhile ((match = fnDetailRegex.exec(htmlData)) !== null) {\n  fnDetails.push(match[1]);\n}\n\n// 4️⃣ 제목, 날짜, fn_detail 매칭\nconst announcements = titles.map((title, idx) => {\n  return {\n    json: {\n      title: title,\n      date: dates[idx] || null,\n      fn_detail: fnDetails[idx] || null\n    }\n  };\n});\n\nreturn announcements;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2912,-48],"id":"3ab551ad-b0fe-417e-b511-004ec1eef81f","name":"get title and date"},{"parameters":{"jsCode":"// ----------------------\n// 🔹 테스트용 데이터 예시\n// ----------------------\n// 오늘이 2025년 9월 11일이라고 가정할 때\n// \"2025. 9. 10\" → 어제 → isYesterday: true\n// \"2025. 9. 9\"  → 그저께 → isYesterday: false\n// \"2025. 9. 11\" → 오늘 → isYesterday: false\n// const items = [\n//   { json: { date: \"2025. 9. 10\" } },\n//   { json: { date: \"2025. 9. 9\" } },\n//   { json: { date: \"2025. 9. 11\" } },\n// ];\n\n// ----------------------\n// 🔹 함수 실행\n// ----------------------\nreturn items.map(item => {\n  const inputDateStr = item.json.date; // \"YYYY. M. D\" 형식\n  \n  // 문자열을 Date 객체로 변환 (한국 시간 기준)\n  const [year, month, day] = inputDateStr.split('.').map(s => parseInt(s.trim()));\n  const inputDate = new Date(Date.UTC(year, month - 1, day, 0, 0, 0)); // UTC 기준\n  inputDate.setHours(inputDate.getHours() + 9); // 한국 시간으로 조정\n\n  // 오늘 한국 시간\n  const now = new Date();\n  const kstNow = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\n  // 어제 한국 시간\n  const yesterday = new Date(kstNow);\n  yesterday.setDate(yesterday.getDate() - 1);\n  yesterday.setHours(0, 0, 0, 0);\n\n  // 입력 날짜가 어제인지 확인\n  const isYesterday = inputDate.getFullYear() === yesterday.getFullYear() &&\n                      inputDate.getMonth() === yesterday.getMonth() &&\n                      inputDate.getDate() === yesterday.getDate();\n\n  return {\n    json: {\n      ...item.json,\n      isYesterday // true/false로 결과 확인 가능\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1184,-48],"id":"dcf8596c-f4a8-4505-965a-566ecbe08ca1","name":"날짜 체크"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c48c5cd-fd94-4202-b3a1-72a4c8cb7a34","leftValue":"={{ $json.isYesterday }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1040,-48],"id":"e30cd8e4-de0c-4999-b97d-335ee626105b","name":"If3","onError":"continueErrorOutput"},{"parameters":{"url":"https://www.msit.go.kr/bbs/view.do","sendQuery":true,"queryParameters":{"parameters":[{"name":"sCode","value":"user"},{"name":"mId","value":"311"},{"name":"mPid","value":"121"},{"name":"pageIndex"},{"name":"bbsSeqNo","value":"100"},{"name":"nttSeqNo","value":"={{ $('get title and date').item.json.fn_detail }}"},{"name":"searchOpt","value":"ALL"},{"name":"searchTxt"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:142.0) Gecko/20100101 Firefox/142.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Connection","value":"keep-alive"},{"name":"Cookie","value":"JSESSIONID=x-8X_sESUlA1hFN_VM7G7zv4hklhAkBwgvjklio1.AP_msit_2; clientid=010049284077"},{"name":"Upgrade-Insecure-Requests","value":"1"},{"name":"Sec-Fetch-Dest","value":"document"},{"name":"Sec-Fetch-Mode","value":"navigate"},{"name":"Sec-Fetch-Site","value":"none"},{"name":"Sec-Fetch-User","value":"?1"},{"name":"Priority","value":"u=0, i"},{"name":"cookie","value":"JSESSIONID=x-8X_sESUlA1hFN_VM7G7zv4hklhAkBwgvjklio1.AP_msit_2;clientid=010049284077;"}]},"options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-864,-240],"id":"340aa612-ff2a-4c06-a8ca-bce68c624066","name":"get detail again","onError":"continueRegularOutput"},{"parameters":{"extractionValues":{"values":[{"key":"attach_file_name","cssSelector":".down_file > li:nth-child(n) > a:nth-child(1)","returnArray":true},{"key":"attach_file_address","cssSelector":".down_file > li:nth-child(n) > div:nth-child(2) > a:nth-child(1)","returnValue":"attribute","attribute":"onclick","returnArray":true}]},"options":{"trimValues":false}},"name":"리스트 추출4","type":"n8n-nodes-base.htmlExtract","position":[-672,-240],"typeVersion":1,"id":"ffac68ad-9c85-4159-954f-dc5c2bf9eb1d"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3632,128],"id":"3fe35741-a94f-47c0-8d41-48598702c3f1","name":"Schedule Trigger"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"total_count","value":"={{ $json.announcements.length }}"},{"column":"type","value":"total_count"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-2880,224],"id":"da6ee570-2153-467c-bedf-3ced198f2631","name":"공고상태전체개수저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"jsCode":"// Function 노드 안\nreturn [\n  {\n    json: {\n      workflowName: $workflow.name,\n      insertId: $input.first().json?.data?.insertId ?? null\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,-448],"id":"eb43df3d-5c50-45f9-9812-2ca0df1d64c9","name":"공고상태정리"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"insertId","value":"={{ $json.insertId }}"},{"column":"type","value":"detail"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[3088,-448],"id":"5d039f4b-f1dc-400d-bb64-5ed66cfc4541","name":"공고상태상세저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"id":"d8da9e78-d150-4244-ae57-254b88bb2bae","name":"내용있음?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1216,-450],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"b1c2d3e4-0000-0000-0000-000000000041","leftValue":"={{ ($json.combinedMarkdown || '').trim().length > 0 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"}}},{"id":"688f9600-e2af-4bee-90ab-646b0322af8c","name":"빈날짜 null","type":"n8n-nodes-base.code","typeVersion":2,"position":[2624,-100],"parameters":{"jsCode":"for (const item of $input.all()) {\n  for (const k of ['reqst_begin_dt', 'reqst_end_dt']) {\n    if (!item.json[k]) item.json[k] = null;\n  }\n}\nreturn $input.all();"}}],"connections":{"board list":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"날짜 체크","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"ai result1":{"main":[[{"node":"If1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0},{"node":"공고상태정리","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"금일 기준":{"main":[[]]},"MySQL":{"main":[[{"node":"If2","type":"main","index":0}]]},"Code":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"If2":{"main":[[{"node":"ai result1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"get detail1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"get title and date","type":"main","index":0},{"node":"공고상태전체개수저장","type":"main","index":0}]]},"If":{"main":[[{"node":"Upload a file2","type":"main","index":0}],[{"node":"hwp->pdf","type":"main","index":0}]]},"Upload a file1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"hwp->pdf":{"main":[[{"node":"Upload a file1","type":"main","index":0}]]},"Upload a file2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"do ocr1","type":"main","index":0}]]},"do ocr1":{"main":[[{"node":"Code23","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"download files1":{"main":[[{"node":"If","type":"main","index":0}]]},"pdf,첨부파일분리":{"main":[[{"node":"download files1","type":"main","index":0}]]},"set cookie":{"main":[[{"node":"get cookie","type":"main","index":0}]]},"get cookie":{"main":[[]]},"get title and date":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"날짜 체크":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"get detail again","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"get detail again":{"main":[[{"node":"리스트 추출4","type":"main","index":0}]]},"리스트 추출4":{"main":[[{"node":"pdf,첨부파일분리","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"board list","type":"main","index":0}]]},"공고상태정리":{"main":[[{"node":"공고상태상세저장","type":"main","index":0}]]},"Code23":{"main":[[{"node":"내용있음?","type":"main","index":0}]]},"내용있음?":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"If1":{"main":[[{"node":"빈날짜 null","type":"main","index":0}]]},"빈날짜 null":{"main":[[{"node":"MySQL1","type":"main","index":0}]]}},"authors":"synerzen synerzen","name":null,"description":null,"autosaved":false},"tags":[]}