51.해양수산과학기술진흥원-Fl00jmB7K9qIMddz.json
{"createdAt":"2025-09-12T04:18:08.516Z","updatedAt":"2025-09-17T23:59:27.664Z","id":"Fl00jmB7K9qIMddz","name":"51.해양수산과학기술진흥원","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2384,-48],"id":"e6e6b73c-c644-47bf-9f5c-a8b6c5371a53","name":"Loop Over Items1"},{"parameters":{"extractionValues":{"values":[{"key":"attach_file_name","cssSelector":"#download > em:nth-child(n) > a:nth-child(1)","returnArray":true},{"key":"attach_file_address","cssSelector":"#download > em:nth-child(n) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"content","cssSelector":".bbs_detail_cont","returnValue":"html"}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[-1296,-48],"typeVersion":1,"id":"9a2aeb76-10a2-4113-9d0b-181cf85a4aeb"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\n\n// -------------------- 어제 날짜 계산 --------------------\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\n\nconst yyyy = yesterday.getFullYear();\nconst mm = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst dd = String(yesterday.getDate()).padStart(2, '0');\n\nlet yesterdayStr = `${yyyy}-${mm}-${dd}`; // 자동 계산된 어제 날짜\n// ------------------------------------------------------\n\n// -------------------- 테스트용 날짜 지정 --------------------\n// 수동 테스트 시 아래 주석 해제\n// yesterdayStr = '2025-03-10';\n// ------------------------------------------------------\n\n// -------------------- baseurl 설정 --------------------\nconst baseUrl = \"https://www.kiost.ac.kr\"; // 필요에 따라 실제 사이트로 변경\n// ------------------------------------------------------\n\n// -------------------- 결과 생성 --------------------\nconst result = announcements\n  .map((announcement, index) => {\n    let url = announcement?.trim() || null;\n\n    // 상대경로 URL을 절대경로로 변환\n    if (url && url.startsWith(\"/\")) {\n      url = baseUrl + url;\n    }\n\n    // 날짜 정리\n    let dateStr = dates[index] || null;\n    if (dateStr) {\n      dateStr = dateStr.replace(/\\s+/g, '').replace(/\\.$/, '');\n      const dateMatch = dateStr.match(/(\\d{4})[.\\-](\\d{1,2})[.\\-](\\d{1,2})/);\n      if (dateMatch) {\n        const y = dateMatch[1];\n        const m = dateMatch[2].padStart(2, '0');\n        const d = dateMatch[3].padStart(2, '0');\n        dateStr = `${y}-${m}-${d}`;\n      }\n    }\n\n    return {\n      json: {\n        announcement: url,\n        title: (titles[index] || '').replace(/[\\[\\]]/g, '').trim(),\n        date: dateStr\n      }\n    };\n  })\n  // 어제 날짜와 일치하는 항목만 필터\n  .filter(item => item.json.date === yesterdayStr);\n\n// return result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2592,-48],"id":"456ec80f-569e-467f-9e40-ef90571011fc","name":"금일 기준"},{"parameters":{"content":"사이트 주소\nhttps://www.kiost.ac.kr/cop/bbs/BBSMSTR_000000000072/selectBoardList.do","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3680,-160],"id":"006140c9-64a2-42d7-94ec-6861124a6762","name":"Sticky Note"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title,\n      announcement\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2224,-272],"id":"4f8867da-2d9a-45ae-b114-b6f75fe9e969","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-2080,-272],"id":"a76c110e-c810-4308-a726-80739c01f64a","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1936,-272],"id":"8be8e09f-0b27-4379-af4c-9946a2b78654","name":"중복조회 IF"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":".tbl_basic > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(2) > div:nth-child(1) > form:nth-child(1)","returnValue":"attribute","attribute":"action","returnArray":true},{"key":"title","cssSelector":".tbl_basic > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(2) > div:nth-child(1) > form:nth-child(1) > input:nth-child(7)","returnValue":"attribute","attribute":"value","returnArray":true},{"key":"date","cssSelector":".tbl_basic > tbody:nth-child(4) > tr:nth-child(n) > td:nth-child(3)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-2896,-48],"typeVersion":1,"id":"c204f5c7-89e3-48b7-8481-628030e90420"},{"parameters":{"url":"={{ $('중복 자료 조회').item.json.announcement }}","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}},"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1632,-48],"id":"b1d75331-44f3-4d0b-abd1-5980e857fa33","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"url":"={{ $('중복 자료 조회').item.json.announcement }}","options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1680,-528],"id":"d8018afd-a6e9-4517-a777-9f2ab8d31611","name":"set cookie","onError":"continueRegularOutput"},{"parameters":{"jsCode":"return {\n  cookie: ($input.first().json.headers['set-cookie'] || []).join('; ')\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1504,-528],"id":"f7b43e11-cc56-472d-a364-3ed57af9f7ad","name":"get cookie"},{"parameters":{"promptType":"define","text":"={{ $json.combinedMarkdown }} \\n에서  \npblanc_nm(공고제목), jrsd_instt_nm(지역 혹은 사이트이름), bsns_sumry_cn(공고요약), trget_nm(대상기업),  \nreqst_begin_end_de(공고 전체기간), reqst_begin_dt(공고시작기간), reqst_end_dt(공고마감기간),  \nreqst_mth_papers_cn(사업신청방법), excInsttNm(사업수행기관), refrnc_nm(문의처), subsidy_amount(지원금액),  \nself_contribution_rate(자부담률), support_target(지원기업 예: 대기업,중소기업), bonus_points_factors(가점요소 50자이내),  \ntotal_budget(예산) 에 대한 정보를 알려줘.\n\n공고제목은 detail_part에서 처음 <p>를 제목으로 참고.\n\n[1] 날짜 변환 규칙  \n- reqst_begin_end_de 형식: YYYYMMDD ~ YYYYMMDD  (형식 지켜줘 very important)\n  → 이를 reqst_begin_dt, reqst_end_dt로 YYYY-MM-DD 형식으로 변환  \n\n[2] 지역명 변환 (cityMap)  \n{\n  \"서울\": \"서울특별시\", \"부산\": \"부산광역시\", \"대구\": \"대구광역시\", \"인천\": \"인천광역시\",\n  \"광주\": \"광주광역시\", \"대전\": \"대전광역시\", \"울산\": \"울산광역시\", \"세종\": \"세종특별자치시\",\n  \"경기\": \"경기도\", \"강원\": \"강원도\", \"충북\": \"충청북도\", \"충남\": \"충청남도\",\n  \"전북\": \"전라북도\", \"전남\": \"전라남도\", \"경북\": \"경상북도\", \"경남\": \"경상남도\",\n  \"제주\": \"제주특별자치도\", \"전지역\": \"전지역\"\n}\n\ntrget_nm 값은 단일값(중소기업, 대기업 등)만 사용.\n\n[3] 첨부파일 경로 변수  \nprint_flpth_nm :   {{ $('pdf,첨부파일분리').item.json.fileAddress }}\nprint_file_nm  : {{ $('pdf,첨부파일분리').item.json.fileName }}\ncreat_p_nttm   : {{ $json.creat_p_nttm }}\ncreated_ts     : {{ $json.created_ts }}\n\n[4] 값이 없거나 찾을 수 없으면 아래 형식으로 빈 문자열(\"\") 처리  \n{\n  \"pblanc_nm\": \"\",\n  \"jrsd_instt_nm\": \"\",\n  \"bsns_sumry_cn\": \"\",\n  \"trget_nm\": \"\",\n  \"reqst_begin_end_de\": \"\",\n  \"reqst_begin_dt\": \"\",\n  \"reqst_end_dt\": \"\",\n  \"reqst_mth_papers_cn\": \"\",\n  \"refrnc_nm\": \"\",\n  \"print_flpth_nm\": \"\",\n  \"print_file_nm\": \"\",\n  \"flpth_nm\": \"\",\n  \"file_nm\": \"\",\n  \"creat_p_nttm\": \"\",\n  \"created_ts\": \"\",\n  \"subsidy_amount\": \"\",\n  \"self_contribution_rate\": \"\",\n  \"support_target\": \"\",\n  \"bonus_points_factors\": \"\",\n  \"total_budget\": \"\"\n}\n\n[5] main_category(대분류) 분류 규칙  \n- 선택지: \"스마트생태공장\", \"상생협력 실증프로그램\", \"스마트공장 / 제조혁신\", \"탄소중립 / 온실가스저감\", \"FEMS 에너지효율화\"  , \"마케팅 / 기술인프라 구축\"\n- 공고 내용에 해당 키워드가 존재하면 선택  \n- 여러 개면 콤마(,)로 구분  \n- 없거나 애매하면 \"\"  \n\n예시:  \n\"컨설팅,스마트생태공장\"\n\n[6] sub_category(설비분류) 분류 규칙  \n- 선택 가능 항목:  \n변압기, 폐유재활용설비, 송풍기, 신재생발전설비, 집진기, 펌프, 콤프레셔, 공기조화기, 열회수환기장치, 보일러, 열교환기, 배출가스처리기, 공기정화기, 탈황기, 탈질기, 오수처리기, 폐수처리기, 냉각탑, 에너지관리시스템, 공정제어시스템, 자동화시스템, 냉동기, 증기재압축장치, 폐열회수시스템, 유수분리기, 압축기, 인버터, 용해로, 응축수회수기, 악취저감설비, 사출성형기  \n- 공고 내용에 해당 설비명이 등장하면 포함  \n- 목록 외 설비는 추가 금지  \n- 없으면 \"\"  \n\n예시:  \n\"인버터,용해로\"\n","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1072,-544],"id":"404ca54b-3004-4202-a504-e76cb9f1763f","name":"Basic LLM Chain","retryOnFail":false,"maxTries":null,"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"$id\": \"https://example.com/product.schema.json\",\n  \"title\": \"anouncement\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"pblanc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고제목 (없으면 공백처리)\"\n    },\n    \"jrsd_instt_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고지역 (없으면 공백처리)\"\n    },\n    \"bsns_sumry_cn\": {\n      \"type\": \"string\",\n      \"description\": \"공고요약 (없으면 공백처리)\"\n    },\n    \"trget_nm\": {\n      \"type\": \"string\",\n      \"description\": \"대상기업 (없으면 공백처리)\"\n    },\n      \"reqst_begin_end_de\": {\n        \"type\": \"string\",\n        \"description\": \"공고 전체 기간 (없으면 공백처리). 형식은 yyyymmdd ~ yyyymmdd. **Important:** If the date format does not match yyyymmdd, you must insert a placeholder or default date.\"\n      },\n      \"reqst_begin_dt\": {\n        \"type\": \"string\",\n        \"description\": \"공고 시작 기간 (없으면 공백처리). **Important:** Date must be in yyyy-mm-dd format; otherwise, use a placeholder or default date.\"\n      },\n      \"reqst_end_dt\": {\n        \"type\": \"string\",\n        \"description\": \"공고 종료 기간 (없으면 공백처리). **Important:** Date must be in yyyy-mm-dd format; otherwise, use a placeholder or default date.\"\n      },\n    \"reqst_mth_papers_cn\": {\n      \"type\": \"string\",\n      \"description\": \"사업신청 방법 (없으면 공백처리)\"\n    },\n    \"excInsttNm\": {\n      \"type\": \"string\",\n      \"description\": \"사업수행기관 (없으면 공백처리)\"\n    },\n    \"refrnc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"문의처내용 (없으면 공백처리)\"\n    },\n    \"print_flpth_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 주소 (없으면 공백처리)\"\n    },\n    \"print_file_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 파일명 (없으면 공백처리)\"\n    },\n    \"subsidy_amount\": {\n      \"type\": \"string\",\n      \"description\": \"지원금액, 원화로 변환 및 금액만 적시 (없으면 공백처리)\"\n    },\n    \"self_contribution_rate\": {\n      \"type\": \"string\",\n      \"description\": \"자부담률 (없으면 공백처리)\"\n    },\n    \"support_target\": {\n      \"type\": \"string\",\n      \"description\": \"지원기업 (예: 대기업, 중소기업, 대명사만 적시, 없으면 공백처리)\"\n    },\n    \"bonus_points_factors\": {\n      \"type\": \"string\",\n      \"description\": \"가점요소(간략하게, 없으면 공백처리,50자이내)\"\n    },\n    \"total_budget\": {\n      \"type\": \"string\",\n      \"description\": \"예산 (없으면 공백처리)\"\n    },\n    \"main_category\": {\n      \"type\": \"string\",\n      \"description\": \"대분류(없으면 공백)\"\n    },\n    \"sub_category\": {\n      \"type\": \"string\",\n      \"description\": \"설비분류 (없으면 공백처리)\"\n    }\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1392,-112],"id":"eecd8df3-4bba-47c7-a8b7-e703626bd8d5","name":"Structured Output Parser","notesInFlow":false},{"parameters":{"modelName":"models/gemini-1.5-flash-8b-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1088,-368],"id":"664f251f-94bb-48fb-a5c2-5509ea5cf38f","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"Hfp6RmexqQYoBvNh","name":"Google Gemini(PaLM) Api account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('Code').item.json.output.pblanc_nm }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"={{ $('Code').item.json.output.jrsd_instt_nm }}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('Code').item.json.output.bsns_sumry_cn }}","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"={{ $('Code').item.json.output.trget_nm }}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{ $('Code').item.json.output.reqst_begin_end_de }}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $('Code').item.json.output.reqst_begin_dt }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $('Code').item.json.output.reqst_end_dt }}","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"={{ $('Code').item.json.output.refrnc_nm }}","type":"string"},{"id":"b5e49522-9965-4e13-90b1-86edf56df9c2","name":"print_flpth_nm","value":"={{ $('pdf,첨부파일분리').item.json.fileAddress }}","type":"string"},{"id":"7e662533-f931-4a90-9dfb-f1386c206c8f","name":"print_file_nm","value":"={{ $('pdf,첨부파일분리').item.json.fileName }}","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"={{ $('pdf,첨부파일분리').item.json.flpth_nm }}","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"={{ $('pdf,첨부파일분리').item.json.file_nm }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"N","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"N","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('pdf,첨부파일분리').item.json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('pdf,첨부파일분리').item.json.created_ts }}","type":"string"},{"id":"9adbcf7a-7243-4479-ab01-6b2ccb31d8a6","name":"subsidy_amount","value":"={{ $('Code').item.json.output.subsidy_amount }}","type":"string"},{"id":"b0d54477-2d5b-4aa1-8905-ca396242ddab","name":"self_contribution_rate","value":"={{ $('Code').item.json.output.self_contribution_rate }}","type":"string"},{"id":"09d5c3f0-2aa9-424f-ba57-bdd0df8ae9bf","name":"support_target","value":"={{ $('Code').item.json.output.support_target }}","type":"string"},{"id":"283f473c-7824-46ef-b963-feb711e63a22","name":"bonus_points_factors","value":"={{ $('Code').item.json.output.bonus_points_factors }}","type":"string"},{"id":"20d0efcf-9335-4130-ad6e-c50b4f37a404","name":"total_budget","value":"={{ $('Code').item.json.output.total_budget }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"={{ $('중복 자료 조회').item.json.announcement }}","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"해양수산과학기술진흥원","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=해양수산과학기술진흥원","type":"string"},{"id":"97c21176-d1a8-4f5c-a312-e5603e2e7569","name":"main_category","value":"={{ $('Code').item.json.output.main_category }}","type":"string"},{"id":"1f7c4cbd-e378-419d-8827-6007de5e6929","name":"sub_category","value":"={{ $('Code').item.json.output.sub_category }}","type":"string"},{"id":"5f567959-9da9-442d-844e-d807c9e134af","name":"reqst_mth_papers_cn","value":"={{ $('Code').item.json.output.reqst_mth_papers_cn }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2064,-544],"id":"05f808eb-46e0-46bc-ae02-0269af0b1871","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2448,-544],"id":"b88b57fa-74c4-43b2-b605-9aaada617199","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":2,"unit":"minutes"},"id":"9fc462a9-ad0e-4af3-bc1d-04d2e8b3f7ad","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2608,-544],"webhookId":"bff1edac-32b5-42f6-adc4-5e194d269240"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2256,-544],"id":"0e5fc8d8-8409-48d5-956e-b4ea638ee7b0","name":"If1","retryOnFail":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[1248,-288],"id":"80444caf-7c80-4129-8df3-c5153b425b6c","name":"Auto-fixing Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1248,-112],"id":"a64424da-d832-4879-a375-7104e688e986","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"SKDNgNmyz3uaizES","name":"OpenAi account"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.output.pblanc_nm }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1648,-544],"id":"373fc25c-b741-4766-8829-9b7a173111c7","name":"MySQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1808,-544],"id":"67c73b10-88d0-439c-81ce-6e329a29c678","name":"If2"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.pblanc_nm) {\n    item.json.pblanc_nm = item.json.pblanc_nm.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,-544],"id":"895ce6b8-64a7-4a7f-8b5b-68aa1b99c02b","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $binary.data.fileName.split('.').pop() }}","rightValue":"=pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-416,-544],"id":"0ea77e7f-28fc-41bb-953d-daf869d6de0b","name":"If"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"f4464826-7cea-4074-91a2-f970b85141de","name":"Upload a file1","type":"n8n-nodes-base.httpRequest","position":[176,-432],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://192.168.10.133:8000/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"5ef4459d-47ef-42ca-880d-27b0ac7b30f3","name":"hwp->pdf","type":"n8n-nodes-base.httpRequest","position":[0,-432],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"08b0543e-f53a-4c95-a019-09a2e932c762","name":"Upload a file2","type":"n8n-nodes-base.httpRequest","position":[0,-704],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{$json[\"id\"]}}/url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,-544],"id":"050c35a4-ecc5-49a5-a63e-d0afdacad012","name":"HTTP Request1","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"a5c55ba9-6bb9-4f6f-b31a-75f1087d09c7","name":"do ocr1","type":"n8n-nodes-base.httpRequest","position":[576,-544],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const pages = $input.first().json.pages;\nlet combinedMarkdown = '';\n\nfor (const page of pages) {\n  combinedMarkdown += page.markdown + '\\n';  // 줄바꿈 포함해서 합치기\n}\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 통합 결과 반환\nreturn [\n  {\n    json: {\n      combinedMarkdown,\n      creat_p_nttm: formatted,\n      created_ts: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,-544],"id":"1dbe1eee-62e3-45b0-8e11-73fc6d46220d","name":"Code23","onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.fileAddress }}","options":{"redirect":{"redirect":{}},"response":{"response":{"fullResponse":true,"responseFormat":"file"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-608,-544],"id":"adb5ef87-8adc-4d47-917b-0c4fc8ee2868","name":"download files1","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $json.announcement_file_exist }}","rightValue":"pdf","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-832,-48],"id":"729d649b-cb07-47eb-9b5c-5d293c0f67f2","name":"if announcement file exist"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"=전지역","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('리스트 추출2').item.json.content }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"C","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $json.created_ts }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"={{ $('중복 자료 조회').item.json.announcement }}","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"해양수산과학기술진흥원","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=해양수산과학기술진흥원","type":"string"},{"id":"4ed84041-fc74-400f-abdc-9b6a85b0e7db","name":"file_nm","value":"={{ $json.file_nm }}","type":"string"},{"id":"9b8887be-63d4-45b0-a00f-b5d9157ea1fd","name":"flpth_nm","value":"={{ $json.flpth_nm }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-464,-48],"id":"f7509faf-fb0c-49cc-b0f4-7a3398a21618","name":"ai result"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-80,-48],"id":"2b0e9f6c-75cc-491b-88cd-167228dfbb77","name":"MySQL2","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"d9f021e7-5338-41b3-af90-408770e7cdb8","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[80,-48],"webhookId":"6d1b83ca-921d-4b88-ab56-5b7872e24295"},{"parameters":{"jsCode":"const items = $('리스트 추출2').first().json;\nconst names = items.attach_file_name || [];\nconst addresses = items.attach_file_address || [];\nconst baseUrl = \"https://www.kiost.ac.kr\";\n\nlet noticeFileName = null;\nlet noticeFileAddress = null;\nlet announcement_file_exist = false;\n\nconst extraFileNames = [];\nconst extraFilePaths = [];\n\n// KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 파일명 전처리\nfunction normalizeFileName(name) {\n    return name\n        ?.replace(/[\\n\\r\\t]/g, \"\")\n        .replace(/\\(파일크기:\\s*[\\d\\.]+[KMG]?B\\s*\\)$/i, \"\")\n        .trim();\n}\n\n// 주소에서 다운로드 URL 생성\nfunction extractFileUrl(address) {\n    if (!address) return null;\n\n    // 1. fn_egov_downFile('atchFileId','fileSn') 패턴 처리\n    let match = address.match(/fn_egov_downFile\\('([^']+)','([^']+)'/);\n    if (match) {\n        const atchFileId = match[1];\n        const fileSn = match[2];\n        return `${baseUrl}/cmm/fms/FileDown.do?atchFileId=${encodeURIComponent(atchFileId)}&fileSn=${encodeURIComponent(fileSn)}`;\n    }\n\n    // 2. 기존 yhLib.file.download 패턴 처리\n    match = address.match(/yhLib\\.file\\.download\\('([^']+)'/);\n    if (match) return `${baseUrl}/download.action?attachId=${match[1]}`;\n\n    // 3. 상대경로나 절대경로 처리\n    if (address.startsWith(\"./\")) return baseUrl + address.substring(1);\n    if (address.startsWith(\"http\")) return address;\n\n    return `${baseUrl}${address}`;\n}\n\nfor (let i = 0; i < names.length; i++) {\n    const name = normalizeFileName(names[i]);\n    const fileUrl = extractFileUrl(addresses[i]);\n    if (!name || !fileUrl) continue;\n\n    // zip 파일은 무조건 extra 쪽으로 보냄\n    if (name.toLowerCase().endsWith(\".zip\")) {\n        extraFileNames.push(name);\n        extraFilePaths.push(fileUrl);\n        continue;\n    }\n\n    if (name.includes(\"공고\") && !noticeFileName) {\n        noticeFileName = name;\n        noticeFileAddress = fileUrl;\n        announcement_file_exist = true;\n    } else {\n        extraFileNames.push(name);\n        extraFilePaths.push(fileUrl);\n    }\n}\n\n// 공고 파일 없는 경우 첫 번째 파일로 대체\nif (!noticeFileName && names.length > 0) {\n    for (let i = 0; i < names.length; i++) {\n        const candidateName = normalizeFileName(names[i]);\n        const candidateUrl = extractFileUrl(addresses[i]);\n        if (!candidateName.toLowerCase().endsWith(\".zip\")) {\n            noticeFileName = candidateName;\n            noticeFileAddress = candidateUrl;\n            break;\n        }\n    }\n}\n\nreturn [{\n    json: {\n        fileName: noticeFileName,\n        fileAddress: noticeFileAddress,\n        file_nm: extraFileNames.join(\"@\"),\n        flpth_nm: extraFilePaths.join(\"@\"),\n        announcement_file_exist: announcement_file_exist,\n        creat_p_nttm: formatted,\n        created_ts: formatted\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1072,-48],"id":"e6d1f1b8-7f41-40a4-9797-a3703c28f616","name":"pdf,첨부파일분리"},{"parameters":{"url":"https://www.kiost.ac.kr/cop/bbs/BBSMSTR_000000000072/selectBoardList.do","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}},"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3152,-48],"id":"e722ed83-313a-477f-b67e-d512ca7dbb5f","name":"get detail","onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"triggerAtHour":3,"triggerAtMinute":40}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3472,-48],"id":"d3e46b8a-8143-4005-bb8b-dd176ca1d430","name":"Schedule Trigger"}],"connections":{"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"pdf,첨부파일분리","type":"main","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"get detail1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"set cookie":{"main":[[{"node":"get cookie","type":"main","index":0}]]},"get cookie":{"main":[[]]},"Basic LLM Chain":{"main":[[{"node":"Code","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"ai result1":{"main":[[{"node":"If1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"If1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"MySQL":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"ai result1","type":"main","index":0}]]},"Code":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"If":{"main":[[{"node":"Upload a file2","type":"main","index":0}],[{"node":"hwp->pdf","type":"main","index":0}]]},"Upload a file1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"hwp->pdf":{"main":[[{"node":"Upload a file1","type":"main","index":0}]]},"Upload a file2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"do ocr1","type":"main","index":0}]]},"do ocr1":{"main":[[{"node":"Code23","type":"main","index":0}]]},"Code23":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"download files1":{"main":[[{"node":"If","type":"main","index":0}]]},"if announcement file exist":{"main":[[{"node":"download files1","type":"main","index":0}],[{"node":"ai result","type":"main","index":0}]]},"ai result":{"main":[[{"node":"MySQL2","type":"main","index":0}]]},"MySQL2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"pdf,첨부파일분리":{"main":[[{"node":"if announcement file exist","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"get detail":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"get detail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"284e8205-9ea1-4a0d-9258-68de2bada7a4","triggerCount":1,"shared":[{"createdAt":"2025-09-12T04:18:08.516Z","updatedAt":"2025-09-12T04:18:08.516Z","role":"workflow:owner","workflowId":"Fl00jmB7K9qIMddz","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}