56.동반성장통합플랫폼-Mq3OYeBK51JHIrYG.json
{"updatedAt":"2026-07-06T07:40:39.484Z","createdAt":"2025-10-01T06:55:50.863Z","id":"Mq3OYeBK51JHIrYG","name":"56.동반성장통합플랫폼","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-8208,1344],"id":"a4b7e8e7-08e7-410e-9a6b-96a5acb4c54e","name":"Loop Over Items1"},{"parameters":{"extractionValues":{"values":[{"key":"attach_file_name","cssSelector":"div.py-2:nth-child(n) > a:nth-child(1)","returnArray":true},{"key":"attach_file_address","cssSelector":"div.py-2:nth-child(n) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"content","cssSelector":"div.container:nth-child(5) > div:nth-child(4)","returnValue":"html"}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[-7120,1344],"typeVersion":1,"id":"5565b584-27a9-4b3b-b698-9be612be737b"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\n\nconst baseUrl = \"https://9988.kospo.co.kr\";\n\n// -------------------- 실제 어제 날짜 계산 --------------------\nlet yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yyyy = yesterday.getFullYear();\nconst mm = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst dd = String(yesterday.getDate()).padStart(2, '0');\nlet yesterdayStr = `${yyyy}-${mm}-${dd}`;\n\n// -------------------- 테스트용 날짜 --------------------\n// yesterdayStr = '2026-06-30'; // 테스트용 날짜\n\n// -------------------- 결과 생성 --------------------\nconst result = announcements\n  .map((announcementStr, index) => {\n    let announcement = null;\n    const str = announcementStr?.trim();\n\n    if (str) {\n      // 상대 URL 그대로 사용\n      announcement = str;\n    }\n\n    if (announcement) {\n      announcement = baseUrl.replace(/\\/$/, '') + announcement; // 절대 URL 생성\n    }\n\n    let dateStr = dates[index] || null;\n    if (dateStr) {\n      dateStr = dateStr.replace(/\\s+/g, '').replace(/\\.$/, '');\n      const dateMatch = dateStr.match(/(\\d{4})[.\\-](\\d{1,2})[.\\-](\\d{1,2})/);\n      if (dateMatch) {\n        const y = dateMatch[1];\n        const m = dateMatch[2].padStart(2, '0');\n        const d = dateMatch[3].padStart(2, '0');\n        dateStr = `${y}-${m}-${d}`;\n      } else dateStr = null;\n    }\n\n    const cleanTitle = (titles[index] || '').replace(/[\\[\\]「」<>\\\"']/g, '').trim();\n\n    return {\n      json: {\n        announcement: announcement,\n        title: cleanTitle,\n        date: dateStr\n      }\n    };\n  })\n  .filter(item => item.json.date === yesterdayStr);\n\nreturn result;\n``\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-8416,1344],"id":"645d4c23-519e-4f38-9a64-327563da2720","name":"금일 기준"},{"parameters":{"content":"사이트 주소\nhttps://9988.kospo.co.kr/pr/PR01R01.do","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-9504,1232],"id":"d2c0c2c7-c361-4922-8551-18ce349e2d34","name":"Sticky Note"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title,\n      announcement\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-8048,1120],"id":"616c38ef-b434-4ae3-b17b-0e47480e79e6","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-7904,1120],"id":"be7ff40e-5958-456b-ab65-adde115b49a2","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7760,1120],"id":"de8dfd08-693e-401c-a798-fff856f67543","name":"중복조회 IF"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":"#tbody > tr:nth-child(n) > td:nth-child(2) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"title","cssSelector":"#tbody > tr:nth-child(n) > td:nth-child(2) > a:nth-child(1)","returnArray":true},{"key":"date","cssSelector":"#tbody > tr:nth-child(n) > td:nth-child(5)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-8720,1344],"typeVersion":1,"id":"6406ee3c-e276-4180-b724-2efd78d92624"},{"parameters":{"url":"={{ $('중복 자료 조회').item.json.announcement }}","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}},"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7456,1344],"id":"c13abcfb-01ba-43de-92c0-e05e3f6e88f1","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"url":"={{ $('중복 자료 조회').item.json.announcement }}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7504,864],"id":"e18f70bc-ba60-4796-b853-61885f5844bc","name":"set cookie","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const raw = $input.first().json.headers['set-cookie'] || [];\nconst cookie = raw.map(c => String(c).split(';')[0]).join('; ');\nreturn { cookie };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-7328,864],"id":"2cd1b974-2e7b-4be1-97d9-ef164591070c","name":"get cookie"},{"parameters":{"promptType":"define","text":"={{ $json.combinedMarkdown }} \\n에서  \npblanc_nm(공고제목), jrsd_instt_nm(지역 혹은 사이트이름), bsns_sumry_cn(공고요약), trget_nm(대상기업),  \nreqst_begin_end_de(공고 전체기간), reqst_begin_dt(공고시작기간), reqst_end_dt(공고마감기간),  \nreqst_mth_papers_cn(사업신청방법), excInsttNm(사업수행기관), refrnc_nm(문의처), subsidy_amount(지원금액),  \nself_contribution_rate(자부담률), support_target(지원기업 예: 대기업,중소기업), bonus_points_factors(가점요소 50자이내),  \ntotal_budget(예산) 에 대한 정보를 알려줘.\n\n공고제목은 detail_part에서 처음 <p>를 제목으로 참고.\n\n[1] 날짜 변환 규칙  \n- reqst_begin_end_de 형식: YYYYMMDD ~ YYYYMMDD  (형식 지켜줘 very important)\n  → 이를 reqst_begin_dt, reqst_end_dt로 YYYY-MM-DD 형식으로 변환  \n\n[2] 지역명 변환 (cityMap)  \n{\n  \"서울\": \"서울특별시\", \"부산\": \"부산광역시\", \"대구\": \"대구광역시\", \"인천\": \"인천광역시\",\n  \"광주\": \"광주광역시\", \"대전\": \"대전광역시\", \"울산\": \"울산광역시\", \"세종\": \"세종특별자치시\",\n  \"경기\": \"경기도\", \"강원\": \"강원도\", \"충북\": \"충청북도\", \"충남\": \"충청남도\",\n  \"전북\": \"전라북도\", \"전남\": \"전라남도\", \"경북\": \"경상북도\", \"경남\": \"경상남도\",\n  \"제주\": \"제주특별자치도\", \"전지역\": \"전지역\"\n}\n\ntrget_nm 값은 단일값(중소기업, 대기업 등)만 사용.\n\n[3] 첨부파일 경로 변수  \n\ncreat_p_nttm   : {{ $json.creat_p_nttm }}\ncreated_ts     : {{ $json.created_ts }}\n\n[4] 값이 없거나 찾을 수 없으면 아래 형식으로 빈 문자열(\"\") 처리  \n{\n  \"pblanc_nm\": \"\",\n  \"jrsd_instt_nm\": \"\",\n  \"bsns_sumry_cn\": \"\",\n  \"trget_nm\": \"\",\n  \"reqst_begin_end_de\": \"\",\n  \"reqst_begin_dt\": \"\",\n  \"reqst_end_dt\": \"\",\n  \"reqst_mth_papers_cn\": \"\",\n  \"refrnc_nm\": \"\",\n  \"print_flpth_nm\": \"\",\n  \"print_file_nm\": \"\",\n  \"flpth_nm\": \"\",\n  \"file_nm\": \"\",\n  \"creat_p_nttm\": \"\",\n  \"created_ts\": \"\",\n  \"subsidy_amount\": \"\",\n  \"self_contribution_rate\": \"\",\n  \"support_target\": \"\",\n  \"bonus_points_factors\": \"\",\n  \"total_budget\": \"\"\n}\n\n[5] main_category(대분류) 분류 규칙  \n- 선택지: \"스마트생태공장\", \"상생협력 실증프로그램\", \"스마트공장 / 제조혁신\", \"탄소중립 / 온실가스저감\", \"FEMS 에너지효율화\"  , \"마케팅 / 기술인프라 구축\"\n- 공고 내용에 해당 키워드가 존재하면 선택  \n- 여러 개면 콤마(,)로 구분  \n- 없거나 애매하면 \"\"  \n\n예시:  \n\"컨설팅,스마트생태공장\"\n\n[6] sub_category(설비분류) 분류 규칙  \n- 선택 가능 항목:  \n변압기, 폐유재활용설비, 송풍기, 신재생발전설비, 집진기, 펌프, 콤프레셔, 공기조화기, 열회수환기장치, 보일러, 열교환기, 배출가스처리기, 공기정화기, 탈황기, 탈질기, 오수처리기, 폐수처리기, 냉각탑, 에너지관리시스템, 공정제어시스템, 자동화시스템, 냉동기, 증기재압축장치, 폐열회수시스템, 유수분리기, 압축기, 인버터, 용해로, 응축수회수기, 악취저감설비, 사출성형기  \n- 공고 내용에 해당 설비명이 등장하면 포함  \n- 목록 외 설비는 추가 금지  \n- 없으면 \"\"  \n\n예시:  \n\"인버터,용해로\"\n","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-4752,848],"id":"85643518-8bcf-41c2-9206-e0f7bb5005c4","name":"Basic LLM Chain","retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"={{ $('전역변수호출').item.json.value }}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-4432,1280],"id":"7059bead-c821-4baf-9a78-31ec7864d6ce","name":"Structured Output Parser","notesInFlow":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-4736,1024],"id":"e7ba6af4-4334-4339-8170-0864f73d19c1","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"1n1ZCgSpI165zI9c","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('Code').item.json.output.pblanc_nm }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"={{ $('Code').item.json.output.jrsd_instt_nm }}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('Code').item.json.output.bsns_sumry_cn }}","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"={{ $('Code').item.json.output.trget_nm }}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{ $('Code').item.json.output.reqst_begin_end_de }}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $('Code').item.json.output.reqst_begin_dt }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $('Code').item.json.output.reqst_end_dt }}","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"={{ $('Code').item.json.output.refrnc_nm }}","type":"string"},{"id":"b5e49522-9965-4e13-90b1-86edf56df9c2","name":"print_flpth_nm","value":"={{ $('pdf,첨부파일분리').item.json.fileAddress }}","type":"string"},{"id":"7e662533-f931-4a90-9dfb-f1386c206c8f","name":"print_file_nm","value":"={{ $('pdf,첨부파일분리').item.json.fileName }}","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"={{ $('pdf,첨부파일분리').item.json.flpth_nm }}","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"={{ $('pdf,첨부파일분리').item.json.file_nm }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"N","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"N","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('pdf,첨부파일분리').item.json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('pdf,첨부파일분리').item.json.created_ts }}","type":"string"},{"id":"9adbcf7a-7243-4479-ab01-6b2ccb31d8a6","name":"subsidy_amount","value":"={{ $('Code').item.json.output.subsidy_amount }}","type":"string"},{"id":"b0d54477-2d5b-4aa1-8905-ca396242ddab","name":"self_contribution_rate","value":"={{ $('Code').item.json.output.self_contribution_rate }}","type":"string"},{"id":"09d5c3f0-2aa9-424f-ba57-bdd0df8ae9bf","name":"support_target","value":"={{ $('Code').item.json.output.support_target }}","type":"string"},{"id":"283f473c-7824-46ef-b963-feb711e63a22","name":"bonus_points_factors","value":"={{ $('Code').item.json.output.bonus_points_factors }}","type":"string"},{"id":"20d0efcf-9335-4130-ad6e-c50b4f37a404","name":"total_budget","value":"={{ $('Code').item.json.output.total_budget }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"={{ $('금일 기준').item.json.announcement }}","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"동반성장통합플랫폼","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=동반성장통합플랫폼","type":"string"},{"id":"97c21176-d1a8-4f5c-a312-e5603e2e7569","name":"main_category","value":"={{ $('Code').item.json.output.main_category }}","type":"string"},{"id":"1f7c4cbd-e378-419d-8827-6007de5e6929","name":"sub_category","value":"={{ $('Code').item.json.output.sub_category }}","type":"string"},{"id":"5f567959-9da9-442d-844e-d807c9e134af","name":"reqst_mth_papers_cn","value":"={{ $('Code').item.json.output.reqst_mth_papers_cn }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3760,848],"id":"f8f27912-d706-4f86-9883-f28726a6e901","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-3376,848],"id":"26333802-9f49-49f4-923d-1418dce45b0c","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}},"onError":"continueRegularOutput"},{"parameters":{"amount":2,"unit":"minutes"},"id":"f4e00894-70c5-4775-bd80-aa3b43cd4bec","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-3088,848],"webhookId":"c1851f6f-b16b-405a-8fa7-ac6fd9d758e9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3568,848],"id":"2dea89af-21ec-4e8b-9a9d-ab3b87387cc2","name":"If1","retryOnFail":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[-4576,1104],"id":"c10ffb6d-4b95-4735-8218-7e07da9e3ba5","name":"Auto-fixing Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-4576,1280],"id":"8fbcc375-9268-4d69-a119-faf2c4486c2d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Kr1yjKQ7nKNTwLtg","name":"sh"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.output.pblanc_nm }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-4176,848],"id":"78542566-0393-4608-9f75-cba8c3d97709","name":"MySQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4016,848],"id":"f86d8bee-456d-47b9-a5e0-843452bb8520","name":"If2"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.pblanc_nm) {\n    item.json.pblanc_nm = item.json.pblanc_nm.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4352,848],"id":"5570f919-5ddd-4e2a-b9be-14c0ac5dd264","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $binary.data.fileName.split('.').pop() }}","rightValue":"=pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6240,848],"id":"0ab00774-45a8-4c38-9219-77e185ea117b","name":"If"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"e24b4f3c-bd5f-4907-a37f-43e3f115fdb0","name":"Upload a file1","type":"n8n-nodes-base.httpRequest","position":[-5648,960],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://192.168.10.133:8000/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"ed77c44b-26d8-4251-8f8e-3822a4f8fad4","name":"hwp->pdf","type":"n8n-nodes-base.httpRequest","position":[-5824,960],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"b21ae152-ad10-4527-b902-29563a36f56e","name":"Upload a file2","type":"n8n-nodes-base.httpRequest","position":[-5824,688],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{$json[\"id\"]}}/url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5440,848],"id":"d48be153-f781-4613-9d25-c9461a4810cf","name":"HTTP Request1","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"3cf5ec47-9702-45a1-bd35-c29afac36fcf","name":"do ocr1","type":"n8n-nodes-base.httpRequest","position":[-5248,848],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const pages = $input.first().json.pages;\nlet combinedMarkdown = '';\n\nfor (const page of pages) {\n  combinedMarkdown += page.markdown + '\\n';  // 줄바꿈 포함해서 합치기\n}\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 통합 결과 반환\nreturn [\n  {\n    json: {\n      combinedMarkdown,\n      creat_p_nttm: formatted,\n      created_ts: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5008,848],"id":"8bfc656d-237a-46d5-8e33-4776bf1c7ee3","name":"Code23","onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.fileAddress }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:143.0) Gecko/20100101 Firefox/143.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Connection","value":"keep-alive"},{"name":"Cookie","value":"={{ $('get cookie').item.json.cookie }}"},{"name":"Upgrade-Insecure-Requests","value":"1"},{"name":"Sec-Fetch-Dest","value":"document"},{"name":"Sec-Fetch-Mode","value":"navigate"},{"name":"Sec-Fetch-Site","value":"none"},{"name":"Sec-Fetch-User","value":"?1"},{"name":"Priority","value":"u=0, i"}]},"options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"response":{"response":{"fullResponse":true,"responseFormat":"file"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6432,848],"id":"8883f3df-0666-4510-b18c-93fbc40de3f4","name":"download files1","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $json.announcement_file_exist }}","rightValue":"pdf","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6656,1344],"id":"1dd86639-9e23-4cc0-aa75-27ddbd618107","name":"if announcement file exist"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"=전지역","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('리스트 추출2').item.json.content }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"C","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $json.created_ts }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=https://www.winwinnuri.or.kr/bd/selectBdNotifyList.do","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"상생누리","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=상생누리","type":"string"},{"id":"62d2dcbe-c742-4e12-a3e1-df7714174058","name":"print_file_nm","value":"={{ $json.fileName }}","type":"string"},{"id":"11fa9db4-02b7-46e1-8333-f8c1302b6928","name":"print_flpth_nm","value":"={{ $json.fileAddress }}","type":"string"},{"id":"11a1fff9-20b9-4709-9abe-893c0bf69dc6","name":"file_nm","value":"={{ $json.file_nm }}","type":"string"},{"id":"c79d031b-8c40-4d2d-b736-631e45e87ff6","name":"flpth_nm","value":"={{ $json.flpth_nm }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6288,1344],"id":"ba5e8a2c-51e6-4ecd-9a0c-697ec6b66d6b","name":"ai result","disabled":true},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-5904,1344],"id":"4d941ae7-2b13-423f-8649-8637f589312d","name":"MySQL2","retryOnFail":true,"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"21e400cc-f22d-470a-b387-c92e7c1edcc7","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-5744,1344],"webhookId":"f3261bbd-363c-4b89-a3c1-57518872083d"},{"parameters":{"jsCode":"const items = $('리스트 추출2').first().json;\nconst names = items.attach_file_name || [];\nconst addresses = items.attach_file_address || [];\n\n// -------------------- baseurl (사이트마다 맞게 변경) --------------------\nconst baseUrl = \"https://9988.kospo.co.kr\";\n\nlet noticeFileName = null;\nlet noticeFileAddress = null;\nlet announcement_file_exist = false;\n\nconst extraFileNames = [];\nconst extraFilePaths = [];\n\n// -------------------- 현재 시각 (KST) --------------------\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// -------------------- 파일명 전처리 --------------------\nfunction normalizeFileName(name) {\n    return name\n        ?.replace(/[\\n\\r\\t]/g, \"\")\n        .replace(/\\(파일크기:\\s*[\\d\\.]+[KMG]?B\\s*\\)$/i, \"\").replace(/\\s*\\([^)]*\\)\\s*$/, \"\")\n        .trim();\n}\n\n// -------------------- 주소 → 다운로드 URL 변환 --------------------\nfunction extractFileUrl(address) {\n    if (!address) return null;\n\n    // 1. javascript:download('32415') 패턴 처리\n    let match = address.match(/download\\('(\\d+)'\\)/);\n    if (match) {\n        const attachNo = match[1];\n        return `${baseUrl}/_custom/cms/_common/board/fira.jsp?attach_no=${attachNo}`;\n    }\n\n    // 2. fn_egov_downFile('atchFileId','fileSn') 패턴\n    match = address.match(/fn_egov_downFile\\('([^']+)','([^']+)'/);\n    if (match) {\n        const atchFileId = match[1];\n        const fileSn = match[2];\n        return `${baseUrl}/cmm/fms/FileDown.do?atchFileId=${encodeURIComponent(atchFileId)}&fileSn=${encodeURIComponent(fileSn)}`;\n    }\n\n    // 3. yhLib.file.download 패턴\n    match = address.match(/yhLib\\.file\\.download\\('([^']+)'/);\n    if (match) return `${baseUrl}/download.action?attachId=${match[1]}`;\n\n    // 4. 상대경로나 절대경로 처리\n    if (address.startsWith(\"./\")) return baseUrl + address.substring(1);\n    if (address.startsWith(\"http\")) return address;\n\n    return `${baseUrl}${address}`;\n}\n\n// -------------------- 파일 분류 --------------------\nfor (let i = 0; i < names.length; i++) {\n    const name = normalizeFileName(names[i]);\n    const fileUrl = extractFileUrl(addresses[i]);\n    if (!name || !fileUrl) continue;\n\n    // zip 파일은 extra로 이동\n    if (name.toLowerCase().endsWith(\".zip\")) {\n        extraFileNames.push(name);\n        extraFilePaths.push(fileUrl);\n        continue;\n    }\n\n    // 공고문 파일 우선 선택\n    if (name.includes(\"공고\") && !noticeFileName) {\n        noticeFileName = name;\n        noticeFileAddress = fileUrl;\n        announcement_file_exist = true;\n    } else {\n        extraFileNames.push(name);\n        extraFilePaths.push(fileUrl);\n    }\n}\n\n// -------------------- 공고 파일 없는 경우 첫 번째 파일 대체 --------------------\nif (!noticeFileName && names.length > 0) {\n    for (let i = 0; i < names.length; i++) {\n        const candidateName = normalizeFileName(names[i]);\n        const candidateUrl = extractFileUrl(addresses[i]);\n        if (!candidateName.toLowerCase().endsWith(\".zip\")) {\n            noticeFileName = candidateName;\n            noticeFileAddress = candidateUrl;\n            break;\n        }\n    }\n}\n\n// -------------------- 최종 리턴 --------------------\nreturn [{\n    json: {\n        fileName: noticeFileName ? noticeFileName.replace(/\\.hwpx$/i, '.hwp') : noticeFileName,\n        fileAddress: noticeFileAddress,\n        file_nm: extraFileNames.join(\"@\"),\n        flpth_nm: extraFilePaths.join(\"@\"),\n        announcement_file_exist: announcement_file_exist,\n        creat_p_nttm: formatted,\n        created_ts: formatted\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6896,1344],"id":"f509d24c-1c50-438d-89b2-20028be86b59","name":"pdf,첨부파일분리"},{"parameters":{"url":"https://9988.kospo.co.kr/pr/PR01R01.do","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}},"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8976,1344],"id":"ae8625c1-66a6-412f-b230-c899346bdd3c","name":"get detail","onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-9424,1344],"id":"65528502-0e52-49e3-b6aa-f69a6631fe88","name":"Schedule Trigger"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"total_count","value":"={{ $json.date.length }}"},{"column":"type","value":"total_count"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-8416,1632],"id":"74bcbd16-fa61-4531-b1bd-5902c9e83822","name":"공고상태전체개수저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"jsCode":"// Function 노드 안\nreturn [\n  {\n    json: {\n      workflowName: $workflow.name,\n      insertId: $input.first().json?.data?.insertId ?? null\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3088,624],"id":"4e98e596-1bed-4cd0-aa99-a9107de6ae31","name":"공고상태정리"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"insertId","value":"={{ $json.insertId }}"},{"column":"type","value":"detail"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-2880,624],"id":"be639aa9-339b-459e-bf49-636dfc6bc39a","name":"공고상태상세저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"n8n_custom_variables","mode":"list","cachedResultName":"n8n_custom_variables"},"where":{"values":[{"column":"name","value":"gpt_parser"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-9184,1344],"id":"8a86c105-f0fb-40d5-bcf2-bd1150642ec4","name":"전역변수호출","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{},"id":"c73a6a5f-4c95-4ea2-9e69-6ebdd8a2e133","name":"hwpx 압축해제","type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[-5824,1216],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const binary = items[i].binary || {};\n  const parts = [];\n  for (const key of Object.keys(binary)) {\n    let buf;\n    try { buf = await this.helpers.getBinaryDataBuffer(i, key); } catch (e) { continue; }\n    const s = buf.toString('utf-8');\n    if (s.indexOf('<hp:t') === -1) continue;\n    parts.push({ name: binary[key].fileName || key, s });\n  }\n  parts.sort((a, b) => a.name.localeCompare(b.name, undefined, { numeric: true }));\n  const xml = parts.map(p => p.s).join('\\n');\n  let text = '';\n  const re = /<hp:t[^>]*>([\\s\\S]*?)<\\/hp:t>/g;\n  let m;\n  while ((m = re.exec(xml)) !== null) {\n    let t = m[1].replace(/<[^>]+>/g, '');\n    t = t.replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '\"').replace(/&apos;/g, \"'\").replace(/&amp;/g, '&');\n    if (t.trim()) text += t + '\\n';\n  }\n  out.push({ json: { pages: [{ markdown: text }] } });\n}\nreturn out;"},"id":"72211198-fca8-46c1-87fa-aa86ff11a6fe","name":"hwpx 텍스트추출","type":"n8n-nodes-base.code","typeVersion":2,"position":[-5584,1216],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\nfor (const item of items) {\n  if (item.binary && item.binary.data) {\n    item.binary.data.fileName = 'archive.zip';\n    item.binary.data.fileExtension = 'zip';\n    item.binary.data.mimeType = 'application/zip';\n  }\n}\nreturn items;"},"id":"c35c258a-1485-45ff-b6e3-cb5316b20626","name":"zip 라벨","type":"n8n-nodes-base.code","typeVersion":2,"position":[-6032,1216]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1b2c3d4-0000-0000-0000-000000000001","leftValue":"={{ ($json.combinedMarkdown || '').trim().length > 0 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"56dbcecd-6564-4239-a62c-224a0f20d312","name":"내용있음?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4832,640]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c1a2b3d4-0000-0000-0000-000000000002","leftValue":"={{ $binary.data.fileName.split('.').pop() }}","rightValue":"hwpx","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"a01dc6e2-f98f-4b68-b0ce-9535be80ea3a","name":"hwpx?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6080,1088]},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  for (const k of ['reqst_begin_dt', 'reqst_end_dt']) {\n    if (!item.json[k]) item.json[k] = null;\n  }\n}\nreturn $input.all();"},"id":"84ade3cc-bb19-4b16-8038-f4e28dcb51ea","name":"빈날짜 null","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3472,1024]}],"connections":{"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"pdf,첨부파일분리","type":"main","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"set cookie","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0},{"node":"공고상태전체개수저장","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"set cookie":{"main":[[{"node":"get cookie","type":"main","index":0}]]},"get cookie":{"main":[[{"node":"get detail1","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"ai result1":{"main":[[{"node":"If1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0},{"node":"공고상태정리","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"MySQL":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"ai result1","type":"main","index":0}]]},"Code":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"If":{"main":[[{"node":"Upload a file2","type":"main","index":0}],[{"node":"hwpx?","type":"main","index":0}]]},"Upload a file1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"hwp->pdf":{"main":[[{"node":"Upload a file1","type":"main","index":0}]]},"Upload a file2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"do ocr1","type":"main","index":0}]]},"do ocr1":{"main":[[{"node":"Code23","type":"main","index":0}]]},"Code23":{"main":[[{"node":"내용있음?","type":"main","index":0}]]},"download files1":{"main":[[{"node":"If","type":"main","index":0}]]},"if announcement file exist":{"main":[[{"node":"download files1","type":"main","index":0}],[{"node":"ai result","type":"main","index":0}]]},"ai result":{"main":[[{"node":"MySQL2","type":"main","index":0}]]},"MySQL2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"pdf,첨부파일분리":{"main":[[{"node":"if announcement file exist","type":"main","index":0}]]},"get detail":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"전역변수호출","type":"main","index":0}]]},"공고상태정리":{"main":[[{"node":"공고상태상세저장","type":"main","index":0}]]},"전역변수호출":{"main":[[{"node":"get detail","type":"main","index":0}]]},"hwpx 압축해제":{"main":[[{"node":"hwpx 텍스트추출","type":"main","index":0}]]},"hwpx 텍스트추출":{"main":[[{"node":"Code23","type":"main","index":0}]]},"zip 라벨":{"main":[[{"node":"hwpx 압축해제","type":"main","index":0}]]},"내용있음?":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"hwpx?":{"main":[[{"node":"zip 라벨","type":"main","index":0}],[{"node":"hwp->pdf","type":"main","index":0}]]},"If1":{"main":[[{"node":"빈날짜 null","type":"main","index":0}]]},"빈날짜 null":{"main":[[{"node":"MySQL1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH","availableInMCP":true,"binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ebaf1588-7e4d-4b5b-b5c2-d95c809c2e46","activeVersionId":"ebaf1588-7e4d-4b5b-b5c2-d95c809c2e46","triggerCount":1,"shared":[{"updatedAt":"2025-10-01T06:55:50.863Z","createdAt":"2025-10-01T06:55:50.863Z","role":"workflow:owner","workflowId":"Mq3OYeBK51JHIrYG","projectId":"YGqg9zdxGQSC73yC"}],"activeVersion":{"updatedAt":"2026-07-06T07:39:54.862Z","createdAt":"2026-07-06T07:39:54.862Z","versionId":"ebaf1588-7e4d-4b5b-b5c2-d95c809c2e46","workflowId":"Mq3OYeBK51JHIrYG","nodes":[{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-8208,1344],"id":"a4b7e8e7-08e7-410e-9a6b-96a5acb4c54e","name":"Loop Over Items1"},{"parameters":{"extractionValues":{"values":[{"key":"attach_file_name","cssSelector":"div.py-2:nth-child(n) > a:nth-child(1)","returnArray":true},{"key":"attach_file_address","cssSelector":"div.py-2:nth-child(n) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"content","cssSelector":"div.container:nth-child(5) > div:nth-child(4)","returnValue":"html"}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[-7120,1344],"typeVersion":1,"id":"5565b584-27a9-4b3b-b698-9be612be737b"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\n\nconst baseUrl = \"https://9988.kospo.co.kr\";\n\n// -------------------- 실제 어제 날짜 계산 --------------------\nlet yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yyyy = yesterday.getFullYear();\nconst mm = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst dd = String(yesterday.getDate()).padStart(2, '0');\nlet yesterdayStr = `${yyyy}-${mm}-${dd}`;\n\n// -------------------- 테스트용 날짜 --------------------\n// yesterdayStr = '2026-06-30'; // 테스트용 날짜\n\n// -------------------- 결과 생성 --------------------\nconst result = announcements\n  .map((announcementStr, index) => {\n    let announcement = null;\n    const str = announcementStr?.trim();\n\n    if (str) {\n      // 상대 URL 그대로 사용\n      announcement = str;\n    }\n\n    if (announcement) {\n      announcement = baseUrl.replace(/\\/$/, '') + announcement; // 절대 URL 생성\n    }\n\n    let dateStr = dates[index] || null;\n    if (dateStr) {\n      dateStr = dateStr.replace(/\\s+/g, '').replace(/\\.$/, '');\n      const dateMatch = dateStr.match(/(\\d{4})[.\\-](\\d{1,2})[.\\-](\\d{1,2})/);\n      if (dateMatch) {\n        const y = dateMatch[1];\n        const m = dateMatch[2].padStart(2, '0');\n        const d = dateMatch[3].padStart(2, '0');\n        dateStr = `${y}-${m}-${d}`;\n      } else dateStr = null;\n    }\n\n    const cleanTitle = (titles[index] || '').replace(/[\\[\\]「」<>\\\"']/g, '').trim();\n\n    return {\n      json: {\n        announcement: announcement,\n        title: cleanTitle,\n        date: dateStr\n      }\n    };\n  })\n  .filter(item => item.json.date === yesterdayStr);\n\nreturn result;\n``\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-8416,1344],"id":"645d4c23-519e-4f38-9a64-327563da2720","name":"금일 기준"},{"parameters":{"content":"사이트 주소\nhttps://9988.kospo.co.kr/pr/PR01R01.do","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-9504,1232],"id":"d2c0c2c7-c361-4922-8551-18ce349e2d34","name":"Sticky Note"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title,\n      announcement\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-8048,1120],"id":"616c38ef-b434-4ae3-b17b-0e47480e79e6","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-7904,1120],"id":"be7ff40e-5958-456b-ab65-adde115b49a2","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7760,1120],"id":"de8dfd08-693e-401c-a798-fff856f67543","name":"중복조회 IF"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":"#tbody > tr:nth-child(n) > td:nth-child(2) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"title","cssSelector":"#tbody > tr:nth-child(n) > td:nth-child(2) > a:nth-child(1)","returnArray":true},{"key":"date","cssSelector":"#tbody > tr:nth-child(n) > td:nth-child(5)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-8720,1344],"typeVersion":1,"id":"6406ee3c-e276-4180-b724-2efd78d92624"},{"parameters":{"url":"={{ $('중복 자료 조회').item.json.announcement }}","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}},"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7456,1344],"id":"c13abcfb-01ba-43de-92c0-e05e3f6e88f1","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"url":"={{ $('중복 자료 조회').item.json.announcement }}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7504,864],"id":"e18f70bc-ba60-4796-b853-61885f5844bc","name":"set cookie","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const raw = $input.first().json.headers['set-cookie'] || [];\nconst cookie = raw.map(c => String(c).split(';')[0]).join('; ');\nreturn { cookie };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-7328,864],"id":"2cd1b974-2e7b-4be1-97d9-ef164591070c","name":"get cookie"},{"parameters":{"promptType":"define","text":"={{ $json.combinedMarkdown }} \\n에서  \npblanc_nm(공고제목), jrsd_instt_nm(지역 혹은 사이트이름), bsns_sumry_cn(공고요약), trget_nm(대상기업),  \nreqst_begin_end_de(공고 전체기간), reqst_begin_dt(공고시작기간), reqst_end_dt(공고마감기간),  \nreqst_mth_papers_cn(사업신청방법), excInsttNm(사업수행기관), refrnc_nm(문의처), subsidy_amount(지원금액),  \nself_contribution_rate(자부담률), support_target(지원기업 예: 대기업,중소기업), bonus_points_factors(가점요소 50자이내),  \ntotal_budget(예산) 에 대한 정보를 알려줘.\n\n공고제목은 detail_part에서 처음 <p>를 제목으로 참고.\n\n[1] 날짜 변환 규칙  \n- reqst_begin_end_de 형식: YYYYMMDD ~ YYYYMMDD  (형식 지켜줘 very important)\n  → 이를 reqst_begin_dt, reqst_end_dt로 YYYY-MM-DD 형식으로 변환  \n\n[2] 지역명 변환 (cityMap)  \n{\n  \"서울\": \"서울특별시\", \"부산\": \"부산광역시\", \"대구\": \"대구광역시\", \"인천\": \"인천광역시\",\n  \"광주\": \"광주광역시\", \"대전\": \"대전광역시\", \"울산\": \"울산광역시\", \"세종\": \"세종특별자치시\",\n  \"경기\": \"경기도\", \"강원\": \"강원도\", \"충북\": \"충청북도\", \"충남\": \"충청남도\",\n  \"전북\": \"전라북도\", \"전남\": \"전라남도\", \"경북\": \"경상북도\", \"경남\": \"경상남도\",\n  \"제주\": \"제주특별자치도\", \"전지역\": \"전지역\"\n}\n\ntrget_nm 값은 단일값(중소기업, 대기업 등)만 사용.\n\n[3] 첨부파일 경로 변수  \n\ncreat_p_nttm   : {{ $json.creat_p_nttm }}\ncreated_ts     : {{ $json.created_ts }}\n\n[4] 값이 없거나 찾을 수 없으면 아래 형식으로 빈 문자열(\"\") 처리  \n{\n  \"pblanc_nm\": \"\",\n  \"jrsd_instt_nm\": \"\",\n  \"bsns_sumry_cn\": \"\",\n  \"trget_nm\": \"\",\n  \"reqst_begin_end_de\": \"\",\n  \"reqst_begin_dt\": \"\",\n  \"reqst_end_dt\": \"\",\n  \"reqst_mth_papers_cn\": \"\",\n  \"refrnc_nm\": \"\",\n  \"print_flpth_nm\": \"\",\n  \"print_file_nm\": \"\",\n  \"flpth_nm\": \"\",\n  \"file_nm\": \"\",\n  \"creat_p_nttm\": \"\",\n  \"created_ts\": \"\",\n  \"subsidy_amount\": \"\",\n  \"self_contribution_rate\": \"\",\n  \"support_target\": \"\",\n  \"bonus_points_factors\": \"\",\n  \"total_budget\": \"\"\n}\n\n[5] main_category(대분류) 분류 규칙  \n- 선택지: \"스마트생태공장\", \"상생협력 실증프로그램\", \"스마트공장 / 제조혁신\", \"탄소중립 / 온실가스저감\", \"FEMS 에너지효율화\"  , \"마케팅 / 기술인프라 구축\"\n- 공고 내용에 해당 키워드가 존재하면 선택  \n- 여러 개면 콤마(,)로 구분  \n- 없거나 애매하면 \"\"  \n\n예시:  \n\"컨설팅,스마트생태공장\"\n\n[6] sub_category(설비분류) 분류 규칙  \n- 선택 가능 항목:  \n변압기, 폐유재활용설비, 송풍기, 신재생발전설비, 집진기, 펌프, 콤프레셔, 공기조화기, 열회수환기장치, 보일러, 열교환기, 배출가스처리기, 공기정화기, 탈황기, 탈질기, 오수처리기, 폐수처리기, 냉각탑, 에너지관리시스템, 공정제어시스템, 자동화시스템, 냉동기, 증기재압축장치, 폐열회수시스템, 유수분리기, 압축기, 인버터, 용해로, 응축수회수기, 악취저감설비, 사출성형기  \n- 공고 내용에 해당 설비명이 등장하면 포함  \n- 목록 외 설비는 추가 금지  \n- 없으면 \"\"  \n\n예시:  \n\"인버터,용해로\"\n","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-4752,848],"id":"85643518-8bcf-41c2-9206-e0f7bb5005c4","name":"Basic LLM Chain","retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"={{ $('전역변수호출').item.json.value }}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-4432,1280],"id":"7059bead-c821-4baf-9a78-31ec7864d6ce","name":"Structured Output Parser","notesInFlow":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-4736,1024],"id":"e7ba6af4-4334-4339-8170-0864f73d19c1","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"1n1ZCgSpI165zI9c","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('Code').item.json.output.pblanc_nm }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"={{ $('Code').item.json.output.jrsd_instt_nm }}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('Code').item.json.output.bsns_sumry_cn }}","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"={{ $('Code').item.json.output.trget_nm }}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{ $('Code').item.json.output.reqst_begin_end_de }}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $('Code').item.json.output.reqst_begin_dt }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $('Code').item.json.output.reqst_end_dt }}","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"={{ $('Code').item.json.output.refrnc_nm }}","type":"string"},{"id":"b5e49522-9965-4e13-90b1-86edf56df9c2","name":"print_flpth_nm","value":"={{ $('pdf,첨부파일분리').item.json.fileAddress }}","type":"string"},{"id":"7e662533-f931-4a90-9dfb-f1386c206c8f","name":"print_file_nm","value":"={{ $('pdf,첨부파일분리').item.json.fileName }}","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"={{ $('pdf,첨부파일분리').item.json.flpth_nm }}","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"={{ $('pdf,첨부파일분리').item.json.file_nm }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"N","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"N","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('pdf,첨부파일분리').item.json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('pdf,첨부파일분리').item.json.created_ts }}","type":"string"},{"id":"9adbcf7a-7243-4479-ab01-6b2ccb31d8a6","name":"subsidy_amount","value":"={{ $('Code').item.json.output.subsidy_amount }}","type":"string"},{"id":"b0d54477-2d5b-4aa1-8905-ca396242ddab","name":"self_contribution_rate","value":"={{ $('Code').item.json.output.self_contribution_rate }}","type":"string"},{"id":"09d5c3f0-2aa9-424f-ba57-bdd0df8ae9bf","name":"support_target","value":"={{ $('Code').item.json.output.support_target }}","type":"string"},{"id":"283f473c-7824-46ef-b963-feb711e63a22","name":"bonus_points_factors","value":"={{ $('Code').item.json.output.bonus_points_factors }}","type":"string"},{"id":"20d0efcf-9335-4130-ad6e-c50b4f37a404","name":"total_budget","value":"={{ $('Code').item.json.output.total_budget }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"={{ $('금일 기준').item.json.announcement }}","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"동반성장통합플랫폼","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=동반성장통합플랫폼","type":"string"},{"id":"97c21176-d1a8-4f5c-a312-e5603e2e7569","name":"main_category","value":"={{ $('Code').item.json.output.main_category }}","type":"string"},{"id":"1f7c4cbd-e378-419d-8827-6007de5e6929","name":"sub_category","value":"={{ $('Code').item.json.output.sub_category }}","type":"string"},{"id":"5f567959-9da9-442d-844e-d807c9e134af","name":"reqst_mth_papers_cn","value":"={{ $('Code').item.json.output.reqst_mth_papers_cn }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3760,848],"id":"f8f27912-d706-4f86-9883-f28726a6e901","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-3376,848],"id":"26333802-9f49-49f4-923d-1418dce45b0c","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}},"onError":"continueRegularOutput"},{"parameters":{"amount":2,"unit":"minutes"},"id":"f4e00894-70c5-4775-bd80-aa3b43cd4bec","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-3088,848],"webhookId":"c1851f6f-b16b-405a-8fa7-ac6fd9d758e9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3568,848],"id":"2dea89af-21ec-4e8b-9a9d-ab3b87387cc2","name":"If1","retryOnFail":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[-4576,1104],"id":"c10ffb6d-4b95-4735-8218-7e07da9e3ba5","name":"Auto-fixing Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-4576,1280],"id":"8fbcc375-9268-4d69-a119-faf2c4486c2d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Kr1yjKQ7nKNTwLtg","name":"sh"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.output.pblanc_nm }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-4176,848],"id":"78542566-0393-4608-9f75-cba8c3d97709","name":"MySQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4016,848],"id":"f86d8bee-456d-47b9-a5e0-843452bb8520","name":"If2"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.pblanc_nm) {\n    item.json.pblanc_nm = item.json.pblanc_nm.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4352,848],"id":"5570f919-5ddd-4e2a-b9be-14c0ac5dd264","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $binary.data.fileName.split('.').pop() }}","rightValue":"=pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6240,848],"id":"0ab00774-45a8-4c38-9219-77e185ea117b","name":"If"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"e24b4f3c-bd5f-4907-a37f-43e3f115fdb0","name":"Upload a file1","type":"n8n-nodes-base.httpRequest","position":[-5648,960],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://192.168.10.133:8000/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"ed77c44b-26d8-4251-8f8e-3822a4f8fad4","name":"hwp->pdf","type":"n8n-nodes-base.httpRequest","position":[-5824,960],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"b21ae152-ad10-4527-b902-29563a36f56e","name":"Upload a file2","type":"n8n-nodes-base.httpRequest","position":[-5824,688],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{$json[\"id\"]}}/url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5440,848],"id":"d48be153-f781-4613-9d25-c9461a4810cf","name":"HTTP Request1","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"3cf5ec47-9702-45a1-bd35-c29afac36fcf","name":"do ocr1","type":"n8n-nodes-base.httpRequest","position":[-5248,848],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const pages = $input.first().json.pages;\nlet combinedMarkdown = '';\n\nfor (const page of pages) {\n  combinedMarkdown += page.markdown + '\\n';  // 줄바꿈 포함해서 합치기\n}\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 통합 결과 반환\nreturn [\n  {\n    json: {\n      combinedMarkdown,\n      creat_p_nttm: formatted,\n      created_ts: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5008,848],"id":"8bfc656d-237a-46d5-8e33-4776bf1c7ee3","name":"Code23","onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.fileAddress }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:143.0) Gecko/20100101 Firefox/143.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Connection","value":"keep-alive"},{"name":"Cookie","value":"={{ $('get cookie').item.json.cookie }}"},{"name":"Upgrade-Insecure-Requests","value":"1"},{"name":"Sec-Fetch-Dest","value":"document"},{"name":"Sec-Fetch-Mode","value":"navigate"},{"name":"Sec-Fetch-Site","value":"none"},{"name":"Sec-Fetch-User","value":"?1"},{"name":"Priority","value":"u=0, i"}]},"options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"response":{"response":{"fullResponse":true,"responseFormat":"file"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6432,848],"id":"8883f3df-0666-4510-b18c-93fbc40de3f4","name":"download files1","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $json.announcement_file_exist }}","rightValue":"pdf","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6656,1344],"id":"1dd86639-9e23-4cc0-aa75-27ddbd618107","name":"if announcement file exist"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"=전지역","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('리스트 추출2').item.json.content }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"C","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $json.created_ts }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=https://www.winwinnuri.or.kr/bd/selectBdNotifyList.do","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"상생누리","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=상생누리","type":"string"},{"id":"62d2dcbe-c742-4e12-a3e1-df7714174058","name":"print_file_nm","value":"={{ $json.fileName }}","type":"string"},{"id":"11fa9db4-02b7-46e1-8333-f8c1302b6928","name":"print_flpth_nm","value":"={{ $json.fileAddress }}","type":"string"},{"id":"11a1fff9-20b9-4709-9abe-893c0bf69dc6","name":"file_nm","value":"={{ $json.file_nm }}","type":"string"},{"id":"c79d031b-8c40-4d2d-b736-631e45e87ff6","name":"flpth_nm","value":"={{ $json.flpth_nm }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6288,1344],"id":"ba5e8a2c-51e6-4ecd-9a0c-697ec6b66d6b","name":"ai result","disabled":true},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-5904,1344],"id":"4d941ae7-2b13-423f-8649-8637f589312d","name":"MySQL2","retryOnFail":true,"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"21e400cc-f22d-470a-b387-c92e7c1edcc7","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-5744,1344],"webhookId":"f3261bbd-363c-4b89-a3c1-57518872083d"},{"parameters":{"jsCode":"const items = $('리스트 추출2').first().json;\nconst names = items.attach_file_name || [];\nconst addresses = items.attach_file_address || [];\n\n// -------------------- baseurl (사이트마다 맞게 변경) --------------------\nconst baseUrl = \"https://9988.kospo.co.kr\";\n\nlet noticeFileName = null;\nlet noticeFileAddress = null;\nlet announcement_file_exist = false;\n\nconst extraFileNames = [];\nconst extraFilePaths = [];\n\n// -------------------- 현재 시각 (KST) --------------------\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// -------------------- 파일명 전처리 --------------------\nfunction normalizeFileName(name) {\n    return name\n        ?.replace(/[\\n\\r\\t]/g, \"\")\n        .replace(/\\(파일크기:\\s*[\\d\\.]+[KMG]?B\\s*\\)$/i, \"\").replace(/\\s*\\([^)]*\\)\\s*$/, \"\")\n        .trim();\n}\n\n// -------------------- 주소 → 다운로드 URL 변환 --------------------\nfunction extractFileUrl(address) {\n    if (!address) return null;\n\n    // 1. javascript:download('32415') 패턴 처리\n    let match = address.match(/download\\('(\\d+)'\\)/);\n    if (match) {\n        const attachNo = match[1];\n        return `${baseUrl}/_custom/cms/_common/board/fira.jsp?attach_no=${attachNo}`;\n    }\n\n    // 2. fn_egov_downFile('atchFileId','fileSn') 패턴\n    match = address.match(/fn_egov_downFile\\('([^']+)','([^']+)'/);\n    if (match) {\n        const atchFileId = match[1];\n        const fileSn = match[2];\n        return `${baseUrl}/cmm/fms/FileDown.do?atchFileId=${encodeURIComponent(atchFileId)}&fileSn=${encodeURIComponent(fileSn)}`;\n    }\n\n    // 3. yhLib.file.download 패턴\n    match = address.match(/yhLib\\.file\\.download\\('([^']+)'/);\n    if (match) return `${baseUrl}/download.action?attachId=${match[1]}`;\n\n    // 4. 상대경로나 절대경로 처리\n    if (address.startsWith(\"./\")) return baseUrl + address.substring(1);\n    if (address.startsWith(\"http\")) return address;\n\n    return `${baseUrl}${address}`;\n}\n\n// -------------------- 파일 분류 --------------------\nfor (let i = 0; i < names.length; i++) {\n    const name = normalizeFileName(names[i]);\n    const fileUrl = extractFileUrl(addresses[i]);\n    if (!name || !fileUrl) continue;\n\n    // zip 파일은 extra로 이동\n    if (name.toLowerCase().endsWith(\".zip\")) {\n        extraFileNames.push(name);\n        extraFilePaths.push(fileUrl);\n        continue;\n    }\n\n    // 공고문 파일 우선 선택\n    if (name.includes(\"공고\") && !noticeFileName) {\n        noticeFileName = name;\n        noticeFileAddress = fileUrl;\n        announcement_file_exist = true;\n    } else {\n        extraFileNames.push(name);\n        extraFilePaths.push(fileUrl);\n    }\n}\n\n// -------------------- 공고 파일 없는 경우 첫 번째 파일 대체 --------------------\nif (!noticeFileName && names.length > 0) {\n    for (let i = 0; i < names.length; i++) {\n        const candidateName = normalizeFileName(names[i]);\n        const candidateUrl = extractFileUrl(addresses[i]);\n        if (!candidateName.toLowerCase().endsWith(\".zip\")) {\n            noticeFileName = candidateName;\n            noticeFileAddress = candidateUrl;\n            break;\n        }\n    }\n}\n\n// -------------------- 최종 리턴 --------------------\nreturn [{\n    json: {\n        fileName: noticeFileName ? noticeFileName.replace(/\\.hwpx$/i, '.hwp') : noticeFileName,\n        fileAddress: noticeFileAddress,\n        file_nm: extraFileNames.join(\"@\"),\n        flpth_nm: extraFilePaths.join(\"@\"),\n        announcement_file_exist: announcement_file_exist,\n        creat_p_nttm: formatted,\n        created_ts: formatted\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6896,1344],"id":"f509d24c-1c50-438d-89b2-20028be86b59","name":"pdf,첨부파일분리"},{"parameters":{"url":"https://9988.kospo.co.kr/pr/PR01R01.do","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}},"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8976,1344],"id":"ae8625c1-66a6-412f-b230-c899346bdd3c","name":"get detail","onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-9424,1344],"id":"65528502-0e52-49e3-b6aa-f69a6631fe88","name":"Schedule Trigger"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"total_count","value":"={{ $json.date.length }}"},{"column":"type","value":"total_count"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-8416,1632],"id":"74bcbd16-fa61-4531-b1bd-5902c9e83822","name":"공고상태전체개수저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"jsCode":"// Function 노드 안\nreturn [\n  {\n    json: {\n      workflowName: $workflow.name,\n      insertId: $input.first().json?.data?.insertId ?? null\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3088,624],"id":"4e98e596-1bed-4cd0-aa99-a9107de6ae31","name":"공고상태정리"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"insertId","value":"={{ $json.insertId }}"},{"column":"type","value":"detail"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-2880,624],"id":"be639aa9-339b-459e-bf49-636dfc6bc39a","name":"공고상태상세저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"n8n_custom_variables","mode":"list","cachedResultName":"n8n_custom_variables"},"where":{"values":[{"column":"name","value":"gpt_parser"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-9184,1344],"id":"8a86c105-f0fb-40d5-bcf2-bd1150642ec4","name":"전역변수호출","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{},"id":"c73a6a5f-4c95-4ea2-9e69-6ebdd8a2e133","name":"hwpx 압축해제","type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[-5824,1216],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const binary = items[i].binary || {};\n  const parts = [];\n  for (const key of Object.keys(binary)) {\n    let buf;\n    try { buf = await this.helpers.getBinaryDataBuffer(i, key); } catch (e) { continue; }\n    const s = buf.toString('utf-8');\n    if (s.indexOf('<hp:t') === -1) continue;\n    parts.push({ name: binary[key].fileName || key, s });\n  }\n  parts.sort((a, b) => a.name.localeCompare(b.name, undefined, { numeric: true }));\n  const xml = parts.map(p => p.s).join('\\n');\n  let text = '';\n  const re = /<hp:t[^>]*>([\\s\\S]*?)<\\/hp:t>/g;\n  let m;\n  while ((m = re.exec(xml)) !== null) {\n    let t = m[1].replace(/<[^>]+>/g, '');\n    t = t.replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '\"').replace(/&apos;/g, \"'\").replace(/&amp;/g, '&');\n    if (t.trim()) text += t + '\\n';\n  }\n  out.push({ json: { pages: [{ markdown: text }] } });\n}\nreturn out;"},"id":"72211198-fca8-46c1-87fa-aa86ff11a6fe","name":"hwpx 텍스트추출","type":"n8n-nodes-base.code","typeVersion":2,"position":[-5584,1216],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\nfor (const item of items) {\n  if (item.binary && item.binary.data) {\n    item.binary.data.fileName = 'archive.zip';\n    item.binary.data.fileExtension = 'zip';\n    item.binary.data.mimeType = 'application/zip';\n  }\n}\nreturn items;"},"id":"c35c258a-1485-45ff-b6e3-cb5316b20626","name":"zip 라벨","type":"n8n-nodes-base.code","typeVersion":2,"position":[-6032,1216]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1b2c3d4-0000-0000-0000-000000000001","leftValue":"={{ ($json.combinedMarkdown || '').trim().length > 0 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"56dbcecd-6564-4239-a62c-224a0f20d312","name":"내용있음?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4832,640]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c1a2b3d4-0000-0000-0000-000000000002","leftValue":"={{ $binary.data.fileName.split('.').pop() }}","rightValue":"hwpx","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"a01dc6e2-f98f-4b68-b0ce-9535be80ea3a","name":"hwpx?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6080,1088]},{"id":"84ade3cc-bb19-4b16-8038-f4e28dcb51ea","name":"빈날짜 null","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3472,1024],"parameters":{"jsCode":"for (const item of $input.all()) {\n  for (const k of ['reqst_begin_dt', 'reqst_end_dt']) {\n    if (!item.json[k]) item.json[k] = null;\n  }\n}\nreturn $input.all();"}}],"connections":{"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"pdf,첨부파일분리","type":"main","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"set cookie","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0},{"node":"공고상태전체개수저장","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"set cookie":{"main":[[{"node":"get cookie","type":"main","index":0}]]},"get cookie":{"main":[[{"node":"get detail1","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"ai result1":{"main":[[{"node":"If1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0},{"node":"공고상태정리","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"MySQL":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"ai result1","type":"main","index":0}]]},"Code":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"If":{"main":[[{"node":"Upload a file2","type":"main","index":0}],[{"node":"hwpx?","type":"main","index":0}]]},"Upload a file1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"hwp->pdf":{"main":[[{"node":"Upload a file1","type":"main","index":0}]]},"Upload a file2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"do ocr1","type":"main","index":0}]]},"do ocr1":{"main":[[{"node":"Code23","type":"main","index":0}]]},"Code23":{"main":[[{"node":"내용있음?","type":"main","index":0}]]},"download files1":{"main":[[{"node":"If","type":"main","index":0}]]},"if announcement file exist":{"main":[[{"node":"download files1","type":"main","index":0}],[{"node":"ai result","type":"main","index":0}]]},"ai result":{"main":[[{"node":"MySQL2","type":"main","index":0}]]},"MySQL2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"pdf,첨부파일분리":{"main":[[{"node":"if announcement file exist","type":"main","index":0}]]},"get detail":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"전역변수호출","type":"main","index":0}]]},"공고상태정리":{"main":[[{"node":"공고상태상세저장","type":"main","index":0}]]},"전역변수호출":{"main":[[{"node":"get detail","type":"main","index":0}]]},"hwpx 압축해제":{"main":[[{"node":"hwpx 텍스트추출","type":"main","index":0}]]},"hwpx 텍스트추출":{"main":[[{"node":"Code23","type":"main","index":0}]]},"zip 라벨":{"main":[[{"node":"hwpx 압축해제","type":"main","index":0}]]},"내용있음?":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"hwpx?":{"main":[[{"node":"zip 라벨","type":"main","index":0}],[{"node":"hwp->pdf","type":"main","index":0}]]},"If1":{"main":[[{"node":"빈날짜 null","type":"main","index":0}]]},"빈날짜 null":{"main":[[{"node":"MySQL1","type":"main","index":0}]]}},"authors":"synerzen synerzen","name":null,"description":null,"autosaved":false},"tags":[]}