error-workflow-Mlhukb9mbuzpvwkH.json
{"createdAt":"2025-06-16T07:56:07.641Z","updatedAt":"2025-09-17T01:40:41.541Z","id":"Mlhukb9mbuzpvwkH","name":"Error Workflow","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"02d649a0-f156-46a9-bf01-b476c6df3ef5","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-64,544]},{"parameters":{"assignments":{"assignments":[{"id":"438d477a-7e63-41d8-bb88-4e4647c4e327","name":"workflow_name","value":"={{ $json.workflow.name }}","type":"string"},{"id":"d9c86991-3166-45ed-b052-d5bdb87fa013","name":"stack_trace","value":"= {{ $json.execution.error.stack }}","type":"string"},{"id":"7e62d22a-8175-4e20-abf7-0c705d9df3ea","name":"error_message","value":"={{ $json.execution.error.message }}","type":"string"},{"id":"e24fe4a3-1e40-455d-9738-2decd45c7dce","name":"last_node_executed","value":"={{ $json.execution.lastNodeExecuted }}","type":"string"}]},"options":{}},"id":"b4c4983b-f9ab-44a2-8a61-85ffae569ed7","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,704]},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"n8n_error_logs","mode":"list","cachedResultName":"n8n_error_logs"},"columnToMatchOn":"id","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[640,704],"id":"0732adf4-500e-46dd-9b3e-d17d389cb208","name":"MySQL","credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueErrorOutput"}],"connections":{"Error Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"MySQL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a2436973-c2eb-4d46-a91c-aa6bbe6e0bea","triggerCount":0,"shared":[{"createdAt":"2025-06-16T07:56:07.641Z","updatedAt":"2025-06-16T07:56:07.641Z","role":"workflow:owner","workflowId":"Mlhukb9mbuzpvwkH","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}