my-workflow-5-YpwWjEfe2ybPLOjf.json
{"createdAt":"2025-06-04T05:59:14.423Z","updatedAt":"2025-06-20T00:20:02.821Z","id":"YpwWjEfe2ybPLOjf","name":"My workflow 5","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-820,-100],"id":"ef8f35f5-2d3a-4fd8-be0e-e514515022f8","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"getAllPeople"},"type":"n8n-nodes-base.n8nTrainingCustomerDatastore","typeVersion":1,"position":[-140,-100],"id":"3f3afcf3-d51b-40e1-9f74-ce744c1f21e3","name":"Customer Datastore (n8n training)"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[140,-120],"id":"74eeb065-9403-4aa0-9190-524a3f45bb31","name":"Loop Over Items"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"append","field":"=name"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[380,-220],"id":"bd08cfe9-d315-45d7-95c0-cab21ae35781","name":"Summarize"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (let i=0; i < 100; i++) {\n  item.json.item = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-600,-100],"id":"8cc29417-24da-4528-88aa-de980573050a","name":"Code"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Code","type":"main","index":0}]]},"Customer Datastore (n8n training)":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Summarize","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Summarize":{"main":[[]]},"Code":{"main":[[{"node":"Customer Datastore (n8n training)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"33a1bb44-e26f-4f59-89ee-d2a97ab8eb04","triggerCount":0,"shared":[{"createdAt":"2025-06-04T05:59:14.423Z","updatedAt":"2025-06-04T05:59:14.423Z","role":"workflow:owner","workflowId":"YpwWjEfe2ybPLOjf","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}