my-workflow-6-YOkIh8Te2j14wzz1.json
{"updatedAt":"2025-06-20T00:20:47.618Z","createdAt":"2025-06-04T08:24:14.203Z","id":"YOkIh8Te2j14wzz1","name":"My workflow 6","active":false,"isArchived":true,"nodes":[{"parameters":{"command":"mkdir -p  /home/node/.cache/scrapper/"},"name":"Create Directory","type":"n8n-nodes-base.executeCommand","position":[-540,-40],"typeVersion":1,"id":"0b8a240d-6cb8-43df-bfa6-5c3221a6f918","continueOnFail":true},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"image_url\",\n    \"image_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"b1532468-db07-4ca4-99ae-0462dee948b3","name":"do ocr","type":"n8n-nodes-base.httpRequest","position":[2840,-80],"typeVersion":4.2,"alwaysOutputData":true,"credentials":{"mistralCloudApi":{"id":"DMvGIk4nGb1Gfy0K","name":"Mistral Cloud account 2"}}},{"parameters":{"content":"## 게시글 루프","height":780,"width":3060},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[440,-260],"id":"0805ef36-8de9-47c2-9c2c-64e774606fdc","name":"Sticky Note"},{"parameters":{"content":"### ocr 이미지 루프","height":360,"width":1780,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1360,-180],"id":"b12ae26c-60fd-4ced-b742-0d70406fd44f","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3214aba2-1cb9-4fd8-8c84-f96038b2ba84","leftValue":"={{ $node[\"per 1 img\"].context[\"noItemsLeft\"] }}","rightValue":2,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3240,-80],"id":"14fe5ba3-9fb2-47bc-a7d9-b72a84601ecc","name":"ocr end?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"882a64c5-3422-4ffd-b342-2eeb4b1d7abc","leftValue":"={{ $node[\"per 1 announcement\"].context[\"noItemsLeft\"] }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4860,280],"id":"0008826e-1b76-4910-977c-4a7f4d8bf19e","name":"page end?"},{"parameters":{},"name":"execute","type":"n8n-nodes-base.manualTrigger","position":[-720,-40],"typeVersion":1,"id":"cbb1b27c-dea7-4138-b084-5b2ffa8dae90"},{"parameters":{"jsCode":"return {\n        base_url: 'https://www.seoultp.or.kr',\n        board_list: '/user/nd19746.do',\n        api_key: 'gqWjltgMgARE3CsbEOXptHkJeXetB4gO',\n        str: ''\n       }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-380,-40],"id":"f867beb7-24bc-488f-a61b-fe2a46df9280","name":"settings"},{"parameters":{"url":"={{ $json.base_url + $json.board_list}}?page=2","responseFormat":"string","options":{}},"name":"board list","type":"n8n-nodes-base.httpRequest","position":[-200,-40],"typeVersion":1,"id":"2cc055f6-9241-424f-86b1-88c3ee16bfae"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":"table > tbody > tr > td > a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}},"name":"html extract board detail list","type":"n8n-nodes-base.htmlExtract","position":[0,-40],"typeVersion":1,"id":"29df5f40-4b31-4cbd-be50-57571c814320"},{"parameters":{"functionCode":"return items[0].json.announcements.map(function(announcement) {\n  const match = announcement.match(/'(\\d{8})'/);\n  const match2 = match[0].replaceAll(\"'\", \"\");\n  match2.trim();\n  return {\n  json: {announcement: match2}\n  }\n});"},"name":"Prepare announcement","type":"n8n-nodes-base.function","position":[220,-40],"typeVersion":1,"id":"8ee16283-d495-47ec-8f12-9173e99c8e93"},{"parameters":{"batchSize":1,"options":{"reset":"={{ $node[\"per 1 announcement\"].context[\"noItemsLeft\"] }}"}},"name":"per 1 announcement","type":"n8n-nodes-base.splitInBatches","position":[520,-40],"typeVersion":1,"id":"c16a1cc8-3995-4cf0-b8ac-de03646e9d53","executeOnce":false,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $('settings').item.json.base_url + $('settings').item.json.board_list }}?View&boardNo={{ $json.announcement }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1140,-40],"id":"ffa13fde-3555-4b39-88c2-7997cbe91a24","name":"get detail"},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"=data","extractionValues":{"values":[{"key":"img","cssSelector":"table > tbody > tr > td > div > p > a > img","returnValue":"attribute","attribute":"src","returnArray":true},{"key":"img2","cssSelector":".table-cont > p > img","returnValue":"attribute","attribute":"src","returnArray":true},{"key":"board","cssSelector":".board-write > tbody > tr > td","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1260,180],"id":"dea5df33-03c2-46bd-869c-e236d30dd146","name":"extract img list","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"987498f6-b083-4f58-b8a4-62f111640464","leftValue":"={{ $json.board[2].replaceAll('.', '-') }};\n","rightValue":"={{ $today.minus(1, 'years') }}","operator":{"type":"dateTime","operation":"afterOrEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1400,180],"id":"3281ad24-1d6d-495c-8bc9-c614cda51141","name":"is it today?"},{"parameters":{"functionCode":"\nconst list1 = $input.first().json.img\nconst list2 = $input.first().json.img2\n\nconst list = list1.concat(list2);\nreturn list.map(function(item) {\n  return {list: item}\n});\n\n \n"},"name":"Prepare imgs","type":"n8n-nodes-base.function","position":[1640,-40],"typeVersion":1,"id":"2a8d5a1e-a85c-44fc-93ab-b265b6495bbc"},{"parameters":{"batchSize":1,"options":{"reset":"= {{ $node[\"per 1 img\"].context[\"done\"] }}"}},"name":"per 1 img","type":"n8n-nodes-base.splitInBatches","position":[1840,-40],"typeVersion":1,"id":"74c1984e-9485-4c05-bfe4-21ede36ec07b","executeOnce":false,"alwaysOutputData":false},{"parameters":{"url":"={{ $json.list }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Disposition"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2180,-160],"id":"36bbfe69-6928-4772-a90b-67133b44c08e","name":"get img","alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"2b637ed7-9355-444e-ab0a-b99a72ce85f9","name":"Upload a img","type":"n8n-nodes-base.httpRequest","position":[2380,-80],"typeVersion":4.2,"alwaysOutputData":true,"credentials":{"mistralCloudApi":{"id":"DMvGIk4nGb1Gfy0K","name":"Mistral Cloud account 2"}}},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{ $json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","options":{"allowUnauthorizedCerts":false}},"id":"40369e19-06d8-4e3c-8591-1f79039df726","name":"Retrieve img","type":"n8n-nodes-base.httpRequest","position":[2520,-80],"typeVersion":4.2,"credentials":{"mistralCloudApi":{"id":"DMvGIk4nGb1Gfy0K","name":"Mistral Cloud account 2"}}},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{ $json.id }}/url","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"expiry","value":"24"}]},"options":{"allowUnauthorizedCerts":false}},"id":"99d301d2-3a62-4cf7-b880-9055a687c688","name":"Retrieve img2","type":"n8n-nodes-base.httpRequest","position":[2680,-80],"typeVersion":4.2,"credentials":{"mistralCloudApi":{"id":"DMvGIk4nGb1Gfy0K","name":"Mistral Cloud account 2"}}},{"parameters":{"url":"={{ $('settings').item.json.base_url + $json.list }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Disposition"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2180,0],"id":"5ae9082c-b7bf-4949-9e42-ac52440f801b","name":"get img1","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b678027-4ef0-48a2-be86-69f6234163bc","leftValue":"={{ $json.list }}","rightValue":"http","operator":{"type":"string","operation":"startsWith"}},{"id":"b89a7288-14b1-482f-83ac-6239ea5c0139","leftValue":"={{ $json.list }}","rightValue":"https","operator":{"type":"string","operation":"startsWith"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2000,-40],"id":"ac2556e0-a77c-43cd-a019-2ed939f891e7","name":"url starts with http or https"},{"parameters":{},"id":"4ce78aa6-85f4-4aba-b579-6d9f6d0cdc4b","name":"NoOp","type":"n8n-nodes-base.noOp","position":[3000,-80],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"c224f50d-04dc-493e-94ee-d4d2bb0277c9","name":"output","value":"[]","type":"array"},{"id":"b554eecb-56ca-4f1b-9274-0ee5364403a2","name":"announcement","value":"={{ $json.announcement }}","type":"string"},{"id":"c64b4a12-abaf-4efb-bc69-4e80e6bf628b","name":"iteration","value":0,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[820,-40],"id":"ad14e565-4908-49a5-82ed-c7879dec6cc5","name":"Edit Fields"},{"parameters":{"jsCode":"var a =  \n[\n{\n\"list\": \n\"/common/attachfile/attachfileView.do?attachNo=00006275\"\n},\n{\n\"list\": \n\"/common/attachfile/attachfileView.do?attachNo=00006276\"\n},\n{\n\"list\": \n\"/common/attachfile/attachfileView.do?attachNo=00006277\"\n},\n{\n\"list\": \n\"/common/attachfile/attachfileView.do?attachNo=00006278\"\n},\n{\n\"list\": \n\"/common/attachfile/attachfileView.do?attachNo=00006279\"\n}\n]\n\nreturn a;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,740],"id":"05e4f20d-41aa-44df-b845-2d80956e2ea4","name":"Code"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"image_url\",\n    \"image_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"68691d4e-0e15-4d49-9824-54c9903d66bb","name":"do ocr1","type":"n8n-nodes-base.httpRequest","position":[460,740],"typeVersion":4.2,"alwaysOutputData":true,"credentials":{"mistralCloudApi":{"id":"DMvGIk4nGb1Gfy0K","name":"Mistral Cloud account 2"}}},{"parameters":{"url":"={{ $json.list }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Disposition"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-200,660],"id":"686659fe-cf13-4f4b-a5a1-06671784ef79","name":"get img2","alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"4413c5c1-ff01-4b68-8c84-a85a41954da3","name":"Upload a img1","type":"n8n-nodes-base.httpRequest","position":[0,740],"typeVersion":4.2,"alwaysOutputData":true,"credentials":{"mistralCloudApi":{"id":"DMvGIk4nGb1Gfy0K","name":"Mistral Cloud account 2"}}},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{ $json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","options":{"allowUnauthorizedCerts":false}},"id":"298b3f3d-6724-4d03-8b44-b46f81356da9","name":"Retrieve img1","type":"n8n-nodes-base.httpRequest","position":[140,740],"typeVersion":4.2,"credentials":{"mistralCloudApi":{"id":"DMvGIk4nGb1Gfy0K","name":"Mistral Cloud account 2"}}},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{ $json.id }}/url","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"expiry","value":"24"}]},"options":{"allowUnauthorizedCerts":false}},"id":"0afc9d77-2de7-4620-afb2-9a97a229b26c","name":"Retrieve img3","type":"n8n-nodes-base.httpRequest","position":[300,740],"typeVersion":4.2,"credentials":{"mistralCloudApi":{"id":"DMvGIk4nGb1Gfy0K","name":"Mistral Cloud account 2"}}},{"parameters":{"url":"={{ $('settings1').item.json.base_url + $json.list }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Disposition"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-200,820],"id":"e04e5a66-9b32-4b59-9365-00a3e27d8bd9","name":"get img3","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b678027-4ef0-48a2-be86-69f6234163bc","leftValue":"={{ $json.list }}","rightValue":"http","operator":{"type":"string","operation":"startsWith"}},{"id":"b89a7288-14b1-482f-83ac-6239ea5c0139","leftValue":"={{ $json.list }}","rightValue":"https","operator":{"type":"string","operation":"startsWith"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-380,740],"id":"928154e7-b808-43ed-a248-87469f37b617","name":"url starts with http or https1"},{"parameters":{},"id":"7f484350-38d6-4040-b4ab-ab172756d11a","name":"NoOp1","type":"n8n-nodes-base.noOp","position":[620,740],"typeVersion":1},{"parameters":{"jsCode":"return {\n        base_url: 'https://www.seoultp.or.kr',\n        board_list: '/user/nd19746.do',\n        api_key: 'gqWjltgMgARE3CsbEOXptHkJeXetB4gO',\n        str: ''\n       }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1180,740],"id":"05c50f62-d06c-4973-90f9-d9af04685e78","name":"settings1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3214aba2-1cb9-4fd8-8c84-f96038b2ba84","leftValue":"={{ $node[\"test\"].context[\"noItemsLeft\"] }}","rightValue":2,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[840,740],"id":"e8a65cb3-94a2-4b17-9c07-ccecba1d8711","name":"ocr end?1"},{"parameters":{"batchSize":1,"options":{"reset":"= {{ $node[\"test\"].context[\"noItemsLeft\"] }}"}},"name":"test","type":"n8n-nodes-base.splitInBatches","position":[-540,740],"typeVersion":1,"id":"f8be03de-d215-43cd-9005-fa824eb6780c","executeOnce":false,"alwaysOutputData":false},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"append","field":"pages[0].markdown"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[1280,640],"id":"8d685b62-98d9-47a6-80fb-7e3509f72888","name":"Summarize"},{"parameters":{"jsCode":"const a = $('per 1 img').done;\nconsole.log(a)\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3460,-80],"id":"93d043cc-9b16-4e13-a31f-5cc662d335d7","name":"Code1"}],"connections":{"Create Directory":{"main":[[{"node":"settings","type":"main","index":0}]]},"do ocr":{"main":[[{"node":"NoOp","type":"main","index":0}]]},"ocr end?":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"per 1 img","type":"main","index":0}]]},"page end?":{"main":[[],[{"node":"per 1 announcement","type":"main","index":0}]]},"execute":{"main":[[{"node":"Create Directory","type":"main","index":0}]]},"settings":{"main":[[{"node":"board list","type":"main","index":0}]]},"board list":{"main":[[{"node":"html extract board detail list","type":"main","index":0}]]},"html extract board detail list":{"main":[[{"node":"Prepare announcement","type":"main","index":0}]]},"Prepare announcement":{"main":[[{"node":"per 1 announcement","type":"main","index":0}]]},"per 1 announcement":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"get detail":{"main":[[{"node":"extract img list","type":"main","index":0}]]},"extract img list":{"main":[[{"node":"is it today?","type":"main","index":0}]]},"is it today?":{"main":[[{"node":"Prepare imgs","type":"main","index":0}],[{"node":"page end?","type":"main","index":0}]]},"Prepare imgs":{"main":[[{"node":"per 1 img","type":"main","index":0}]]},"per 1 img":{"main":[[{"node":"url starts with http or https","type":"main","index":0}]]},"get img":{"main":[[{"node":"Upload a img","type":"main","index":0}]]},"Upload a img":{"main":[[{"node":"Retrieve img","type":"main","index":0}]]},"Retrieve img":{"main":[[{"node":"Retrieve img2","type":"main","index":0}]]},"Retrieve img2":{"main":[[{"node":"do ocr","type":"main","index":0}]]},"get img1":{"main":[[{"node":"Upload a img","type":"main","index":0}]]},"url starts with http or https":{"main":[[{"node":"get img","type":"main","index":0}],[{"node":"get img1","type":"main","index":0}]]},"NoOp":{"main":[[{"node":"ocr end?","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"get detail","type":"main","index":0}]]},"do ocr1":{"main":[[{"node":"NoOp1","type":"main","index":0}]]},"get img2":{"main":[[{"node":"Upload a img1","type":"main","index":0}]]},"Upload a img1":{"main":[[{"node":"Retrieve img1","type":"main","index":0}]]},"Retrieve img1":{"main":[[{"node":"Retrieve img3","type":"main","index":0}]]},"Retrieve img3":{"main":[[{"node":"do ocr1","type":"main","index":0}]]},"get img3":{"main":[[{"node":"Upload a img1","type":"main","index":0}]]},"url starts with http or https1":{"main":[[{"node":"get img2","type":"main","index":0}],[{"node":"get img3","type":"main","index":0}]]},"Code":{"main":[[{"node":"test","type":"main","index":0}]]},"settings1":{"main":[[{"node":"Code","type":"main","index":0}]]},"NoOp1":{"main":[[{"node":"ocr end?1","type":"main","index":0}]]},"test":{"main":[[{"node":"url starts with http or https1","type":"main","index":0}]]},"ocr end?1":{"main":[[{"node":"Summarize","type":"main","index":0}],[{"node":"test","type":"main","index":0}]]},"Code1":{"main":[[{"node":"page end?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5758402e-1c1f-4c04-8f14-d26675d87dde","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-06-04T08:24:14.203Z","createdAt":"2025-06-04T08:24:14.203Z","role":"workflow:owner","workflowId":"YOkIh8Te2j14wzz1","projectId":"YGqg9zdxGQSC73yC"}],"activeVersion":null,"tags":[]}