test-gClEfgFvdLX4HdC7.json
{"createdAt":"2025-06-18T00:32:15.485Z","updatedAt":"2025-09-01T05:59:28.786Z","id":"gClEfgFvdLX4HdC7","name":"test","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2760,260],"id":"557615e9-3018-4035-8698-dcec3f89062b","name":"Schedule Trigger"},{"parameters":{"url":"=http://192.168.10.132:8080/download?key={{ $json.fileNumber }}&filename=공고문.{{ $json.fileExtension }}","options":{"response":{"response":{"responseFormat":"file"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-880,260],"id":"0d86c373-d774-459b-be9d-846dc105143e","name":"download files","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"edc125cf-b55d-4882-a640-ddcc46dc24d7","name":"Upload a file","type":"n8n-nodes-base.httpRequest","position":[-400,100],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{$json[\"id\"]}}/url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[20,200],"id":"7fb5f516-e7e2-4cb8-9d82-8f6a215ef907","name":"HTTP Request","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"37c9543e-d323-4b67-a536-30d9a85facf4","name":"do ocr","type":"n8n-nodes-base.httpRequest","position":[200,200],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const pages = $input.first().json.pages;\nlet combinedMarkdown = '';\n\nfor (const page of pages) {\n  combinedMarkdown += page.markdown + '\\n';  // 줄바꿈 포함해서 합치기\n}\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 통합 결과 반환\nreturn [\n  {\n    json: {\n      combinedMarkdown,\n      creat_p_nttm: formatted,\n      created_ts: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,200],"id":"ad95aecb-c4df-49a8-9259-a2ec762bef35","name":"Code22","onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"={{ $json.combinedMarkdown }} \\n에서 pblanc_nm(공고제목), jrsd_instt_nm(지역 혹은 사이트이름), bsns_sumry_cn(공고요약), trget_nm(대상기업), reqst_begin_end_de(공고 전체기간), reqst_begin_dt(공고시작기간), reqst_end_dt(공고마감기간), reqst_mth_papers_cn(사업신청방법), refrnc_nm(문의처) subsidy_amount(지원금액) self_contribution_rate(자부담률) support_target(지원기업) (예시 대기업,중소기업) bonus_points_factors(가점요소) total_budget(예산) 에 대한 정보를 알려줘\n\n공고제목은 detail_part에서 처음 <p>를제목으로참고\n\n1. reqst_begin_end_de 형식은 YYYYMMDD ~ YYYYMMDD입니다.  \n   → 이를 reqst_begin_dt, reqst_end_dt로 YYYY-MM-DD 형식으로 바꿔주세요.\n\n2. 지역명은 아래 cityMap에서 value로 변환해 주세요.\n\ncityMap: {\n  \"서울\": \"서울특별시\",\n  \"부산\": \"부산광역시\",\n  \"대구\": \"대구광역시\",\n  \"인천\": \"인천광역시\",\n  \"광주\": \"광주광역시\",\n  \"대전\": \"대전광역시\",\n  \"울산\": \"울산광역시\",\n  \"세종\": \"세종특별자치시\",\n  \"경기\": \"경기도\",\n  \"강원\": \"강원도\",\n  \"충북\": \"충청북도\",\n  \"충남\": \"충청남도\",\n  \"전북\": \"전라북도\",\n  \"전남\": \"전라남도\",\n  \"경북\": \"경상북도\",\n  \"경남\": \"경상남도\",\n  \"제주\": \"제주특별자치도\",\n  \"전지역\": \"전지역\"\n}\ntrget_nm값은 단일값 중소기업, 대기업 등\n\n\n  print_flpth_nm: \"\",\n  print_file_nm\": \"\",\n  creat_p_nttm\":  {{ $json.creat_p_nttm }},\n  created_ts\":  {{ $json.created_ts }},\n\n\n\ncreat_p_nttm,created_ts는 timestamp형식으로 reqst_begin_dt값으로\nyyyy-mm-dd hh:mm:ss\n\n값이 없거나 찾을수 없으면\n\n  \"pblanc_nm\": \"\",\n  \"jrsd_instt_nm\": \"\",\n  \"bsns_sumry_cn\": \"\",\n  \"trget_nm\": \"\",\n  \"reqst_begin_end_de\": \"\",\n  \"reqst_begin_dt\": \"\",\n  \"reqst_end_dt\": \"\",\n  \"reqst_mth_papers_cn\": \"\",\n  \"refrnc_nm\": \"\",\n  \"print_flpth_nm\": \"\",\n  \"print_file_nm\": \"\",\n  \"flpth_nm\": \"\",\n  \"file_nm\": \"\",\n  \"creat_p_nttm\": \"\",\n  \"created_ts\": \"\" ,\n  \"subsidy_amount\":\"\", \n  \"self_contribution_rate\":\"\" ,\n  \"support_target\":\"\",\n  \"bonus_points_factors\":\"\",\n  \"total_budget\":\"\"\n공백으로 대체\n\n\n값이 없으면 공백으로 넣어줘 \"\"\n\n\nmain_category(대분류): 공고의 주요 분류를 다음 항목 중에서 정확하게 추출해줘.  \n해당되는 항목이 여러 개인 경우 콤마(,)로 구분해서 출력해줘.  \n아래 항목 중 적절한 키워드가 공고 내용에 존재할 경우, 가장 가까운 항목으로 판단해서 선택해줘.  \n단, 명확한 키워드가 없거나 분류하기 애매한 경우에는 빈 문자열(\"\")로 표시해줘.  \n\n[선택 가능한 항목 목록]  \n컨설팅, 스마트생태공장, 에너지효율화, FEMS/MES, 온실가스저감, 기타설비지원  \n\n출력 예시:  \n\"컨설팅,스마트생태공장\"\n\n---\n\nsub_category(설비분류): 공고 내용 중 다음 설비 목록에서 언급된 항목만 골라 콤마(,)로 구분하여 출력해줘.  \n유사 표현이 있을 경우 판단해서 포함해도 되지만, **아래 목록에 없는 항목은 절대 추가하지 마세요.**  \n어떤 설비도 언급되지 않았을 경우에는 빈 문자열(\"\")로 출력해줘.  \n\n[설비 목록]  \n변압기, 폐유재활용설비, 송풍기, 신재생발전설비, 집진기, 펌프, 콤프레셔, 공기조화기, 열회수환기장치, 보일러, 열교환기, 배출가스처리기, 공기정화기, 탈황기, 탈질기, 오수처리기, 폐수처리기, 냉각탑, 에너지관리시스템, 공정제어시스템, 자동화시스템, 냉동기, 증기재압축장치, 폐열회수시스템, 유수분리기, 압축기, 인버터, 용해로, 응축수회수기, 악취저감설비, 사출성형기\n\n출력 예시:  \n\"인버터,용해로\"\n\n주의사항:  \n- 설비 이름은 반드시 위 목록에서만 선택해야 하며, 새로운 항목을 생성하거나 임의로 추가하지 말 것  \n- 관련성이 낮거나 판단이 어려울 경우에도 빈 문자열(\"\")로 처리할 것  \n- 출력은 항상 문자열이며, null이 아닌 빈 문자열(\"\")로 표시\n","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[700,200],"id":"5e36c210-d50d-40f0-8c15-c8ba629e4b9e","name":"Basic LLM Chain","retryOnFail":false,"maxTries":null,"onError":"continueRegularOutput"},{"parameters":{"modelName":"models/gemini-1.5-flash-8b-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[720,360],"id":"eec7e9df-e93e-40a1-9586-d3e03bd659c8","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"XWAzclOTFyK0A6fs","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('Loop Over Items').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"={{ $('Code').item.json.output.jrsd_instt_nm }}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('Code').item.json.output.bsns_sumry_cn }}","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"={{ $('Code').item.json.output.trget_nm }}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{ $('Code').item.json.output.reqst_begin_end_de }}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $('Code').item.json.output.reqst_begin_dt }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $('Code').item.json.output.reqst_end_dt }}","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"={{ $('Code').item.json.output.refrnc_nm }}","type":"string"},{"id":"b5e49522-9965-4e13-90b1-86edf56df9c2","name":"print_flpth_nm","value":"=https://sox-professionals-pendant-safari.trycloudflare.com/download?key={{ $('파일 분리(pdf,첨부파일)').item.json.fileNumber }}&filename=공고문.{{ $('파일 분리(pdf,첨부파일)').item.json.fileExtension }}","type":"string"},{"id":"7e662533-f931-4a90-9dfb-f1386c206c8f","name":"=print_file_nm","value":"={{ $('파일 분리(pdf,첨부파일)').item.json.fileName }}","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"={{ $('파일 분리(pdf,첨부파일)').item.json.flpth_nm }}","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"={{ $('파일 분리(pdf,첨부파일)').item.json.file_nm }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"C","type":"string"},{"id":"9f54d932-dd37-4175-b8cb-2d855891f65f","name":"subsidy_amount","value":"={{ $('Code').item.json.output.subsidy_amount }}","type":"string"},{"id":"8e2d8fb4-cebd-42c1-b12a-e673a77fc802","name":"self_contribution_rate","value":"null","type":"string"},{"id":"f12e819d-409d-436e-b658-684ba9ac8e30","name":"support_target","value":"={{ $('Code').item.json.output.support_target }}","type":"string"},{"id":"83e3ad1a-3ad2-4b72-a477-b123113b2e4a","name":"bonus_points_factors","value":"={{ $('Code').item.json.output.bonus_points_factors }}","type":"string"},{"id":"d324fdce-53d0-453d-a211-7318d5935647","name":"total_budget","value":"={{ $('Code').item.json.output.total_budget }}","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"한국농업기술진흥원","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('Code22').item.json.created_ts }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('Code22').item.json.created_ts }}","type":"string"},{"id":"9adbcf7a-7243-4479-ab01-6b2ccb31d8a6","name":"subsidy_amount","value":"={{ $('Code').item.json.output.subsidy_amount }}","type":"string"},{"id":"b0d54477-2d5b-4aa1-8905-ca396242ddab","name":"self_contribution_rate","value":"={{ $('Code').item.json.output.self_contribution_rate }}","type":"string"},{"id":"09d5c3f0-2aa9-424f-ba57-bdd0df8ae9bf","name":"support_target","value":"={{ $('Code').item.json.output.support_target }}","type":"string"},{"id":"283f473c-7824-46ef-b963-feb711e63a22","name":"=bonus_points_factors","value":"={{ $('Code').item.json.output.bonus_points_factors }}","type":"string"},{"id":"20d0efcf-9335-4130-ad6e-c50b4f37a404","name":"total_budget","value":"={{ $('Code').item.json.output.total_budget }}","type":"string"},{"id":"114a9291-104c-42b0-8bb4-7fe34c2f316f","name":"main_category","value":"={{ $('Code').item.json.output.main_category }}","type":"string"},{"id":"bddbb78e-81a2-4272-a8a7-8e3e14129673","name":"sub_category","value":"={{ $('Code').item.json.output.sub_category }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1580,200],"id":"4e92619d-ac04-4e99-b713-652f1d66ecdf","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1960,200],"id":"bd6ecb89-401e-4992-b149-9b279fb9bc10","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"2d906e77-65c3-49be-bc1e-9ec6411c95db","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2120,200],"webhookId":"6da3143b-5c39-4ad7-8fd9-0c33fc6a2e5f"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1780,200],"id":"fe39a2cc-2803-46ea-8593-660c6590dae0","name":"If1","retryOnFail":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $json.fileExtension }}","rightValue":"pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-660,260],"id":"95f1855c-9e99-4d1f-a5db-9db802d87cd8","name":"If"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"66c4b1db-4254-4923-b264-493ad926cd91","name":"Upload a file1","type":"n8n-nodes-base.httpRequest","position":[-220,360],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://192.168.10.133:8000/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"0c5aa41c-fd03-492c-8af3-7c45fb03a24a","name":"hwp->pdf","type":"n8n-nodes-base.httpRequest","position":[-400,360],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{},"type":"@n-octo-n/n8n-nodes-curl.cURL","typeVersion":1,"position":[2760,-840],"id":"94d89e91-99cd-4832-97e5-62dafff37466","name":"cURL"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"base_url\": \"https://www.koat.or.kr\",\n  \"board_list\": \"/board/business/list.do\",\n  \"board_detail\": \"/board/business\",\n  \"attach_url\": \"/download.do\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2560,260],"id":"c78b5902-ede4-46c3-9e2a-5176bc61c64f","name":"변수설정1"},{"parameters":{"cmdline":"https://www.koat.or.kr/board/business/list.do"},"type":"@n-octo-n/n8n-nodes-curl.cURL","typeVersion":1,"position":[-2380,260],"id":"27e7bfb6-6209-42d4-af63-1728043aff14","name":"cURL1"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":"tr[onclick^=\"postLink(\"] > td:nth-child(2) > a","returnValue":"attribute","attribute":"onclick","returnArray":true},{"key":"date","cssSelector":"tr[onclick^=\"postLink(\"] > td:nth-child(5)","returnArray":true},{"key":"title","cssSelector":"tr[onclick^=\"postLink(\"] > td:nth-child(2) > a","returnValue":"attribute","attribute":"title","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출1","type":"n8n-nodes-base.htmlExtract","position":[-2160,260],"typeVersion":1,"id":"1ed28b32-9cb3-4f65-8991-e9e56b8e3216"},{"parameters":{"batchSize":"=1","options":{"reset":"={{ $node[\"Loop Over Items\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1760,260],"id":"367f260b-191e-460d-a1e1-3661c6f29052","name":"Loop Over Items"},{"parameters":{"cmdline":"=-X POST \"https://www.koat.or.kr/board/business/{{ $json.announcement }}/view.do\" -H \"Content-Type: application/x-www-form-urlencoded\" --data \"currentPageNo=1&bd_ma_idx=12\"\n"},"type":"@n-octo-n/n8n-nodes-curl.cURL","typeVersion":1,"position":[-1540,260],"id":"567cda89-8f8b-41b0-bece-1b4002e97ae8","name":"cURL2"},{"parameters":{"extractionValues":{"values":[{"key":"fileName","cssSelector":".file a","returnArray":true},{"key":"fileNumber","cssSelector":".file a","returnValue":"attribute","attribute":"href","returnArray":true},{}]},"options":{"trimValues":false}},"name":"리스트 추출3","type":"n8n-nodes-base.htmlExtract","position":[-1320,260],"typeVersion":1,"id":"c909c84f-4536-41b0-a2a9-34a4fe80ce2d"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"$id\": \"https://example.com/product.schema.json\",\n  \"title\": \"anouncement\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"pblanc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고제목 (없으면 공백처리)\"\n    },\n    \"jrsd_instt_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고지역 (없으면 공백처리)\"\n    },\n    \"bsns_sumry_cn\": {\n      \"type\": \"string\",\n      \"description\": \"공고요약 (없으면 공백처리)\"\n    },\n    \"trget_nm\": {\n      \"type\": \"string\",\n      \"description\": \"대상기업 (없으면 공백처리)\"\n    },\n    \"reqst_begin_end_de\": {\n      \"type\": \"string\",\n      \"description\": \"공고 전체 기간 (없으면 공백처리)\"\n    },\n    \"reqst_begin_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 시작 기간 (없으면 공백처리)\"\n    },\n    \"reqst_end_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 종료 기간 (없으면 공백처리)\"\n    },\n    \"reqst_mth_papers_cn\": {\n      \"type\": \"string\",\n      \"description\": \"사업신청 방법 (없으면 공백처리)\"\n    },\n    \"refrnc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"문의처내용 (없으면 공백처리)\"\n    },\n    \"print_flpth_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 주소 (없으면 공백처리)\"\n    },\n    \"print_file_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 파일명 (없으면 공백처리)\"\n    },\n    \"subsidy_amount\": {\n      \"type\": \"string\",\n      \"description\": \"지원금액, 원화로 변환 및 금액만 적시 (없으면 공백처리)\"\n    },\n    \"self_contribution_rate\": {\n      \"type\": \"string\",\n      \"description\": \"자부담률 (없으면 공백처리)\"\n    },\n    \"support_target\": {\n      \"type\": \"string\",\n      \"description\": \"지원기업 (예: 대기업, 중소기업, 대명사만 적시, 없으면 공백처리)\"\n    },\n    \"bonus_points_factors\": {\n      \"type\": \"string\",\n      \"description\": \"가점요소(간략하게, 없으면 공백처리)\"\n    },\n    \"total_budget\": {\n      \"type\": \"string\",\n      \"description\": \"예산 (없으면 공백처리)\"\n    },\n    \"main_category\": {\n      \"type\": \"string\",\n      \"description\": \"대분류(없으면 공백)\"\n    },\n    \"sub_category\": {\n      \"type\": \"string\",\n      \"description\": \"설비분류 (없으면 공백처리)\"\n    }\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1000,660],"id":"1af9462b-4d4f-4cc2-85b9-96ad25c5d659","name":"Structured Output Parser","notesInFlow":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[840,460],"id":"e3c51e6c-21ed-4914-bdaa-445267172dd2","name":"Auto-fixing Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"responseFormat":"text"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[900,680],"id":"4969552d-b4a0-4caa-92b8-d3fce349553f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"SKDNgNmyz3uaizES","name":"OpenAi account"}}},{"parameters":{"jsCode":"const announcements = items[0].json.announcements || [];\nconst dates = items[0].json.date || [];\nconst titles = items[0].json.title || [];\n\n// 어제 날짜 문자열 (yyyy-mm-dd)\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yesterdayStr = yesterday.toISOString().slice(0, 10);\n// const yesterdayStr = '2025-08-05'\nreturn announcements\n  .map((announcement, idx) => {\n    const text = announcement.toString();\n    const match = text.match(/\\d+/);\n    const announcementNumber = match ? match[0] : null;\n\n    const dateStr = dates[idx];\n    const titleStr = titles[idx] || null;\n\n    // 날짜가 어제와 완전히 일치하는지 비교\n    if (dateStr === yesterdayStr) {\n      return {\n        json: {\n          announcement: announcementNumber,\n          date: dateStr,\n          title: titleStr\n        }\n      };\n    } else {\n      return null;\n    }\n  })\n  .filter(item => item !== null);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1960,260],"id":"71022976-0ac4-4082-bba9-0c647b0cbd68","name":"금일기준"},{"parameters":{"jsCode":"const fileNames = $input.first().json.fileName || [];\nconst fileNumbers = $input.first().json.fileNumber || [];\n\nconst extraFilePaths = [];\nconst extraFileNames = [];\n\nlet noticeItem = {\n  fileName: null,\n  fileNumber: null,\n  fileExtension: null\n};\n\nfor (let i = 0; i < fileNames.length; i++) {\n  const name = fileNames[i]?.replace(\" 새 창 열림\", \"\").trim();\n  const numberMatch = fileNumbers[i]?.match(/\\d+/);\n  const number = numberMatch ? numberMatch[0] : null;\n\n  if (!name || !number) continue;\n\n  const extMatch = name.match(/\\.(\\w+)$/);\n  const extension = extMatch ? extMatch[1] : null;\n  if (!extension) continue;\n\n  if (name.includes(\"공고\") && !noticeItem.fileName) {\n    // first '공고' item only\n    noticeItem = {\n      fileName: name,\n      fileNumber: number,\n      fileExtension: extension\n    };\n  } else {\n    const path = `http://192.168.10.132:8080/download?key=${number}&filename=공고문.${extension}`;\n    extraFilePaths.push(path);\n    extraFileNames.push(name);\n  }\n}\n\nreturn [{\n  json: {\n    fileName: noticeItem.fileName,\n    fileNumber: noticeItem.fileNumber,\n    fileExtension: noticeItem.fileExtension,\n    flpth_nm: extraFilePaths.join(\"@\"),\n    file_nm: extraFileNames.join(\"@\")\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1100,260],"id":"a99dd7a7-ee7c-4422-86f7-eedf70d3d943","name":"파일 분리(pdf,첨부파일)"},{"parameters":{"content":"주소\n\nhttps://www.koat.or.kr/board/business/list.do","height":80,"width":520},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2800,120],"id":"fcbbce00-9df2-44c9-8bed-47f70ff2fd20","name":"Sticky Note"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.output.pblanc_nm }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1260,200],"id":"8fb0a797-8c05-47ec-9a1b-905a0d5cdb1f","name":"MySQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1420,200],"id":"ff9c95d9-3094-44bc-bf3f-f8abb99ea2df","name":"If2"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.pblanc_nm) {\n    item.json.pblanc_nm = item.json.pblanc_nm.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1080,200],"id":"0b8e255e-075c-486b-9212-257ac17c6232","name":"Code"},{"parameters":{"content":"curl1\nhttps://www.koat.or.kr/board/business/list.do\n\ncurl2\n-X POST \"https://www.koat.or.kr/board/business/{{ $json.announcement }}/view.do\" -H \"Content-Type: application/x-www-form-urlencoded\" --data \"currentPageNo=1&bd_ma_idx=12\"\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2800,-60],"id":"30d19fc5-06c7-427e-b959-f51605947bf9","name":"Sticky Note1"},{"parameters":{"content":"Cloudflare 를 사용했기때문에\n\n파일 다운로드가 안될 시 도메인 확인 필요\n\n도메인 변경시 ai result에서 수정 필요","width":500},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2540,-60],"id":"db5b45b0-dff4-48e9-9c13-dc4c41cecfec","name":"Sticky Note2"}],"connections":{"Schedule Trigger":{"main":[[{"node":"변수설정1","type":"main","index":0}]]},"download files":{"main":[[{"node":"If","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"do ocr","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"do ocr":{"main":[[{"node":"Code22","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Code22":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"ai result1":{"main":[[{"node":"If1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"If1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Upload a file","type":"main","index":0}],[{"node":"hwp->pdf","type":"main","index":0}]]},"Upload a file1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"hwp->pdf":{"main":[[{"node":"Upload a file1","type":"main","index":0}]]},"변수설정1":{"main":[[{"node":"cURL1","type":"main","index":0}]]},"cURL1":{"main":[[{"node":"리스트 추출1","type":"main","index":0}]]},"리스트 추출1":{"main":[[{"node":"금일기준","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"cURL2","type":"main","index":0}]]},"cURL2":{"main":[[{"node":"리스트 추출3","type":"main","index":0}]]},"리스트 추출3":{"main":[[{"node":"파일 분리(pdf,첨부파일)","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"금일기준":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"파일 분리(pdf,첨부파일)":{"main":[[{"node":"download files","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"ai result1","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"MySQL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Seoul","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Mlhukb9mbuzpvwkH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"328b5633-df92-4cf3-ae0b-b5df9108bce7","triggerCount":1,"shared":[{"createdAt":"2025-06-18T00:32:15.485Z","updatedAt":"2025-06-18T00:32:15.485Z","role":"workflow:owner","workflowId":"gClEfgFvdLX4HdC7","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}