깃-백업-hotTYvzUHGlf6Bmw.json
{"createdAt":"2025-09-03T01:24:00.765Z","updatedAt":"2025-09-03T04:05:41.721Z","id":"hotTYvzUHGlf6Bmw","name":"깃 백업","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"4405b0a4-cf6b-40f2-a198-8336c2e8cddf","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-272,176]},{"parameters":{"options":{}},"id":"9bc7ca2d-57e7-4a4f-bd9e-b6bb4eda3119","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-64,176]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"6c6ad0c3-5228-4b07-85df-011caf6d0dec","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[144,176]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"80178e46-1ca5-453f-b324-0dd986176620","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[336,176]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"Hosang-Yu","mode":"list","cachedResultName":"Hosang-Yu","cachedResultUrl":"https://github.com/Hosang-Yu"},"repository":{"__rl":true,"value":"n8n-workflow-backup","mode":"list","cachedResultName":"n8n-workflow-backup","cachedResultUrl":"https://github.com/Hosang-Yu/n8n-workflow-backup"},"filePath":"="},"id":"efc17bce-88c0-4c28-94a3-7c0aa3c2fd56","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[544,176],"alwaysOutputData":true,"webhookId":"12e2ef0b-5272-4bf0-80a7-c9a2337eb665","credentials":{"githubApi":{"id":"5aw3Yyfy1UVGWPUN","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"75c95c46-87a9-46f3-99fe-4fd33aa344cf","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[736,176]},{"parameters":{"filters":{},"requestOptions":{}},"id":"05c5c584-6424-4c96-9b43-70b7bf9c5ac6","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[944,176],"credentials":{"n8nApi":{"id":"9eMGPbYHHI3wCk2f","name":"n8n account 2"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"096a71b2-5b6c-4a81-b4e3-11c3d1031227","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1136,176]},{"parameters":{"batchSize":1,"options":{}},"id":"824d5d5c-89b2-479b-b3bb-d581f825a0a4","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1376,176]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"9b1c52b0-f59c-4600-95f5-928552050ec4","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1616,96]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"Hosang-Yu","mode":"list","cachedResultName":"Hosang-Yu","cachedResultUrl":"https://github.com/Hosang-Yu"},"repository":{"__rl":true,"value":"n8n-workflow-backup","mode":"list","cachedResultName":"n8n-workflow-backup","cachedResultUrl":"https://github.com/Hosang-Yu/n8n-workflow-backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"63761e50-bd57-40c8-86ed-1316b9023a5b","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1840,-112],"webhookId":"a527bb40-8c34-4e51-a4a8-061f3fdeb29f","credentials":{"githubApi":{"id":"5aw3Yyfy1UVGWPUN","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"Hosang-Yu","mode":"list","cachedResultName":"Hosang-Yu","cachedResultUrl":"https://github.com/Hosang-Yu"},"repository":{"__rl":true,"value":"n8n-workflow-backup","mode":"list","cachedResultName":"n8n-workflow-backup","cachedResultUrl":"https://github.com/Hosang-Yu/n8n-workflow-backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"69b0667f-f19f-4609-b46a-d81ee3a0088b","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1840,304],"webhookId":"1adef5cc-358d-427e-b1b3-659c951fb6d6","credentials":{"githubApi":{"id":"5aw3Yyfy1UVGWPUN","name":"GitHub account"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2410356d-e735-446c-ba94-316811ea0e3d","triggerCount":0,"shared":[{"createdAt":"2025-09-03T01:24:00.765Z","updatedAt":"2025-09-03T01:24:00.765Z","role":"workflow:owner","workflowId":"hotTYvzUHGlf6Bmw","projectId":"YGqg9zdxGQSC73yC"}],"tags":[]}