테스트-6UfxEmvhSELYJu1b.json
{"updatedAt":"2026-06-04T05:40:02.260Z","createdAt":"2026-06-04T01:49:10.386Z","id":"6UfxEmvhSELYJu1b","name":"테스트","active":false,"isArchived":true,"nodes":[{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-5200,608],"id":"48a3a646-db1d-449a-a213-4be5f7dc37b8","name":"Loop Over Items1"},{"parameters":{"extractionValues":{"values":[{"key":"attach_file_name","cssSelector":".view_file > ul:nth-child(2) > li:nth-child(n) > a:nth-child(1)","returnArray":true},{"key":"attach_file_address","cssSelector":".view_file > ul:nth-child(2) > li:nth-child(n) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"content","cssSelector":".view_con","returnValue":"html"}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[-4112,608],"typeVersion":1,"id":"6cea2413-6b37-4572-a635-b40fa5d3638a","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"jsCode":"const items = $input.all();\n\nconst announcements = items[0]?.json?.announcements || [];\nconst titles = items[0]?.json?.title || [];\nconst dates = items[0]?.json?.date || [];\n\nconst baseUrl = \"https://mcee.go.kr\";\n\n// -------------------- 실제 어제 날짜 계산 --------------------\nlet yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yyyy = yesterday.getFullYear();\nconst mm = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst dd = String(yesterday.getDate()).padStart(2, '0');\nlet yesterdayStr = `${yyyy}-${mm}-${dd}`;\n\n// -------------------- 테스트용 날짜 --------------------\nyesterdayStr = '2026-06-04'; // 테스트용 날짜\n\n// -------------------- 결과 생성 --------------------\nconst result = announcements\n  .map((announcementStr, index) => {\n    let announcement = null;\n    const str = announcementStr?.trim();\n\n    if (str) {\n      // 상대 URL 그대로 사용\n      announcement = str;\n    }\n\n    if (announcement) {\n      announcement = baseUrl.replace(/\\/$/, '') + announcement; // 절대 URL 생성\n    }\n\n    let dateStr = dates[index] || null;\n    if (dateStr) {\n      dateStr = dateStr.replace(/\\s+/g, '').replace(/\\.$/, '');\n      const dateMatch = dateStr.match(/(\\d{4})[.\\-](\\d{1,2})[.\\-](\\d{1,2})/);\n      if (dateMatch) {\n        const y = dateMatch[1];\n        const m = dateMatch[2].padStart(2, '0');\n        const d = dateMatch[3].padStart(2, '0');\n        dateStr = `${y}-${m}-${d}`;\n      } else dateStr = null;\n    }\n\n    const cleanTitle = (titles[index] || '').replace(/[\\[\\]「」<>\\\"']/g, '').trim();\n\n    return {\n      json: {\n        announcement: announcement,\n        title: cleanTitle,\n        date: dateStr\n      }\n    };\n  })\n  .filter(item => item.json.date === yesterdayStr);\n\nreturn result;\n``\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5408,608],"id":"3ac82c7e-01ca-4bb9-8c0b-4b5f05d9da04","name":"금일 기준"},{"parameters":{"content":"사이트 주소\nhttps://mcee.go.kr/home/web/index.do?menuId=10524","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6496,496],"id":"455b6afa-4cbc-4777-9a9a-ff50ae48936a","name":"Sticky Note"},{"parameters":{"jsCode":"let title = $input.first().json.title || '';\nlet announcement = $input.first().json.announcement\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title,\n      announcement\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5040,384],"id":"193c2054-d4dc-4e7b-9250-b7998af3489e","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-4896,384],"id":"4335a901-3bb2-47cf-806b-3063ad8c3a9b","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4752,384],"id":"05eca1f3-d188-47ac-a446-36f93721637c","name":"중복조회 IF"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":".table_case01 > tbody:nth-child(4) > tr:nth-child(n+5) > td:nth-child(2) > a:nth-child(1)","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"title","cssSelector":".table_case01 > tbody:nth-child(4) > tr:nth-child(n+5) > td:nth-child(2) > a:nth-child(1)","returnArray":true},{"key":"date","cssSelector":".table_case01 > tbody:nth-child(4) > tr:nth-child(n+5) > td:nth-child(5)","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-5712,608],"typeVersion":1,"id":"f3979931-0ba6-4dad-9200-89f7f0c2ef80","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"url":"={{ $('금일 기준').item.json.announcement }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:143.0) Gecko/20100101 Firefox/143.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Referer","value":"https://mcee.go.kr/home/web/index.do?menuId=10524"},{"name":"Connection","value":"keep-alive"},{"name":"Upgrade-Insecure-Requests","value":"1"},{"name":"Sec-Fetch-Dest","value":"document"},{"name":"Sec-Fetch-Mode","value":"navigate"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"Sec-Fetch-User","value":"?1"},{"name":"Priority","value":"u=0, i"}]},"options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}},"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4448,608],"id":"f8c2fa40-cd3a-4f8d-8805-235827a6316a","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"url":"={{ $('중복 자료 조회').item.json.announcement }}","options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4496,128],"id":"d09fc253-2ab7-43ce-ab30-3353ca534ea5","name":"set cookie","onError":"continueRegularOutput"},{"parameters":{"jsCode":"return {\n  cookie: ($input.first().json.headers['set-cookie'] || []).join('; ')\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4320,128],"id":"1228b0cc-7f5e-4b25-896a-3c20207ca24b","name":"get cookie"},{"parameters":{"promptType":"define","text":"={{ $json.combinedMarkdown }} \\n에서  \npblanc_nm(공고제목), jrsd_instt_nm(지역 혹은 사이트이름), bsns_sumry_cn(공고요약), trget_nm(대상기업),  \nreqst_begin_end_de(공고 전체기간), reqst_begin_dt(공고시작기간), reqst_end_dt(공고마감기간),  \nreqst_mth_papers_cn(사업신청방법), excInsttNm(사업수행기관), refrnc_nm(문의처), subsidy_amount(지원금액),  \nself_contribution_rate(자부담률), support_target(지원기업 예: 대기업,중소기업), bonus_points_factors(가점요소 50자이내),  \ntotal_budget(예산) 에 대한 정보를 알려줘.\n\n공고제목은 detail_part에서 처음 <p>를 제목으로 참고.\n\n[1] 날짜 변환 규칙  \n- reqst_begin_end_de 형식: YYYYMMDD ~ YYYYMMDD  (형식 지켜줘 very important)\n  → 이를 reqst_begin_dt, reqst_end_dt로 YYYY-MM-DD 형식으로 변환  \n\n[2] 지역명 변환 (cityMap)  \n{\n  \"서울\": \"서울특별시\", \"부산\": \"부산광역시\", \"대구\": \"대구광역시\", \"인천\": \"인천광역시\",\n  \"광주\": \"광주광역시\", \"대전\": \"대전광역시\", \"울산\": \"울산광역시\", \"세종\": \"세종특별자치시\",\n  \"경기\": \"경기도\", \"강원\": \"강원도\", \"충북\": \"충청북도\", \"충남\": \"충청남도\",\n  \"전북\": \"전라북도\", \"전남\": \"전라남도\", \"경북\": \"경상북도\", \"경남\": \"경상남도\",\n  \"제주\": \"제주특별자치도\", \"전지역\": \"전지역\"\n}\n\ntrget_nm 값은 단일값(중소기업, 대기업 등)만 사용.\n\n[3] 첨부파일 경로 변수  \n\ncreat_p_nttm   : {{ $json.creat_p_nttm }}\ncreated_ts     : {{ $json.created_ts }}\n\n[4] 값이 없거나 찾을 수 없으면 아래 형식으로 빈 문자열(\"\") 처리  \n{\n  \"pblanc_nm\": \"\",\n  \"jrsd_instt_nm\": \"\",\n  \"bsns_sumry_cn\": \"\",\n  \"trget_nm\": \"\",\n  \"reqst_begin_end_de\": \"\",\n  \"reqst_begin_dt\": \"\",\n  \"reqst_end_dt\": \"\",\n  \"reqst_mth_papers_cn\": \"\",\n  \"refrnc_nm\": \"\",\n  \"print_flpth_nm\": \"\",\n  \"print_file_nm\": \"\",\n  \"flpth_nm\": \"\",\n  \"file_nm\": \"\",\n  \"creat_p_nttm\": \"\",\n  \"created_ts\": \"\",\n  \"subsidy_amount\": \"\",\n  \"self_contribution_rate\": \"\",\n  \"support_target\": \"\",\n  \"bonus_points_factors\": \"\",\n  \"total_budget\": \"\"\n}\n\n[5] main_category(대분류) 분류 규칙  \n- 선택지: \"스마트생태공장\", \"상생협력 실증프로그램\", \"스마트공장 / 제조혁신\", \"탄소중립 / 온실가스저감\", \"FEMS 에너지효율화\"  , \"마케팅 / 기술인프라 구축\"\n- 공고 내용에 해당 키워드가 존재하면 선택  \n- 여러 개면 콤마(,)로 구분  \n- 없거나 애매하면 \"\"  \n\n예시:  \n\"컨설팅,스마트생태공장\"\n\n[6] sub_category(설비분류) 분류 규칙  \n- 선택 가능 항목:  \n변압기, 폐유재활용설비, 송풍기, 신재생발전설비, 집진기, 펌프, 콤프레셔, 공기조화기, 열회수환기장치, 보일러, 열교환기, 배출가스처리기, 공기정화기, 탈황기, 탈질기, 오수처리기, 폐수처리기, 냉각탑, 에너지관리시스템, 공정제어시스템, 자동화시스템, 냉동기, 증기재압축장치, 폐열회수시스템, 유수분리기, 압축기, 인버터, 용해로, 응축수회수기, 악취저감설비, 사출성형기  \n- 공고 내용에 해당 설비명이 등장하면 포함  \n- 목록 외 설비는 추가 금지  \n- 없으면 \"\"  \n\n예시:  \n\"인버터,용해로\"\n","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-1744,112],"id":"2406ae1f-b54a-47e0-bb4d-18f118002bc4","name":"Basic LLM Chain","retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"={{ $('전역변수호출').item.json.value }}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1424,544],"id":"fc2de2be-eb8c-4b2f-9262-f32f3f86d8a1","name":"Structured Output Parser","notesInFlow":false},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1728,288],"id":"468ea649-6583-44d6-b70a-d22d073dd63d","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"Hfp6RmexqQYoBvNh","name":"Google Gemini(PaLM) Api account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('Code').item.json.output.pblanc_nm }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"={{ $('Code').item.json.output.jrsd_instt_nm }}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('Code').item.json.output.bsns_sumry_cn }}","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"={{ $('Code').item.json.output.trget_nm }}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{ $('Code').item.json.output.reqst_begin_end_de }}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $('Code').item.json.output.reqst_begin_dt }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $('Code').item.json.output.reqst_end_dt }}","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"={{ $('Code').item.json.output.refrnc_nm }}","type":"string"},{"id":"b5e49522-9965-4e13-90b1-86edf56df9c2","name":"print_flpth_nm","value":"={{ $('pdf,첨부파일분리').item.json.fileAddress }}","type":"string"},{"id":"7e662533-f931-4a90-9dfb-f1386c206c8f","name":"print_file_nm","value":"={{ $('pdf,첨부파일분리').item.json.fileName }}","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"={{ $('pdf,첨부파일분리').item.json.flpth_nm }}","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"={{ $('pdf,첨부파일분리').item.json.file_nm }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"N","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"N","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('pdf,첨부파일분리').item.json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('pdf,첨부파일분리').item.json.created_ts }}","type":"string"},{"id":"9adbcf7a-7243-4479-ab01-6b2ccb31d8a6","name":"subsidy_amount","value":"={{ $('Code').item.json.output.subsidy_amount }}","type":"string"},{"id":"b0d54477-2d5b-4aa1-8905-ca396242ddab","name":"self_contribution_rate","value":"={{ $('Code').item.json.output.self_contribution_rate }}","type":"string"},{"id":"09d5c3f0-2aa9-424f-ba57-bdd0df8ae9bf","name":"support_target","value":"={{ $('Code').item.json.output.support_target }}","type":"string"},{"id":"283f473c-7824-46ef-b963-feb711e63a22","name":"bonus_points_factors","value":"={{ $('Code').item.json.output.bonus_points_factors }}","type":"string"},{"id":"20d0efcf-9335-4130-ad6e-c50b4f37a404","name":"total_budget","value":"={{ $('Code').item.json.output.total_budget }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"={{ $('금일 기준').item.json.announcement }}","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"환경부","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=환경부","type":"string"},{"id":"97c21176-d1a8-4f5c-a312-e5603e2e7569","name":"main_category","value":"={{ $('Code').item.json.output.main_category }}","type":"string"},{"id":"1f7c4cbd-e378-419d-8827-6007de5e6929","name":"sub_category","value":"={{ $('Code').item.json.output.sub_category }}","type":"string"},{"id":"5f567959-9da9-442d-844e-d807c9e134af","name":"reqst_mth_papers_cn","value":"={{ $('Code').item.json.output.reqst_mth_papers_cn }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-752,112],"id":"c3c9fc94-c036-4616-a7f1-613fdb6f712b","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-368,112],"id":"a3158a7e-d432-4aee-8a6b-95896e5b536e","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}},"onError":"continueRegularOutput"},{"parameters":{"amount":2,"unit":"minutes"},"id":"ac829e21-bb98-4422-861d-74e6ea0595f6","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-80,112],"webhookId":"4cbff0e2-d7e6-4d79-83a7-2e0388558f42"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-560,112],"id":"c0028eb8-b344-43f1-a647-04736b599f1f","name":"If1","retryOnFail":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[-1568,368],"id":"f6bef507-adb5-4f2c-af84-b0a5053b42f1","name":"Auto-fixing Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1568,544],"id":"ae4adb9b-4f64-40af-96e8-773f21810045","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Kr1yjKQ7nKNTwLtg","name":"sh"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.output.pblanc_nm }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1168,112],"id":"016fe859-07b7-4db5-a3aa-05f86fcf0ca3","name":"MySQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1008,112],"id":"8ebf6ef4-c1ec-48b5-80e9-5bc9ce6fb849","name":"If2"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.pblanc_nm) {\n    item.json.pblanc_nm = item.json.pblanc_nm.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,112],"id":"9b32a211-ccff-45f3-880c-66324f2c0b02","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $binary.data.fileName.split('.').pop() }}","rightValue":"=pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3232,112],"id":"9fe33732-291b-43ec-89e8-d86b1cad2036","name":"If"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"dc9f7ad7-4ac5-45f8-a3d1-a42d85d00144","name":"Upload a file1","type":"n8n-nodes-base.httpRequest","position":[-2640,224],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://192.168.10.133:8000/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"cf4f6ae7-8942-4f85-b161-63400285c339","name":"hwp->pdf","type":"n8n-nodes-base.httpRequest","position":[-2816,224],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"d972f3ac-ff93-4ccd-ab14-1f85e41b6d40","name":"Upload a file2","type":"n8n-nodes-base.httpRequest","position":[-2816,-48],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{$json[\"id\"]}}/url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2432,112],"id":"da805a78-37cc-48b5-9aaa-39721627783d","name":"HTTP Request1","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"5162dbf8-37d1-4f82-b9bf-132599f39068","name":"do ocr1","type":"n8n-nodes-base.httpRequest","position":[-2240,112],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const pages = $input.first().json.pages;\nlet combinedMarkdown = '';\n\nfor (const page of pages) {\n  combinedMarkdown += page.markdown + '\\n';  // 줄바꿈 포함해서 합치기\n}\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 통합 결과 반환\nreturn [\n  {\n    json: {\n      combinedMarkdown,\n      creat_p_nttm: formatted,\n      created_ts: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2000,112],"id":"a18f582c-cd2d-4a76-9e9f-e63cdf4409be","name":"Code23","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $json.announcement_file_exist }}","rightValue":"pdf","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3648,608],"id":"3fdcf6c2-d024-46cc-82af-9942df33eff7","name":"if announcement file exist"},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('중복 자료 조회').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"=전지역","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('리스트 추출2').item.json.content }}","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"C","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"Y","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $json.creat_p_nttm }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $json.created_ts }}","type":"string"},{"id":"d09df1df-d892-4c7b-b701-773d0d85206e","name":"pblanc_url","value":"=https://www.winwinnuri.or.kr/bd/selectBdNotifyList.do","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"상생누리","type":"string"},{"id":"c591abc7-b41e-49de-aa74-1836a55d5659","name":"exc_instt_nm","value":"=상생누리","type":"string"},{"id":"62d2dcbe-c742-4e12-a3e1-df7714174058","name":"print_file_nm","value":"={{ $json.fileName }}","type":"string"},{"id":"11fa9db4-02b7-46e1-8333-f8c1302b6928","name":"print_flpth_nm","value":"={{ $json.fileAddress }}","type":"string"},{"id":"11a1fff9-20b9-4709-9abe-893c0bf69dc6","name":"file_nm","value":"={{ $json.file_nm }}","type":"string"},{"id":"c79d031b-8c40-4d2d-b736-631e45e87ff6","name":"flpth_nm","value":"={{ $json.flpth_nm }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3280,608],"id":"d878d2a0-01b7-4d3c-9394-87c06974fad4","name":"ai result"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-2896,608],"id":"54d15f41-7622-4cb9-bc4e-11cab0145723","name":"MySQL2","retryOnFail":true,"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"dd2a4c60-5a1d-40e9-bfb3-ec6700dbaaf9","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-2736,608],"webhookId":"4606d5df-aba2-4ea2-a0c9-6d2d685093ac"},{"parameters":{"jsCode":"  const items = $('리스트 추출2').first().json;\n  const names = items.attach_file_name || [];\n  const addresses = items.attach_file_address || [];\n\n  const baseUrl = \"https://mcee.go.kr\";\n\n  let noticeFileName = null;\n  let noticeFileAddress = null;\n  let noticeFileId = null;     // ⭐ 추가\n  let noticeFileSeq = null;    // ⭐ 추가\n  let announcement_file_exist = false;\n\n  const extraFileNames = [];\n  const extraFilePaths = [];\n\n  // 현재 시각 (KST)\n  const now = new Date();\n  const kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n  const yyyy = kst.getFullYear();\n  const mm = String(kst.getMonth() + 1).padStart(2, '0');\n  const dd = String(kst.getDate()).padStart(2, '0');\n  const hh = String(kst.getHours()).padStart(2, '0');\n  const min = String(kst.getMinutes()).padStart(2, '0');\n  const ss = String(kst.getSeconds()).padStart(2, '0');\n  const formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n  // 파일명 전처리\n  function normalizeFileName(name) {\n      return name\n          ?.replace(/[\\n\\r\\t]/g, \"\")\n          .replace(/\\(파일크기:\\s*[\\d\\.]+[KMG]?B\\s*\\)$/i, \"\")\n          .replace(/\\s*\\([\\d\\.]+\\s*[KMG]B\\)\\s*$/i, \"\")\n          .trim();\n  }\n\n  // ⭐ ajaxFileDownLoad('325068','1') → { fileId, fileSeq }\n  function parseAjax(address) {\n      const m = (address || '').match(/ajaxFileDownLoad\\('(\\d+)'\\s*,\\s*'(\\d+)'\\)/);\n      return m ? { fileId: m[1], fileSeq: m[2] } : { fileId: null, fileSeq: null };\n  }\n\n  // 주소 → 다운로드 URL 변환 (DB 저장용)\n  function extractFileUrl(address) {\n      if (!address) return null;\n\n      // ⭐ ajaxFileDownLoad 패턴\n      let match = address.match(/ajaxFileDownLoad\\('(\\d+)'\\s*,\\s*'(\\d+)'\\)/);\n      if (match) {\n          return `${baseUrl}/home/file/readDownloadFile4.do?fileId=${match[1]}&fileSeq=${match[2]}`;\n      }\n\n      match = address.match(/download\\('(\\d+)'\\)/);\n      if (match) return `${baseUrl}/_custom/cms/_common/board/fira.jsp?attach_no=${match[1]}`;\n\n      match = address.match(/fn_egov_downFile\\('([^']+)','([^']+)'/);\n      if (match) return `${baseUrl}/cmm/fms/FileDown.do?atchFileId=${encodeURIComponent(match[1])}&fileSn=${encodeURIComponent(match[2])}`;\n\n      match = address.match(/yhLib\\.file\\.download\\('([^']+)'/);\n      if (match) return `${baseUrl}/download.action?attachId=${match[1]}`;\n\n      if (address.startsWith(\"./\")) return baseUrl + address.substring(1);\n      if (address.startsWith(\"http\")) return address;\n      return `${baseUrl}${address}`;\n  }\n\n  // 파일 분류\n  for (let i = 0; i < names.length; i++) {\n      const name = normalizeFileName(names[i]);\n      const fileUrl = extractFileUrl(addresses[i]);\n      const { fileId, fileSeq } = parseAjax(addresses[i]);   // ⭐\n      if (!name || !fileUrl) continue;\n\n      if (name.toLowerCase().endsWith(\".zip\")) {\n          extraFileNames.push(name);\n          extraFilePaths.push(fileUrl);\n          continue;\n      }\n\n      if (name.includes(\"공고\") && !noticeFileName) {\n          noticeFileName = name;\n          noticeFileAddress = fileUrl;\n          noticeFileId = fileId;       // ⭐\n          noticeFileSeq = fileSeq;     // ⭐\n          announcement_file_exist = true;\n      } else {\n          extraFileNames.push(name);\n          extraFilePaths.push(fileUrl);\n      }\n  }\n\n  // 공고 파일 없으면 첫 비-zip 파일로 대체\n  if (!noticeFileName && names.length > 0) {\n      for (let i = 0; i < names.length; i++) {\n          const candidateName = normalizeFileName(names[i]);\n          const candidateUrl = extractFileUrl(addresses[i]);\n          const { fileId, fileSeq } = parseAjax(addresses[i]);   // ⭐\n          if (candidateName && !candidateName.toLowerCase().endsWith(\".zip\")) {\n              noticeFileName = candidateName;\n              noticeFileAddress = candidateUrl;\n              noticeFileId = fileId;       // ⭐\n              noticeFileSeq = fileSeq;     // ⭐\n              break;\n          }\n      }\n  }\n\n  // 최종 리턴\n  return [{\n      json: {\n          fileName: noticeFileName,\n          fileAddress: noticeFileAddress,\n          fileId: noticeFileId,       // ⭐ 추가\n          fileSeq: noticeFileSeq,     // ⭐ 추가\n          file_nm: extraFileNames.join(\"@\"),\n          flpth_nm: extraFilePaths.join(\"@\"),\n          announcement_file_exist: announcement_file_exist,\n          creat_p_nttm: formatted,\n          created_ts: formatted\n      }\n  }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3888,608],"id":"18d395a9-7b53-4690-a9e1-7634c1b70145","name":"pdf,첨부파일분리"},{"parameters":{"url":"https://mcee.go.kr/home/web/index.do","sendQuery":true,"queryParameters":{"parameters":[{"name":"menuId","value":"10524"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:143.0) Gecko/20100101 Firefox/143.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"ko-KR,ko;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Connection","value":"keep-alive"},{"name":"Upgrade-Insecure-Requests","value":"1"},{"name":"Sec-Fetch-Dest","value":"document"},{"name":"Sec-Fetch-Mode","value":"navigate"},{"name":"Sec-Fetch-Site","value":"none"},{"name":"Sec-Fetch-User","value":"?1"},{"name":"Priority","value":"u=0, i"}]},"options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}},"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5968,608],"id":"f10532aa-48e3-4ed8-af8f-726f4a59dd21","name":"get detail","retryOnFail":true,"maxTries":5,"waitBetweenTries":3000,"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-6416,608],"id":"e7547d1f-fcc6-48cb-8f30-3d1e0982d1fe","name":"Schedule Trigger"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"total_count","value":"={{ $json.date.length }}"},{"column":"type","value":"total_count"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-5408,896],"id":"aa8af540-9f02-4f59-bcde-0f92d6bc60c2","name":"공고상태전체개수저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"jsCode":"// Function 노드 안\nreturn [\n  {\n    json: {\n      workflowName: $workflow.name,\n      insertId:$input.first().json.data.insertId\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,-112],"id":"dbbcc885-4199-4a96-a6be-47fd3ce894c0","name":"공고상태정리"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"insertId","value":"={{ $json.insertId }}"},{"column":"type","value":"detail"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[128,-112],"id":"59a42611-32f9-4964-acfe-b129a692fa7d","name":"공고상태상세저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"n8n_custom_variables","mode":"list","cachedResultName":"n8n_custom_variables"},"where":{"values":[{"column":"name","value":"gpt_parser"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-6176,608],"id":"0bee9987-d5e4-4f25-b5d0-4f1d6e5bbe89","name":"전역변수호출","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"method":"POST","url":"https://mcee.go.kr/home/file/readDownloadFile4.do","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:143.0) Gecko/20100101 Firefox/143.0"},{"name":"Accept","value":"text/html"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"fileId","value":"={{ $json.fileId }}"},{"name":"fileSeq","value":"={{ $json.fileSeq }}"}]},"options":{"redirect":{"redirect":{}},"response":{"response":{"fullResponse":true,"responseFormat":"file"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3424,112],"id":"268de504-4e4e-4b46-9e40-a4ee732b0ea7","name":"download files1","executeOnce":false,"onError":"continueRegularOutput"}],"connections":{"Loop Over Items1":{"main":[[],[{"node":"중복 자료 조회","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"pdf,첨부파일분리","type":"main","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"get detail1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0},{"node":"공고상태전체개수저장","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"set cookie":{"main":[[{"node":"get cookie","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"ai result1":{"main":[[{"node":"If1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0},{"node":"공고상태정리","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"If1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"MySQL":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"ai result1","type":"main","index":0}]]},"Code":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"If":{"main":[[{"node":"Upload a file2","type":"main","index":0}],[{"node":"hwp->pdf","type":"main","index":0}]]},"Upload a file1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"hwp->pdf":{"main":[[{"node":"Upload a file1","type":"main","index":0}]]},"Upload a file2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"do ocr1","type":"main","index":0}]]},"do ocr1":{"main":[[{"node":"Code23","type":"main","index":0}]]},"Code23":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"if announcement file exist":{"main":[[{"node":"download files1","type":"main","index":0}],[{"node":"ai result","type":"main","index":0}]]},"ai result":{"main":[[{"node":"MySQL2","type":"main","index":0}]]},"MySQL2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"pdf,첨부파일분리":{"main":[[{"node":"if announcement file exist","type":"main","index":0}]]},"get detail":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"전역변수호출","type":"main","index":0}]]},"공고상태정리":{"main":[[{"node":"공고상태상세저장","type":"main","index":0}]]},"전역변수호출":{"main":[[{"node":"get detail","type":"main","index":0}]]},"download files1":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"deae6cb6-5d6a-467a-85b0-92785ba06f74","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-06-04T01:49:10.386Z","createdAt":"2026-06-04T01:49:10.386Z","role":"workflow:owner","workflowId":"6UfxEmvhSELYJu1b","projectId":"YGqg9zdxGQSC73yC"}],"activeVersion":null,"tags":[]}