테스트-5h66qvKxHmiaheOS.json
{"updatedAt":"2026-06-04T06:56:01.296Z","createdAt":"2026-06-04T05:47:36.132Z","id":"5h66qvKxHmiaheOS","name":"테스트","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"raw","jsonOutput":"  {\n    \"base_url\": \"https://www.kicox.or.kr\",\n    \"board_list\": \"/boardList/1002\",\n    \"board_detail\": \"/boardDetail/1002?bbsSeq=\",\n    \"attach_url\": \"https://www.kicox.or.kr\"\n  }","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1376,240],"id":"2707745b-50b8-4539-944b-ee247af3e362","name":"변수설정"},{"parameters":{"extractionValues":{"values":[{"key":"announcements","cssSelector":"td.tit > a","returnValue":"attribute","attribute":"onclick","returnArray":true},{"key":"title","cssSelector":"td.tit > a","returnArray":true},{"key":"date","cssSelector":"td[data-cell-header=\"게시일\"]","returnArray":true}]},"options":{"trimValues":true}},"name":"리스트 추출","type":"n8n-nodes-base.htmlExtract","position":[-960,240],"typeVersion":1,"id":"cbfd6e75-67ba-4f32-9994-5f426fdcc0c7"},{"parameters":{"url":"={{ $json.base_url }}{{ $json.board_list }}","responseFormat":"string","options":{},"headerParametersUi":{"parameter":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:143.0) Gecko/20100101 Firefox/143.0"}]}},"name":"board list","type":"n8n-nodes-base.httpRequest","position":[-1168,240],"typeVersion":1,"id":"549ec77d-ea4b-4096-9c2e-43d3c4cd8048","alwaysOutputData":false,"notesInFlow":true,"executeOnce":false,"retryOnFail":false,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items1\"].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-512,240],"id":"2b51a4b4-5438-4204-8f67-1666185392c8","name":"Loop Over Items1"},{"parameters":{"url":"={{ $('변수설정').item.json.base_url }}{{ $json.announcement }}","options":{"batching":{"batch":{"batchSize":10000,"batchInterval":10000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-272,240],"id":"64602a23-2e3a-4d36-8259-df07ba3f2cbe","name":"get detail1","onError":"continueRegularOutput"},{"parameters":{"extractionValues":{"values":[{"key":"title","cssSelector":".thead .tit","returnArray":true},{"key":"attach_file_name","cssSelector":".fileDwn .box-group-area > li > p.tit","returnArray":true},{"key":"attach_file_address","cssSelector":".fileDwn .box-group-area > li .btn-wrap button:first-child","returnValue":"attribute","attribute":"onclick","returnArray":true}]},"options":{"trimValues":false}},"name":"리스트 추출2","type":"n8n-nodes-base.htmlExtract","position":[-96,240],"typeVersion":1,"id":"66b243c3-e770-4106-a4cf-b24d8601d0ed"},{"parameters":{"url":"={{ $json.fileAddress }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:143.0) Gecko/20100101 Firefox/143.0"},{"name":"Referer","value":" https://www.kicox.or.kr/boardDetail/1002"}]},"options":{"response":{"response":{"responseFormat":"file"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[704,240],"id":"458d2466-7604-4410-926b-bed02008f78b","name":"download files","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{$json[\"id\"]}}/url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,240],"id":"dfedcb8c-4cc5-4d55-8181-8c2498ab76f5","name":"HTTP Request","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"json"}}}},"id":"466c0088-eab4-4961-b1a0-b17dffeaaa3b","name":"do ocr","type":"n8n-nodes-base.httpRequest","position":[2000,240],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const pages = $input.first().json.pages;\nlet combinedMarkdown = '';\n\nfor (const page of pages) {\n  combinedMarkdown += page.markdown + '\\n';  // 줄바꿈 포함해서 합치기\n}\n\n// 생성일자: KST 기준 현재 시각\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n\nconst yyyy = kst.getFullYear();\nconst mm = String(kst.getMonth() + 1).padStart(2, '0');\nconst dd = String(kst.getDate()).padStart(2, '0');\nconst hh = String(kst.getHours()).padStart(2, '0');\nconst min = String(kst.getMinutes()).padStart(2, '0');\nconst ss = String(kst.getSeconds()).padStart(2, '0');\n\nconst formatted = `${yyyy}-${mm}-${dd} ${hh}:${min}:${ss}`;\n\n// 통합 결과 반환\nreturn [\n  {\n    json: {\n      combinedMarkdown,\n      creat_p_nttm: formatted,\n      created_ts: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,240],"id":"94c4e07c-5949-49e5-9074-22f23b54a20b","name":"Code22","onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"={{ $json.combinedMarkdown }} \\n에서 pblanc_nm(공고제목), jrsd_instt_nm(지역 혹은 사이트이름), bsns_sumry_cn(공고요약), trget_nm(대상기업), reqst_begin_end_de(공고 전체기간), reqst_begin_dt(공고시작기간), reqst_end_dt(공고마감기간), reqst_mth_papers_cn(사업신청방법), refrnc_nm(문의처) subsidy_amount(지원금액) self_contribution_rate(자부담률) support_target(지원기업) (예시 대기업,중소기업) bonus_points_factors(가점요소) total_budget(예산) 에 대한 정보를 알려줘\n\n공고제목은 detail_part에서 처음 <p>를제목으로참고\n\n1. reqst_begin_end_de 형식은 YYYYMMDD ~ YYYYMMDD입니다.  \n   → 이를 reqst_begin_dt, reqst_end_dt로 YYYY-MM-DD 형식으로 바꿔주세요.\n\n2. 지역명은 아래 cityMap에서 value로 변환해 주세요.\n\ncityMap: {\n  \"서울\": \"서울특별시\",\n  \"부산\": \"부산광역시\",\n  \"대구\": \"대구광역시\",\n  \"인천\": \"인천광역시\",\n  \"광주\": \"광주광역시\",\n  \"대전\": \"대전광역시\",\n  \"울산\": \"울산광역시\",\n  \"세종\": \"세종특별자치시\",\n  \"경기\": \"경기도\",\n  \"강원\": \"강원도\",\n  \"충북\": \"충청북도\",\n  \"충남\": \"충청남도\",\n  \"전북\": \"전라북도\",\n  \"전남\": \"전라남도\",\n  \"경북\": \"경상북도\",\n  \"경남\": \"경상남도\",\n  \"제주\": \"제주특별자치도\",\n  \"전지역\": \"전지역\"\n}\ntrget_nm값은 단일값 중소기업, 대기업 등\n\n\n  print_flpth_nm: {{ $('변수설정').item.json.attach_url }}{{ $('pdf,첨부파일분리').item.json.fileAddress }},\n  print_file_nm\": {{ $('pdf,첨부파일분리').item.json.fileName }},\n  creat_p_nttm\":  {{ $json.creat_p_nttm }},\n  created_ts\":  {{ $json.created_ts }},\n\n\n\ncreat_p_nttm,created_ts는 timestamp형식으로 reqst_begin_dt값으로\nyyyy-mm-dd hh:mm:ss\n\n값이 없거나 찾을수 없으면\n\n  \"pblanc_nm\": \"\",\n  \"jrsd_instt_nm\": \"\",\n  \"bsns_sumry_cn\": \"\",\n  \"trget_nm\": \"\",\n  \"reqst_begin_end_de\": \"\",\n  \"reqst_begin_dt\": \"\",\n  \"reqst_end_dt\": \"\",\n  \"reqst_mth_papers_cn\": \"\",\n  \"refrnc_nm\": \"\",\n  \"print_flpth_nm\": \"\",\n  \"print_file_nm\": \"\",\n  \"flpth_nm\": \"\",\n  \"file_nm\": \"\",\n  \"creat_p_nttm\": \"\",\n  \"created_ts\": \"\" ,\n  \"subsidy_amount\":\"\", \n  \"self_contribution_rate\":\"\" ,\n  \"support_target\":\"\",\n  \"bonus_points_factors\":\"\",\n  \"total_budget\":\"\"\n공백으로 대체\n\n\n값이 없으면 공백으로 넣어줘 \"\"\n\n\n\nmain_category(대분류): 공고의 주요 분류를 다음 항목 중에서 정확하게 추출해줘.  \n해당되는 항목이 여러 개인 경우 콤마(,)로 구분해서 출력해줘.  \n아래 항목 중 적절한 키워드가 공고 내용에 존재할 경우, 가장 가까운 항목으로 판단해서 선택해줘.  \n단, 명확한 키워드가 없거나 분류하기 애매한 경우에는 빈 문자열(\"\")로 표시해줘.  \n\n[선택 가능한 항목 목록]  \n\"스마트생태공장\", \"상생협력 실증프로그램\", \"스마트공장 / 제조혁신\", \"탄소중립 / 온실가스저감\", \"FEMS 에너지효율화\", \"마케팅 / 기술인프라 구축\"\n\n\n출력 예시:  \n\"컨설팅,스마트생태공장\"\n\n---\n\nsub_category(설비분류): 공고 내용 중 다음 설비 목록에서 언급된 항목만 골라 콤마(,)로 구분하여 출력해줘.  \n유사 표현이 있을 경우 판단해서 포함해도 되지만, **아래 목록에 없는 항목은 절대 추가하지 마세요.**  \n어떤 설비도 언급되지 않았을 경우에는 빈 문자열(\"\")로 출력해줘.  \n\n[설비 목록]  \n변압기, 폐유재활용설비, 송풍기, 신재생발전설비, 집진기, 펌프, 콤프레셔, 공기조화기, 열회수환기장치, 보일러, 열교환기, 배출가스처리기, 공기정화기, 탈황기, 탈질기, 오수처리기, 폐수처리기, 냉각탑, 에너지관리시스템, 공정제어시스템, 자동화시스템, 냉동기, 증기재압축장치, 폐열회수시스템, 유수분리기, 압축기, 인버터, 용해로, 응축수회수기, 악취저감설비, 사출성형기\n\n출력 예시:  \n\"인버터,용해로\"\n\n주의사항:  \n- 설비 이름은 반드시 위 목록에서만 선택해야 하며, 새로운 항목을 생성하거나 임의로 추가하지 말 것  \n- 관련성이 낮거나 판단이 어려울 경우에도 빈 문자열(\"\")로 처리할 것  \n- 출력은 항상 문자열이며, null이 아닌 빈 문자열(\"\")로 표시","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[2496,240],"id":"c9eb4a2a-1f1f-495f-b9b2-ce3788f28d26","name":"Basic LLM Chain","retryOnFail":true,"maxTries":null,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"$id\": \"https://example.com/product.schema.json\",\n  \"title\": \"anouncement\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"pblanc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고제목 (없으면 공백처리)\"\n    },\n    \"jrsd_instt_nm\": {\n      \"type\": \"string\",\n      \"description\": \"공고지역 (없으면 공백처리)\"\n    },\n    \"bsns_sumry_cn\": {\n      \"type\": \"string\",\n      \"description\": \"공고요약 (없으면 공백처리)\"\n    },\n    \"trget_nm\": {\n      \"type\": \"string\",\n      \"description\": \"대상기업 (없으면 공백처리)\"\n    },\n    \"reqst_begin_end_de\": {\n      \"type\": \"string\",\n      \"description\": \"공고 전체 기간 (없으면 공백 처리). 형식은 yyyymmdd ~ yyyymmdd. 날짜 형식이 yyyymmdd와 일치하지 않는 경우, 시작일, 종료일을 정확히 알 수 없으면 최근 유사 공고나 관행을 참고하여 예측일을 기입할 수 있음.형식은 무조건 yyyymmdd ~ yyyymmdd 형식\"\n    },\n    \"reqst_begin_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 시작일 (없으면 공백 처리). 날짜 형식은 yyyy-mm-dd 이어야 함. 시작일을 정확히 알 수 없는 경우, 최근 유사 공고나 관행을 참고하여 예측일을 기입할 수 있음.\"\n    },\n    \"reqst_end_dt\": {\n      \"type\": \"string\",\n      \"description\": \"공고 종료일 (없으면 공백 처리). 날짜 형식은 yyyy-mm-dd 이어야 함. 종료일을 정확히 알 수 없는 경우, 예산 소진 기준 등으로 한 달 후와 같은 합리적인 추정값을 사용할 수 있음.\"\n    },\n    \"reqst_mth_papers_cn\": {\n      \"type\": \"string\",\n      \"description\": \"사업신청 방법 (없으면 공백처리)\"\n    },\n    \"excInsttNm\": {\n      \"type\": \"string\",\n      \"description\": \"사업수행기관 (없으면 공백처리)\"\n    },\n    \"refrnc_nm\": {\n      \"type\": \"string\",\n      \"description\": \"문의처내용 (없으면 공백처리)\"\n    },\n    \"print_flpth_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 주소 (없으면 공백처리)\"\n    },\n    \"print_file_nm\": {\n      \"type\": \"string\",\n      \"description\": \"pdf 파일명 (없으면 공백처리)\"\n    },\n    \"subsidy_amount\": {\n      \"type\": \"string\",\n      \"description\": \"지원금액, 원화로 변환 및 금액만 적시 (없으면 공백처리)\"\n    },\n    \"self_contribution_rate\": {\n      \"type\": \"string\",\n      \"description\": \"자부담률 (없으면 공백처리)\"\n    },\n    \"support_target\": {\n      \"type\": \"string\",\n      \"description\": \"지원기업 (예: 대기업, 중소기업, 대명사만 적시, 없으면 공백처리)\"\n    },\n    \"bonus_points_factors\": {\n      \"type\": \"string\",\n      \"description\": \"가점요소(간략하게, 없으면 공백처리,50자이내)\"\n    },\n    \"total_budget\": {\n      \"type\": \"string\",\n      \"description\": \"예산 (없으면 공백처리)\"\n    },\n    \"main_category\": {\n      \"type\": \"string\",\n      \"description\": \"대분류(없으면 공백)\"\n    },\n    \"sub_category\": {\n      \"type\": \"string\",\n      \"description\": \"설비분류 (없으면 공백처리)\"\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2816,672],"id":"905be6c1-2b35-40e1-bdab-c51a6c04781a","name":"Structured Output Parser","notesInFlow":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2512,416],"id":"9c30cfb8-e9d3-4666-971f-32564ad39420","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"XWAzclOTFyK0A6fs","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"dca754ac-4479-4295-ab21-47d895f62cae","name":"pblanc_nm","value":"={{ $('금일 기준').item.json.title }}","type":"string"},{"id":"0f927bf2-d7a7-4973-aac7-2717bed23371","name":"jrsd_instt_nm","value":"={{$('Code2').first().json.output.jrsd_instt_nm}}","type":"string"},{"id":"8d6fa575-7d4d-44d6-aaf8-9f967d478af6","name":"bsns_sumry_cn","value":"={{ $('Code2').first().json.output.bsns_sumry_cn }}","type":"string"},{"id":"01a4c2d1-ab75-4e73-90a8-7bf79e5f8cd5","name":"trget_nm","value":"={{ $('Code2').first().json.output.trget_nm }}","type":"string"},{"id":"9507037a-7c15-4819-8357-0805d0904d7c","name":"reqst_begin_end_de","value":"={{ $('Code2').first().json.output.reqst_begin_end_de }}","type":"string"},{"id":"47c24bf8-ce6b-40be-a8fd-93d8d1b03a19","name":"reqst_begin_dt","value":"={{ $('Code2').first().json.output.reqst_begin_dt }}","type":"string"},{"id":"e3053a53-0200-4b96-88df-30b9bec65e62","name":"reqst_end_dt","value":"={{ $('Code2').first().json.output.reqst_end_dt }}","type":"string"},{"id":"b78de255-6269-44b3-9097-50b993f40bfc","name":"refrnc_nm","value":"={{ $('Code2').first().json.output.refrnc_nm }}","type":"string"},{"id":"b5e49522-9965-4e13-90b1-86edf56df9c2","name":"print_flpth_nm","value":"={{ $('pdf,첨부파일분리').item.json.fileAddress }}","type":"string"},{"id":"7e662533-f931-4a90-9dfb-f1386c206c8f","name":"print_file_nm","value":"={{ $('Code2').first().json.output.print_file_nm }}","type":"string"},{"id":"607940df-de0c-4780-b040-d59037564076","name":"flpth_nm","value":"={{ $('pdf,첨부파일분리').item.json.flpth_nm }}","type":"string"},{"id":"1c9dd011-16d0-42d5-b17d-342b58975048","name":"file_nm","value":"={{ $('pdf,첨부파일분리').item.json.file_nm }}","type":"string"},{"id":"ad017264-5276-4798-91e5-7bf6f8a07b31","name":"subsidy_amount_type","value":"text","type":"string"},{"id":"0839db3e-060e-4a18-9831-915f28600652","name":"total_budget_type","value":"text","type":"string"},{"id":"f03bb8b7-ece4-439f-9c91-8eb2b09a9aae","name":"source","value":"한국산업단지공단","type":"string"},{"id":"aff536ed-a418-4150-b586-d8f02a29010a","name":"is_classified","value":"N","type":"string"},{"id":"70c059fa-5291-4b8a-920d-da0e2bb429a8","name":"del_yn","value":"N","type":"string"},{"id":"4851c2dc-8cec-417d-9243-66fce0c622d7","name":"hide_yn","value":"N","type":"string"},{"id":"27d13c5d-61a2-4bbd-a774-5d43c70cfe02","name":"pldir_sport_realm_lclas_code_nm","value":"기술","type":"string"},{"id":"8e5587d7-89e5-4f54-96a4-ef827461ddf1","name":"creat_p_nttm","value":"={{ $('Code22').item.json.created_ts }}","type":"string"},{"id":"7ad39a2b-787b-4e1c-92e8-47daa5ff1e66","name":"created_ts","value":"={{ $('Code22').item.json.created_ts }}","type":"string"},{"id":"9adbcf7a-7243-4479-ab01-6b2ccb31d8a6","name":"subsidy_amount","value":"={{ $('Code2').first().json.output.subsidy_amount }}","type":"string"},{"id":"b0d54477-2d5b-4aa1-8905-ca396242ddab","name":"self_contribution_rate","value":"={{ $('Code2').first().json.output.self_contribution_rate }}","type":"string"},{"id":"09d5c3f0-2aa9-424f-ba57-bdd0df8ae9bf","name":"support_target","value":"={{ $('Code2').first().json.output.support_target }}","type":"string"},{"id":"283f473c-7824-46ef-b963-feb711e63a22","name":"=bonus_points_factors","value":"={{ $('Code2').first().json.output.bonus_points_factors }}","type":"string"},{"id":"20d0efcf-9335-4130-ad6e-c50b4f37a404","name":"total_budget","value":"={{ $('Code2').first().json.output.total_budget }}","type":"string"},{"id":"b1d6088d-2a99-454a-8def-99f995e421d6","name":"pblanc_url","value":"={{ $('변수설정').item.json.base_url }}{{ $('금일 기준').item.json.announcement }}","type":"string"},{"id":"0056c9cb-0ff9-474f-9f0b-6feda5169c3f","name":"main_category","value":"={{$('Code2').first().json.output.main_category}}","type":"string"},{"id":"feaaf4fe-697e-4814-b2c2-1385b853211c","name":"sub_category","value":"={{$('Code2').first().json.output.sub_category}}","type":"string"},{"id":"9969a4e3-9006-4fbc-8976-74444490f684","name":"reqst_mth_papers_cn","value":"={{$('Code2').first().json.output.reqst_mth_papers_cn}}","type":"string"},{"id":"8ccfc5b5-8ea5-4fc6-8739-4a8671ece578","name":"exc_instt_nm","value":"={{$('Code2').first().json.output.excInsttNm}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3440,240],"id":"40bb9f37-9b05-4c3a-a161-d3b7922c7ef6","name":"ai result1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"columnToMatchOn":"pblanc_nm","options":{"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[3808,240],"id":"3e919831-48b4-4bf0-9e77-654fa1e9683e","name":"MySQL1","retryOnFail":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":10,"unit":"seconds"},"id":"cf3d36cf-6c8a-4f45-b1fb-7527d6773697","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[3968,240],"webhookId":"27d8ebf7-bb5d-46de-b07c-f6f4d65f8e98"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fccb4a-bd03-4b92-ba4d-202cae02b7a8","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3616,240],"id":"d041743b-1860-4f56-84db-3fb54df7d5ae","name":"If1","retryOnFail":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[2672,496],"id":"8bd27991-432e-4b94-b277-c49eee458515","name":"Auto-fixing Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2672,672],"id":"34176454-99ed-44c8-ad69-d3cca5c94221","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"SKDNgNmyz3uaizES","name":"OpenAi account"}}},{"parameters":{"jsCode":"  const items = $input.all();\n  const onclicks = items[0]?.json?.announcements || [];\n  const titles = items[0]?.json?.title || [];\n  const dates = items[0]?.json?.date || [];\n\n  const detailPath = \"/boardDetail/1002?bbsSeq=\";\n\n  // 어제 날짜 (KST)\n  const now = new Date();\n  const kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n  kst.setDate(kst.getDate() - 1);\n  const yyyy = kst.getFullYear();\n  const mm = String(kst.getMonth() + 1).padStart(2, '0');\n  const dd = String(kst.getDate()).padStart(2, '0');\n  let yesterdayStr = `${yyyy}-${mm}-${dd}`;\n\n  yesterdayStr = '2026-06-02'; // ⭐ 테스트용 (확인 후 이 줄 삭제)\n\n  return onclicks.map(function (onclick, index) {\n    // bbsArticleDet('48669') → 48669 추출\n    const m = (onclick || '').match(/bbsArticleDet\\('(\\d+)'\\)/);\n    const seq = m ? m[1] : null;\n\n    return {\n      json: {\n        announcement: seq ? detailPath + seq : null,  // /boardDetail/1002?bbsSeq=48669\n        seq: seq,\n        title: (titles[index] || '').trim(),\n        date: (dates[index] || '').trim()\n      }\n    };\n  }).filter(item => item.json.seq && item.json.date === yesterdayStr);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,240],"id":"3b857f15-26c1-45ac-9701-19aedba077a1","name":"금일 기준"},{"parameters":{"jsCode":"  const names = $('리스트 추출2').first().json.attach_file_name || [];\n  const onclicks = $('리스트 추출2').first().json.attach_file_address || [];\n  const baseUrl = \"https://www.kicox.or.kr\";\n\n  // 파일명 정리 ([hwpx, 537 KB] 같은 용량표기 제거)\n  function cleanName(n) {\n    return (n || '').replace(/\\s*\\[[^\\]]*\\]\\s*$/, '').replace(/\\s+/g, ' ').trim();\n  }\n  // fnFileDownload('149184','seq') → 다운로드 URL\n  function toUrl(onclick) {\n    const m = (onclick || '').match(/fnFileDownload\\('([^']+)'\\s*,\\s*'([^']+)'\\)/);\n    return m ? `${baseUrl}/api/fnFile/commonFileDownload/${m[1]}/${m[2]}` : null;\n  }\n\n  let noticeFileName = null, noticeFileAddress = null;\n  const extraNames = [], extraPaths = [];\n\n  for (let i = 0; i < names.length; i++) {\n    const name = cleanName(names[i]);\n    const url = toUrl(onclicks[i]);\n    if (!name || !url) continue;\n\n    if (name.toLowerCase().endsWith('.zip')) {\n      extraNames.push(name); extraPaths.push(url); continue;\n    }\n    if (name.includes('공고') && !noticeFileName) {\n      noticeFileName = name; noticeFileAddress = url;\n    } else {\n      extraNames.push(name); extraPaths.push(url);\n    }\n  }\n  // 공고 파일 없으면 첫 비-zip 파일\n  if (!noticeFileName) {\n    for (let i = 0; i < names.length; i++) {\n      const name = cleanName(names[i]);\n      const url = toUrl(onclicks[i]);\n      if (name && url && !name.toLowerCase().endsWith('.zip')) {\n        noticeFileName = name; noticeFileAddress = url; break;\n      }\n    }\n  }\n\n  return [{\n    json: {\n      fileName: noticeFileName,\n      fileAddress: noticeFileAddress,\n      file_nm: extraNames.join('@'),\n      flpth_nm: extraPaths.join('@')\n    }\n  }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,240],"id":"b4b09e73-c790-4b49-a203-214ec2dbbdd3","name":"pdf,첨부파일분리"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9e28a2e-1894-4ccb-a5cc-cff451a96aad","leftValue":"={{ $binary.data.fileName.split('.').pop() }}","rightValue":"=pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1008,240],"id":"0f96158c-b602-4183-9f74-0c4268514e57","name":"If"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"c7d9eadc-4359-4eba-bde7-53b63ef0d7ef","name":"Upload a file1","type":"n8n-nodes-base.httpRequest","position":[1600,352],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://192.168.10.133:8000/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"e01bcd0a-9910-478a-b4f5-a6a729c31549","name":"hwp->pdf","type":"n8n-nodes-base.httpRequest","position":[1424,352],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/octet-stream"},{"name":"Authorization","value":"Bearer  aJUugk77GjvB8L7smr5n11JlKLab1xE5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"=file","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":false}},"id":"50fb4a61-c7dc-463a-b69d-5cc7d4edebd2","name":"Upload a file2","type":"n8n-nodes-base.httpRequest","position":[1424,80],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"content":"사이트 주소\nhttps://www.kicox.or.kr/user/bbs/BD_selectBbsList.do?q_bbsCode=1016","height":80,"width":530},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1216,128],"id":"9c9cd6b1-54e0-4e9a-a68a-9f127d4c450c","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3216,240],"id":"591ecf94-91f9-49e9-a611-2562919c2435","name":"If2"},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // 괄호 제거\n  if (item.json.pblanc_nm) {\n    item.json.pblanc_nm = item.json.pblanc_nm.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n  }\n\n  // 새 필드 추가\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,240],"id":"090795e4-f68e-471a-a0b0-9e2e6e9b01d9","name":"Code2"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.output.pblanc_nm }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[3056,240],"id":"c9a9b15d-d399-4166-8858-1a408a772ddc","name":"MySQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"jsCode":"let title = $input.first().json.title[0] || '';\n\n// 괄호 또는 대괄호 안의 내용 제거\ntitle = title.replace(/[\\(\\[][^()\\[\\]]+[\\)\\]]/g, '').trim();\n\nreturn [\n  {\n    json: {\n      title\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"bb1bd907-895c-407f-8465-530ca5480e3d","name":"중복 자료 조회"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"biz_info","mode":"list","cachedResultName":"biz_info"},"where":{"values":[{"column":"pblanc_nm","condition":"LIKE","value":"={{ $json.title }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[192,0],"id":"0c3f5621-1846-487d-b780-03e254b85fbd","name":"중복조회 MYSQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"HSXhV0YEF0PlSVWX","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d3aee72-46af-4378-99b4-a974ed6c6c5c","leftValue":"={{ $json.pblanc_nm }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[352,0],"id":"b2df8255-5e71-41f7-97e4-c557b61ffd68","name":"중복조회 IF"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1680,528],"id":"9d0bbac2-9121-4d34-a858-21fbd7c61f91","name":"Schedule Trigger"},{"parameters":{"jsCode":"// Function 노드 안\nreturn [\n  {\n    json: {\n      workflowName: $workflow.name,\n      insertId:$input.first().json.data.insertId\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3968,48],"id":"a858ba48-1675-4f15-8434-bb528521a12a","name":"공고상태정리"},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"insertId","value":"={{ $json.insertId }}"},{"column":"type","value":"detail"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[4176,48],"id":"06590d93-5893-428e-ab36-3073adab2dc3","name":"공고상태상세저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}},{"parameters":{"table":{"__rl":true,"value":"n8n_crawl_summary","mode":"list","cachedResultName":"n8n_crawl_summary"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"workflow_name","value":"={{ $workflow.name }}"},{"column":"total_count","value":"={{ $json.date.length }}"},{"column":"type","value":"total_count"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-512,608],"id":"eb674e42-60d2-4b67-95a0-53d0761bab4b","name":"공고상태전체개수저장","credentials":{"mySql":{"id":"s7XNBHZtTOH7C66M","name":"MySQL account 2"}}}],"connections":{"변수설정":{"main":[[{"node":"board list","type":"main","index":0}]]},"리스트 추출":{"main":[[{"node":"금일 기준","type":"main","index":0},{"node":"공고상태전체개수저장","type":"main","index":0}]]},"board list":{"main":[[{"node":"리스트 추출","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"get detail1","type":"main","index":0}]]},"get detail1":{"main":[[{"node":"리스트 추출2","type":"main","index":0}]]},"리스트 추출2":{"main":[[{"node":"중복 자료 조회","type":"main","index":0}]]},"download files":{"main":[[{"node":"If","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"do ocr","type":"main","index":0}]]},"do ocr":{"main":[[{"node":"Code22","type":"main","index":0}]]},"Code22":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"ai result1":{"main":[[{"node":"If1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Wait1","type":"main","index":0},{"node":"공고상태정리","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"If1":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"금일 기준":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"pdf,첨부파일분리":{"main":[[{"node":"download files","type":"main","index":0}]]},"If":{"main":[[{"node":"Upload a file2","type":"main","index":0}],[{"node":"hwp->pdf","type":"main","index":0}]]},"Upload a file1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"hwp->pdf":{"main":[[{"node":"Upload a file1","type":"main","index":0}]]},"Upload a file2":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"If2":{"main":[[{"node":"ai result1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"If2","type":"main","index":0}]]},"중복 자료 조회":{"main":[[{"node":"중복조회 MYSQL","type":"main","index":0}]]},"중복조회 MYSQL":{"main":[[{"node":"중복조회 IF","type":"main","index":0}]]},"중복조회 IF":{"main":[[{"node":"pdf,첨부파일분리","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"변수설정","type":"main","index":0}]]},"공고상태정리":{"main":[[{"node":"공고상태상세저장","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"4588e7ab-1ed2-4426-bcf5-b982528e6458","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-06-04T05:47:36.132Z","createdAt":"2026-06-04T05:47:36.132Z","role":"workflow:owner","workflowId":"5h66qvKxHmiaheOS","projectId":"YGqg9zdxGQSC73yC"}],"activeVersion":null,"tags":[]}